[2022-05-16 05:38] anjalichawlaa commented on #1210
@oleksandrpravosudko-okta @denysoblohin-okta  any updates on this one?

[2022-05-18 13:56] denysoblohin-okta commented on #1210
Do you use `OktaAuth` object for making API calls you mentioned or use your HTTP client with tokens from `authState`?

Clearing storage manually is not regular user behaviour and is not handled by sync storage service.
But you can achieve behaviour you expect by adding code like this:
[code]

[2022-05-18 15:33] anjalichawlaa commented on #1210
@denysoblohin-okta  I’m using tokens from authstate for api calls.

[2022-05-19 08:45] hecmocer-pro opened #1214 "Include a method to obtain a new sessionToken"
### Describe the feature request?

Eventhough there are many methods that work with sessionTokens, there is no way to obtain a new sessionToken using this library. SessionTokens are critical and needed for some other methods to work like the session and token renewal methods.

It makes no sense there are many api methods that require a sessionToken but still the library does not provide a method (

[2022-05-19 10:09] oleksandrpravosudko-okta commented on #1214
Hi @hecmocer-pro, [`signInWithCredentials`](https://github.com/okta/okta-auth-js/blob/master/docs/authn.md#signinwithcredentialsoptions) returns a session token, you can also refresh active session using [`refreshSession`](https://github.com/okta/okta-auth-js/blob/a4bb17a444ffef27dda65a5499b29d51e689cc72/lib/session.ts#L59) method.
Can you describe your Okta usage in more detail in case these opti

[2022-05-19 10:48] hecmocer-pro commented on #1214
Hi @oleksandrpravosudko-okta, in our scenario we are using [signInWithRedirect](https://github.com/okta/okta-auth-js#signinwithredirectoptions) to redirect our application to the okta user credentials form. Then after the user fills this form, the user is redirected to our application where through [parseFromUrl](parseFromUrl) we can only obtain an access token.

We find convenient to delegate the

[2022-05-19 11:52] oleksandrpravosudko-okta commented on #1214
When using redirect flow, session token is obtained(and used to set session cookie) by Okta-hosted sign-in widget so you don't have get it yourself. Once Okta session expires, user has to re-authenticate to establish a new session. In your application you could check if access/ID tokens are still valid and prompt user to sign in in case tokens can not be renewed (see React [sample app](https://git

[2022-05-19 13:57] hecmocer-pro commented on #1214
The objective for obtaining the session is so that we can refresh the token silently so that users don't have to constantly logout+login each time the token expires.

According to the documentation, we are supposed to use either [tokenManager.renew(key)](tokenManager.renew(key)) or [token.renew(tokenToRenew)](token.renew(tokenToRenew)), but for obtaining a new token silently a valid session is nee

[2022-05-20 12:18] hecmocer-pro commented on #1214
Apparently our okta instance manager team had the sessionTokens disabled U.U

Now after login-in with redirect flow we get back the refresh token and it can be used to establish a session and renew tokens.

Still I think it could be useful to add documentation regarding how to obtain a sessionToken and that it can be disabled via okta configuration, I had a hard time looking for information online

[2022-05-20 12:18] #1214 closed

[2022-05-20 16:23] AswinRaj785 opened #1217 "AutoRenew not working in implicit flow, getting error from authorize endpoint"
### Describe the bug?

![image](https://user-images.githubusercontent.com/71699555/169560863-4cb79ef6-a7d8-4054-a5d6-e9a1f3d16012.png)

### What is expected to happen?

Ideally, It should silently renew the tokens.

### What is the actual behavior?

this process is intermittently working. for one expiry it is renewing the token successfully and for another expiry it is throwing these

### Reproduc

[2022-05-23 08:46] denysoblohin-okta commented on #1217
Thanks for submitting this issue.
Error `The client specified not to prompt, but the user is not logged in` can occur  when trying to renew tokens (with a call to `/authorize` in iframe, not using refresh token) and the session is closed or expired.
Seems like refresh token is not used in your app despite `offline_access` scope.

[2022-05-23 08:56] denysoblohin-okta commented on #1217
It is recommended to use authorization code flow with PKCE, and check 'Refresh token' grant type is enabled in your SPA app config in Okta dashboard

[2022-05-23 12:19] AswinRaj785 commented on #1217
@denysoblohin-okta , Right now , I'm using the authentication flow with pkce and also the Refresh Token grant type is enabled in SPA app config in Okta dashboard

const oktaAuth = new OktaAuth({

issuer: **********,

clientId: *****************,

redirectUri: window.location.origin + '/implicit/callback',

scopes: ['openid', 'profile', 'email', 'offline_access'],

responseType: 'code',

pkce: true

[2022-05-23 13:03] denysoblohin-okta commented on #1217
After changing configuration, do you see calls to `/v1/token` endpoint with `grant_type: refresh_token` in console?

[2022-05-23 13:44] AswinRaj785 commented on #1217
![image](https://user-images.githubusercontent.com/71699555/169833123-d88f5dd3-9f04-4ae2-94aa-17404c8a3b33.png)

![image](https://user-images.githubusercontent.com/71699555/169832844-5e10bbc5-cbf3-4fd3-af44-09a388acda65.png)
I can see that grant-type is sent as an authorization-code in the payload of /v1/token calls.

[2022-05-24 16:33] stephen-dirtcreative commented on #1198
I would also note that the restrictive type template of 'string | boolean | number' does not account for custom objects either. We have a claim that looks like
[code]

and set up our local claims type using:
[code]

After updating, even though I can resolve the UserClaims by specifying a custom template type value, the extending of AccessToken breaks as the declaration for AccessToken sets claims

[2022-05-24 17:44] jaredperreault-okta commented on #1217
@AswinRaj785 can you confirm which version of `@okta/okta-auth-js` you are using? You filled out `6.4.3` in the issue template, but your screenshot lists `5.11.0` in the `user-agent` header

[2022-05-24 19:50] jaredperreault-okta commented on #1217
@AswinRaj785 do you mind submitting a `.har` file (network trace log) to support@okta.com from one of your test environments when the issue occurs? I'd like to compare what params are being sent to our backend for the successful and failed renew requests

[2022-05-24 23:06] aarongranick-okta commented on #1198
@stephen-dirtcreative thank you for bringing this use case to our attention. I've put up a new PR #1220 which should handle the case you describe. You are correct that we never use the custom claims internally in the SDK, however I think `unknown` will be a bit too broad, as there are definite limitations on the values that can be defined.  Please feel free to comment on the PR and let us know if

[2022-05-24 23:54] stephen-dirtcreative commented on #1198
Hi @aarongranick-okta,

That looks like it should work with my use case. I look forward to seeing it in a release :)

[2022-05-26 11:13] richmason commented on #1174
I'm seeing this issue in my Vue 3 project which is using @okta/okta-auth-js v6.5.1 and @okta/okta-vue v5.2.1:
![CleanShot 2022-05-26 at 19 10 38](https://user-images.githubusercontent.com/330359/170476860-243c1d53-d94d-4993-80b5-eb86be1596ff.png)

[2022-05-26 22:43] kevinklitzke opened #1223 "login_hint passthrough with idx authentication API."
### Describe the feature request?

When using signInWithRedirect() it is possible to pass both the idp as well as the loginHint parameter.  When the IdP specified is also an OIDC IdP, the loginHint is transparently passed through to the to the destination IdP.   This is a very handy way to pass additional contextual information along to the IdP without having to resort to some backchannel.

I have

[2022-05-27 00:14] aarongranick-okta commented on #1223
@kevinklitzke Thanks for the inquiry. The SDK supports both "up front" and "on demand" approaches to handling login remediations: https://github.com/okta/okta-auth-js/blob/master/docs/idx.md#up-front-approach

It sounds like what you are describing can be handled by adding `username` to the options object passed to the `idx.authenticate` entry point (or `idx.proceed` if you have already called `id

[2022-06-02 20:43] denysoblohin-okta commented on #1188
Please upgrade to 6.6.1 to fix the issue without workarounds

[2022-06-03 20:21] aarongranick-okta commented on #1210
@anjalichawlaa The `syncStorage` feature of the SDK is meant to keep several running tabs in sync with each other and avoid contention over the token storage. It does not provide syncing with storage which has been modified outside the SDK, such as from clearing the browser cache. Although you can add event listeners to localStorage to try and add this behavior, it is not recommended because of th

[2022-06-03 20:31] aarongranick-okta commented on #1210
@anjalichawlaa If you do decide to implement storage monitoring out-of-band, or otherwise know that the storage has been modified, the auth state can be updated at any time by calling `updateAuthState`

[2022-06-03 21:27] redmanmsc opened #1230 "Cannot find module '@okta/okta-auth-js' in jest tests in Angular 14"
### Describe the bug?

When you create a unit test using jest for a component or services that depends on OktaAuth from '@okta/okta-auth-js' the test fails with the following error message: Cannot find module '@okta/okta-auth-js' from 'path/to/service/depending/on/OktaAuth '

### What is expected to happen?

The test pass

### What is the actual behavior?

 Test suite failed to run

    Cannot fin

[2022-06-06 14:43] redmanmsc commented on #1230
[https://kulshekhar.github.io/ts-jest/docs/getting-started/paths-mapping/](https://kulshekhar.github.io/ts-jest/docs/getting-started/paths-mapping/) here just specify how to use the configured paths, but is not required for jest to works, anyway, the repo has that configuration done: [https://github.com/redmanmsc/angular14-jest-okta/blob/main/jest.config.js#:~:text=moduleNameMapper%3A%20pathsToMod

[2022-06-06 15:17] jaredperreault-okta commented on #1230
I made the following change to your `jest.config.js` and all tests passed

[code]

[2022-06-06 15:22] redmanmsc commented on #1230
Using angular 13 it works without that extra configuration, any idea on why?

[2022-06-06 21:29] jaredperreault-okta commented on #1230
My guess is https://www.npmjs.com/package/@angular-builders/jest, it seems to require strict matching of Angular major versions and does not currently support Angular 14

[2022-06-07 13:33] #1230 closed

[2022-06-08 17:42] tomspeak opened #1233 "[Question] How to reliably test expired Jwt's?"
### Describe the feature request?

I am experiencing an issue where the Jwt is expiring in the background, and a new token is not being requested. This appears to be related to when a user goes inactive or keeps the tab in the background, comes back an hour+ later and attempts to interact with the web app.

I am trying to reliably reproduce this but am struggling to set up my local dev to allow me

[2022-06-08 18:47] jaredperreault-okta commented on #1233
Without a code snippet or more info on how your application has implemented Okta, I can only provide general guidance

This method will verify idTokens: https://github.com/okta/okta-auth-js#tokenverifyidtokenobject

If you're trying to handle token expired events manually, I suggest starting here:
https://github.com/okta/okta-auth-js#tokenmanageronevent-callback-context

`okta-auth-js` also offers

[2022-06-09 20:09] TD-DO commented on #1174
I am seeing this in my React project:
    "@okta/okta-auth-js": "^6.6.1",
    "@okta/okta-react": "^6.4.3",
    "@okta/okta-signin-widget": "^6.4.0",
Is there an ETA on when this may be fixed?

[2022-06-10 17:03] TD-DO commented on #1174
Downgrading to 6.1.0 works

[2022-06-10 21:01] jaredperreault-okta commented on #1174
`okta-react` 6.5.0 and `okta-vue` 5.3.0 were released this morning and address this issue

cc @pzi @richmason @TD-DO

[2022-06-14 01:02] #1210 closed

[2022-06-14 06:08] RomaRathi opened #1237 "handleLoginRedirect redirects to redirectURI insted of the opened bookmarked page"
### Describe the bug?

Situation: I have bookmarked a page from my site suppose “http://localhost:3000/#/ADMINUSER/7B73A5F28B664974B1F5081B6423BCA3/Navigation.Input.20000Cum14perio” and now i have not used the site for so long but the second day i access this URL it asks me to login which is correct but it redirects to the http://localhost:3000/ and not the url that i pressed. Internally the url i

[2022-06-14 10:35] oleksandrpravosudko-okta commented on #1237
Thanks for the report @RomaRathi.
You could either store or original URI: https://github.com/okta/okta-angular/blob/master/src/okta/okta.guard.ts#L100 or provide `originalUri` param to `signInWithRedirect`: https://github.com/okta/okta-auth-js/blob/master/lib/types/api.ts#L280

[2022-06-14 13:26] anjalichawlaa opened #1238 "Okta not logging out automatically"
### Describe the feature request?

Hi,
We are using okta organisation server in our application.
Application is using okta react. Application flow - Authorization code flow with pkce refresh token.
these are the settings and cannot be updated
Access token lifetime - 60 mins
Refresh token lifetime - 100 days

My application is not getting logged out for days,  can u explain what is the issue here?

[2022-06-14 13:56] jaredperreault-okta commented on #1238
-https://developer.okta.com/docs/guides/refresh-tokens/main/

A user will be able to extend their current session as long as they have a valid refresh token. With your settings, the refresh token will be valid for 100 days. If you need/want the session to end after a certain period of inactivity, you'll either need to adjust the refresh token lifetime to something much shorter or have you applicat

[2022-06-14 13:56] #1238 closed

[2022-06-15 07:32] anjalichawlaa opened #1239 "Revoke organization server refresh token"
### Describe the feature request?

Hi,

I'm trying to revoke organization server refresh token using this POST request

https://{baseurl}/oauth2/v1/revoke?client_id=****&token=*****&token_type_hint=refresh_token
Passing content-type in header as "application/x-www-form-urlencoded"

I get response as ok but I can still get new access token using this refresh token.

https://developer.okta.com/docs/

[2022-06-15 10:01] oleksandrpravosudko-okta commented on #1239
Hi @anjalichawlaa, in case you having issues with revoking the token using SDK code please provide minimal repro snippet.
Otherwise I suggest to ask this question at Okta dev forum.
Authorization header contains base64-encoded clientId and clientSecret(if available).

[2022-06-15 10:01] #1239 closed

[2022-06-17 04:40] RomaRathi commented on #1237
It changes the url but does not navigate to the task mentioned in the URL. Is there any way that we can internally stop the redirection to localhost:3000 for handleredirectlogin?

[2022-06-22 00:21] asanabria-hc commented on #1188
Now is working as expected on version `6.7.0` 🚀

[2022-06-22 00:21] #1188 closed

[2022-06-23 03:55] graphicnapkin commented on #1031
Embarrassingly I never responded here sorry about that. I no longer have access to this codebase BUT we were using the out of box @okta/okta-react@6.4 @okta/okta-auth-js@6.0 from here https://developer.okta.com/docs/guides/sign-into-spa-redirect/react/main/#add-packages

I was looking to see if there was a way to limit group claims when creating the oktaAuth object but didn't see a documented way

[2022-06-23 13:38] jaredperreault-okta commented on #1031
You can adjust the `scopes` requested in an OktaAuth instance (https://github.com/okta/okta-auth-js#scopes). However this is mainly an Org configuration issue. You'll most likely need to adjust your group claim (to limit the claim to <100 groups) on your Okta Admin Console, as Lijia originally suggested

[2022-06-23 15:39] brentlyjdavid opened #1241 "getRequestContext() method not returning custom properties from OpenId Clients"
### Describe the bug?

When we use the OpenIdConnect Events in an MVC Client, we add custom parameters to the request using the event.  The /authorize endpoint has the items in the URL, but that URL gets hidden in the okta hosted login page.

When calling `OktaUtil.getRequestContext();` the items do not show up from our original request.

### What is expected to happen?

I expect that all custom p

[2022-06-23 15:41] brentlyjdavid commented on #1241
Authorize request Sample, it contains the custom property of 'productId' as we need. but once the page loads, the URL is gone and the `getRequestContext()` method does not return it for us.

https://{oktaDomain}/oauth2/default/v1/authorize?client_id={clientId}&redirect_uri=https%3A%2F%2Flocalhost%3A44399%2FAuthenticationUserPortal%2Fauthorization-code%2Fcallback&response_type=code&scope=openid%20p

[2022-06-23 15:56] jaredperreault-okta commented on #1241
Can you provide a code snippet of your use of `OktaUtil.getRequestContext()`?

[2022-06-25 00:30] phaseOne opened #1244 "When IdP Routing Rules are enabled, some users on corporate networks are unable to login"
### Describe the bug?

When IdP Routing Rules are configured for my Okta tenant, some users are unable to complete the login process and are presented with this error:

![Okta Sign-in Widget with error message: We found some errors. Please review the form and make corrections.](https://user-images.githubusercontent.com/1310985/175470132-b77965cc-081c-401d-b9b5-d2bc67306dcb.png)

I was able to temp

[2022-06-25 18:40] graphicnapkin commented on #1031
Ahh I see. When I read config issue my brain went to the object being passed into OktaAuth and thinking there was a config I can pass there. This makes sense and sorry for the confusion.

[2022-06-27 10:45] oleksandrpravosudko-okta commented on #1244
Thank you for a thorough investigation @phaseOne.
We will review this issue.

Internal ref: OKTA-510070

[2022-06-28 13:53] TechN8 opened #1246 "@okta/okta-auth-js package.json is private: false but includes workspaces section"
### Describe the bug?

Yarn generates a warning in any project using the published version of this library from NPM.

    warning Workspaces can only be enabled in private projects.

The workspaces section should be stripped from the published version of package.json.

### What is expected to happen?

No warnings generated by yarn when building projects which depend on @okta/okta-auth-js.

### Wha

[2022-06-29 19:04] kito99 opened #1248 "Add ability to disable absolute URL check for redirectUri when running on web (in order to support Capacitor and other hybrid apps)"
### Describe the feature request?

When running inside of a browser, If the redirectURI contains a scheme that has periods, okta-auth-js assumes it's a relative URI, so it tries to generate an absolute URI using `window.location.origin`. This works fine in normal web apps, but if your code is running inside of a mobile app that's using a WebView (as it is in Capacitor or Cordova apps), it could ha

[2022-06-30 10:12] denysoblohin-okta commented on #1248
Thanks for submitting this issue.
Internal ref:  OKTA-511508

[2022-06-30 15:46] jaynewstrom-okta commented on #1248
Also noted as an issue here: https://github.com/okta/okta-oidc-android/issues/219 added internal ref on Android issue as well.

[2022-07-06 19:15] jaredperreault-okta commented on #1174
Thank you for the stack traces, but can you provide a code snippet as well? Perhaps from your `ReportCards` component (since it mentioned in the stack trace). At this time I cannot reproduce this issue

[2022-07-07 12:01] jeet-ce opened #1254 "Showing details of previous user ( Okta Dashboard sign out doesn’t remove application tokens )"
### Describe the bug?

Hello, Community

After I tried to launch an app using the Okta dashboard, I had a problem; it displays old user information (perhaps because the local app token is unclear when we sign out of the Okta dashboard).

Scenario

1. Sign in with user A to the Okta dashboard.
2. Use the Okta dashboard to launch my application
3. Exit user A from the Okta dashboard.
4. Sign in with

[2022-07-07 15:48] jaredperreault-okta commented on #1254
Instead of logging out User A from the Okta Dashboard, can you log out User A from your application? Doing so should clear the tokens from your application and destroy the established Okta session

[2022-07-07 19:05] jaredperreault-okta commented on #1254
@Kushal0189 can you provide repro steps?

Note: Signing out of the Okta Dashboard will _not_ sign out of other applications, even if they were launched from the dashboard

[2022-07-08 10:10] estormfield commented on #1233
@tomspeak We are also experiencing that behavior on 6.7. Despite the docs claiming that auto-renew is enabled and active mode is enabled, it does not appear to working reliably and only refreshes the token after providing a few expired tokens. We can verify this as certain requests retry on 401s and we can see the token being renewed after a couple seconds.

I'm guessing this is related to the fol

[2022-07-17 06:05] jtoar opened #1256 "Installing this package fails on M1 mac: can't build `microtime`"
### Describe the bug?

We want to add okta to RedwoodJS (see https://github.com/redwoodjs/redwood/pull/5088), but after I add this package (`@okta/okta-auth-js`) `yarn install` fails because `microtime@npm:3.0.0` can't be built:

[code]

I tracked down why `@okta/okta-auth-js` has `microtime`. It's because of `broadcast-channel`:

[code]

`microtime` already has a fix out for this in `3.1.0` (see

[2022-07-17 11:30] markb-trustifi opened #1257 "getWithPopup hangs up"
### Describe the bug?

I’m using @okta/okta-auth-js client for signing Okta users to the website.

[code]

After I enter username/password an Okta popup redirects to the blank page before reaching my BE.
I see only blank popup with this URL:
https://mydomain.okta.com/login/step-up/redirect?stateToken=00g4GtzI98_asoZlkxIFg89xwOKO2fBsO7PvL_SpIw

The `getWithRedirect` flow works correct.
The debug lo

[2022-07-18 11:26] denysoblohin-okta commented on #1256
Thanks for submitting this issue.
Internal ref: OKTA-516169

[2022-07-18 13:06] jaredperreault-okta commented on #1256
As a work around you can try specifying

[code]
in your `package.json`

[2022-07-19 07:49] pzi commented on #1174
Preliminary testing with our Next.js app seems to agree :) Thanks for getting this fixed. Now we just need to get [the M1 issue addressed](https://github.com/okta/okta-auth-js/issues/1256), so everyone can build the app.

[2022-07-19 08:39] denysoblohin-okta commented on #1257
Seems like not an issue with okta-auth-js library, but with Authorization Code flow in your org.
When you get redirected to `/login/step-up/redirect` blank page and you click 'Inspect' in context menu, do you see any errors in console?
Please reach out to support team at support@okta.com to analyze your authorisation flow issue.

[2022-07-22 11:30] jtoar commented on #1256
@jaredperreault-okta thanks! That does work, but it's something that users have to do in their project. (We could write a codemod to parse their `package.json` and add that resolution for them, but that's a lot of work. 😅)

More importantly, many users forget to remove that resolution after the problem has been resolved, so they're pinned to it. (We could also write a codemod or add middleware to

[2022-07-22 12:58] fseee opened #1260 "authStateManager subscription not updated on clear user session"
### Describe the bug?

Subscribing to the authStateManager, according to [documentation](https://github.com/okta/okta-auth-js#authstatemanagersubscribehandler):

[code]
i would expect to receive a callback immediately after user has been deactivated and or user session has been cleared.
At the moment the callback is not triggered.

### What is expected to happen?

I expect to receive an isAuthenti

[2022-07-22 14:33] jaredperreault-okta commented on #1256
@jtoar yes, using `resolutions` is just a work around to unblock your development while we work on a fix.

[2022-07-22 15:50] russcarver commented on #1230
This reared it's ugly head for me (for the first time) in Angular 14/Jest 28. Solved by adding:
[code]
 to my jest.config.js file

[2022-07-24 06:14] oregev opened #1261 "Module not found: Error: Can't resolve 'process/browser' on CRA"
### Describe the bug?

After installing @okta/okta-auth-js@latest and @okta/okta-react@latest tying to use the package.

Setup:
React 17.0.2
React-scripts: 5.0.0
Webpack: 5.70.0

@okta/okta-auth-js: 6.7.2
@okta/okta-react: 6.6.0

Compiled with problems:

ERROR in ./node_modules/@okta/okta-auth-js/esm/browser/OktaUserAgent.js 35:24-31

Module not found: Error: Can't resolve 'process/browser' in '/U

[2022-07-25 10:25] oleksandrpravosudko-okta commented on #1261
@oregev this issue does not seem to trigger for the clean CRA install with specified versions.
Do you have customized webpack configuration (ejected app)? Which node version are you on?

[2022-07-28 13:50] jaredperreault-okta commented on #1256
To provide an update on this:

Our dependency, `broadcast-channel` released version `4.14.0` which bumps the `microtime` dependency to `3.1.0`. `microtime@3.1.0` fixes this m1 mac build issue, however it also requires a minimum node version of 14+. We consider raising the minimum node version to be a breaking change, and therefore this fix will have to wait until our next major version (`7.x`) rel

[2022-07-28 17:55] KLCarrierDirect commented on #1174
`import React, { useEffect, useState } from "react"
import Card from "@mui/material/Card"
import Grid from "@mui/material/Grid"
import Typography from "@mui/material/Typography"
import { makeStyles } from "@mui/styles"
import { useOktaAuth } from "@okta/okta-react"
import { getAdminDashReportsByReportType } from "../../adapters/moesif"

const useStyles = makeStyles((theme) => ({
    card: {

[2022-07-28 18:13] jaredperreault-okta commented on #1174
@KLCarrierDirect

Can you try upgrading auth-js to `6.7`? `6.7` includes a fix for the `channel is closed` error ([CHANGELOG](https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#features))

I also recommend fetching tokens directly from the `tokenManager` rather than `authState`. Recently we have observed an issue with tokens on `authState`, we believe due to the async nature of token re

[2022-07-28 23:35] annovo opened #1265 "Page reload on redirecting from okta login"
### Describe the bug?

Hi everyone!

I am trying to switch to the new okta-auth-js v6.7.3 and have some troubles. I have no issues using okta-auth-js v4.9.2 or v5.1.1 but with v6.7.3 I have the page refreshing on login while redirecting from okta. It looks like this `/login/callback -> / -> (reload) -> /login/callback -> /`.

Also, I don't have this behavior if I add the login button that calls th

[2022-07-29 00:38] jtoar commented on #1256
Thank you for the update! The current version of this package lists `broadcast-channel` using the SemVer `^` range specifier, which looks for the latest minor, so 4.14 will actually be installed now (which may not be exactly what you want for the reasons mentioned). That means this issue is solved for us now.

[2022-07-29 13:41] jaredperreault-okta commented on #1265
Thanks for the report, we will look into this

Internal Ref: OKTA-519226

[2022-07-29 19:39] KLCarrierDirect commented on #1174
@jaredperreault-okta

Thank you so much, upgrading to `@okta/okta-auth-js 6.7.0` successfully removed the Broadcast channel errors from the console.
I will apply your recommendation to use the `tokenManager` as we did notice issues with our tokens when upgrading `@okta/okta-react`.

[2022-07-29 21:20] jaredperreault-okta commented on #1174
Closing this issue since the original report of the `channel is closed` error has been fixed in auth-js `6.7`

A few other discussions have spawned on this thread, please open tickets if you need additional assistance

[2022-07-29 21:20] #1174 closed

[2022-08-03 23:11] krkc opened #1267 "Query params are stripped by canLoad guards when user isn't authenticated"
### Describe the bug?

Same problem/fix needed as this:
https://github.com/damienbod/angular-auth-oidc-client/issues/1409

And related to this:
https://github.com/angular/angular/issues/30633

While using the canLoad guards the query parameter info is lost when there's no auth state in the storage.
This is because the persisted url only uses the route's segments.

### What is expected to happen?

[2022-08-03 23:14] #1267 closed

[2022-08-08 13:40] macyabbey-okta opened #1268 "Conditional exports fail with jest-resolve@npm:^28.1.x"
### Describe the bug?

The conditional exports block used in this library fails when a consuming package utilizes `jest@28.x` and `jest-resolve@28.1.x`.

An error is omitted like:

[code]

This is because jest's resolver only supports nested export objects which contain one of the keys passed down by jest (default, browser, require), or more easy to reason about, `the same key that maps to the nes

[2022-08-10 16:47] jaredperreault-okta commented on #1268
@macyabbey-okta do you have a repo with a minimal jest config I can use? I have been unable to repro the error you described (still had issues, just not the same issue).

I did some testing on my end and tests run fine in `jest@27`. I installed `jest@28` and had to adjust our conditional exports (as you suggested), but I wasn't able to get my tests running (got a different error than you).

Lastly

[2022-08-11 04:38] samartomar opened #1270 "Unsatisfied version 0 from of shared singleton module @okta/okta-auth-js (required =6.7.4)"
### Describe the bug?

main.ts:2

       Error: Unsatisfied version 0 from testproject of shared singleton module @okta/okta-auth-js (required =6.7.4)

node_modules\@okta\okta-auth-js\lib\index.d.ts

Missing version property exposed from package.

Webpack build with module federation is failied.

### What is expected to happen?

Must have version exposed

### What is the actual behavior?

Missing

[2022-08-11 13:59] jaredperreault-okta commented on #1270
I think this issue is related to https://github.com/webpack/webpack/issues/13457

Thanks for the report! We will continue to investigate

[2022-08-14 22:23] samartomar commented on #1270
it seems like how to fix is known now, but when this can be available to end user ?

[2022-08-16 15:09] jaredperreault-okta commented on #1270
@samartomar this issue should be fixed in version `6.7.5`

[2022-08-16 15:09] #1270 closed

[2022-08-19 17:02] #1248 closed

[2022-08-30 12:17] DavidLozzi commented on #488
Same happening randomly for users. In my testing, Chrome worked, Safari errored. Here's what's being logged

[code]
our workaround is on our error page we have a Refresh button that deletes all okta cookies and reloads the app, which then reauthenticates the user and then it works fine.

[2022-09-06 12:57] kamilkazmierczakMtab opened #1294 "It's not possible to use polyfills"
### Describe the bug?

It's not possible to use `import '@okta/okta-auth-js/polyfill'` because package.json is missing polyfill entry
It was fixed 2 months ago but it's still not published
https://github.com/okta/okta-auth-js/commit/6d2915ec62ce578af8a43dcd692937ff9333674a

### What is expected to happen?

It's expected to being able to import polyfills

### What is the actual behavior?

Module no

[2022-09-06 19:55] vicodina01 commented on #977
@nickjm6 I've been having the same problem whit `oktaAuth.tokenManager.renew('accessToken');` ,
I get the error message "The client specified not to prompt, but the user is not logged in."
did you find a way to solve it?
Im using okta-auth.js 4.8.0 and also try out 6.7.6 but I still have the issue

[2022-09-06 22:18] torressam333 commented on #912
I am on `"@okta/okta-signin-widget": "^6.6.1",` and still see the same bloat.

[2022-09-07 14:12] jaredperreault-okta commented on #1294
@kamilkazmierczakMtab auth-js `6.8.0` was released this morning, which contains the polyfill export. https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.8.0

Feel free to reopen this ticket if this fix doesn't work for you

[2022-09-07 16:30] torressam333 commented on #912
@aarongranick-okta Any updates on reducing the size of the sign in widget? Thanks.

[2022-09-08 20:00] boutell commented on #1261
Encountering the same issue. Node 16.15.0.

[2022-09-08 20:01] boutell commented on #1261
Is there a way to keep the nodejs polyfills out of this build?

[2022-09-09 09:19] sb-developers opened #1297 "idx.register function with activationToken returns Bad Request error ("access_denied" and "The requested feature is not enabled in this environment." error.)."
### Describe the bug?

When we call to idx.register({activationToken: this.token, authenticator: 'okta_password',  password: this.newPasswordForm.value.password}) function returns "Bad Request". Concretically, returns "access_denied" and "The requested feature is not enabled in this environment." error.

### What is expected to happen?

We expect to register user with his new Password and activate

[2022-09-09 13:13] oleksandrpravosudko-okta commented on #1297
Thanks for report @sb-developers.
Can you please confirm your org's profile enrollment policy is configured to allow sign up?

[2022-09-09 13:51] psiservices-dbrink opened #1298 "The text-encoding package has been deprecated yet is still a dependency of @okta/okta-auth-js"
### Describe the bug?

okta-auth-js has a dependency on text-encoding 0.7.0 which is flagged as an unmaintained package that has not seen an update in over four years.

### What is expected to happen?

Dependencies are evaluated and updated on a reasonable schedule for vulnerabilities, continued needs, deprecation, etc..

### What is the actual behavior?

`npm WARN deprecated text-encoding@0.7.0:

[2022-09-09 14:57] jaredperreault-okta commented on #1298
`text-encoding` is only used as a part of the polyfill we include in the library for convenience and therefore will only be included in your application if you are utilizing the polyfill. We also scan regularly for vulnerabilities in our SDKs and (to my knowledge) there is currently no security concern or vulnerability associated with `text-encoding`.

More info: [auth-js Polyfill](https://github.

[2022-09-12 07:40] sb-developers commented on #1297
Hi Oleksandr,
Thanks for your response.
I'm trying to search this page into our Okta Admin menu, but we don't find nothing like this. Where will be appear this page?
If we didn0't found it, What could we do?
Thanks,

[2022-09-12 08:59] denysoblohin-okta commented on #1297
"Security -> Profile Enrollment" - list of Profile Enrollment policies including "Default Policy".
Click on Edit icon to open edit page.
Under "Enrollment settings" select "Actions -> Edit".
In "Edit rule" pop-up find "For new users: Sign-up - Allowed / Denied"

Also you can reach out to support@okta.com

<img width="1056" alt="Screenshot 2022-09-12 at 11 56 35" src="https://user-images.githubuser

[2022-09-12 09:29] sb-developers commented on #1297
Hi Oleksandr,
Thanks for your response.
No... If you can see in the image, we don't have this section in our Okta Admin menu. What can we do?

![image](https://user-images.githubusercontent.com/53536734/189620014-899fce83-d33f-47ff-98b6-4eefe8e6320a.png)

[2022-09-12 10:30] denysoblohin-okta commented on #1297
Please reach out to support@okta.com . Self-Service Registration feature should be enabled for your account

[2022-09-12 10:58] anmoljain10 opened #1301 "Exact flow for forgot Password"
### Describe the bug?

In the Authn API docs, the forgot password method is using SMS factor type. After we generate the OTP via SMS and validate it, what should be the flow after that? Can we explain or add it in the docs?

### What is expected to happen?

Docs update needed

### What is the actual behavior?

NA

### Reproduction Steps?

https://github.com/okta/okta-auth-js/blob/HEAD/docs/authn.m

[2022-09-12 13:21] denysoblohin-okta commented on #1301
Thanks for putting this into out attention!
Agree, example usage of [`forgotPassword `](https://github.com/okta/okta-auth-js/blob/HEAD/docs/authn.md#forgotpasswordoptions) is not complete

After verification of SMS factor the recovery transaction will be in `RECOVERY` status:
https://developer.okta.com/docs/reference/api/authn/#verify-sms-recovery-factor

Then you should answer recovery question w

[2022-09-12 14:36] anmoljain10 commented on #1301
Hi, thanks for the quick reply. Actually, in our flow. We should be able to use the old password to login if password hasn't been reset. If we're in PASSWORD_RESET mode, we cannot login using the old password right? Also, is it possible not to use any recovery question or MFA to reset password?

[2022-09-13 05:08] sb-developers commented on #1297
Ok, we will talk with Okta support.
Thanks!

[2022-09-13 19:30] mgpartssource opened #1302 "IE 11 w/ polyfill - AuthSdkError PKCE requires a modern browser with encryption support running in a secure context"
### Describe the bug?

Testing the sign-in widget within a React SPA using okta-auth-js (6.8.0), okta-react (6.4.3) & okta-sign-in (6.2.0) on IE 11 with okta-auth-js/polyfill (loaded from CDN or webpack) produces an AuthSdkError when loading the widget which states "PKCE requires a modern browser with encryption support running in a secure context"

### What is expected to happen?

The expected be

[2022-09-14 15:15] owenashurst commented on #1261
What solved this for me was to use the following within your webpack config:

[code]

[2022-09-14 15:33] shuowu-okta commented on #1261
Seems to be related to [this Webpack5 issue](https://github.com/webpack/webpack/issues/11282).

[2022-09-14 15:39] shuowu-okta commented on #1261
Internal Ref: OKTA-532554

[2022-09-22 15:36] sb-developers opened #1311 "Custom sign in using signInWithCredentials + setCookieAndRedirect not works."
### Describe the bug?

Hi,
We're trying to develop a custom register process and finally, when user finish registering, we want to sign in into application. For this, we are using this documentation: https://github.com/okta/okta-auth-js/blob/master/docs/authn.md#signinwithcredentialsoptions.
But when execute those functions, not works.... We want to redirect to a private page, but always send us t

[2022-09-22 17:25] shuowu-okta commented on #1302
@mgpartssource PKCE flow is not supported in legacy browsers like IE 11 due to missing required web API. You can set `pkce` option as false to pick the implicit flow to login.

Reference: https://github.com/okta/okta-auth-js#pkce-oauth-20-flow

[2022-09-26 06:10] karmjeets opened #1313 "Custom storage provider -> application goes into loop of callback and token"
### Describe the bug?

when i try to set custom storage provider in okta config by following docs , the application goes in infinite loop of callback and token
`
export const myMemoryStore = {};
const customStorageProvider = {
  getItem: function (key) {
    // custom get
    return myMemoryStore[key];
  },
  setItem: function (key, val) {
    // custom set
    myMemoryStore[key] = val;
  },
  //

[2022-09-26 10:21] denysoblohin-okta commented on #1313
Thanks for submitting this issue.
What exact versions of `okta-auth-js` and `okta-react` do you use?
From the code snippet you provided it looks like you are trying to use simple object as storage, which is not persistent. What is the reason to use custom storage provider?

[2022-09-27 20:36] pdubb29 opened #1315 "Okta Auth JS uses machine time instead of a time server when it validates tokens"
### Describe the bug?

User authenticates successfully using oktaAuth.signInWithCredentials() and receives a session token.
We exchange that session token using oktaAuth.getWithoutPrompt();

When we attempt to set the tokens using oktaAuth.tokenManager.setTokens() we get an error thrown, and we have validated that the machine time is being used by this library to validate the token against.

### W

[2022-09-27 21:02] Montana opened #1316 "Unable to get connected to auth server in Okta"
### Describe the bug?

I  am using `https://${yourOktaDomain}/oauth2/${customAuthorizationServerId}` under an issuer in my React Okta integration, but however the access token which I am receiving under it seems to still be pointing to the default server. I am using these 3 library to set this up:

[code]
The login integration is working fine, I just can't see the custom claims under the custom se

[2022-09-29 00:07] jaredperreault-okta commented on #1316
Few questions:

1. What node version are you using?
2. Have you tried upgrading to the latest versions of our SDKs?
3. Can you provide a code snippet?

[2022-09-29 00:54] jaredperreault-okta commented on #1315
The token validation auth-js performs is done in an attempt to avoid unnecessary network requests. Tokens are only valid for a certain amount of time, so we attempt to infer the validity of the token based on the expiry time. To solve this you can:

- Allow for a certain amount of clock skew ([maxClockSkew](https://github.com/okta/okta-auth-js#maxclockskew))
- Disable time-based validation altoget

[2022-09-30 17:22] KatieKoslosky commented on #913
Any updates on this? it did get flagged as a security vulnerability by veracode in our last scan

[2022-09-30 22:16] pdubb29 commented on #1315
Thank you so much for this. I really appreciate the

[2022-09-30 22:16] #1315 closed

[2022-10-04 16:11] sdiltsDNRC commented on #912
It's still relatively large, but the newly released [7.0.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-7.0.0) is massively better than it was previously. If you use Angular, you are also going to want that release too, as it allows further optimizations with an Ivy build.

I'd say it mostly fixes the problem, but I haven't actually looked at  how big the bundle size is by itsel

[2022-10-17 17:35] jaredperreault-okta commented on #1256
@jtoar FYI this issue should be fixed as of `6.8.1`. `broadcast-channel` accepted our PR to remove `microtime` as a dependency and we now depend on `~4.17.0` (which includes our PR)

[2022-10-17 17:35] #1256 closed

[2022-10-20 19:18] code-bode commented on #977
I am seeing same error on when i am calling this `oktaAuth.token.getWithoutPrompt()` method. This works fine in desktop site but when i load as mobile, I am seeing that error.

![image](https://user-images.githubusercontent.com/98618698/197038187-07c2f127-f716-4b52-863e-1406f162727f.png)

[2022-10-21 16:18] jaredperreault-okta commented on #977
@code-bode What mobile environment and browser are you testing this on? `getWithoutPrompt` uses a hidden `iframe` under the hood. `iframe` support on mobile has been limited up until recently

[2022-10-21 16:41] code-bode commented on #977
@jaredperreault-okta I am using ios 16.0. As you see below this error even happening when I use mobile mode with developer console in chrome.

![image](https://user-images.githubusercontent.com/98618698/197246356-f76415ef-18fb-422e-ba1a-c859a59053ed.png)

[2022-10-21 17:11] jaredperreault-okta commented on #977
Seems like Safari on iOS 16 currently has a bug that affects `iframe`s that may be causing problems. (ref: https://caniuse.com/mdn-html_elements_iframe)

I'm not sure why the Chrome DevTools "Mobile Mode" would affect this. This will require further investigation

Internal Ref: OKTA-543648

[2022-10-23 17:00] phi1ipp opened #1327 "IDX skip implemented"
### Describe the feature request?

comparing this implementations with Java one, I noticed that I can't skip a step if required. In Java your have `skipAuthenticatorEnrollment`, but here I'm not sure how to achieve the same functionality

### New or Affected Resource(s)

OktaAuth.idx

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-10-25 14:34] denysoblohin-okta commented on #1301
You can use old password to login until transaction is completed. Even if you're in `PASSWORD_RESET` state

With Authn API you should use `factorType = 'EMAIL' / 'SMS' / 'CALL'` .
Recovery with Okta Verify is supported in OIE.
There is a possibility to use [Forgot password with trusted application](https://developer.okta.com/docs/reference/api/authn/#forgot-password-with-trusted-application).

[2022-10-26 15:20] #1301 closed

[2022-10-31 14:26] dtrenz opened #1332 "token.getUserInfo() performs unexpected API request"
### Describe the bug?

According to [the documentation](https://github.com/okta/okta-auth-js#tokengetuserinfoaccesstokenobject-idtokenobject), `token.getUserInfo()` (aka `oktaAuth.getUser()`) retrieves user info from a locally stored ID token. However, calling this method triggers an API request to a `GET /userinfo` endpoint.

### What is expected to happen?

User info should be returned from the

[2022-10-31 14:26] oleksandrpravosudko-okta commented on #977
@code-bode I was trying to reproduce this in iOS 16.0 simulator and `oktaAuth.token.getWithoutPrompt` ran without issues.

[code]
In order to succeed, `getWithoutPrompt` requires  either of:
* Okta session cookie to be available as 3p cookie
* `sessionToken` to be provided as a param
* valid refresh token to be available

Given one of the above conditions is met and you are still experiencing the

[2022-11-02 10:51] nitrique commented on #1164
Same here ok 7.0.1 !

[2022-11-02 14:54] jaredperreault-okta commented on #1164
@nitrique can you provide a code snippet?

[2022-11-02 15:01] nitrique commented on #1164
[code]

Some code has been omitted. The okta service never trigger auto renew, we have to do the following:

[code]

[2022-11-02 15:58] jaredperreault-okta commented on #1164
@nitrique How are you handling the redirect back to your app?

[2022-11-02 16:06] nitrique commented on #1164
@jaredperreault-okta can you be more specific ?

Redirect only occur on login. On token renew we don't have redirect (classic OIDC flow).

[2022-11-03 13:47] jaredperreault-okta commented on #1164
@nitrique can you try

[code]

I'm curious if the renew requests are failing or whether the renew process is never triggered

[2022-11-03 15:09] nitrique commented on #1164
it write "accessToken" on console.

[2022-11-04 14:28] jaredperreault-okta commented on #1327
Our `idx` sdk only allows for skipping optional authenticator enrollments, if an authenticator is marked as required, then the user will be prompt to enroll. If you would like your users to have the ability to skip enrollments, I suggest reviewing your Authenticator policies

[2022-11-04 14:28] #1327 closed

[2022-11-04 14:37] jaredperreault-okta commented on #1332
I believe the documentation for this method is misleading. The method retrieves both the `idToken` and `accessToken` from the `tokenManager` using the default keys (`"idToken" and "accessToken" respectively). If your tokens are being stored with different keys, you'll need to pass the tokens to the method, however this method always invokes the `/userinfo` endpoint.

src: https://github.com/okta/o

[2022-11-04 14:38] #1332 closed

[2022-11-04 15:30] jaredperreault-okta commented on #1327
Apologizes, I misunderstood your question.

This does seem to be something that is missing thorough documentation

[code]

Ref: `nextStep.canSkip` ([docs](https://github.com/okta/okta-auth-js/blob/master/docs/idx.md#nextstep))
Ref: [sample](https://github.com/okta/okta-auth-js/blob/master/samples/generated/express-embedded-auth-with-sdk/web-server/routes/authenticator.js#L54)

[2022-11-07 11:34] dbegent opened #1334 "Blank page after switching to custom domains"
### Describe the bug?

We have an issue that has evolved after switching to custom domains whereby the user is left with a blank page

### What is expected to happen?

I'm unsure why the iframe is even appearing. In normal scenarios it doesn't show and the logon page is shown. Even after getting to the login page once this issue is resolved and it's not exactly easy to reproduce

### What is the a

[2022-11-07 14:32] denysoblohin-okta commented on #1334
Thanks for submitting this issue.
You mentioned in "SDK Versions" that you are using `okta-vue` and `okta-signin-widget`.
Could you post your code used for authentication?
Do you use `okta-auth-js` 1 or 2? Your versions are quite obsolete, did you consider upgrading?

[2022-11-08 15:54] probablykabari opened #1338 "Authentication flow steps are incorrect for "identify""
### Describe the bug?

When starting the authentication flow, the `nextStep` paremeter shows the following:

[code]

However if you submit this step with `username` as one of the field, it fails and responds with a message saying that `identifier` is the required param. However if you send `identifier` as the param initially, even though it specifically shows to use `username`, it works.

### What

[2022-11-08 19:37] zaneadix commented on #1265
@annovo I've been experiencing the same issue. Did you ever figure out a workaround for this?

[2022-11-09 00:32] gouthamr22 opened #1339 "Application goesinto infinite loop for auth and token"
### Describe the bug?

![image](https://user-images.githubusercontent.com/12518407/200705726-a56d0089-28d7-4cfa-bd81-3412523489da.png)

![image](https://user-images.githubusercontent.com/12518407/200705765-7c12de40-6c4f-444b-8fb2-8eb3d85cb334.png)

I am currently in :
"@okta/okta-auth-js": "7.0.1",
   "@okta/okta-react": "6.7.0",

### What is expected to happen?

infinite loop should not happen

#

[2022-11-09 02:06] pzi commented on #1265
We have noticed a similar behaviour in our login flow, where the observed behaviour is:

Login page -> submit -> login callback page -> login page -> dashboard page.

Feels related to this?

[2022-11-09 03:07] annovo commented on #1265
@zaneadix unfortunately, I had to lock the `okta-auth-js` version to `5.11`. I tried to upgrade to the latest version again a few weeks ago, but no luck so far

[2022-11-09 10:37] denysoblohin-okta commented on #1339
What version of `okta-react` and `react` do you use?
What router do you use (`react-router` 5/6, `reach-router`)?
Could you post all your route components that are rendered inside `<Routes />`?
Do you use one of routing samples in https://github.com/okta/okta-react/tree/master/samples/routing?

[2022-11-09 12:01] karhatsu commented on #1164
Not sure if this is the same issue but I'm seeing the token renewal working in most of the cases but then quite often not (let's say 60-80% success rate). Here's my config:

[code]

I'm using `@okta/okta-react` and have a hook like this:

[code]

When it works correctly, I'm seeing logs like this:

[code]

A minute later there's another similar logging sequence.

When I see that the renewal proces

[2022-11-09 13:45] gouthamr22 commented on #1339
@denysoblohin-okta
 we are using "@okta/okta-react": "6.7.0",
"react-router-dom": "^5.2.0",

![image](https://user-images.githubusercontent.com/12518407/200845725-2df0454d-a092-49ea-a550-0fa8a38578ea.png)

Below is my protectedRoute component

![image](https://user-images.githubusercontent.com/12518407/200846124-cc070d32-0ba5-4866-a04c-746ccfa2abe0.png)

[2022-11-09 14:26] jaredperreault-okta commented on #1164
@nitrique @karhatsu did you notice your respective issues prior to upgrading to `7.0.1`?

I've added a ticket to our next sprint to investigate this

Internal Ref: OKTA-549676

[2022-11-09 15:11] jaredperreault-okta commented on #1265
I haven't had an opportunity to properly debug this, but perhaps the issue here is `authState` isn't a memoized value?

maybe trying something like this: https://github.com/okta/okta-react/blob/master/samples/routing/react-router-dom-v6/src/components/SecureRoute.tsx#L32

As an aside, your `LoginCallback` component must be mounted _outside_ any auth checks, your user won't be considered authentica

[2022-11-09 15:34] zaneadix commented on #1265
For reference, this is my attempt which works fine with 5.11 but not with 7.0.1
I tried the useEffect dependency changes you linked @jaredperreault-okta but no luck.
`
const oktaAuth = new OktaAuth({
  issuer: '<our auth route>',
  clientId: config.OKTA_CLIENT_ID,
  redirectUri: window.location.origin + '/login/callback',
  pkce: true,
});

let AuthStateWrapper = ({ children }) => {
  const { auth

[2022-11-09 15:36] karhatsu commented on #1164
I have built the app on top of 7.0.1 so I don't have experience from the prior versions.

[2022-11-09 16:27] denysoblohin-okta commented on #1339
Please try to move `<Route path='/callback' component={LoginCallback} />` to the top of route list inside `<Switch>`

[2022-11-09 18:50] nitrique commented on #1164
@karhatsu It works for me with the following on React:

[code]

[code]
(I agree this function is a pass-through)

In auth context:

[code]

_HINT : oktaAuth.start() is needed to monitor token state_

-> Take care of token storage, this lib stores by default on localStorage, which is a big CVE as any browser's plugin can access it (see https://auth0.com/docs/secure/security-guidance/data-security/t

[2022-11-09 21:53] jaredperreault-okta commented on #1265
@zaneadix how are you prompting users to login (redirected them to Okta) when `isAuthenticated=false`

[2022-11-10 07:21] karhatsu commented on #1164
@nitrique Thank you for the hints! I've been trying it out with as default Okta settings as possible, so been using local storage for now. Not sure if it has any impact for this case.

Probably the biggest difference to your code is the usage of 59 minutes in `tokenManager.expireEarlySeconds`. First of all, this way I can run way more test cases than with the values close to 0 seconds. On the othe

[2022-11-10 08:20] nitrique commented on #1164
@karhatsu tons of articles explain what you shouldn't use local storage like this one https://dev.to/rdegges/please-stop-using-local-storage-1i04 , but it's up to you :)

The token should last the biggest time frame that you can accept if access token is stolen (I'm not talking of refresh token), for critical applications 1 minute can be good, but generally 30 minutes is a good start.

Take care o

[2022-11-10 09:35] karhatsu commented on #1164
I appreciate your advice @nitrique. My point here are not the security details but providing the Okta team information how to figure out the issue in the code. I would be quite surprised if it's related to the storage type. Also the 59 minutes early expiration is not something I'd use normally (and wouldn't be even possible according to Okta docs), it's just for easier debugging the problem.

[2022-11-10 23:08] denysoblohin-okta commented on #1338
Please use
[code]
instead of
[code]

[idx.proceed](https://github.com/okta/okta-auth-js/blob/master/docs/idx.md#idxproceed) is the documented API method.
Method `proceed` of IDX transaction is internal and doesn't perform remediator data [mapping](https://github.com/okta/okta-auth-js/blob/3136928d6d2d941dced698e502ea77dcc741b324/lib/idx/remediators/Identify.ts#L27)

[2022-11-11 15:59] #1338 closed

[2022-11-14 18:37] aarrohan commented on #1261
Thanks man it worked perfectly :)

[2022-11-14 18:58] jaredperreault-okta commented on #1261
Closing issue. It appears to be related to webpack

[2022-11-14 18:58] #1261 closed

[2022-11-17 15:42] stuconnall opened #1346 "414 Request-URI Too Long Returned Calling /logout Endpoint"
### Describe the bug?

Not sure if this is a bug, per se, but I'm getting a 414 http code when calling the /logout API from both the Okta SPA sample application and our own SPA application. The problem is occurring when the okta-auth-js signOut() issues the /logout API call passing the id_token_hint which is nearly 18K in length. The /logout endpoint is a GET and may be better if it were a POST du

[2022-11-18 12:35] srkumarp commented on #575
Hi @artfuldev, I'm also facing the same issue, could you please tell me how you resolved it?

[2022-11-18 17:40] jaredperreault-okta commented on #575
@johnschlee @srkumarp are you experiencing this issue with the versions list above or with current versions of authjs?

[2022-11-18 17:42] jaredperreault-okta commented on #1346
Thank you for this report

Internal Ref: OKTA-551961

[2022-11-18 18:43] dcbroad3 opened #1351 "`TokenManager.on` fires events across sessions (tabs)"
### Describe the bug?

Starting in 7.0.0, when one browser session uses `tokenManager.on(...)`, the subscribed event handler is fired also for events that occur in other browser sessions. When using `storageType: 'sessionStorage'`, it is expected that the library will be compartmentalized across sessions, so it is not expected that the library would fire events that occur in other sessions.

Speci

[2022-11-18 18:50] jaredperreault-okta commented on #1351
Do you mind clarifying your use of "session"? Do mean "auth session" or "window/tab session"?

[2022-11-18 19:01] dcbroad3 commented on #1351
Generally here when I say session I'm referring to browser sessions (tabs).

[2022-11-18 19:55] srkumarp commented on #575
Hi @jaredperreault-okta,

 Here are the dependencies
 "@okta/okta-angular": "^6.0.0",
 "@okta/okta-auth-js": "^7.0.1"

These are the issues I'm facing:

1) I have two user accounts. if I use "1st" account to sign-in to the angular app (first browser tab) and "2nd" account to sign-in to the Okta dashboard (second browser tab) and then if I try to sign out the 1st account from angular app (1st tab),

[2022-11-20 02:34] eric-elsholz opened #1352 "README.md incorrect option name (isAuthenticated option expiredTokenBehavior should be onExpiredToken)"
### Describe the bug?

The [README.md](https://github.com/okta/okta-auth-js#isauthenticatedoptions) lists an `expiredTokenBehavior` option for `isAuthenticated`, but this option does not exist. The correct name, as described in [oidc/types/api.ts](https://github.com/okta/okta-auth-js/blob/f5c58a708323f51aa3388cc76236ddf37a5f6e81/lib/oidc/types/api.ts#L99), is `onExpiredToken`.

### What is expecte

[2022-11-21 16:31] denysoblohin-okta commented on #1352
Thanks for submitting this readme typo.
Internal ref: OKTA-552269

[2022-11-22 10:06] denysoblohin-okta commented on #1351
Please add
[code]
or
[code]
to `oktaAuth ` config to disable tokens synchronisation across tabs.

`syncStorage` is [enabled by default](https://github.com/okta/okta-auth-js/blob/f5c58a708323f51aa3388cc76236ddf37a5f6e81/lib/core/ServiceManager/browser.ts#L51).
[Before 7.0 it was disabled](https://github.com/okta/okta-auth-js/pull/1296/files#diff-b4f655bf7aab1f3954369864b3d92340fc875670471f0f22c5f45

[2022-11-22 17:42] denysoblohin-okta commented on #1164
@karhatsu
I am not able to reproduce your issue, but I assume it's related to leader election service.
When you open 2+ tabs with your app, one one tab should be a leader and perform token auto renewal.
Even if you use only 1 tab, it should be self-elected as a leader.
If election fails for some reason, token renew process will not be triggered.

(We use [broadcast-channel](https://github.com/pubk

[2022-11-22 22:15] #474 closed

[2022-11-28 16:16] shuowu-okta commented on #1265
@annovo I think the issue comes from the global useEffect in your App component.
[code]
Here is what may happen in the app:
1) `oktaAuth.signInWithRedirect` is triggered when `authState.isAuthenticated === false`
2) Okta redirects back to `/login/callback` route after user signin from the hosted login page, but at this time authState actually has not been changed, since the SPA still need to parse

[2022-11-29 02:41] annovo commented on #1265
@shuowu-okta thank you for the suggestion, I've just tried it, but unfortunately, this didn't solve the issue.

Also, I would be curious if that's a code issue since the same code works perfectly with the different okta-auth-js version as I mentioned in the description.

[2022-11-29 15:54] vikassharda opened #1356 "Okta Auth JS library not redirecting to originalURI"
### Describe the bug?

Hi,

 I have an existing VueJS 3.0 project that has only one page and I am trying to integrate it with Okta using @okta/okta-vue ^5.5.0 and @okta/okta-auth-js ^7.0.0 libraries. I am using TypeScript and VueJs 3.0 Composition API. I am trying it with Okta hosted login.

I am trying to load the application after user logs in via Okta but the application is always stuck at /log

[2022-11-29 16:46] jaredperreault-okta commented on #1356
Have you tried passing the specific redirect path to `signinWithRedirect`?
[code]

[2022-11-29 17:03] vikassharda commented on #1356
Hi Jared,

Thanks for your response.

Yes, I have tried this but the web browser keeps refreshing between these two URLs. One is referencing login callback router under the root context of application i.e. http://localhost:8080/form/company and another one is referencing it directly under the host address i.e. http://localhost:8080/, see below

http://localhost:8080/form/company/login/callback?cod

[2022-11-29 17:29] vikassharda commented on #1356
I don't think this route is gated by any authentication logic unless `@okta/okta-vue` is doing something under the covers.

`isAuthenticated()` method is called within the `authStateManager` subscribe so I am assuming that it should return true at some stage when its state changes.

` auth.authStateManager.subscribe((authState) => {
        console.log("Is it authenticated  "+authState.isAuthentic

[2022-11-29 18:03] ikermonk commented on #1311
Hi Jared,
Sorry for taking so long to reply, but i can't create and example to illustrate you.

For example we are trying to do a custom login, and we use those functions:

`  async login(username: string, password: string) {

    console.log("Login: ", username + " // " + password);
    const transaction = await this.authClient.signIn({username, password});

    if (transaction.status !== 'SUCCES

[2022-11-29 19:07] vikassharda commented on #1356
Also, program always enters this if block since `getPreviousAuthState()` always returns null and triggers a browser refresh loop

[code]

[2022-11-29 21:50] vikassharda commented on #1356
So here is the thing. It works if I change my application base to "/" i.e. http://localhost:8080/ and now signInWithRedirect sends request to http://localhost:8080/1234 and I am able to get all other information.

But it gets stuck at /login/callback URL as soon as I change the application base to 'form/company'. I even tried `oktaAuth.signInWithRedirect({originalUri: '/form/company/1234'});`