[2020-07-20 08:00] Taras-R commented on #393
@staffordp here is piece of code we use and it revokes token manually. The only difference i can tell is that we do not get token with our service but use Okta method (if you saved token in token manager with key 'accessToken' there is no need to get it). So i think you just don't use Okta token manager to save token, but your own service. And i think **revokeAccessToken** can receive token object

[2020-07-20 08:17] AlbericTrancart opened #424 "Okta 403 error in OAuth flow results in failed login"
Hello!

Since our release last week some of our users (~2%) are experiencing failed logins.

When we look at our logs, we link those errors to one main scenario:

- The user submits the login form
- `POST /api/v1/authn` call is made, response code is **200**
- `POST /oauth2/default/v1/token` call is made, response code is **403**

Here is our implementation in JS with @okta/okta-auth-js:

[code]

[2020-07-20 19:00] smcalilly opened #426 "code tries to execute at /implicit/manifest.json and not build root"
I've mistakenly opened an issue with the `okta-oidc-js` repo but I think it's supposed to be here. [Please see my original issue plus recent comments here](https://github.com/okta/okta-oidc-js/issues/838).

[2020-07-20 20:04] smcalilly commented on #426
So I think the issue is with Cloudfront. The nested path `/implicit/callback` doesn't work with our Cloudfront distribution. I'm sure I can configure this to work in Cloudfront, but I'm working on the frontend and just changed the callback path to `/callback`. Works great!

[2020-07-20 20:04] #426 closed

[2020-07-20 20:27] ssteuteville commented on #374
Also having this issue in the react client, every time we login with firefox, and intermittently with incognito chrome.

[2020-07-20 20:30] aarongranick-okta commented on #374
@nweber-bisom @ssteuteville Each SDK includes a copy of `okta-auth-js`. On a fresh install, it should use the latest version available. To be sure you are using the latest version we recommend wiping your node_modules and any lock files (yarn.lock, package-json.lock, etc.) and reinstalling node modules.

[2020-07-20 20:36] aarongranick-okta commented on #424
@AlbericTrancart Have you been able to reproduce this issue directly, or are you only seeing the error in the logs? Can you see the difference in time between the authn call and the token call? Is the error happening in a token call immediately after authn? There is token renew logic which will *eventually* fail when the session has expired. These types of errors are expected, but they don't occur

[2020-07-20 20:39] aarongranick-okta commented on #417
@jberube We will investigate this issue. In the meantime, you may be able to work around this by setting `autoRenew` option to false. You can listen to the 'expired' event and renew the token yourself, the `renewToken` call should accept the `authorizeUrl` option.

[2020-07-20 20:42] staffordp commented on #393
@Taras-R

If I need to pass the accessToken object, or I need to populate it in the tokenManager, what format should it be in?

We have a situation where the user uses an Angular component just to handle the login and Okta token retrieval.  It stores the values of the idToken and accessToken (the value string), and full accessToken object in cookie.  On logout, the user is redirected to this same

[2020-07-21 09:39] nweber-bisom commented on #374
Hi

Indeed after delete package-lock.json. The new version of okta-auth-js is 3.2.0.

I'm going to test this

Thanks

[2020-07-21 10:30] Taras-R commented on #393
If you have all token object saved, i think it should work, token manager just saves it and allows to access it quickly. Just try raw JWT and also try object returned with Okta, i didn't analyze source code so i'm not sure which one is correct.

In every angular app you must create **new OktaAuth()** to access all methods in any of them (**signOut** and **revokeAccessToken**). Applications should

[2020-07-21 12:17] staffordp commented on #393
I tested out again this morning I am still unable to revoke the token and on sign out, I keep getting redirected to the followiing page (attached) Here is the code I am using:

[code]
![okta-error-screen](https://user-images.githubusercontent.com/12960670/88053940-978ebb00-cb2a-11ea-840f-4e6acdd11a7f.JPG)

[2020-07-21 13:35] AlbericTrancart commented on #424
I wasn't able to reproduce it directly but some of our users can reproduce it in a deterministic way (always fails on their setup).
Using a more recent browser always work for them. We will start asking them their specific build of IE 11 from now on to see if it's a specific IE 11 version.

In the logs, the calls happen in quick succession (~20-50ms...) so it shouldn't be the token expiring.

[2020-07-21 13:45] Taras-R commented on #393
@staffordp i'm not Okta developer, and i would answer if i wrote this code:) i'm just the one who started this conversation. I agree it MUST work, but it is not. My solution with revoking manually works fine as i can tell. In your config i see difference with ours: **postLogoutRedirectUri**, not just **redirectUri**

[2020-07-21 13:58] staffordp commented on #393
@Taras-R

Would you mind sharing your oktaConfig?  Perhaps with the upgrade from 2.9, some of the options we are specifying in the config are old and causing this issue?

[2020-07-21 14:04] jberube commented on #417
Hi @aarongranick-okta ,
I've checked for that option. The problem here is that, when `authorizeUrl`  is used, we're still comparing the origin of the event of the iframe (which will be the origin of `authorizeUrl`) to the issuer, which won't match it, since the issuer is `mydomain.oktapreview.com` while `authorizeUrl` will be something like `https://mydomain.com/sso/auth2/{my authn id}}/v1/authori

[2020-07-21 15:53] Taras-R commented on #393
it's pretty much default
[code]

[2020-07-21 18:56] staffordp commented on #419
Resolved this. Was not clear that the jump from 2.9 to 3.14 introduced Logout Redirect URIs that need to be whitelisted as well as the Logon. After the whitelist, no more issue,

[2020-07-21 18:56] #419 closed

[2020-07-21 18:57] staffordp commented on #393
@Taras-R

Thanks for sharing. I thought perhaps you had a config item I was missing that may have led to my problem but it doesn't seem so.

[2020-07-21 19:05] staffordp opened #427 "When using revokeAcccessToken() the token is not revoked"
I have posted on another thread with this issue but instead of continuing to hijack that topic, I am opening a new one with this.

Simply put, here is our code:

[code]
I watch the whole signin process and copy the accessToken.value to a text file.  I then watch as this flow happens (I dump the accessToken to console to ensure it's the same one).  After this call completes, I see the in the networ

[2020-07-22 03:21] SwamiKalagiri opened #428 "@okta/okta-auth-js/polyfill webpacking not working"
Getting `ModuleNotFoundError: Module not found: Error: Can't resolve 'core-js/fn/object/assign' in `node_modules/@okta/okta-auth-js/polyfill`

[2020-07-22 14:00] staffordp commented on #427
I noticed there was an update to the library to 3.20. I updated:
    "@okta/okta-auth-js": "^3.2.0",

However, it still doesn't resolve the issue.

[2020-07-22 16:42] andredigenova opened #429 "When using okta-react, the user is redirected to login on unsecured Routes when their session expires."
Behaviour:
If a user's session is expired and they navigate to a non-secure route, the user gets redirected to the Okta login page.

Expected behavior:
Since the route isn't a SecureRoute, the user should just be able to view the page without logging in.

I suspect something in withOktaAuth is causing the redirect on expired session. I use it on non-secure routes because I need access to the authS

[2020-07-22 17:06] staffordp opened #430 "AccessToken issued with a past expiresAt date"
Was just issued a new accessToken with the 3.2 library. I noticed it has an expiresAt date with the AccessToken. The date is numeric 1595440399, but when I convert to a time such as:

`console.log(1595440399).toUTCString())`

I get the following date: Mon, 19 Jan 1970 11:10:40 GMT

The transaction object coupled with the tokens has an expiresAt date as well, but this shows "2020-07-22T16:56:17.000

[2020-07-22 17:14] swiftone commented on #430
I think your example is missing some parts (as written your parens are unbalanced, console.log() returns undefined and a Number doesn't have .toUTCString(), but I can tackle your question anyway:

I believe you are running into a problem where traditional UNIX time is shown in seconds since the Epoch (Jan 1, 1970), but many languages are converting to MICROseconds since the Epoch.

JS Date() uses

[2020-07-22 17:38] staffordp commented on #430
Yes, thank you.

[2020-07-22 17:40] #430 closed

[2020-07-22 20:25] staffordp commented on #427
So is there no fix for this? Is there no way to currently sucessfully revoke a token with this library?

[2020-07-22 20:34] swiftone commented on #416
Internal ref: OKTA-314036

[2020-07-22 20:37] swiftone commented on #377
@jberube - yes, the goal of that ticket is to rely on .well-known for endpoints unless specifically overridden, for all flows

[2020-07-22 20:41] swiftone commented on #422
@E-Kuerschner - Good catch, the definitely looks wrong.  We'll fix and add tests.

Internal Ref:  OKTA-315806

[2020-07-22 20:45] swiftone commented on #424
Another potential issue is if their machines are notably off in time - the token won't expire in ~20-50ms, but if their local machine thinks the time is one time and the server thinks the time is tens of minutes or hours different, that could be an issue.

[2020-07-22 20:52] swiftone commented on #393
@staffordp - We've noticed issues where the browser might append/remove a trailing / on the url compared to the value stored in Okta.  If you have a redirect_uri that you think should be working, try adding versions both with and without a trailing slash to see if that clears anything up.

We're testing different browsers to see if we can get the exact symptoms down.  I'm not sure if this is relat

[2020-07-22 20:56] swiftone commented on #427
Can you expand on this a bit?  The accessToken itself is still an accessToken (A JSON file that is signed) Only if something checks the revocation list will it notice that the token should not longer be trusted, but if something looks only at the token itself the token appears fine.

Can you tell us what API call is saying the accessToken is fine?  Is this a call to your backend or to Okta?

[2020-07-22 21:07] swiftone commented on #429
@andredigenova - By current default, when a session expires we will attempt to login the user again (this has nothing to do with the secure, non-secure route, but you likely aren't seeing the impact until a re-render is performed).

Are you providing an override for the onSessionExpired() callback?   (https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#configuration-options ).  If

[2020-07-22 21:09] staffordp commented on #427
@swiftone We are currently using this library on our API to verify the token: https://www.npmjs.com/package/@okta/jwt-verifier

The code in the API that checks looks like this:

import { NextFunction, Response } from 'express';
const OktaVerifier = require('@okta/jwt-verifier');
import config from '../config';

[code]

[2020-07-22 21:10] andredigenova commented on #429
Ah thanks. I wasn't aware it was just a simple call to login on expiration. I'll implement a custom callback to detect if I'm on a SecureRoute or not.

[2020-07-22 21:10] #429 closed

[2020-07-22 22:27] aarongranick-okta commented on #428
@SwamiKalagiri I believe this issue is related to the specific version of `core-js` installed. It's very possibly that you have a newer version of core-js installed in your project. In newer versions, I believe it is `core-js/features/object/assign`. We will fix this in an upcoming release. In the meantime I think you should be able to work around this issue by using the prebuilt polyfill bundle w

[2020-07-23 08:42] AlbericTrancart commented on #424
We already had an issue with users having their time off but in this case we had an error "the JWT token was issued in the future". Are there any possible conditions when this error is not triggered but the token is still "expired"?

[2020-07-23 15:34] SwamiKalagiri commented on #428
I tried to use `@okta/okta-auth-js V3.2.0`  and `core-jsV3.6.5. let me try that workaround...Thank you @aarongranick-okta for your repsonse

[2020-07-23 20:50] chadmg opened #434 "tokenManager 'error' event not getting fired on expired token"
Hello, my team is experiencing an issue on Safari desktop browser only where the [tokenManager.on('error')](https://github.com/okta/okta-auth-js#tokenmanageronevent-callback-context) subscription is not receiving an `error` event when the current token has expired and a network request is made.

We are using version 2.11.0

This is working as expected on other browsers. Instead, in Safari we are s

[2020-07-27 11:55] staffordp commented on #393
@swiftone

Thanks for the reply.  I had originally read the documents wrong and didnt realize there was a section for **Logout Redirect URIs** which we did not have populated. Once we added the URIs there, the issue with redirecting to the Okta page went away.

[2020-07-28 13:29] staffordp commented on #427
I spoke with Okta support this morning and was able to confirm the token is being revoked.  The problem rests with the library we are using to verify the token; it is not checking for revocation.  Introspect would do that. As such, I am closing this.

[2020-07-28 13:29] #427 closed

[2020-07-28 13:32] staffordp commented on #393
@swiftone Was also able to validate via Okta support that the token is being revoked properly.  The issue is with our API library not checking for revocation.

[2020-07-28 17:22] swiftone commented on #418
@DarrenAllen - I'm not familiar with Capacitor so I can't offer much direct help.  Was support able to provide a direction?

[2020-07-28 17:34] swiftone commented on #417
Internal Ref: OKTA-317715

[2020-07-28 17:37] swiftone commented on #416
@jrwpatterson - Just want to confirm, did the latest version of okta-auth-js correct your issue?

[2020-07-28 17:53] swiftone commented on #424
@AlbericTrancart - Absent a reproduction we're guessing much like you are, but here are the guesses we have:

- the 403 means that you never get a valid token, so it's not an issue of token expiration.  It is possible the attempt to get the token is failing because the ephemeral PKCE values used to redeem the token are being replaced before the token exchange is complete.  We have some tickets to

[2020-07-28 18:24] swiftone commented on #434
@chadmg - Thanks for the report.  Can you clarify a few things?
  - are you saying there IS an error, but the error event isn't fired?
  - are you saying the error event DOES fire on other browsers, but not on Safari?

[2020-07-28 18:24] swiftone commented on #434
Internal ref: OKTA-317753

[2020-07-28 18:27] swiftone commented on #393
@Taras-R - We've identified a bug in the signOut method that will break revoke.  Fix incoming soon.

Internal ref: OKTA-315806

[2020-07-28 18:42] chadmg commented on #434
Yes, the error event should have been fired but it is not.

Yes, the error event is fired and received properly on Chrome, we are able to correctly log the user out and ask them to log back in. On Safari, no error event is ever fired.

Thanks @swiftone !

[2020-07-29 22:44] shuowu commented on #422
Link the fix PR here: https://github.com/okta/okta-auth-js/pull/436
Pending for release.

[2020-07-30 19:58] hicaro commented on #393
I was going through the same problem. I observed that within the `signOut` function it is trying to retrieve the `accessToken`
from the token manager using the property name `token`. This already might be the bug @swiftone has described.

https://github.com/okta/okta-auth-js/blob/208e3390bbbb61db3533f2ab5e421b94a2c7d614/packages/okta-auth-js/lib/browser/browser.js#L296

The work around for me was

[2020-07-30 20:18] swiftone commented on #393
@hicaro - nice workaround!   Yes, that was the bug (already fixed but not yet released here: https://github.com/okta/okta-auth-js/pull/436)

[2020-07-30 21:32] hicaro opened #439 "revokeAccessToken Basic Auth popup on Chrome"
Hi there, guys 👋 . I am having an issue when calling `revokeAccessToken` in Chrome in an edge situation.

If `/v1/revoke` is called with a token that has already been revoked in another window, the endpoint will return the 401 HTTP status, which is expected since the token no longer valid. However, as the request is using the `Basic` authorization header value, Chrome will display a "Sign In" popu

[2020-07-30 21:43] swiftone commented on #439
@hicaro - Thanks for the report!  This should not be happening, per the docs at https://developer.okta.com/docs/guides/revoke-tokens/overview/ - attempting to revoke a token that is already revoked should return a 200.

Can you check the Network tab of the Chrome DevTools and share any details (minus the tokens and any authorization info) about the request?  If you'd prefer to do so outside of thi

[2020-07-30 22:21] hicaro commented on #439
@swiftone I apologize for not including more details in the first time. Thank you for looking into it.

These are the request headers (I verified that the `Authorization: Basic ...` is the correct base64 representation generated by the package):

<img width="546" alt="Screen Shot 2020-07-30 at 3 15 10 PM" src="https://user-images.githubusercontent.com/1482851/88980114-d681e680-d277-11ea-93d1-e05bd

[2020-07-30 22:31] hicaro commented on #439
I also followed the package's code until [here](https://github.com/okta/okta-auth-js/blob/208e3390bbbb61db3533f2ab5e421b94a2c7d614/packages/okta-auth-js/lib/token.js#L26)

[2020-07-30 22:41] swiftone commented on #439
I haven't had a chance to test this theory, but based on the API docs I'm guessing this is not caused by the token already being revoked, but instead your session with the issuer domain being invalidated.

What is the sequence of steps involved?  Is the user being logged out of the issuer session before the second revoke call?

[2020-07-31 00:11] hicaro commented on #439
@swiftone this is the order of the calls:

[code]

But you are correct, since the other tab has successfully called both functions, the other tab would fail on the `revokeAccessToken` once the session was previously closed.

However, I thought that `revokeAccessToken` did not depend on the session itself. Is this a bug or it is a case that I should check for the session validity before trying to r

[2020-08-03 21:56] hicaro commented on #439
@swiftone have you had the chance to check on this issue?

[2020-08-04 13:03] StevenCountrymanCFA commented on #257
Bump!

We're experiencing the same issue on Safari as well.

1. We first check for an active session with the /me endpoint

1. Then we show the signin widget if the response is a 404 (if there is no session or if Safari blocks it).

1. The user then uses the signin widget to create a new Okta session and then we attempt to get a new token using the AuthJS library with "getWithPopup" and/or "getWit

[2020-08-04 18:09] swiftone commented on #257
@StevenCountrymanCFA - thanks for the report and the good description of your steps.  Let me break it down:

- Looks like you are handling the 404 for the /sessions/me correctly (For anyone else just coming to this, Safari is blocking third party cookies by default now, which means the /sessions/me endpoint is unavailable as it relies on a cookie set by the issuer domain)

- The Content-Security-P

[2020-08-04 18:10] swiftone commented on #439
I'm running some experiments today and tomorrow, time permitting - I hope to have an answer soon.

[2020-08-04 18:13] StevenCountrymanCFA commented on #257
@swiftone Thanks for the quick reply!

I was on 3.2.1 of the okta-auth-js library so I'm updating right now to try that out :D

Is there a specific version of the signin widget I need to be on as well? Or does the new version of the okta-auth-js library fix it no matter what?

[2020-08-04 18:16] swiftone commented on #257
You should not need to update the SIW to any specific version, this change is meant to address the incompatibility without any change there.

[2020-08-05 14:05] StevenCountrymanCFA commented on #257
@swiftone

Can confirm 3.2.2 does indeed fix the incompatibility with the signin widget :D It can now renew tokens from its own redirect AND tokens saved via the signin widget, which was something that didn't work before.

Thank you!

[2020-08-06 05:22] sandunes commented on #374
I'm on `okta-auth-js 3.2.1 (okta-react 3.0.3)` and I'm seeing this issue in both Chrome and Firefox(in both private and regular tabs).

[2020-08-06 18:44] swiftone commented on #374
@sandunes - The conflict should be (🤞 ) resolved in okta-auth-js 3.2.2.  I would recommend removing any .lock files and updating your okta-react to the recently released 3.0.4 and it should update okta-auth-js as well.

[2020-08-06 21:15] swiftone commented on #439
@hicaro - I've been unable to reproduce this case.  I can call `.revokeAccessToken(accessToken);` and follow with `.closeSession()`, and then can call `.revokeAccessToken(accessToken);` again without issue (getting a 200 response).  I've tried with and without calling tokenManager.get() in between (which will return undefined) and get a 200 response in both cases.

Something is definitely up thoug

[2020-08-07 03:22] sandunes commented on #374
Thanks for the feedback. We had to rollback to `3.1.1` which fixed the issue. Have not yet tested with 3.2.2. It's hard when it keeps breaking like this between minor versions.

[2020-08-07 22:28] swiftone commented on #374
@sandunes - We definitely regret that experience.  We intended no breaking changes in minor versions but it did happen, and it took a couple of patch versions before it was solidly identified.  As the author of that original change, I definitely feel the pain I've put devs like you through by underestimating the impact, and I know how frustrated I would be in your place.

3.2.2 should address the

[2020-08-21 05:26] ConderS opened #454 "Missing Properties in Initialized Auth Object [4.x]"
Currently when I try to initialize an OktaAuth instance with the AuthJS API, I get an instance that’s missing a lot of core properties like `token`. These properties are initialized fine when using the previous release (v3.2.3), but disappear when using 4.0.0.

I believe I’m initializing this correctly with the following configuration:
[code]
Afterwards, trying to do something like `authClient.get

[2020-08-24 19:16] swiftone commented on #454
@ConderS - What is the config you are using now?  How you're consuming okta-auth-js will impact how to make sure it uses the correct version.

[2020-08-24 19:24] swiftone commented on #371
@NivethaMano - I'm working on upgrading the documentation in this sprint.  A lot depends on what specifically you are doing that is breaking.  What methods are you calling that fail?  What are you trying to do with them?  Then I can see if we have a workaround beyond a custom domain.

[2020-08-24 22:16] chrismllr opened #455 "401 Client authentication failed: /token endpoint"
Using latest version `4.0.0`. After the login via the popup succeeds, the popup closes, and a subsequent POST is made to the /tokens endpoint, returning the following error:

[code]

Request (although the same issue happens with getWithRedirect)
[code]

Configuration used for initialization:
[code]

This is very possibly a configuration error on the Okta side, but I'm looking for any direction to

[2020-08-24 22:20] swiftone commented on #455
Hi @chrismllr - Thanks for the report, let me see if I can replicate this and get back to you.

[2020-08-24 23:23] swiftone commented on #455
@chrismllr - I couldn't replicate your issue with things configured correctly, but someone else (Thanks @aarongranick-okta !) noticed this error can happen if you're using a "Web app" (intended for a backend server) instead of a "SPA app" as the source of your client Id.

I suggest checking to see if that is happening and let us know if that helps.

One quick note: the `url` param is no longer use

[2020-08-25 07:06] ConderS commented on #454
@swiftone Gotcha. I included the config I used to initialize the `OktaAuth` instance above in my initial post, is that what you meant? I don't think I'm using any other configs besides that.

[2020-08-25 14:26] chrismllr commented on #455
Wonderful -- I'll attempt switching to SPA today and report back.

And noted on the url param. I'm upgrading from 2.13.0, so working through the minor differences 👍

[2020-08-25 14:35] shuowu commented on #454
@ConderS It mostly depends on how your bundler is configured. Also, the env will pick the server bundle by default if you are in node/test env. I saw it mostly happened if the app is doing SSR (server-side-rendering).
Here is how Webpack configure different bundles from a package( https://webpack.js.org/concepts/targets/ ), it can be similar idea if you are using other bundlers for your app.

[2020-08-25 15:48] chrismllr commented on #455
@swiftone That was it -- SPA did the trick 🎉

Might be helpful to add this into the "Need Help" section of the docs? Or some prerequisite setup -- unless this is covered somewhere else and I missed it!

Thanks again for the quick response, and for the assist @aarongranick-okta

[2020-08-25 15:48] #455 closed

[2020-08-25 16:02] chrismllr commented on #455
Not sure if its the correct place for the docs or if it seems useful, but took a stab at adding some troubleshooting docs:

https://github.com/okta/okta-auth-js/pull/456

[2020-08-29 23:29] bmeredith opened #458 "Unable to retrieve claims on an Access Token"
Hello!

I originally added a custom claim (e.g. `mycustomclaim`) to Id Token and was able to see and retrieve the custom claim after logging in using `authClient.token.parseFromUrl` or using the `TokenManager`, which had worked great.

I then needed to add a custom claim to the Access Token. Unfortunately it doesn't seem I'm able to retrieve that custom claim since the `claims` object that exists

[2020-08-31 15:48] shuowu commented on #458
@bmeredith Thanks for reporting the issue!
Internal Ref: OKTA-326437

[2020-09-01 14:31] rafakwolf opened #459 "Error: Cannot find module '@babel/runtime/helpers/interopRequireDefault'"
**Steps I did:**
Removed node_modules and installed all packages again.

**My environment:**
❯ node --version
v12.15.0

Also, I'm using typescript 4 as a transpiler only, so my source code files are javascript.

Here's the stack-trace:

[code]

[2020-09-01 14:55] shuowu commented on #459
@rafakwolf Does the following thread help? https://github.com/babel/babel/issues/9265

[2020-09-01 15:06] rafakwolf commented on #459
hey @shuowu ... unfortunately, it doesn't :|
I also tried to install  _@babel/runtime_  package ... then I faced the error:
[code]

just one more piece of info... I'm using the okta-auth-js in a nodejs backend

[2020-09-01 18:08] rafakwolf commented on #459
Hey @shuowu ... I was importing this function `import {urlParamsToObject} from '@okta/okta-auth-js/lib/oauthUtil';`
After changing it to something like that `import {urlParamsToObject} from '@okta/okta-auth-js/lib/oauthUtil';` and install `@babel/runtime` package, it seems to be working fine.

[2020-09-01 19:26] shuowu commented on #459
@rafakwolf Cool!
files under `/lib` is in Typescript, files under `/cjs` is CommonJS modules, which can be consumed by node directly.

The issue before you had may related to your ts config, which looks like did not transpile the `.ts` files from `auth-js` module (from node_modules) properly.

[2020-09-01 19:31] rafakwolf commented on #459
I see, yeah I'm not transpiling files from `auth-js`.
Btw, is it possible to access the function `urlParamsToObject` from the dist folder?

[2020-09-01 19:40] rafakwolf commented on #459
Also, why I need to install `@babel/runtime` package? Shouldn't that package be an `okta-authjs` dependency?

[2020-09-01 19:58] shuowu commented on #459
The functions in `oauthUtil` module are designed for the client-side to use (same for build files under /dist) but looks like you want to use it in your server-side code, which means the interface will not be well supported and documented if anything changed in the future.

The server bundle is exposed from https://github.com/okta/okta-auth-js/blob/master/package.json#L9, but it doesn't have urlPa

[2020-09-01 20:08] rafakwolf commented on #459
I've tried to uninstall it, but without installing it, the error I reported happens.

[2020-09-02 11:07] joao-fonseca-inmarsat opened #461 "Chrome: auto renewal in iframe not working (JSESSIONID needs samesite=none)"
I'm using okta-vue to build a SPA, and using an invisible iframe embedded in the page to try renewing the token without any visible redirects to the user. Basically, the iframe periodically calls getAccessToken() to ensure the auto renewal kicks-in, even if the user is not at his desk.

This works in Firefox, but in Chrome get "error.errorCode: login_required, error.description: The client specifi

[2020-09-02 15:53] shuowu commented on #461
@joao-fonseca-inmarsat [okta-auth-js](https://github.com/okta/okta-auth-js), the upstream SDK of `okta-vue`, has already implemented hidden iframe logic to renew tokens in the background. The [getAccessToken](https://github.com/okta/okta-vue#authgetaccesstoken) from `okta-vue` only returns the token from storage. I think the error you saw was thrown from `auth-js`, which means get a new token fail

[2020-09-02 20:43] chrismllr commented on #461
Ah, I just got linked here from https://github.com/okta/okta-oidc-js/issues/460. I am currently using okta-auth-js solo, this may be the error I'm running into.

I am able to see 1-2 successful renewals while sitting on the page -- this usually only happens when I go back to the page after having closed the tab for a couple hours.

[2020-09-03 13:55] federicopezzola opened #463 "Active Auto Renewal before token expiration"
Hi!
I was willing to update to version 4.0. And use the active autoRenewal of the token, but although the current token has not expired, the autorenewal tries to get the token with the session cookie instead of using the current token to renew it.
And this could be an issue for browsers that blocks 3rd party cookies...
Am i correct? I know i could workaround this handling the renewal myself... but

[2020-09-03 14:46] shuowu commented on #463
@federicopezzola Your understanding is correct. In the current implementation, the renewal process is actually to get a new token through a hidden iframe (session cookie) when the token is about to expire. And Yes, it has issues with browsers like safari.
We are working on a solution now to renew tokens with the refresh token, it's on our roadmap.

[2020-09-03 16:18] federicopezzola commented on #463
Right... I don't know why i thought you were refreshing the tokens without using the tokens, but i just realized i was wrong... Thank you very much for the answer @shuowu!

[2020-09-03 16:18] #463 closed

[2020-09-04 11:32] joao-fonseca-inmarsat commented on #461
The session is not expired. If I access the Okta dev-*.okta.com of my account on a separate tab, I can see the session is still there. When I list the cookies, I can see that JSESSIONID doesn't have "samesite=none", which Chrome requires when accessed from an iframe.

On my page, when the library tries to renew, I see that the cookies for dev-*.okta.com are empty - Chrome is just not allowing the

[2020-09-04 14:48] joao-fonseca-inmarsat commented on #461
I tried that and it didn't work. I think those settings define how the library stores its own cookies (if any) in the web page.

The cookies that are the source of this problem are the JSESSIONID and other cookies that the Okta SSO server at "dev-*.okta.com" returns when the user logs in. It's that server that needs to set "samesite=none" on the cookies. I didn't find any option to configure this

[2020-09-04 14:55] shuowu commented on #461
@joao-fonseca-inmarsat I am not aware of any auto renewal issue in chrome (with default cookies setting). Can you check your browser settings to see if it's blocking third party cookies or not?

[2020-09-04 15:14] joao-fonseca-inmarsat commented on #461
I'm using the default cookie settings from Chrome.

Note that this bug manifests itself from within an iframe; it's very simple to reproduce:

-Create a web page that requires a login from the user
-Configure okta-auth with expireEarlySeconds to a large value, so that you don't need to wait hours for a refresh
-In the main web page, add an iframe containing a second page
-The second page runs a sc

[2020-09-04 15:21] shuowu commented on #461
@joao-fonseca-inmarsat Then it's back to my first comment (https://github.com/okta/okta-auth-js/issues/461#issuecomment-685828554). Wondering why you want to wrap the getAcceesToken in an iframe. In auth-js 3.x, `getAccessToken` triggers a renew process (happen in iframe). In auth-js 4.x, `getAccessToken` is only getting token from the storage. By either way, I don't think you need to wrap the pro

[2020-09-04 16:50] joao-fonseca-inmarsat commented on #461
Yes, I'm using okta-vue 2.1.0/okta-auth-js 3.2.3.

I removed the iframe, and got the same result. Here's an abridged version of my code:

[code]

[2020-09-04 17:54] joao-fonseca-inmarsat commented on #461
With the above code, I sometimes get an "Invalid redirect URI" response. I think during the initial login, the redirect gets back with some URI parameters (e.g. "implicit/callback?code=xxxx"), which somehow is stored by okta-auth. If I don't do anything, the auto renewal sends the redirect uri as "implicit/callback?code=xxxx" and the server complains about it.

To work around the above, after logi

[2020-09-04 18:28] shuowu commented on #461
@joao-fonseca-inmarsat
The error, `The client specified not to prompt, but the user is not logged in`, only mean your app's session is expired when attempt to renew tokens, and the users need to re-login to get a new valid session.

Per the code, looks like the timer you add only triggers the get token process (renew process included), but didn't handle the failure case (the error you see). I woul

[2020-09-05 14:08] joao-fonseca-inmarsat commented on #461
As I said in a previous post, the app's session is not expired. I can confirm that by accessing the dev-*.okta.com web pages on a different tab. Also, I had only logged in 3 minutes before (I'm using expireEarlySeconds=3420 to speed up the renewal process).

Again: the session expired error is caused by Chrome and the iframe used by okta-auth; Chrome requires cross-domain cookies (in this case dev

[2020-09-08 13:54] CharlieDieter commented on #439
I have this issue calling signOut, and have been able to reproduce by calling revokeAccessToken as well. Any updates here?

[2020-09-08 15:46] hicaro commented on #439
@CharlieDieter thanks for always validating the issue I am encountering. Looking at their [code](https://github.com/okta/okta-auth-js/blob/92ed9c126cd1e89d988d16d19b8aab0ec64ad0da/lib/browser/browser.ts#L264), `signOut` internally calls `revokeAccessToken`. I kept following the call chain and his will ultimately result in the call of [revokeToken](https://github.com/okta/okta-auth-js/blob/92ed9c12

[2020-09-10 11:50] ghaschel opened #467 "Property 'user' does not exist on type 'AuthTransaction'"
After update 4.0 the property user is missing in the AuthTransaction interface but it is very much present when executing.

VS Code:
![image](https://user-images.githubusercontent.com/5878866/92725370-71271800-f342-11ea-9905-6e0a2a3afa9a.png)

Browser:
![image](https://user-images.githubusercontent.com/5878866/92725537-aa5f8800-f342-11ea-9d76-7a683240661b.png)

[2020-09-10 17:15] aarongranick-okta commented on #467
@ghaschel thanks for the report. We will get the type updated. Are you able to workaround the issue?

[2020-09-10 17:16] aarongranick-okta commented on #467
Internal ref: OKTA-328928

[2020-09-14 14:34] ghaschel commented on #467
Sorry for the late response. I am able to use it by converting it to any before.
[code]

But by making this I completely lose typing.

[2020-09-17 17:06] mabarbeau opened #474 "Allow "code" query parameter"
Our enterprise application uses several 3rd party OAuth providers besides Okta. During the authentication flow, the user grants access and is redirected back to our site with an [Authorization Code Grant](https://oauth.net/2/grant-types/authorization-code/) in the url.

These integrations were broken in the 3.2 release.

I tracked the breaking change down to this [line](https://github.com/okta/okt

[2020-09-17 22:18] sethen opened #475 "Unable to retrieve OAuth redirect params cookie"
Getting this error when trying to use the `OktaAuth` SDK in React.  Here is very basic sample of the code:

[code]

The redirect to the sign in page and the redirect uri are working fine.  It redirects properly and then throws this error after about 5 seconds:

[code]

Is this because I am using the developer account that I configured my app with?

I am using `@okta/okta-auth-js": "^4.0.0"`

I sea

[2020-09-17 22:41] sethen commented on #475
On an additional note, I tried to use the React package but ran into an issue:

1.  Using the `withOktaAuth` doesn't actually do anything for my component.  When I try to use `this.props.authService.login` I get an `undefined` error, hence why I started using this JS SDK.  I plan on making another issue as well.

[2020-09-18 17:14] swiftone commented on #475
Hi @sethen - As with the other issue, I suspect the problem is okta-auth-js 4.x with okta-react 3.x.  Can you see if using the latest 3.x okta-auth-js (which should be installed with okta-react) fixes your issue?

[2020-09-18 18:44] sethen commented on #475
Hello there,

Changed my dependencies to the following:

[code]

Logging in worked and so did the redirect -- still same error unfortunately.

[2020-09-21 14:07] #422 closed

[2020-09-21 14:08] #393 closed

[2020-09-21 16:25] shuowu commented on #475
@sethen Looks like you were running into login race condition issues. Right now oauthStateParams are store in shared storage (the cookies) for the client-side after login validation, but if more than one flows running concurrently, it would cause the first succeed flow to delete the state cookie then cause the following flows to throw errors.
This issue normally causes by running multiple AuthJs i

[2020-09-21 17:47] aarongranick-okta commented on #474
@mabarbeau This code was added to detect the case of beginning an auth flow while another auth flow is in progress, which can cause concurrency issues and other errors. Our assumption is that `code` exists in the URL because the app is in the callback stage of an OAuth flow. (This sounds like it is the case for your app). The final step of the Okta OAuth flow is to clean the URL so it does not con

[2020-09-21 18:40] mabarbeau commented on #474
@aarongranick-okta Thanks for the quick and detailed response.

This assumption isn't always true. There are numerous use cases where a "code" query parameter might be needed.

For example, let's say a library has a simple application to search for books. The user must login with Okta before being granted access to a search form. It might be useful to search for books by a particular code.

**Expe

[2020-09-22 17:29] shuowu commented on #474
@mabarbeau Thanks for reporting the issue! Before a proper fix is released, please try the workaround suggested by @aarongranick-okta

Internal Ref: OKTA-331632

[2020-09-24 06:06] estein9825 opened #485 "How pass client secret to token call for Web Application?"
I already have login working with okta-vue but I am trying to communicate to a separate server that is hooked into Okta Web with the client id and secret.  I can't figure out where to specify the secret in this particular configuration. I tried using the session token that i already have from successfully logging in along with the client ID for the web instance, but I keep getting a 401 error.  An

[2020-09-24 15:01] shuowu commented on #485
@estein9825 You can follow the [Integrating the resource server](https://github.com/okta/samples-js-vue/tree/master/okta-hosted-login#integrating-the-resource-server) sample to implement your SPA with a separate resource server.
Unfortunately, there is no python sample available right now, but you can follow the Java or Node code, it should be similar logic to be implemented.

[2020-09-25 14:47] td-edge opened #486 "signOut revokeAccessToken endpoint returns a 403"
I've noticed that when I call `signOut`, that the `revokeAccessToken` function returns a 403. I do have a cookie in my POST header. I just tried calling the revoke method directly and it produces the same result. I'm running in Chrome with an Angular/Ionic project.

[code]

I am testing this on localhost, but I have CORS enabled within my Okta account. I can't seem to get this to resolve no matter

[2020-09-25 15:01] shuowu commented on #486
@td-edge Thanks for reporting the issue! The same one has been tracked in https://github.com/okta/okta-oidc-js/issues/861

[2020-09-25 19:11] RandScullard opened #488 "AuthSdkError: Unable to retrieve OAuth redirect params from storage"
I am running the samples-js-react/custom-login sample. With version 3.2.3 of okta-auth-js installed (as a dependency of @okta/okta-react@3.0.7), this sample works fine. Today, I uninstalled and reinstalled @okta/okta-react@3.0.7 and as a result, my copy of okta-auth-js was upgraded from 3.2.3 to 3.2.4. Now when I log in, the login redirects to /implicit/callback, which displays the error: `AuthSdk

[2020-09-25 20:58] shuowu commented on #488
@RandScullard Thanks for reporting the issue! Looks like the `okta-signin-widget` that responsible for custom-login has not be updated with the latest patch. It stored redirect params in cookie, but okta-react was trying to get the params from sessionStorage.

Internal Ref: OKTA-332863

[2020-09-27 17:13] DeepBhat opened #490 "Property 'verify' does not exist on type 'AuthTransaction'"
`authClient.forgotPassword({
  username: 'dade.murphy@example.com',
  factorType: 'SMS',
})
.then(function(transaction) {
  return transaction.verify({
    passCode: '123456' // The passCode from the SMS or CALL
  });
})
.then(function(transaction) {
  if (transaction.status === 'SUCCESS') {
    authClient.session.setCookieAndRedirect(transaction.sessionToken);
  } else {
    throw 'We cannot hand

[2020-09-28 11:57] Joyeeta commented on #488
I am facing a similar issue. I am using "@okta/okta-signin-widget": "^3.8.2" and "@okta/okta-angular": "^2.0.0", which has a dependency "okta-auth-js": 3.2.4. I have specified storage as 'localStorage' while initializing "OktaAuth" ,
const athClient = new OktaAuth({
        url: 'XXX',
        redirectUri: redirectUri,
        responseMode: 'query',
        pkce: true,
        tokenManager: {

[2020-09-28 20:37] TaylorNoelJordan commented on #488
I'm having the same issue as @Joyeeta and would love some insight.

[2020-09-28 23:33] garrettmac opened #493 "This SDK way over complicated."
All of the multiple function calls, session checking, token passing should be baked in. All I should have to worry about a login and logout function with the config for all the rest.

[2020-09-29 00:35] aarongranick-okta commented on #490
@DeepBhat Thanks for the submission. Unfortunately the `AuthTransaction` object is not well documented. We are trying to improve this. The methods on the object will vary depending on the current state of the transaction. Where in the documents is it indicated that the object has a `verify` method?

[2020-09-29 00:37] aarongranick-okta commented on #488
@TaylorNoelJordan We have identified the flaw and rae currently testing a fix for this issue.

[2020-09-29 00:49] DeepBhat commented on #490
![image](https://user-images.githubusercontent.com/33815709/94499893-7817ac80-01c3-11eb-9e57-ad9cba111543.png)
This code in the [forgot password](https://github.com/okta/okta-auth-js#forgotpasswordoptions) section uses `.verify()` method on `transaction`, which is of type `AuthTransaction`.

Is there a workaround for me to use meanwhile?

[2020-09-29 16:13] robertjd commented on #493
HI @garrettmac , thanks for the feedback.  This library does have a lot of use cases it supports, and it's currently biased towards nuanced OIDC configuration.  Are you trying to build a custom authentication flow with the library?

[2020-09-29 17:36] aarongranick-okta commented on #488
@TaylorNoelJordan We have released a new version, 3.2.5, which should correct this flaw

[2020-09-29 17:38] aarongranick-okta commented on #490
@DeepBhat I believe this example assumes you have SMS enabled as an authentication factor. Have you enabled SMS under MFA settings in the Okta Admin, and added it to the Authentication Policy? There are more details here: https://developer.okta.com/docs/reference/api/authn/#forgot-password where it notes:

[code]

One way to test everything is enabled is to try doing the "forgot password" flow fro

[2020-09-29 17:54] DeepBhat commented on #490
@aarongranick-okta Oh I changed the authentication to Email authentication, but I was following this example otherwise.

[2020-09-29 18:51] TaylorNoelJordan commented on #488
@aarongranick-okta I'm only seeing version 4.0.2 - where would I find 3.2.5? https://www.npmjs.com/package/@okta/okta-auth-js

[2020-09-29 21:06] aarongranick-okta commented on #488
If you click "versions" you can see all published versions. We released 3.2.5 and 4.0.2 yesterday. okta-react wants version 3.2 so 3.2.5 should install automatically on a fresh install

[2020-09-29 22:56] TaylorNoelJordan commented on #488
@aarongranick-okta thank you! Which version is required for okta/okta-angular?

[2020-09-30 16:32] rMethre commented on #227
Sorry, I have 2.13.2 version running on production. Does retiring mean stop working or it will just stop supporting from 01-oct-2020?

It would be great if you can help me here

[2020-09-30 17:22] aarongranick-okta commented on #227
@rMethre It will not stop working and we will not remove it from NPM. But we will not be releasing any updates or fixes on version 2. We do recommend updating to a newer version to take advantage of support for newer features, such as PKCE authentication or Typescript support.

[2020-09-30 18:19] aarongranick-okta commented on #474
@mabarbeau Looking at the implementation of `isLoginRedirect`: https://github.com/okta/okta-auth-js/blob/3.2/packages/okta-auth-js/lib/oauthUtil.js#L246 you could set `responseMode` to "fragment". this would cause the okta library to look for the code in the hash fragment instead of the query. https://github.com/okta/okta-auth-js#responsemode-1

[2020-09-30 20:36] phylim opened #496 "v3.2.5 doesn't work with @okta/okta-react for logging out"
![Screen Shot 2020-09-30 at 4 33 10 PM](https://user-images.githubusercontent.com/42676669/94736700-a53a9b00-033a-11eb-9805-dd0b8324f35b.png)

I'm getting this above error when trying out the okta-hosted-login from @okta/samples-js-react project.
Login works ok, but, logout seems to hit /revoke url which gives 403.
I'm able to logout successfully if I downgrade the @okta/okta-auth-js dependency to

[2020-09-30 20:56] phylim commented on #496
I did some more digging. It worked ok until @okta/okta-auth-js@3.2.0. The error started at @3.2.2

[2020-09-30 21:16] aarongranick-okta commented on #496
@phylim Thank you for the submission! We will investigate this issue. Internal ref: OKTA-334240

[2020-09-30 21:55] aarongranick-okta commented on #496
@phylim If this is causing problems for your app, a suggested workaround is to pass `revokeAccessToken` with a `false` value to `signOut`:
[code]
https://github.com/okta/okta-auth-js#signout

[2020-09-30 22:56] phylim commented on #496
Thanks. that got rid of the error in oktapreview environment.
I tried with a separate okta dev account. It was able to revoke access token successfully. Is there any setting I need to change  to revokeAccessToken in oktapreview?

[2020-10-01 00:28] isemona commented on #488
@TaylorNoelJordan 3.2.5 as well @aarongranick-okta recommends reinstalling node_modules again.

[2020-10-01 00:40] isemona commented on #488
@TaylorNoelJordan version 3.2.5 @aarongranick-okta recommends reinstalling node_modules again

[2020-10-01 02:56] robertjd commented on #496
Why is this failing? Is it because of the 3rd party cookie issues?

[2020-10-01 14:00] phylim commented on #496
I am using this sample project - https://github.com/okta/samples-js-react/tree/master/okta-hosted-login
So, I don't think it's 3rd party cookie issue. It fails if I am using corporate oktapreview instance. But, it works ok if I'm on a developer account I signed up myself.

[2020-10-01 20:33] aarongranick-okta commented on #490
@DeepBhat With email authentication the flow would be a little different (probably caling verify is the end of the flow until the user clicks a link in the email which will open a new app instance). Were you able to get your app working?

[2020-10-01 21:33] jimfang opened #497 "Latest version (v3.0.7) on npmjs is out-of-data comparing to this repo (v4.0.2)"
Some issues are found when using latest npmjs v3.0.7.
Not sure how long it will be updated. Thanks.

[2020-10-01 22:04] aarongranick-okta commented on #497
@jimfang I am seeing the latest version as `4.0.2` from both `npm info @okta/okta-auth-js` and on https://www.npmjs.com/package/@okta/okta-auth-js

Version 3.0.7 is very old. Where are you seeing that as the latest version?

[2020-10-02 13:36] jimfang commented on #497
Thanks @aarongranick-okta
https://www.npmjs.com/package/@okta/okta-react

I use this packet as it is shown in okta sample-js project.
https://github.com/okta/samples-js-react

Would anyone from okta team to upgrade the official example project? Thanks.

[2020-10-02 13:38] jimfang commented on #497
Is okta-react replaced with okta-auth-js?  all the interfaces are compatible?

[2020-10-02 17:58] aarongranick-okta commented on #497
@jimfang `samples-js-react` was built to show usage of the `okta-react` SDK, which is designed to help developers quickly develop a working React/Okta integration. `okta-react` uses `okta-auth-js` internally and adds some conveniences and react-specific behavior. We are currently working on unifying the interface between these SDKs, but at this time okta-react is wrapping okta-auth-js in another l

[2020-10-05 03:26] jimfang commented on #497
@aarongranick-okta  Thanks very much. I saw "@okta/okta-auth-js": "^3.2.3" is used in okta-react. I may use okta-auth-js straight + some code from okta-react.

Currently, everything in my company use okta to do SSO. My react app follow the same practice. However, the integration stuck. I use okta-react SDK, Set SecureRoute, all oidc configuration. But it shows auth status is pending. All the rest

[2020-10-05 23:57] swiftone commented on #497
@jimfang - You have a few separate questions, so let me try to answer them in turn:

Does your app using okta-react have `<Security>` as a container around your routes?  Without `<Security>` an an ancestor, nothing else in okta-react will update.

If you have questions on usage and use-cases, I suggest you reach out to our support team at developers@okta.com - they can help dive into details about

[2020-10-06 05:57] jimfang commented on #497
@swiftone Thanks very much. Appreciate.
I use okta official `samples-js-react` to do the testing. Still have problem, i am writing an email to developers@okta.com as well as post a question in okta community forum.

Hope i can get through.

[2020-10-06 15:33] chrismllr opened #502 "Recent Notice: Auto-blocking third party cookies via "Enhanced Tracking Protection""
Received an email from Okta Support today, regarding the introduction of features like "Intelligent Tracking Protection" and "Enhanced Tracking Protection" in most modern browsers (Eg Firefox, Safari)

I noticed the documentation for this addon, the section on [third party cookies](https://github.com/okta/okta-auth-js#third-party-cookies) includes a note on `getWithoutPrompt` and `renew` being met

[2020-10-06 16:05] swiftone commented on #502
Hey @chrismllr, thanks for the questions.

I'm afraid I can't give you specific timelines as a matter of policy, but I can assure there is very active work on this issue.

In terms of how it impacts the library, you can see where we're working on increasing the specific information here: https://github.com/okta/okta-auth-js/pull/460.  The guidance there is in addition to, not in place of, broader

[2020-10-06 16:05] #502 closed

[2020-10-06 19:12] DeepBhat commented on #490
Oh I am sorry, the email authentication method did not require a verification code. Thank you for your help, I will close this issue.

[2020-10-06 19:12] #490 closed

[2020-10-08 03:57] ra-hulk commented on #488
Hi @aarongranick-okta, I am still getting this error. Please see specifics:

- Browser - Microsoft Edge 44.17763.831.0 (Microsoft EdgeHTML 18.17763). I am also using `text-encoding` npm package for polyfills, (as specified in Okta documentation [here](https://github.com/okta/okta-auth-js#pkce-oauth-20-flow).
- Create react App with `@okta/okta-react@3.0.8`, which installs `@okta/okta-auth-js@3.2.5

[2020-10-09 11:58] IraErshova commented on #488
Hi! I have the same issue. I'm using:
[code]
also I've tried to use latest versions:
[code]
I use widget and OktaCallbackComponent as redirect component. Get these error:
`AuthSdkError: Unable to retrieve OAuth redirect params from storage`

[2020-10-09 14:20] IraErshova commented on #488
I've found a workaround for my Angular app with okta widget. Instead of using OktaCallbackComponent I use my own component.  I added this code on initialization:
[code]

And everything works fine.

After debugging okta functionality I found out that it looks for **REDIRECT_OAUTH_PARAMS_NAME** in **sessionStorage** but this property is set up in **cookie**. I hope this problem will be fixed in futu

[2020-10-09 16:54] TaylorNoelJordan commented on #488
@IraErshova where does 'cookieService' come from?

[2020-10-10 06:06] IraErshova commented on #488
@TaylorNoelJordan It's just my service to work with cookie - you can replace it with your own or use **document.cookie** directly

[2020-10-11 00:07] sjhanson commented on #371
I'm also running into issues with the tokenManager.renew('accessToken') call.  I think we can work around the rest of the limitations if we had a way to refresh our token.  I tested on Safari v14.0 and it wouldn't work until I unchecked "Prevent cross-site tracking".  Any ideas?

[2020-10-12 16:57] aarongranick-okta commented on #371
@sjhanson We are currently working on a solution for renewing tokens that does not use cookies. This new solution is scheduled for release later this year. Unfortunately, the current implementation does require cookies and will fail if 3rd party cookies are blocked (such as "Prevent cross-site tracking" feature). Currently, token renew will fail on these browsers. Users must re-enter credentials i

[2020-10-12 20:39] mraible opened #505 "token.parseFromUrl(options) docs links to a 404"
`token.parseFromUrl(options)`

Parses the authorization code, access, or ID Tokens from the URL after a successful authentication redirect. Values are parsed from either the search query or hash fragment portion of the URL depending on the responseMode.

If an authorization code is present, it will be exchanged for token(s) by posting to the tokenUrl endpoint.

The ID token will be verified and va

[2020-10-12 21:35] swiftone commented on #505
@mraible - Thanks for the ticket, we'll get that cleaned up.

This points to the code, so our options for a direct link will either easily break again, or we point to a possibly-out-of-date code snippet.  For anyone looking, here is a (currently correct) version of the link: https://github.com/okta/okta-auth-js/blob/master/lib/token.ts#L112 (the `verifyToken` function)

When we fix this, though, w

[2020-10-14 09:37] johanerikssontrustly opened #507 "Can't add or get idToken when using cookie storage for token manager"
Started updating from 2.x.x to 4.x.x and immediately ran into some problems with storing the idToken returned from the redirect callback while using `cookie` storage.

Given the following code
[code]
I get this output

[code]

Both the accessToken and idToken are successfully retrieved from parseFromUrl(). After that, I'm able to retrieve the accessToken as expected, but the idToken is nowhere to

[2020-10-14 14:33] shuowu commented on #507
@johanerikssontrustly The issue is caused by cookie's size limitation, it has been fixed since v3.1.4 (https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#314).

Also, `token.value` is a redundant field, feel free to remove it to reduce the token's size.

[2020-10-19 10:57] johanerikssontrustly commented on #507
I still encountered the issue with v4.0.2. However, I did resolve it by removing the `value` property before storing tokens.

[2020-10-19 16:46] shuowu commented on #64
Typescript is supported in `okta-auth-js` since v4.0. Please see the [migration guide](https://github.com/okta/okta-auth-js#from-3x-to-4x) to upgrade.

[2020-10-19 16:46] #64 closed

[2020-10-19 17:12] shuowu commented on #62
Related issue: https://github.com/okta/okta-signin-widget/issues/1464

[2020-10-19 17:54] aarongranick-okta commented on #358
@ddelapasse2 We now provide a polyfill for compatibility with IE 11+. It is available either through our NPM module or via CDN to be included as a script tag. See here for more information: https://github.com/okta/okta-auth-js#browser-compatibility--polyfill

[2020-10-19 19:16] #505 closed

[2020-10-19 22:46] aarongranick-okta commented on #507
@johanerikssontrustly Thanks for the feedback. We will remove `token.value` in an upcoming version. Internal ref: OKTA-338251

[2020-10-19 22:53] aarongranick-okta commented on #62
Internal ref: OKTA-338466

[2020-10-20 19:05] DesigningStudios opened #516 "IE11: AuthSdkError: Unable to parse OAuth flow response error"
We are trying to implement in Okta-Auth in Angular5 project, with JS approach (not via npm import or require) and we ran in to below issue, specific to IE11 browser and the version number if it helps: 11.726.15063.0

1. Download below js files at ngAfterViewInit
https://global.oktacdn.com/okta-auth-js/4.0.2/okta-auth-js.polyfill.js
https://global.oktacdn.com/okta-auth-js/4.0.2/okta-auth-js.min.js

[2020-10-20 20:57] aarongranick-okta commented on #516
@DesigningStudios I notice that your config is specifying `pkce: false` and also `responseType: code` in the call to `getWithPopup`. Is the clientId you are using a `web` or `SPA` type? (It looks like a "web" type. This is probably not the cause of your error, but typically angular applications use a `SPA` type and perform all logic client-side).

I think the source of the error may have to do wit

[2020-10-20 22:18] DesigningStudios commented on #516
@aarongranick-okta clientId is a "web" type. I tried loading JS files at "index.html" instead of component level, but problem remains same.

[2020-10-20 22:32] aarongranick-okta commented on #516
@DesigningStudios My next guess is that it may be related to the "document mode". From our testing we have found that IE11 will not work if it is using an older document mode, even with the polyfill. If you are able to open the developer tools in IE, can you see what document mode it has selected for the page? This page may be useful for reference: https://docs.microsoft.com/en-us/internet-explore

[2020-10-21 15:15] DesigningStudios commented on #516
@aarongranick-okta For the IE11, I am using "document mode" is <!DOCTYPE html> which is as defined in "index.html" in our SPA Angular project.

[2020-10-21 19:33] aarongranick-okta commented on #516
@DesigningStudios We will investigate this issue and try to reproduce using the internal test app included in `okta-auth-js`: https://github.com/okta/okta-auth-js/tree/master/test/app It may be several days before we are able to conclude our investigation, in the meantime you may also find it useful to try your configuration in the test app.  Internal ref: OKTA-338991

[2020-10-23 13:14] DavidLozzi opened #521 "Custom Storage setItem loops"
We have a custom setItem for our tokenManager. We are adding a little bit of code in there to also set a unique id to our cookies, we need this unique id to pair with our access token.  We notice that our unique id is changing in the cookie every second, we also see in the network tab a request to `authorize?client_id=xxx` which seems to correspond to our cookie changing. Is the library looping on

[2020-10-23 18:49] aarongranick-okta commented on #521
@DavidLozzi Are you using the `expiresEarlySeconds` option?

[2020-10-23 19:20] DavidLozzi commented on #488
I'm getting the same issues, seems more prevalent since we moved to a custom tokenManager for saving to cookies, and almost always happens in IE11 (yuck I know).

Looking at this library's code, however, it appears unrelated to where we store the tokens. It [sets](https://github.com/okta/okta-auth-js/blob/e70b8c0b1af1823330240a20c07e052f4918e0d1/lib/token.ts#L663) the `REDIRECT_OAUTH_PARAMS_NAME`

[2020-10-23 19:42] aarongranick-okta commented on #488
@DavidLozzi The `REDIRECT_OAUTH_PARAMS_NAME` should be unrelated to anything involving the token manager. We have reports that IE11, in certain modes, will clear session storage when doing a redirect. However it should be able to fallback to using cookies.  Make sure that you are using the latest version of `okta-auth-js` as we have released some fixes for this logic. If you are using an SDK like

[2020-10-23 19:43] DavidLozzi commented on #488
@aarongranick-okta agreed, I thought it was related but determined it's unrelated. We just deployed the latest from 3.0.4 to 3.0.8 and am now seeing these issues. Our deployment servers clear node_modules every build, so we're using all the latest. We're now rolling back to .4 due to this issue.

See my proposed code above, wouldn't something like that work better, try one and then try the next in

[2020-10-23 20:14] DavidLozzi commented on #488
@aarongranick-okta am I reading the [oidc repo right](https://github.com/okta/okta-oidc-js/blob/01a2fe3caf7f2ac173057b1e315717603f3d1e05/packages/okta-react/package.json#L37), is the react library using `"@okta/okta-auth-js": "^3.2.3",`? It looks like `okta-auth-js` is on v4+ now. Are you assuming react is using the latest version?

[2020-10-23 22:06] aarongranick-okta commented on #488
@DavidLozzi We have not released a new version of `okta-react` against `okta-auth-js@4` yet, but it is very close to release.

The logic for 3.2 is here: https://github.com/okta/okta-auth-js/blob/3.2/packages/okta-auth-js/lib/token.js#L621

We also have a PR ready for 3.2 which may fix this issue: https://github.com/okta/okta-auth-js/pull/517/files#diff-6d41d03b58c740b8c9f6d7c1ba363f4c6352f0b653c9

[2020-10-26 12:25] DavidLozzi commented on #521
YYyyup, that'll do it. Thanks!

[2020-10-26 12:25] #521 closed

[2020-10-28 12:02] DavidLozzi commented on #488
@aarongranick-okta thanks for the details, when do we think the PR for 3.2 will be ready for consumption? That fix looks promising!

[2020-10-29 07:49] aarongranick-okta commented on #488
@DavidLozzi We have released version 3.2.6 and 4.0.3 which contain the fix.

[2020-10-29 23:46] ryanhachtel opened #530 "Mismatch between `verifyRecoveryToken` documentation and type definition"
The [documentation](https://github.com/okta/okta-auth-js#verifyrecoverytokenoptions) for `verifyRecoveryToken` details the option parameter as `{recoveryToken: '00xdqXOE5qDZX8-PBR1bYv8AESqIFinDy3yul01tyh'}` but the type definition for this function is `VerifyRecoveryTokenOptions` which is defined as:
[code]
Image of what I see in my editor:
![image](https://user-images.githubusercontent.com/560023

[2020-10-30 12:55] denysoblohin-okta commented on #516
@DesigningStudios
Hi. Let me help you with this issue. I have several questions:

1. Does the browser ask you for permission to open a popup window? If yes, do you allow it once or permanently? Does the page reload when you allow permissions?
2. Press F12 and in developer console type `document.documentMode`. Will it return `11` as on the screenshot?
![VirtualBox_my win10_30_10_2020_14_28_19](http

[2020-10-30 19:46] swiftone commented on #530
@ryanhachtel - Thanks for the report.  You are correct, we'll be pushing out a fix.  If you need help with a work-around in the meantime, please let us know.

[2020-11-02 03:40] td-edge opened #532 "Auto Renew with Session Token not Respecting Session Timeout"
I am running an Angular SPA that is using the getWithoutPrompt to log in to our app. I have autoRenew set to true. In okta, we have configured very short access_token times (5 mins) to keep the tokens fresh. I have set the application re-authentication sign-on policy in Okta to 12 hours, and the overarching Authentication sign-on to the same time. My app does not seem to be respecting the session

[2020-11-02 04:30] td-edge commented on #532
This appeared to be a setting issue - for future reference, you need to make the application level MFA sign-on policy "once per session". I had it set to "Every sign on".

[2020-11-02 04:30] #532 closed

[2020-11-02 19:03] ryanhachtel commented on #530
@swiftone Great, thanks! What is the correct usage?

[2020-11-03 00:57] eatplaysleep commented on #417
Stumbled across this issue today in our own testing but using PKCE. Once we changed the issuer in the configuration to match the `iss` expected in the JWT (which is different from the 'issuer' set in the `authorizeUrl`, worked just fine.

Understandable why the SDK is doing this check, but somewhat annoying.

[2020-11-03 13:14] DavidLozzi commented on #488
@aarongranick-okta is this included in the React library as well? I see that's still on 3.0.8

[2020-11-03 13:21] shuowu commented on #488
@DavidLozzi It's patch fix for `okta-auth-js`. A brand new installation of `node_modules` should use the `@okta/okta-auth-js@3.2.6` in `okta-react`.

[2020-11-03 13:50] shuowu commented on #530
@ryanhachtel Based on  [recovery transaction](https://developer.okta.com/docs/reference/api/authn/#verify-recovery-token), the readme should have the correct information.

Internal Ref: OKTA-343152

[2020-11-03 17:48] volodymyrmakarchuk-okta commented on #496
@phyolim We tried okta-hosted-login and okta-custom-login and in both cases, it worked correctly, also we tried some other platforms, and we were not able to reproduce this bug by using 3.2.5 (in 3.2.2 I was able to catch this bug in electron up but after updating to 3.2.5 that wasn't bothering me anymore), is that bug still rising in your case?

[2020-11-03 20:12] phyolim commented on #496
I still get the same error. It's 403 response from default/v1/revoke endpoint. It only happens when I use enterprise okta auth server. I don't think it has anything to do with this okta-auth-js library. Please close if that's accurate.

[2020-11-03 21:18] shuowu commented on #496
@phyolim The 403 response might related some flaw with XSRF protection from the backend. Meanwhile, you can use the suggested workaround https://github.com/okta/okta-auth-js/issues/496#issuecomment-701667805 to bypass the token revoke (it still removes tokens from the storage).

Internal Ref: OKTA-326922

[2020-11-04 07:28] estorski commented on #488
Seems like the issue is still present with `@ukta/ukta-auth-js@3.2.6`, at least I was unable to make it work. Does anybody have it fixed?

[2020-11-04 14:41] shuowu commented on #488
@estorski Can you share simple reproduction steps and the browser env?

[2020-11-04 15:19] estorski commented on #488
@shuowu sure thing.

**Browser:** Internet Explorer 11.1082.18362.0, update version 11.0.210
**Libs:** `"@okta/okta-auth-js": "3.2.6"`, `"@okta/okta-react": "3.0.8"`
**Repro steps:**
* use PKCE auth flow with OKTA-hosted login page
* try to access protected resource
* get redirected to the login page
* put the creds in place, submit them and get them successfully validated
* get redirected back to

[2020-11-04 17:49] shuowu commented on #488
@estorski As the new `okta-auth-js@3.2.6` patch handles `redirect params` in both cookie and sessionStorage, it should be able to find the params after redirection.

I would suggest clearing your `node_modules`, lock file, and npm cache, then try a re-install the modules.

If the issue still persists after reinstallation, please reach out to our support team (developers@okta.com) for better inform

[2020-11-04 23:19] ryanhachtel commented on #530
@shuowu Thank you!

[2020-11-05 14:39] kvbutler commented on #459
Guessing this package is not compatible with nodejs?

[2020-11-05 14:51] shuowu commented on #459
@kvbutler `@okta/okta-auth-js` exposes server bundle for authN usage. The use case for `@okta/okta-sdk-nodejs` is to access OKTA's management API endpoints.

[2020-11-05 15:01] kvbutler commented on #459
@shuowu thanks for the quick reply 👍

I just realized that after reading through the @okta/okta-sdk-nodejs documentation, my use case is I need to fetch an id token for an e2e suite before any tests run.

I'm going to use the Resource Owner Password Flow now and make http requests (for the token) manually as is mentioned in the documentation https://developer.okta.com/docs/guides/implement-passwor

[2020-11-05 17:09] sdenardi opened #539 "MFA Typescript Definitions"
Hi there, I've been able to successfully implement the MFA enroll/verify and required/challenge workflows into our Typescript project. However, it seems like the Typescript definitions are incomplete for the various fields and methods used for MFA operations. The ones I'm specifically getting errors where they do not exist (despite existing in the documentation and working fine in our project) are

[2020-11-05 18:05] shuowu commented on #539
@sdenardi Thanks for reporting the issue! Unfortunately, I am not aware of any documentation defines the types. We will add the missing types in the near future.

Internal Ref: OKTA-343852

[2020-11-05 18:10] DavidLozzi commented on #488
@shuowu i just ran through it all, confirmed package-lock has the latest:

[code]

Our build process `rm -rf node_modules` and `npm cache --force clean` then does `npm install`.

[2020-11-05 18:43] DavidLozzi commented on #488
in addition, it does work if we just try it again, every time. When we get the error, I can jump back to the URL we wanted, and it redirects to implicit/callback and lands me back to the appropriate page. Not sure how the same code can work once and not the second time.

We also have added a hack workaround that if we get this specific error, we clear all okta tokens from the cookie, and retry the

[2020-11-05 19:06] shuowu commented on #488
@DavidLozzi I tried to repro the issue with [okta react sample apps](https://github.com/okta/samples-js-react). But both `okta-hosted-signIn` and `custom-signIn` work for me with the exact versions installed (@okta/okta-react@3.0.8 and @okta/okta-auth-js@3.2.6). I assume it might be related to some storage logic in your app.

You can try to debug the cookie and sessionStorage status with sourcemap

[2020-11-05 19:42] DavidLozzi commented on #488
@shuowu what storage logic might be in my app that could mess with this? We are using a custom token manager, with a custom setter/getter using cookies. It was shared earlier that this wouldn't be related to that. Otherwise, we don't do much else in here, unsure what to look for specifically.

Is there some documentation on how to debug this?

[2020-11-05 20:31] aarongranick-okta commented on #488
@DavidLozzi All of our SDKs include external sourcemaps. If you are bundling with webpack, add the `source-map-loader` plugin: https://webpack.js.org/loaders/source-map-loader/ this will make the original source available for debugging in the browser. It sounds like from what you describe that there may be a concurrency issue or race condition - maybe there are multiple calls competing. The OAUTH

[2020-11-05 20:47] sdenardi commented on #539
@shuowu Thanks for the reply.

Out of curiosity, where are those functions and fields defined in this repository? I can see the test fixtures for them, but not the definitions themselves.

[2020-11-05 21:49] shuowu commented on #539
@sdenardi Those are functions generated from transaction response. You can check [tx/AuthTransaction.ts](https://github.com/okta/okta-auth-js/blob/master/lib/tx/AuthTransaction.ts) for more details.

[2020-11-05 23:05] sdenardi commented on #539
Ahh I didn't know they were generated dynamically depending on the response. Makes sense why they aren't in the Typescript definitions currently getting shipped. Thanks again for your help.

[2020-11-06 22:11] DesigningStudios commented on #516
@denysoblohin-okta Here are the answers to your Q's
1. Browser did not ask for permission.
2. Returned 11 when I executed.
3. After manually closing popup.
4. Other versions of IE we tried (11.1082.18362.0)

[2020-11-09 23:18] denysoblohin-okta commented on #516
@DesigningStudios
Can you please try to use test app?
Open https://okta-auth-js-test.herokuapp.com/
Click "Login using POPUP"
User: test@okta.com
Password: Passw0rd

I wasn't able to reproduce the issue with this test app on IE11, but maybe you have a bit different setup/internet options.

If you don't have issue with test app, can you please share the part of your project responsible for auth?

[2020-11-11 18:45] ipxat opened #545 "Unable to get User Information in Vuejs"
I am unable to get User Information like name, email, profile details from auth-js, i think that code is in Typescript, do you have any working example in vuejs/javascript with user profile

[2020-11-12 19:12] aarongranick-okta commented on #545
To receive username and email you should add "email" and "profile" to the list of scopes, as shown here: https://github.com/okta/samples-js-vue/blob/master/okta-hosted-login/src/config.js#L8

The values will be available as properties of the "claims" object on the ID token: https://github.com/okta/samples-js-vue/blob/master/okta-hosted-login/src/components/Home.vue#L35

You can also call `getUser`

[2020-11-13 19:37] DesigningStudios commented on #516
@denysoblohin-okta testApp modal got closed after sign in success but as soon I replace OKTA configurations with our site it did not close.

At getWithPopup we are sending idp and responseType: 'code' along with "scopes" that's the only difference from originally shared code, on how we are initializing OktaAuth.

[2020-11-14 15:02] estorski commented on #488
If there's anyone else interested in this, I put here how I eventually resolved all of the above.

1) the fix in `3.2.6` works indeed, but it works ONLY for non-localhost domain name address (cookies are not persisting for `localhost`, the same as session storage, so the fix does nothing in such case, refer to f.e. [this link](https://github.com/js-cookie/js-cookie/issues/486) for details);
2) to

[2020-11-16 18:31] denysoblohin-okta commented on #516
@DesigningStudios What idp are you using?

[2020-11-19 02:23] ilyakam opened #547 "What's the okta-auth-js way of authenticating with an activation token?"
I am in the process of refactoring the application from raw API calls to `"https://${yourOktaDomain}/api/v1/authn"` to using this library. One of the features that the `/authn` API provides is the ability to authenticate with an activation token, as seen in the Authentication API docs » Authentication Operations » Primary Authentication » …with activation token ([direct link](https://developer.okt

[2020-11-19 10:13] oleksandrpravosudko-okta commented on #547
Thanks for the submission @ilyakam. This is not documented(and not recommended for Prod use), but you might be able to pass the activationToken via `token` property, for example: `oktaAuthInstance.signInWithCredentials({token: activationToken})`. This is being done under the hood by the [sign-in-widget](https://developer.okta.com/code/javascript/okta_sign-in_widget/).

adding this to triage list
I

[2020-11-20 17:44] DavidLozzi commented on #488
@aarongranick-okta we're seeing this error on almost every log in now. From the code below, near the end, we're seeing the error reported by line `console.error('OKTA error 002b - redirecting to', originalUrl);` We've added error handling so when it happens we just send the user to their original url, since the access token does get set as expected. The okta libraries/code only runs once from what

[2020-11-21 00:39] aarongranick-okta commented on #428
internal ref: OKTA-347950

[2020-11-23 13:29] denysoblohin-okta commented on #516
@DesigningStudios Could you please reach out to our support team at developers@okta.com  with this issue?

[2020-11-24 07:20] ipxat commented on #545
i am trying to call getUserInfo method
authClient.token.getUserInfo(this.getToken())
            .then(function (user) {
                console.log('user', user);
            });

i am getting following error
_AuthSdkError: getUserInfo requires an access token object_

[2020-11-24 10:13] sdontas opened #550 "No error in authState when error from redirect."
Hello! My team and I are using `@okta/okta-auth-js@4.2.0` along with `@okta/okta-react@4.0.0` in order to create an application with authentication. `@okta/okta-react` got released 3 days ago and we wanted to upgrade in order to be up to date with the latest releases.

While migrating to the new releases, we found out the following:

- When a user that is not assigned to the application tries to l

[2020-11-24 14:56] shuowu commented on #550
@sdontas Thanks for reporting the issue!

The `AuthStateManager` (in auth-js) currently only handles errors thrown from custom callbacks, like `transformAuthState`. For your use case, a workaround can be to provide your own [`LoginCallback`](https://github.com/okta/okta-react/blob/master/src/LoginCallback.tsx), then catch and handle the error from `oktaAuth.handleLoginRedirect`.

Internal Ref: OKT

[2020-11-24 15:03] sdontas commented on #550
@shuowu Thank you for the reply.

Yes, this is the workaround we have come up with and are successfully using at the moment.

Should we expect this behavior to change in future releases?

[2020-11-24 15:07] shuowu commented on #550
@sdontas

The error state would be handled in the future release, and as it just properly adds the `error` state, the change would just be a minor release (**non-breaking** change)

[2020-11-24 15:13] sdontas commented on #550
@shuowu Thank you very much for your quick replies! Looking forward to it.

[2020-11-30 13:48] denysoblohin-okta commented on #458
The requested feature will be available in 4.3.0

[2020-11-30 15:38] DavidLozzi commented on #488
@aarongranick-okta @shuowu any thoughts on the above? We created a new reactjs app, used the same token manager as above, and we're getting the same error in that app, pretty frequently.

[2020-11-30 16:30] bmeredith commented on #458
Looking forward to it, thank you!

[2020-11-30 16:58] SebMarson opened #551 "Inconsistent result from setCookieAndRedirect"
Hi, I have seen two different types of redirect from calling the setCookieAndRedirect method. I understand that some Okta config will affect the results I see on the browser, but I'm not sure **what** config on Okta may be resulting in the different responses I'm seeing.

Scenario 1 - After calling setCookieAndRedirect the browser is redirected to the redirectUri address set when the OktaAuth obje

[2020-11-30 20:14] swiftone commented on #551
@SebMarson - good question, let's see if we can get you some answers.  As you predicted, there is some information we'll need:

Are you saying you see these two scenarios in the SAME application, or two different applications?

Is this application (or these applications) using clientIds that are configured as "spa" type?

Are they (or it) using Implicit Flow, or AuthCode with PKCE?

What version o

[2020-12-01 16:27] shuowu commented on #428
Issue is handled in okta-auth-js-4.x.

[2020-12-01 16:27] #428 closed

[2020-12-02 14:43] SebMarson commented on #551
- I'm seeing this in the same application.
- They are web apps so use the client id.
- It's setup as AuthCode, not Implicit flow.
- This is on okta-auth-js version 4.1.2
- I'm directly using the okta-auth-js library

[2020-12-02 17:06] aarongranick-okta commented on #551
@SebMarson To me it sounds like there may be a race condition in the code. Can you post the section of your code that involves initializing and rendering the widget, as well as handling the success callback? Also what version of the widget are you using?

[2020-12-02 17:22] SebMarson commented on #551
Sorry, to clarify, I'm not using the widgit. I'm just using the okta-auth-js library

[2020-12-02 17:32] aarongranick-okta commented on #551
@SebMarson I am not sure why the redirect contained an authorization code, unless it was initiated by a different API method. As far as I know `setCookieAndRedirect` is not used for OAuth flows, but rather to start an Okta SSO session. Once the session is opened, tokens can be obtained with a call to `token.getWithRedirect` (can set prompt=none to avoid any possibility of showing signin dialog). W

[2020-12-02 18:15] DavidLozzi opened #552 "Can't build the SDK locally"
I am attempting to build the SDK locally, and getting countless errors. After I clear one, another library errors. Before I start reporting every error, I am guessing I am on the wrong version of a few apps. What version of node, npm, yarn, webpack-cli, etc should I be on?

I also noticed that build.js is referring to libraries that were not installed when I ran `yarn install`, like `shelljs` and

[2020-12-02 18:31] aarongranick-okta commented on #552
@DavidLozzi I am assuming you are on Mac or Linux - if you are on Windows there may be another issue.

We have seen some issues when `npm` and `yarn` are both used on the same project. For this SDK we use `yarn` (I am running version 1.21.0). On a clean clone of the repo (remove node_modules or run `yarn clean`), you should be able to install and build by simply running `yarn` (it will install eve

[2020-12-02 18:35] DavidLozzi commented on #552
I am on Windows :(
However, I'll give a clean install another try just using Yarn (I had tried npm first).

[2020-12-02 18:39] DavidLozzi commented on #552
It errored on generateSample, which I think is okay? I don't need it, I hope, I just want to debug some stuff using `yarn link`. moving forward

[code]

[2020-12-02 18:51] aarongranick-okta commented on #552
It may be a problem with forward vs. backward slashes. We all work on Macs and rarely build on Windows. But if you are able to find/fix the problems I can get the fixes merged in.

[2020-12-02 18:56] DavidLozzi commented on #552
This all worked, the link worked and I could see my code changes in my project. I'm not going to chase down the samples, don't need them right now ;) Thanks for the help!

[2020-12-02 18:56] #552 closed

[2020-12-02 20:16] DavidLozzi commented on #488
I've been able to debug this some locally, no fix yet, but maybe a smoking gun for IE11

I can see the cookie is set in my browser, after _addOAuthParamsToStorage https://github.com/okta/okta-auth-js/blob/bd83f8c1c7a2727280deba1dd9da71d2ea9c6de1/lib/token.ts#L700 is run

When retrieving the cookie in _getOAuthParamsStrFromStorage, I see it does run trying to get getSessionStorage, https://github.c

[2020-12-02 22:20] aarongranick-okta commented on #488
@DavidLozzi Are you embedding the signin widget into your app or are you redirecting to the Okta hosted signin page? If you are using the embedded widget you can avoid this redirect entirely

[2020-12-02 22:28] DavidLozzi commented on #488
@aarongranick-okta we are redirecting the users to Okta, client machines are set up with SSO so they never actually see a login prompt.

[2020-12-02 23:12] DavidLozzi commented on #488
I've added new basic HTML page just to get the cookies and see what's what. This uses `js-cookie` library and does `console.log(Cookies.get())`. Although the code is reporting the cookie is empty, it appears it's still there
![image](https://user-images.githubusercontent.com/3543383/100942745-e0d41b80-34c9-11eb-8c32-c4f6c9f2990f.png)

[2020-12-03 16:25] sbauch opened #553 "CORS error on .well-known/openid-configuration for Org Authorization Server"
Seems similar to #297, opening a new issue per the request there.

I'm wanting to create an OAuth flow against the Org Authorization Server such that I can get an access token that can be used against Okta's REST API.

(https://developer.okta.com/docs/reference/api-overview/#authentication)

My understanding is that this set of options would allow me to authorize my Okta users against the Org Auth

[2020-12-03 18:52] aarongranick-okta commented on #553
@sbauch have you added `http://localhost:3000` to the "trusted origins"? https://dev-162024-admin.okta.com/admin/access/api/trusted_origins

if the trusted origins is setup, can you try clearing all browser storage for `localhost`? It is possible the issue may be caused by a corrupt browser cache.

[2020-12-03 19:35] sbauch commented on #553
smh yup that does it 🙈

thanks Aaron, very helpful. I'm still a bit confused about some aspects of the Okta APIs for the integration im hoping to build.

I'd like for any Okta user to be able to authenticate their Okta account to perform actions inside their organization - should we close this and I'll post about that on the dev forum?

[2020-12-03 21:58] aarongranick-okta commented on #553
@sbauch What you describe should be possible. Of course the actions a user can take are limited by the scopes that user has access to. But a user should be able to modify their own properties and access other resources, if permitted. Administrator users have greater permissions. The set of built-in scopes provided by the Org authorization server are listed here: https://developer.okta.com/docs/gui

[2020-12-03 21:58] #553 closed

[2020-12-07 21:07] denysoblohin-okta commented on #516
We are going to close this issue because we haven't heard back, but please re-open this issue if you want to continue working on it with us

[2020-12-07 21:07] #516 closed

[2020-12-08 14:16] nayefmhmd85 opened #556 "Microsoft Issue"
Can I use this library with Microsoft Auth also ????

[2020-12-08 17:08] swiftone commented on #556
@nayefmhmd85 - Thanks for the question.  Unfortunately, I'm not sure what you mean by "Microsoft Auth", as MS has a lot of authentication options, libraries, and tools.  Can you share some more details about what you are trying?

[2020-12-08 17:11] nayefmhmd85 commented on #556
thnx a lot for your response

[2020-12-08 17:14] nayefmhmd85 commented on #556
Iam making Electron project  with react ,
in my project I use Hash Router which is file based , Not route based
I used MsalJs
but when I build My app to release MsalJs not work because there is no Http

[2020-12-08 17:15] nayefmhmd85 commented on #556
So My Question is ,
Is this SDK support Microsoft Login , as Google , I mean Third Party Auth (OpenAuth)

[2020-12-08 17:58] swiftone commented on #556
You're using some libraries I haven't, so I may not be understanding your situation correctly, but I think these are some answers:

okta-auth-js (this library) is specific to authentication using Okta.  Okta supports numerous identity providers, but this library is only for authenticating with Okta itself.

Electron is not part of our test suite, so I don't know if this library has any issues with

[2020-12-08 21:44] bordecal opened #557 "TokenManager can return expired token in auto-renewal mode"
Prior to the introduction of timer-based auto-renewal, the token manager's `getAsync` method contained a mechanism for preventing return of an expired token: https://github.com/okta/okta-auth-js/blob/d717437dd08000b3f194f6214ba1dd3ddb4f42a0/lib/TokenManager.js#L118-L131

This mechanism was removed when timer-based auto-renewal was introduced.  Unfortunately, the timer-based approach does not alway

[2020-12-08 22:38] swiftone commented on #557
@bordecal - Thanks for the detailed report.

Interesting.  We moved away from the previous model because retrieving data shouldn't CHANGE that data - those side effects were causing any number of race conditions, loops, and hard-to-diagnose situations.

However, you highlight a real situation, so we will have to make sure this is covered.  Perhaps that will be done by allowing a check for expirati

[2020-12-10 09:24] denysoblohin-okta commented on #530
Fixed with https://github.com/okta/okta-auth-js/pull/541

[2020-12-10 09:24] #530 closed

[2020-12-10 16:07] jelhan opened #559 "TokenManager does not refresh access token successfully"
I'm facing some issues with refresh of tokens in `TokenManager`.

I fetch an access token and add it to `TokenManager`. On refresh I see token manager trying to fetch an ID token additionally.

If `scopes` used to fetch the access token **do not** contain `'openid'`, it fails with an error complaining about missing `'openid'` scope.

If `scopes` used to fetch the access token **do** contain `'open

[2020-12-10 18:36] swiftone commented on #559
@jelhan - Thanks for the report.

You have run afoul of the defaults, which says that a user is not "authenticated" without both an idToken and an accessToken.  (see https://github.com/okta/okta-auth-js#authstatemanager )

You can work around this by changing the definition of "isAuthenticated" using the transformAuthState config option: https://github.com/okta/okta-auth-js#transformauthstate

You

[2020-12-10 18:40] DavidLozzi commented on #488
My IE11 issues have been narrowed down to IT security disabling the WinHTTP service on the laptop. With that enabled, it works (we still get the original error message on this thread) but our redirect code works. Disabling that doesn't work. We've started to push users away from IE11

[2020-12-10 18:46] DavidLozzi commented on #488
Looking through the logs, our Edge and Chrome users have received this error (`Unable to retrieve OAuth redirect params from storage`) 3.6k times in the last 7 days. The errors start the day we released v3.0.8

![image](https://user-images.githubusercontent.com/3543383/101815799-17272180-3aee-11eb-9348-b03cb789b458.png)

I've also tried a new React App, and used v4.x of okta-react, and see the sam

[2020-12-11 13:20] droidriz commented on #488
yes chrome is still receiving this error any solution?

[2020-12-11 15:18] pilouk commented on #488
I do have this error

[2020-12-11 15:29] jelhan commented on #559
Thanks for the quick response.

I added the `transformAuthState` to my simple reproduction. But still seeing the same issue. It seems that it tries to fetch the ID token _before_ the `transformAuthState` is called for the refresh.

[2020-12-11 18:54] swiftone commented on #559
( I spent several minutes trying to find a way to say "well that's not good" in a professional manner)

I'll consult with the rest of the team to figure out how to get this to behave as intended.  Are you blocked by this, or is this an inconvenience that can wait until we have a permanent solution?

[2020-12-11 18:55] ilyakam commented on #547
Hello @oleksandrpravosudko-okta,

I just wanted to follow up and say that your suggestion worked as expected, thank you! Since we're still using v3.2.4, we ended up using [`oktaAuthInstance.signIn(credentials)`](https://github.com/okta/okta-auth-js/tree/okta-auth-js-3.2.4#signinoptions) where `credentials` is:

[code]

This was so we could use the same method to sign in with the `username` and `pa

[2020-12-11 18:55] #547 closed

[2020-12-11 18:59] swiftone commented on #559
Internal ref: OKTA-352791

[2020-12-11 20:33] mabarbeau commented on #474
@aarongranick-okta I am still having issues

[2020-12-14 09:25] jelhan commented on #559
We wanted to use `TokenManager` for several features:

- Persist access tokens in local storage.
- Share access tokens across multiple instances (browser windows) running in parallel.
- Refresh access tokens.

We need to deliver this functionality within the next weeks. If this bug is not resoled we would be required to implement it ourselves, which is a lot of additional work. We would appreciate

[2020-12-14 16:28] shuowu commented on #559
@jelhan The features you want should be supported in `@okta/oka-auth-js@>=4.1`. As we introduced [AuthState](https://github.com/okta/okta-auth-js#authstatemanager) since v4.1, we do suggest using it to get the latest info about your app's latest authState.

Here is a sample to follow: https://github.com/okta/okta-auth-js/tree/master/samples/generated/webpack-spa

[2020-12-14 17:10] jelhan commented on #559
@shuowu Thanks for your reply. But to be honest I can't follow.

If I didn't missed something in Your documentation `AuthStateManager` does not allow to add tokens to be managed by the library. We are planning to use it together with `TokenManager`. I don't see how it can replace it.

Could you please provide required changes to the minimal reproduction given above?

[2020-12-14 17:58] BenMGilman commented on #401
I just got this same error. @anandadvisory did you end up fixing this issue?

[2020-12-14 18:35] shuowu commented on #401
@anandadvisory @BenMGilman What's the type of your application? It looks like you are using a `web` application instead of a `SPA` application.

[2020-12-14 18:43] anandadvisory commented on #401
@shuowu you are absolutely correct.
I was trying to get token with web application client keys.
I have created new SPA application and checked the same flow & Bingo! It's working fine now.

@BenMGilman Please verify the type of your application in the okta console.

[2020-12-14 19:03] shuowu commented on #559
@jelhan Basically, the `TokenManager` handles store and maintain the renewal process. `AuthStateManager` subscribes to the emitted events from tokenManager to evaluate the latest authState.

For the renew process, you can call [tokenManager.renew](https://github.com/okta/okta-auth-js#tokenmanagerrenewkey) to start the renew process. And subscribe to the authState change with [authStateManager.subs

[2020-12-14 20:21] jasonkramer2908 opened #562 "PKCE codeVerifier from Browser on Android when PWA installed"
Signing into a web app in chrome/browser while also having the PWA version of the app installed on Android results in a redirect to the PWA and the following error: "AuthSdkError: Could not load PKCE codeVerifier from storage. This may indicate the auth flow has already completed or multiple auth flows are executing concurrently".

Uninstalling the PWA seems to be the only resolution.

[2020-12-14 20:46] shuowu commented on #562
@jasonkramer2908 Thanks for the report! `okta-auth-js` uses `localStorage` as the default storage for PKCE metas, but PWA which use service worker cannot get access to the window.localStorage API directly. As you mentioned, the current workaround is to disable/uninstall the PWA from the Android device. Meanwhile, we'll look into a proper solution for the PWA issue.

Internal Ref: OKTA-353302

[2020-12-14 21:09] jelhan commented on #559
@shuowu I'm very sorry but I can't follow. I provide a simplified reproduction in this bug report. It can be summarized as the following:

1. Assume the user has a valid Okta session cookie.
2. Fetch an access token using `token.getWithoutPrompt()` method:
[code]
3. Add that access token to `TokenManager`:
[code]
    I also tried to use `tokenManager.setTokens({ accessToken })` instead. But I was

[2020-12-14 23:41] shuowu commented on #559
@jelhan Sorry about the confusion. Can you tried the sample app shared above to see if you can repro the issue? I tried the authentication and renewal flows in it, but failed the reproduce the issue you have. It would also be great if you can share the specific error you have, like the network log.

Here is a relevant issue about the endless renew loop which caused by customizing the system clock

[2020-12-15 19:01] yuhui-lin opened #564 "question: Is it possible to get transaction object from existing Okta session?"
Hey,
   Our use case is  that we allow users to reset their MFA when they logged in. According to the [API](https://developer.okta.com/docs/reference/api/authn/#enroll-okta-verify-totp-factor), we need the `stateToken` of a transaction to be able to re-enroll the users to Okta Verify. When they already logged in, we don't have user password so `SigninWithCredential` cannot be used to get transacti

[2020-12-15 20:49] shuowu commented on #564
@yuhui-lin In your use case, you can call the [Enroll factor API](https://developer.okta.com/docs/reference/api/factors/#factor-lifecycle-operations) directly. It doesn't need to be wrapped in an auth transaction.

[2020-12-15 23:42] yuhui-lin commented on #564
@shuowu Good to know. Thanks!

[2020-12-15 23:42] #564 closed

[2020-12-16 18:47] BenMGilman commented on #401
Yes that exactly my issue as well, thank you

[2020-12-16 18:50] #401 closed

[2020-12-18 08:52] PaulHMason opened #568 "ES6 Module Support"
Hi

Does okta-auth-js support ES6 modules? I'm trying to wrap everything in a native custom element but I can't seem to get importing OktaAuth to work (it blows up on node-ponyfill.js).

Thanks

Aside: Providing the sign-in widget as a native custom element with shadow dom would be very handy.

[2020-12-18 10:25] shubsaini09 commented on #459
@shuowu I am not clear on this solution for this issue. I am getting the same error.

I ran this command - npm i @okta/okta-auth-js --save and started my app with node app.js and got the below error

[code]

[2020-12-18 10:27] oleksandrpravosudko-okta commented on #568
hi @PaulHMason - thanks for reaching out

okta-auth-js does provide [esm](https://github.com/okta/okta-auth-js/blob/master/package.json#L10) entry point - can you please share a few details on the platform producing this error and the way OktaAuth is imported?

re: sign-in-widget as a native custom element - would you mind opening a separate issue in the [okta-signin-widget](https://github.com/okt

[2020-12-18 13:20] jelhan commented on #559
The sample app does not use the functionality we need. It's also way more complex than the simplified reproduction I have included in this GitHub issue. My reproduction has 30 lines of code. The sample app has 439 lines of code.

Are you able to reproduce my bug report using the reproduction I included in the initial comment? If not: What additional information do you need?

I also created a case

[2020-12-18 17:45] shuowu commented on #559
@jelhan `okta-auth-js` provides higher-level methods to handle sign & renew process. You can use them instead of calling the lower-level methods from the `token` scope.

Here is a quick write-up in react (I feel it's easier to include both js and jsx together), you can move the logic out from `useEffect` and call it on dom ready if you are writing vanilla JS.

[code]

[2020-12-18 20:09] shuowu commented on #568
@PaulHMason Currently, okta-auth-js only exposes ems for the server-side bundle. You'll need to use the [browser bundle](https://github.com/okta/okta-auth-js/blob/master/package.json#L11) (umd bundle) to build your custom element.

[2020-12-18 20:22] shuowu commented on #459
@shubsaini09 After checking the `dependencies list` in okta-auth-js, seems like the [babel runtime](https://babeljs.io/docs/en/babel-runtime) is missing from there. For now, you can explicitly install it as a dependency in your app by running

[code]
or
[code]

Internal Ref: OKTA-354761

[2020-12-21 10:33] minkeshj commented on #550
Facing the same issue. Any update on this ?

[2020-12-21 21:46] shellscape commented on #64
@shuowu worth noting that `@okta/jwt-verifier` has no types.

[2020-12-22 14:42] jelhan commented on #559
@shuowu That example is not matching what we want to do. Our requirements can be summarized as the following:

- Fetch access tokens without user interaction.
- Fetch and manage multiple access token with different scopes.
- Share multiple access tokens between different instances.
- Refresh all access tokens fetched during the lifetime of the app.

As far as I'm aware this is only possible by usi

[2020-12-22 21:25] mfickett opened #570 "AuthSdkError: Unable to parse a token from the url (works with IP address, not domain name)"
I'm seeing the same behavior as [this dev forum post](https://devforum.okta.com/t/authsdkerror-unable-to-parse-a-token-from-the-url/996) describes.

When I access my app at `http://myapp.company.cloud:8080/` it does not work, I get `AuthSdkError: Unable to parse a token from the url`. But when I use `http://10.1.2.3:8080` authentication works. (And then if I go back to the domain name version that

[2020-12-22 22:47] lfurzewaddock opened #571 "feat request: add option to persist `okta-cache-storage` in session storage"
[code]

[code]

We can sign into our app with multiple accounts in the same web browser window **(using 1 tab per user account)** when token manager storage = `sessionStorage`

The problem is, the most recent sign in by any tab is saved in local storage with key: `okta-cache-storage` which is shared by all tabs. So, 1 hour later for each tab when the tokens are auto renewed all tabs sign into the

[2020-12-23 16:44] swiftone commented on #570
@mfickett - Thanks for the report.  As you can see on the forum post you link to, the situation you describe is a puzzle to us, so there must be some factor we've not yet identified.

First, you likely already know this, but let me put in for posterity and anyone else reading:   Okta does not recommend using HTTP instead of HTTPS, nor setting cookies.secure to false, for any production code.

Movi

[2020-12-23 16:51] swiftone commented on #571
@lfurzewaddock - Thanks for the request.  Unfortunately, there would be problems with the autorenew regardless - it relies on a session cookie on the issuer domain to decide to mint new tokens, and cookies are not tab-specific.

I do have good news though - Okta is releasing one-time refresh tokens for SPA applications, removing the need for that session cookie to "renew" tokens.   While I don't r

[2020-12-23 17:28] lfurzewaddock commented on #571
Thanks @swiftone for your response. I've upgraded libs to the latest version and although as you know my issue remains, v4 is a big improvement over v3, so thanks for that.

[code]

I'll request Okta support to enable early access to the one-time refresh tokens feature you mentioned.  Could you point me somewhere to any dev docs?

[2020-12-23 17:36] swiftone commented on #571
@lfurzewaddock - check step 4 on this guide: https://developer.okta.com/docs/guides/sign-into-spa/react/create-okta-application/

[2020-12-23 17:37] #571 closed

[2020-12-23 17:37] aarongranick-okta commented on #570
@mfickett Have you checked your "Trusted Origins" settings? (Admin -> Security -> API -> Trusted Origins). This should be set for every domain that your app is running on.

If that doesn't work, my next question is if you get the same result in all browsers, or is it specific to one browser? (We have seen some issues with Safari and the implicit flow, could be relevant if it affects Safari and not

[2020-12-23 18:01] mfickett commented on #570
I can't reproduce the error now, either in an incognito window, or after clearing all my `*okta*` and `*myapp*` cookies. (Confirmed that my config is as posted in the original description.)

I'm using Chrome Version 87.0.4280.67 (Official Build) (x86_64) on MacOS 11.0.1 (Big Sur).

I'll close this now but reopen and provide a network history if I can get it to happen again.

Thanks for taking a lo

[2020-12-23 18:03] #570 closed

[2020-12-29 18:44] lfurzewaddock opened #575 "[v4] signOut: Error Code: id_token_does_not_match_session"
As recommended in related issue https://github.com/okta/okta-auth-js/issues/571 we have been testing the '_Refresh token rotation_' early access feature, to support our use case: multiple Okta account simultaneous sign-in (one user account per web browser tab).

Early indications look promising. However, we have encountered an issue when signing out under certain circumstances: setup a SPA app usi

[2020-12-29 19:13] swiftone commented on #575
@lfurzewaddock -

First, thanks for the feedback.  We're excited for this feature and reports from the field are invaluable.

Second, to cover your last question, the id_token_hint is just the URIEncoded id token (https://github.com/okta/okta-auth-js/blob/master/lib/browser/browser.ts#L385-L386 )

Third, to cover the general issue - this looks like some wires are getting crossed between the browse

[2020-12-29 19:42] lfurzewaddock commented on #575
Thanks for your quick response @swiftone.

I had thought the `id_token_hint` is just the URI Encoded id token, and had tried to identify it in both tabs, but could not, which I suppose is what the error is reporting. Now that I know it should match the current ID token, I will check again.

Yes, I agree it's probably related to the 'shared' session cookie, which was the cause of our original issue

[2020-12-30 23:55] ririlli opened #576 "Typescript type for OktaAuthOptions storage property does not support custom stoarge"
[Per the docs](https://github.com/okta/okta-auth-js#storage-1), tokenManager options for storage key allows for an object value for a custom implementation. but the [type is only set to string](https://github.com/okta/okta-auth-js/blob/master/lib/types/OktaAuthOptions.ts#L23)

[2020-12-31 00:37] swiftone commented on #576
@ririlli - Thanks for the report, that definitely looks wrong.

[2020-12-31 00:39] swiftone commented on #576
Internal ref: OKTA-356468

[2021-01-05 00:58] aarongranick-okta commented on #373
@anandadvisory Were you able to find a resolution for this issue?

[2021-01-05 08:04] arvin-yao opened #581 "Help: How to set the date of idtoken expires."

[2021-01-05 15:06] shuowu commented on #581
@arvin-yao The following thread may help https://support.okta.com/help/s/question/0D51Y00006CHjMz/how-can-you-adjust-the-expiration-date-of-a-jwt-token?language=en_US

[2021-01-06 04:27] phyolim opened #582 "Error message not available in authState after handleLoginRedirect"
### Issue:
in a SPA react app, error doesn't render in LoginCallback. No error in authState if an app is not assigned to a user.

### Expected behavior:
After login redirect, `LoginCallback` should find an error in `authState.error` in  `useOktaAuth` hook so that it can display the error message to the user.

### library versions:
I'm using `samples-js-react/okta-hosted-login` with `okta-auth-js@4

[2021-01-06 04:40] phyolim commented on #582
found the earlier report #550

[2021-01-06 04:40] #582 closed

[2021-01-06 04:57] phyolim commented on #550
I am having the same issue. Could you clarify what you mean by handle the error from `oktaAuth.handleLoginRedirect`?
I tried to catch the error from there like below, but, it always resolves even though the login redirect has an error message-

[code]

[2021-01-06 15:42] shuowu commented on #550
@phyolim As @sdontas described in the report, the cause is

We are working on a fix for this issue now, before the new release, you can create a wrapper function of `oktaAuth.handleLoginRedirect` to check the error state from the redirectUrl. The code can be something like:
[code]

[2021-01-06 17:22] lfurzewaddock commented on #575
Sorry to bother you @swiftone, did you manage to recreate the issue?

[2021-01-07 23:02] shuowu commented on #550
@phyolim PR #583 fixes the `isLoginRedirect ` issue.

[2021-01-07 23:08] phyolim commented on #550
Thank you!

[2021-01-08 20:01] staffordp opened #584 "Mocking OktaAuth"
I am currently working on an app using Angular 8 with the okta-auth-js library version 4.5.

Previously, in the 3.x and earlier, I was easily able to mock the okta library, however, with this one I am facing difficulties.  Here is the current mock I am trying to use:

[code]

And in the spec.ts I am doing this:
import { TestBed, async, ComponentFixture, tick, fakeAsync } from '@angular/core/testin

[2021-01-08 20:53] shuowu commented on #584
@staffordp You can ignore the `WARN`.

The error message
[code]
does like some mock is missing, can you provide any test case that fails, then I can look into the issue you have.

[2021-01-08 23:29] aarongranick-okta commented on #475
@sethen Were you able to find a resolution to this issue? Since the time of this issue we have released several updates to auth-js and the signin widget and we believe this issue has been corrected.

[2021-01-08 23:58] kculmback commented on #507
We ran into a similar issue, but with refresh tokens. We cannot store `accessToken`, `idToken`, and `refreshToken` in the same cookie (even deleting `value` from each one). So we had to do some funky logic to split the three tokens into separate cookies so that we can store all of them.

[2021-01-11 00:19] ajp8164 opened #586 "Forgot password flow"
I need to implement a forgot password flow that works as follows.

App deeplink flow:

1. Click forgot password button in app
2. Receive email to users primary email
3. User clicks through email which launches app via deeplink
4. App asks user to enter new password
5. App updates password with okta
6. User is now able to login with new password

An alternative flow (email to form) is as follows.

[2021-01-11 11:00] oleksandrpravosudko-okta commented on #586
hi @ajp8164

Forgot password flow is available through browser-based [sign-in](https://github.com/okta/samples-js-react-native/tree/master/browser-sign-in) - is this something you could use?

[2021-01-11 13:31] staffordp commented on #584
Looks like this one produced the error a minute or two after it reported success:

[code]

[2021-01-11 13:38] ajp8164 commented on #586
We do not use browser sign in. We have areact native app using okta-react-native. We want as much of a native app experience as is possible. Scenario 1 above is preferred. We can live with scenario 2.

[2021-01-11 15:49] staffordp commented on #584
I also noticed, I get intermittent failures on this test:

[code]

Error I receive is

[code]

But usually it passes fine.  I suspect this code may be causing the failure and my mock of it, but not sure:

[code]

mocked client:

[code]

[2021-01-12 20:33] ngoble-phdata opened #587 "Cannot get access token from tokenManager"
Updated from 4.5.1 -> 4.6.0, and now tokenInfo is `undefined` from the following code:

[code]
In my case, auth is the result of `new OktaAuth(....)`.  Documentation states to get the access token that this should be used:

[code]

https://github.com/okta/okta-auth-js#usage-with-typescript

I don't see anything immediate in the change log of what would have affected this.

[2021-01-12 20:45] ngoble-phdata commented on #587
Actually something else seems to be going on.  I'm not seeing the token populated in local storage.  Closing for now.

[2021-01-12 20:45] #587 closed

[2021-01-12 21:52] aklinker1 opened #588 "Dependecy (Base64.js) license is not enterprise safe"
We're using `@okta/okta-react-native`, and `@okta/okta-auth-js` is a transient dependency.

Our enterprise dependency scanner has flagged [`Base64.js`](https://github.com/davidchambers/Base64.js) (a transient dependency of `@okta/okta-auth-js`, because it uses the WTFPL license, and our company doesn't want any explicit language in our third party library list.

Is there a way the dependency on [`

[2021-01-12 23:07] kyeotic commented on #377
@swiftone has there been any progress on this?

[2021-01-12 23:14] swiftone commented on #588
@aklinker1 - before diving any deeper into this, and speaking as a non-lawye: Okta is using the Apache version of the two licensing options, can you not do the same?  Then the terms are not explicit.  (Well, the terms are explicit, but the language is not :) )

[2021-01-13 15:14] aklinker1 commented on #588
Haha nice. TBH, I didn't know that you got to choose which license you want to use for dual license. Not sure how I thought they worked. But thanks for answering that, I'll go ahead and close this now.

[2021-01-13 15:14] #588 closed

[2021-01-13 16:03] pitaman71 commented on #488
Still seeing this on Chrome and Safari:

`    "@okta/okta-auth-js": "^4.6.0",
    "@okta/okta-react": "^4.1.0",
    "@okta/okta-signin-widget": "^5.2.1",
`

[2021-01-13 20:59] staffordp commented on #584
Actually, I am not sure if this library can even be mocked any more.  I've tried using both

  { provide: OktaAuth, useValue: CONFIG.mockedOktaClient },

  { provide: OktaAuth, useClass: CONFIG.mockedOktaStub },

and neither seem to work. Has anyone had success with this for testing via Jasmine?

[2021-01-13 23:26] aarongranick-okta commented on #584
@staffordp I'm not sure about your last problem (not being able to mock), but the earlier problems may be the result of the "autoRenew" feature, which runs in the background to renew tokens. This will attempt to hit XHR and update auth state. You can disable this feature by setting `autoRenew` to false
[code]

[2021-01-14 14:32] staffordp commented on #584
@aakashyadav-okta

I don't get the XHR error any more after ensuring I callFake() on every function call for each test.  However, I am still experiencing this quite repeatedly:

ERROR: AuthSdkError: OAuth flow timed out
[code]

[2021-01-14 18:07] aarongranick-okta commented on #584
@staffordp In [version 4.6](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-4.6.0) we did add a new feature, which is to use `fetch` instead of XHR, if it is available. This did cause some problems in tests for us as well. The quickest solution is to set `window.fetch = null` in your test. `window.fetch` can also be mocked.

[2021-01-14 19:48] staffordp commented on #584
I tried doing a quick upgrade to 4.6 and it blew a ton of my tests away.  I think I'll stick with working on 4.5 for now.  I am curious...what Oath flow could be timing out.  I am seeing below intermittently.

`ERROR: AuthSdkError: OAuth flow timed out
AuthSdkError: OAuth flow timed out
    at http://localhost:9876/_karma_webpack_/node_modules/@okta/okta-auth-js/dist/okta-auth-js.umd.js:339:3557`

[2021-01-14 22:16] aarongranick-okta commented on #559
@jelhan Thank you for the concise and detailed description of the problem. I was able to reproduce the issue using the okta-auth-js test app. There is an assumption in TokenManager that both tokens will be used together. This assumption is obviously flawed. We will fix this issue so that TokenManager correctly supports the case of accessToken with no idToken (OKTA-352791)

In the meantime, I belie

[2021-01-14 22:32] aarongranick-okta commented on #557
@bordecal As of version 4.x tokenManager.get will return the value from storage and it is not guaranteed to be a valid token. In some cases it may be in the process of being renewed at the time of the call. The utility method `hasExpired` is provided to check for these race conditions:

https://github.com/okta/okta-auth-js/blob/master/README.md#tokenmanagergetkey

Version 4 also introduced the `Au

[2021-01-15 00:03] jamesking commented on #371
@aarongranick-okta is there an update on a solution that doesn't break in Safari or Chrome Incognito? Thanks!

[2021-01-15 00:10] jpspringall opened #592 "Session Support For Cookie Support"
We would like the ability for our tokens to be session based, so that if a user closes their browser without logging out then the tokens are disposed of.

Meaning that a user is forced to re authenticate when re visiting the site.

I presume the expected way of achieving this is to use session storage. However in our case this is not possible due to the fact that are utilizing SSR.

We are still a

[2021-01-15 00:16] swiftone commented on #371
@jamesking - Yes!  We now have One Time Refresh Tokens available in Early Access.  (https://developer.okta.com/docs/release-notes/#one-time-use-refresh-token-is-now-in-early-access-ea)

These allow you to request a refresh token and okta-auth-js will use it to renew your tokens rather than relying on the okta session (which means no third party cookie issues)

This guide is intended for one of our

[2021-01-15 02:14] aarongranick-okta commented on #584
@staffordp The OAuth flow timed out error is often seen when calling `token.getWithoutPrompt` which opens an iframe and waits for a message of success or failure from the embedded page.  This method is called when calling `token.renew`. It could happen automatically if `tokenManager.autoRenew` is not set to `false`

[2021-01-15 05:27] robertjd commented on #77
This appears to have been addressed in #214

[2021-01-15 05:27] #77 closed

[2021-01-15 10:58] lawandothman opened #593 "v4.1.0 handle login redirect deprecation"
Hi,

I'm trying to implement the OktaSignInWidget into my react app. Everything seems to be working fine but I'm getting the following warning in my console on login :

![image](https://user-images.githubusercontent.com/58405138/104716168-71d02080-571f-11eb-82ad-d5368974e59b.png)

I have followed the official documentation, this is the code for the OkatSignInWidget:
[code]
And the code for the log

[2021-01-15 11:19] jelhan commented on #559
@aarongranick-okta Thanks a lot for sharing the update.

Glad to hear that you were able to reproduce the bug. I was still worried that we do something wrong. Do you already have an ETA for the bug fix?

Thanks a lot for sharing a work-a-round as well. We already rolled out our own solution for cross-tab storage and renewal of the tokens as we needed it urgently. I think we will use that one until

[2021-01-15 14:28] oleksandrpravosudko-okta commented on #593
Thanks for report @lawandothman

This warning is triggered by sign-in widget [code](https://github.com/okta/okta-signin-widget/blob/master/src/models/PrimaryAuth.js#L119) invoking the deprecated method.
A story for upgrading to `signInWithCredentials` It is already logged in our backlog:

Internal Ref: OKTA-354782

[2021-01-15 14:53] staffordp commented on #584
@aaronbrodersen-okta As of version 3.x, was autoRenew defaulted to true? or false?

I also set autoRenew: false in the config and I still get this error:

[code]

My config:

[code]

[2021-01-15 17:04] aarongranick-okta commented on #584
@staffordp The error is [thrown here](https://github.com/okta/okta-auth-js/blob/master/lib/token.ts#L194). The post message listener is added when tokens are being retrieved by iframe or popup window. Most likely case is iframe due to token renewal.

If the error is happening in a test, you could add a spy/mock to `authClient.token.getWithoutPrompt` to throw immediately. Then you should see which

[2021-01-15 17:54] staffordp commented on #584
@aaronbrodersen-okta Thanks.  I have been doing the spy callFake for each test that includes a call to authClient.token.getWithoutPrompt.  I am still progressing through it...

[2021-01-18 15:08] sethen commented on #475
I went with another solution and am not using the okta SDK directly any longer.  Thanks for looking into this though.

[2021-01-18 15:08] #475 closed

[2021-01-19 13:39] staffordp commented on #584
@aaronbrodersen-okta Noticed a few of the tests had leaks that were calling authClient.token.getWithoutPrompt and were not being spied upon with a callFake return. After plugging those leaks, I've seen the error message disappear.  Am still running tests continually to verify nothing is left open, but appears to be fine at this point.  Am still curious if anyone has been able to successfully mock

[2021-01-19 19:34] thetif opened #598 "State not being returned when using getWithoutPrompt"
I am use v.4.6.1. I have been using getWithoutPrompt for a while and it was returning state, now I'm getting undefined when I try to get it from the response. I have tried this on two different Okta instances, so it's not my environment.

[2021-01-19 20:19] swiftone commented on #598
@thetif - Thanks for the report, can I ask some clarifying questions?

- Are you seeing this when you changed versions, or did the same code, same version, just start returning a different response one day?  (If so, when)

- Can you share the code for a simple reproduction case?

[2021-01-19 20:54] thetif commented on #598
It was working on Friday and it wasn't working this morning. I'm not sure at what point over the long weekend it stopped working. We didn't touch the code though.

Here is the token code we are using:
`export const setTokens = sessionToken => {
  const stateToken = uuidv4();
  return oktaAuth.token
    .getWithoutPrompt({
      // responseType: ['id_token', 'token'],
      scopes: ['openid', 'emai

[2021-01-19 23:36] swiftone commented on #598
@thetif - Thanks for the example.  You definitely should not be seeing any change like you describe, I'll see if I can get it to reproduce and find out what happened.

[2021-01-20 14:11] jchabotamica commented on #251
@swiftone is this enhancement specifically for clock skew errors?  I noticed other error messages that come back with generic error codes but the error message can be different.  For example, password reset errors where it fails a password check against "commonly used passwords".  We have to interrogate the error message directly instead of a specific error code in order to relay a user friendly m

[2021-01-20 14:42] staffordp opened #599 "Okta signInWithCredentials is failing the call."
We use the okta-auth.js library v4.5.0 for a customized update Password page we have created.  After a user has changed their password, a function is called to re-login the user with the new credentials to issue a new set of tokens.  We also use the Okta-widget v5.0.0 for the initial login.  This issue started cropping up sometime near the time where we integrated the widget into the repo.  Not en

[2021-01-20 16:12] staffordp commented on #584
I've noticed an additional issue in attempting to Spy on all functions in the specs.

I have noticed issues with callFake on closeSession() calls.

In my beforeEach segment, I have the following to fake the call:

    spyOn(authService.authClient, 'closeSession').and.callFake(() => {
      return new Promise<any>(resolve => resolve(null));
    });

I've noticed when the first test runs and closeSe

[2021-01-20 17:11] denysoblohin-okta commented on #599
@staffordp Can you please share details of the failed call to `authn` ? I don't see an attachment in your post.

[2021-01-20 18:42] staffordp commented on #599
Sorry, please find the attachments here. It looks like it is a POST and is canceled for some reason.

![failed-call2](https://user-images.githubusercontent.com/12960670/105220119-45ecda80-5b25-11eb-8a2a-1de9f49aa4a6.JPG)
![failed-call1](https://user-images.githubusercontent.com/12960670/105220120-45ecda80-5b25-11eb-8b67-944c54d3d2ea.JPG)

[2021-01-20 18:50] khitrenovich opened #600 "Token refresh will always request access token in non-PKCE mode"
We have an app that uses only `id_token` with implicit flow. Accordingly, our `oktaAuth` instance is created with
[code]
I spotted that both ID token and access token are requested when token is auto-refreshed by the SDK.

This leads to some unwanted side effects. The first and the obvious - we end up with an unused access token in the browser that our application did not request. On top of that,

[2021-01-20 19:18] swiftone commented on #600
Hi @khitrenovich!   This is an interesting problem - thank you for your detective work, that is very helpful, and I suspect you've nailed it.

I'll take a look at writing some tests to verify the fix and see about getting this in.  Is this blocking for you so we should investigate a workaround in the meantime?

[2021-01-20 19:18] swiftone commented on #600
Internal ref: OKTA-362425

[2021-01-20 21:25] khitrenovich commented on #600
It depends on the ETA for the fix. Do you have something to share already?

[2021-01-21 19:12] MultiPlanJSEval opened #601 "IE Callback Redirection Not Working (Intermittent Issue) With Latest okta-auth-js SDK"
With new okta-auth-js code, we are having an intermittent issue in IE with callback handler where after okta redirects, user is stuck with a blank page with URL http://localhost:port/implicit/callback.
![image](https://user-images.githubusercontent.com/39303958/105400259-4f8c4600-5bea-11eb-8317-5cc29df11b28.png)

### AppWithRouterAccess.js
import React from 'react';
import { Route, useHistory } fr

[2021-01-21 22:32] aarongranick-okta commented on #601
Hi @MultiPlanJSEval,

We are aware of an issue with the `LoginCallback` component in the `okta-react` SDK, where it does not properly handle the `error` and `error_description` when it is returned on the login redirect URI.  You can check your network history to see if there was an "error" parameter on the callback. (AuthJS will remove these from the location).

We are working on fixing this issue

[2021-01-22 12:54] staffordp commented on #599
Anyone?  Is there a fix for this?

[2021-01-22 16:30] MultiPlanJSEval commented on #601
Hello,

https://github.com/okta/okta-react/blob/master/src/LoginCallback.tsx is TSX format. Can we get JS version to avoid below compilation error.

TypeScript error in C:/Okta_project/MultiPlanLoginPortal/src/views/LoginCallback.tsx(1,1):
'LoginCallback.tsx' cannot be compiled under '--isolatedModules' because it is considered a global script file. Add an import, export, or an empty 'export {}' s

[2021-01-22 18:09] aarongranick-okta commented on #601
@MultiPlanJSEval The only thing the callback must do is call `handleLoginRedirect` **exactly once*** https://github.com/okta/okta-react/blob/master/src/LoginCallback.tsx#L26

As for typescript, you should be able to change the file to `.jsx` extension and make only small changes (removing type information).

There are errors that can occur after successful authentication.  Authentication means you

[2021-01-24 15:51] lfurzewaddock opened #605 "CORS Missing Allow Origin | Okta error code: E0000021 | token.parseFromUrl()"
React SPA client app using `HashRouter`

- Okta org feature enabled: `Refresh token rotation`
- Okta org API `Trusted Origins` list contains all combinations of urls
- Okta app `PKCE` enabled with `Authorization Code` and `Refresh Token` enabled
- Okta app `Login redirect URIs` & `Logout redirect URIs` contains all combinations of urls

[code]
Forced to use `token.getWithRedirect()` to workaround

[2021-01-25 08:20] oleksandrpravosudko-okta commented on #605
Thanks for the detailed report @lfurzewaddock.

We will investigate this. One quick question - does CORS error occur when you specify Okta org authorization server? (i.e. `issuer: 'https://dev-XXXXXXX.okta.com`)

[2021-01-25 08:49] oleksandrpravosudko-okta commented on #599
Hi @staffordp,

Unfortunately there are no immediate suggestions available on what causes the error.
I will recreate your setup and see if I can get more insights on the problem.

[2021-01-25 10:18] lfurzewaddock commented on #605
Hi @oleksandrpravosudko-okta,

After changing the issuer to `https://dev-XXXXXXX.okta.com`, the lib raised an error: `OAuthError: Custom scopes are not allowed for this request.`, so I removed `permissions` from the scope array and tried again.

As far as I can tell the behavior is identical to the original issue reported. I have opened a ticket with Okta support too (ref: 0103495) and included a

[2021-01-25 15:17] staffordp commented on #599
Thank you, @oleksandrpravosudko-okta.  If you cannot find a fix after recreating the scenario, kindly let me know.

[2021-01-25 20:29] aarongranick-okta commented on #584
@staffordp `/sessions/me` is part of our [sessions api](https://github.com/okta/okta-auth-js#session). It is not called internally by the `okta-auth-js` SDK. Possibly you have some code calling `session.get` or `session.exists` ?  This piece of code:

[code]

hints that `getUserInfo` may called. Internally this calls. `/sessions/me`.

Back to your original question. Why is it hitting live endpoint

[2021-01-26 08:29] oleksandrpravosudko-okta commented on #599
@staffordp It don't think I can reproduce this issue without the details on how password update is performed. Are you using [changePassword](https://github.com/okta/okta-auth-js#changepasswordoptions) to update expired user password?

In case this something you would rather not share in public and/or this is a pressing issue, please contact [Okta support](https://support.okta.com/help/s/?language=

[2021-01-26 10:35] oleksandrpravosudko-okta commented on #605
Hi @lfurzewaddock,

I created a minimalistic [setup](https://codesandbox.io/s/magical-lovelace-i4bov)(try [diretct sandbox URL](https://i4bov.csb.app) in case it doesn't work in iframe mode)  for okta-auth@4.6.1 + HashRouter. It doesn't seem to produce CORS errors you are experiencing. Would you mind checking if it works for your org?

[2021-01-26 12:31] lfurzewaddock commented on #605
Hi @oleksandrpravosudko-okta,

Thanks for putting together minimal example. I did manage to get it working.

So, I suppose the most significant difference is we are using a custom sign-in form, not the okta hosted sign-in form. After the  `Security` HOC redirects to a Login component with username/password fields, onSubmit we do something similar to below.

[code]

Then upon redirect in the app ro

[2021-01-26 15:00] staffordp commented on #599
@oleksandrpravosudko-okta

We are not using the changePassword call built into the AuthJS library.  We had tried several releases back and could not get it working.  We currently have an API in place that is manually making a POST call to the Okta change password endpoint.

[2021-01-26 15:16] oleksandrpravosudko-okta commented on #599
Thanks for elaborating @staffordp.

Issue logged:
Internal Ref: [OKTA-364519](https://oktainc.atlassian.net/browse/OKTA-364519)

One small question to clarify - any chance `reLogin` is invoked as `onSubmit` form handler? I noticed `/authn` requests being canceled while attempting to reproduce and having mistakenly omitted `preventDefault()` call in form handler.

[2021-01-26 15:56] oleksandrpravosudko-okta commented on #605
It looks like it is not related indeed - I am still able to log in after introducing naive login form to the example locally.

[2021-01-26 16:08] lfurzewaddock commented on #605
Would you mind updating your code sandbox example with your latest?

[2021-01-26 16:29] oleksandrpravosudko-okta commented on #605
Sure - here is [forked sandbox](https://codesandbox.io/s/prod-darkness-dzq3v).
Please note that this is by no means a recommended approach for login flow but rather a POC to help with troubleshooting.

[2021-01-26 20:12] garrettmac opened #606 "Custom Storage Example"
Is this actually wired up? https://github.com/okta/okta-auth-js#storage

Getting
[code]

Can you improve your docs or add an example.

And how do i set/get items... via https://github.com/okta/okta-auth-js#tokenmanageraddkey-token or `authClient.tokenManager.getItem`?

[2021-01-26 20:30] shuowu commented on #606
@garrettmac The custom storage functions should be provided as config when initialize the oktaAuth instance.

https://github.com/okta/okta-auth-js#the-tokenmanager

[2021-01-26 20:43] staffordp commented on #599
Here is the button in the HTML which is part of the form:
[code]

Note: we are using Angular's Material design.

[2021-01-26 22:23] garrettmac commented on #606
yep, like this, right?
[code]

then i would `authClient.tokenManager.setItem("name", value)` to add, as apposed to the tokenManager.add function? Is that correct?

[2021-01-26 22:54] shuowu commented on #606
@garrettmac The custom functions are not added to tokenManager instance, but they are called when tokenManager.add/set is triggered.

You can check the implementation [here](https://github.com/okta/okta-auth-js/blob/master/lib/TokenManager.ts#L516) for details.

[2021-01-27 00:10] askouras commented on #581
To tag onto what @shuowu is saying, ID tokens by default have a one hour lifetime, but you can use a Token Inline Hook (A custom authorization server is required to use this) to [modify the ID token lifetime](https://developer.okta.com/docs/reference/token-hook/#sample-response-to-modify-token-lifetime) to as little as 5 minutes (which is the lowest you can set an Access Token lifetime to with an

[2021-01-27 08:21] oleksandrpravosudko-okta commented on #599
Would it be possible for you to test `reLogin` code isolated from password update API call but still being invoked during form submission handling?

[2021-01-27 16:01] staffordp commented on #599
@oleksandrpravosudko-okta I'm not sure I understand.  Do you want me to remove the call to the API which actually handles the changepassword function?  If I do that, the relogon will fail as it will be trying to use the new password.  Or is it you would like to me to just try to relogin with the old password and skip the whole password change call to the API?

[2021-01-27 16:05] oleksandrpravosudko-okta commented on #599
@staffordp  Yes, this is what I was hoping to check. The intent here is  to make sure there are no issues with code responsible for handling form submission.

[2021-01-27 18:56] garrettmac commented on #606
got it thanks

[2021-01-27 18:56] #606 closed

[2021-01-27 19:07] staffordp commented on #599
@oleksandrpravosudko-okta I just removed the entire call to the API and just perform a religion.  I still see the same error:

![Capture](https://user-images.githubusercontent.com/12960670/106040875-0be18280-60a9-11eb-81ae-9cae26590cba.JPG)

[2021-01-28 09:14] oleksandrpravosudko-okta commented on #599
It looks like Angular [documentation](https://angular.io/start/start-forms) suggests placing form submit handler in `ngSubmit` directive:
`<form [formGroup]="formGroupName" (ngSubmit)="onSubmit()">`
If that is not an option, you might want to pass an event object to `(click)="changeUserPassword($event, false)"` and call `preventDefault()` on it.

[2021-01-28 12:55] staffordp commented on #599
@oleksandrpravosudko-okta Thanks for noticing that.  You are correct. It should be fixed. I am making that change now (along with upgrading the library to 4.6.1 to check if it makes a difference.

[2021-01-28 13:18] staffordp commented on #599
@oleksandrpravosudko-okta even with that change and an update to the 4.6.1ibrary I am still encountering the same error.

![Capture](https://user-images.githubusercontent.com/12960670/106143923-7219e400-6141-11eb-8956-41fe1f102d01.JPG)

[2021-01-28 14:04] oleksandrpravosudko-okta commented on #599
Thanks for taking the time to test some assumptions @staffordp.

A few more questions:
* There seem to be >1 non-failed `/authn` request on the latest screenshot - are any of those successful POST requests?
* Is there a chance of page reload happening while `/authn` request is in progress?
* Would you be willing to create a minimal example of failing request? (e.g. single page with a basic form)

[2021-01-28 16:29] staffordp commented on #599
@oleksandrpravosudko-okta I believe I found the issue in some code I didn't paste here as I didn't suspect it until I was doing some cleanup. It appears the crux of the issue was it was calling the login function and immediately doing a redirect without waiting for a reply.

I apologize for the wasted time.  Thank you for all your help!

[2021-01-28 16:29] #599 closed

[2021-01-28 16:30] staffordp commented on #599
Issue resolved.

[2021-01-28 19:50] shuowu commented on #539
MFA Types has added in #554

[2021-01-28 19:50] #539 closed

[2021-01-28 20:22] MultiPlanJSEval opened #609 "Intermittent AuthAPiError for Okta org openid-configuration Loading"
Intermittently getting below shown error in Chrome, FireFox, Microsoft Edge browsers. We use     "@okta/okta-auth-js": "^4.6.1",
    "@okta/okta-react": "^4.1.0", components,

![image](https://user-images.githubusercontent.com/39303958/106194297-3cdab980-6174-11eb-9252-51dd05ea1274.png)

[2021-01-28 20:27] MultiPlanJSEval commented on #601
Recommended changes did not work initially. There was no error caught inside try-catch. But after changing the return of the LoginCallback.js from null to  **return  window.location.href = <<end_url for user to land on>>;** it is working in IE as expected. We are not sure if this is the right approach to use own custom LoginCallback.js with return value changed. Please let us know if this workarou

[2021-01-28 20:29] shuowu commented on #609
It looks like a CORS issue, have you added your localhost (http://localhost:5280) to the trusted origins?

You can add it by following API -> Trusted Origins -> Add origin in your OKTA dashboard.

[2021-01-28 20:47] MultiPlanJSEval commented on #609
Yes we did configured CORS in okta org otherwise it will not work most of the times. As I said, this error is intermittent.

[2021-01-28 21:57] shuowu commented on #609
Correct. From the error log, I cannot tell the exact cause of the issue.

Meanwhile, I suggest you can reach out to our [support team](https://support.okta.com/help/s/?language=en_US), they can help dive into details about your particular case.

[2021-01-29 12:22] lfurzewaddock commented on #605
I finally worked out was causing this issue. npm package `fetch-intercept` was being using used to alter the headers and body of all fetch requests with 'POST', 'PUT', 'DELETE' methods, including setting header `Content-Type` to `application/json`

As it monkey-patches native fetch, it affects fetch calls by 3rd party libs too, including Okta.

Your minimal code examples helped me focus on our own

[2021-01-29 12:22] #605 closed

[2021-01-29 12:40] ATud opened #610 "LoginCallback redirects to same '/login/callback' without any parameters, not everytime and not for all users."
After investigation of this problem (very similar to https://github.com/okta/okta-auth-js/issues/601), the fact that the timing of redirection count, which leads me thinking there is an async issue somewhere.

I try to explain the context below, and also put a video: https://www.screencast.com/t/TJcCZZq25Ueq

I don't know why the application redirect to the 'login/callback', since no configuration

[2021-01-29 12:53] oleksandrpravosudko-okta commented on #605
Thank you for sharing the investigation details!  That will definitely help other people facing similar issues.

[2021-01-29 14:29] oleksandrpravosudko-okta commented on #610
Thanks for detailed report and investigation @ATud.

It does look like a race issue. Linking this issue to internal story used to track`#601`:
internal ref: OKTA-361608

I will try to find a workaround before we have a permanent fix.

[2021-01-29 15:36] kthomas182 opened #611 "AuthSdkError: Unable to parse a token from the url"
Angular version: ^9.1.12
"@okta/okta-auth-js": "^4.6.1",

In my config I am passing in:

      clientId: '#####',
      redirectUri: 'http://localhost:4300/auth/callback',
      logoutUri: 'http://localhost:4200/auth/logout',
      issuer: 'https://myokainstance/oauth2/default',
      url: 'https://myokainstance',
      response_type: 'code',
      response_mode: 'fragment',
      state: 'somethin

[2021-01-29 15:43] shuowu commented on #610
@ATud Some suggestions:
1) Can you try version [4.6.0](https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#other) which should have a fix for error handling in `handleLoginRedirect`?
2) By using `LoginCallback` component in your routes, you don't need to call `handleLoginCallback` explicitly. It's handled [here](https://github.com/okta/okta-react/blob/master/src/LoginCallback.tsx#L26)
3)

[2021-01-29 15:54] shuowu commented on #611
@kthomas182 Your flow looks good to me. Just wondering why you need two ports for the app?

I'll also investigate on the issue.
Internal Ref: OKTA-365921

[2021-01-29 16:17] kthomas182 commented on #611
@shuowu they're (2) different angular apps. I'm trying to reproduce our environment.

We're authenticating in one application and doing a authClient.token.getWithRedirect() or authClient.session.setCookieAndRedirect() to the protected application.

This is where it is failing.

[2021-01-29 16:42] kthomas182 commented on #611
@shuowu the error I get when I change my call from:

this.authClient.session.setCookieAndRedirect(transaction.sessionToken, this.config.redirectUri)
to
            this.authClient.token.getWithRedirect({
              clientId: this.config.clientId,
              redirectUri: this.config.redirectUri,
              scopes: this.config.scopes,
              sessionToken: transaction.sessionToken,

[2021-01-29 19:01] shuowu commented on #611
@kthomas182 The error looks like your two apps ran into race condition when starting the PKCE flow, as both apps save PKCE meta in localStorage under the same domain (localhost).

[2021-01-30 22:08] ATud commented on #610
Hello @shuowu , thank you for the reply:
1: Version 4.6.0 did not help: https://www.screencast.com/t/G8HjWEL9ue. I didn't expect to help since there were no errors, so any fix for error handling was out of my scope.
2 + 3 + 4: I am sure you did not understood the detailed explanation above. I used a local implementation of LoginCallback ONLY for you guys to see my debugger, and see that there may

[2021-02-01 17:02] swiftone commented on #611
@kthomas182 - on further review, I'm afraid there's a fundamental issue with the setup you describe.  OAuth saves information before a redirect and then uses that information after the flow redirects back to the app to ensure the data the app is operating on is coming from the trusted source (and with PKCE, also that the app receiving authorization is the same as the app that requested).

This inf

[2021-02-01 17:17] kthomas182 commented on #611
Thanks @swiftone and @shuowu

I will try your recommendations.

[2021-02-01 17:17] #611 closed

[2021-02-01 17:48] andyrichardson opened #612 "updateAuthState incorrectly updates the auth state"
## About

Hey there! I'm having an issue where a token expires, okta-auth-js (`@okta/okta-auth-js@4.6.1`) doesn't detect it, and following a call to `updateAuthState`, the auth state is incorrectly and indefinitely set as `isPending: true`.

## Reproduction

 - Set a token in okta-auth-js
 - Wait for token to expire (or manually set expiry value in local storage)
 - call `updateAuthState`

### Exp

[2021-02-01 17:57] andyrichardson commented on #610
@ATud the following lines look a little sus

[code]

Here's a `useEffect` block that might cover your use case

[code]

I would guess that your reproduction isn't working because you aren't calling `storeTokensFromRedirect()` immediately following a redirect

[2021-02-01 18:53] swiftone commented on #612
@andyrichardson - Thanks for the input.

A quick note: manually changing the expiry time in localStorage will not trigger an attempt to replace an expired token, as that is set when the token is originally stored.  Since you say this problem also happens if the token actually expires and you shouldn't end up in a perpetual `isPending` state regardless, we'll continue with diagnosing the core probl

[2021-02-02 15:01] andyrichardson commented on #612
Hey @swiftone, thanks for the response 🙏

Totally with you on that - I wouldn't expect indirect changes to local storage to be detected by Okta. I would expect Okta to update the state appropriately following a call to `updateAuthState`.

Yes (see line 5 of the React example above)

Our org is configured to allow refresh tokens :+1:

Looks like we aren't currently passing `offline_access` (see lin

[2021-02-02 18:42] aarongranick-okta commented on #612
@andyrichardson Thank you for the detailed information. I have an opened an internal issue (ref: OKTA-367047) to track this. We are investigating this issue carefully and will report back here as soon as we have updates regarding a fix or workaround.

[2021-02-03 07:29] hellmean commented on #488
same here
[code]

[2021-02-03 19:17] aarongranick-okta commented on #592
@jpspringall Thanks for bringing this to our attention. The scenario you describe makes sense, and doesn't seem directly supported by the current options. However, you can pass a custom `StorageProvider` to the `tokenManager` options: https://github.com/okta/okta-auth-js#storage

This allows you to customize the token storage in any way, including using session cookies.

We will evaluate adding a

[2021-02-04 13:14] andyrichardson commented on #612
Hey @aarongranick-okta @swiftone, quick update - I've managed to get into this same infinite `isPending` state when toggling the network state

## Reproduction

 - Copy above example but include `offline_access` in scopes argument
 - Load page and turn off internet connection
 - Wait for token expiry

### Expected result

While the request is being made, state manager has the following state

[cod

[2021-02-05 22:28] garrettmac opened #621 "Why is doesn't this support User Creation?"
Why is @okta/okta-sdk-nodejs required?

[2021-02-05 22:36] swiftone commented on #621
@garrettmac - Hope I can help.  This Auth SDK is, per the README:

As such it's all about authentication, not the full range of account and user management options that our okta-sdk offers.  The authorization requirements required to perform those actions are more involve as well.

To cover the various options for account creation, I suggest reaching out to our support team at developers@okta.com.

[2021-02-05 23:10] garrettmac commented on #621
Thanks very helpful thank you explaining, ill go ahead and close @swiftone

[2021-02-05 23:10] #621 closed

[2021-02-07 20:01] ATud commented on #610
Hello @andyrichardson, thank you for the reply :)
Not working unfortunately, I feel that I am unable to explain the problem :) :)
The above efect it's placed inside LoginCallback component, because right now the original LoginCallback component behaves like in the video: ->takes the route login/callback?code...... and redirects not to '/' but to 'login/callback;'.
The original code from okta-react

[2021-02-08 17:09] aarongranick-okta commented on #610
@ATud `handleLoginRedirect` may throw/reject. Try adding a `.catch()` block:

[code]

If there is a real error (such as user not assigned to the application), you should be able to see it here.

However these errors should be consistent for a single user. If it is every inconsistent, I suspect a race condition.

Make sure the login callback is only being rendered once, only on the callback route,

[2021-02-08 18:37] ATud commented on #610
@aaronbrodersen-okta please see first comment in this issue

[2021-02-08 19:18] UlyssesInvictus commented on #612
We've run into this bug while trying to update our code to use okta-auth-js. It seems that any failure of the refresh request (in our case, a 400 due to the refresh token itself becoming expired) will lead to a bug where the Okta state never properly resolves the `isPending` state.

Is there a way that we can ourselves detect for failures, and manually trigger an auth redirect?

Is there a way for

[2021-02-08 19:31] aarongranick-okta commented on #601
@MultiPlanJSEval If the condition is intermittent, then I suspect it is a race condition.  I noticed in the block of code posted:

[code]

This line: `oktaAuth.signInWithRedirect({ sessionToken });` does not have a `return` statement preceding this. This means that the promise chain will be broken and `signInWithRedirect` will be executing disconnected in async time/space.

Any other code executin

[2021-02-08 19:42] aarongranick-okta commented on #612
@UlyssesInvictus You should be able to detect errors by[ subscribing to the `error` event from `tokenManager`](https://github.com/okta/okta-auth-js#tokenmanageronevent-callback-context):

[code]

[2021-02-08 19:49] UlyssesInvictus commented on #612
Hi! Thanks for your help.

This unfortunately isn't working, as apparently the network request 400ing is (for some reason) not actually triggering an error in the token manager.

I'm currently implementing a solution where we are attempting to manually remove the refresh token if we've detected that it's expired.

That doesn't solve the problem in the Okta implementation, only avoids the problem c

[2021-02-08 23:01] aarongranick-okta commented on #612
@UlyssesInvictus We are currently developing a fix for this issue. We believe it is isolated to the refresh token and does not affect "normal" token refresh (using iframe). Is it possible for your app to avoid using the refresh token at this time? (do not include "offline_access" in the scopes)

[2021-02-08 23:08] UlyssesInvictus commented on #612
Thanks for the explainer.

We do need to have refresh support at this time, but we've developed our
own workaround according to the solution above in my previous comment.

We're looking forward to the fix, though, and will happily remove our
workaround once the library is updated!

On Mon, Feb 8, 2021, 6:01 PM Aaron Granick <notifications@github.com> wrote:

[2021-02-09 17:18] MultiPlanJSEval commented on #601
We are using same code snippet from https://developer.okta.com/code/react/okta_react/ where there is no return statement before line **oktaAuth.signInWithRedirect({ sessionToken });** Even if we add a return statement before this line, I am not sure hwo the code will execute the line. It would be nice to see an example posted here for us to try the recommended solution.

We also added try-catch in

[2021-02-10 16:55] hivanreyes commented on #488
I am experiencing the same issue on Chrome

    "@okta/okta-auth-js": "^4.6.0",
    "@okta/okta-react": "^4.1.0",
    "@okta/okta-signin-widget": "^4.5.2",

[2021-02-10 17:11] swiftone commented on #488
@pitaman71, @hellmean, @hivanreyes - Can you confirm a few details for us, as we're unable to recreate this problem in testing:

- Have you removed your node_modules and reinstalled completely?  (okta-signin-widget can have a separate copy of okta-auth-js than okta-react)
- Is this happening on every login, frequently, or occasionally?
- Could you summarize your login flow in terms of routes?  (i.

[2021-02-10 20:19] hellmean commented on #488
yep. can confirm, removed node_modules and yarn.lock and did complete re-install multiple times. For those users where this happens it happens on every login.

This is how the root of the application looks like:
[code]

[2021-02-11 16:35] khitrenovich commented on #600
I see this is fixed in #614 and released in 4.7.0, closing. Thanks for the quick turnaround!

[2021-02-11 16:35] #600 closed

[2021-02-11 22:00] onnenon opened #624 "Dependecy (Base64.js) license is not enterprise safe"
As stated in #588 the license of the 0.3.0 version of Base64.js is not Enterprise save due to language. The previous issue concluded that it was a non-issue because of the dual license, but upon looking further into the 0.3.0 release, it does not appear to be dual licensed.

[0.3.0 LICENSE](https://github.com/davidchambers/Base64.js/blob/52bd13075d9fdc82035330e5b8c79b05f023e394/LICENSE)

The licen

[2021-02-11 23:41] aarongranick-okta commented on #624
@onnenon Thank you for bringing this to our attention! We will investigate and follow up. internal ref: OKTA-369733

[2021-02-12 00:11] onnenon commented on #624
Thanks for the quick response!

[2021-02-12 14:50] antoine-morvan opened #626 "Moving from 4.6.2 to 4.7.0 introduce typescript errors in type declarations"
Hello,

While instantiating a fresh typescript project, I noticed the update from 2 days ago to 4.7.0.

However my usual boilerplate that used to work before now fails with:

[code]

I've been able to reproduce with typescript 3.9.9 and 4.1.5. If I roll back to 4.6.2 the errors do not show up.

Here is a minimal project to reproduce: https://github.com/antoine-morvan/okta-minimal-30dff9

[2021-02-12 18:20] aarongranick-okta commented on #626
@antoine-morvan Thanks for the report! We are aware of this issue and there is [a user PR ](https://github.com/okta/okta-auth-js/pull/623)which might fix the issue. We will get this fixed and updated very soon! internal ref: OKTA-369625

[2021-02-16 19:45] zaeja commented on #377
@swiftone I'm also interested to hear if there's been any movement on this issue - we are running into the same problem for a browser app currently using okta-react that previously only supported a direct connection to Okta authorisation servers, but which we would like to also enable support for AWS cognito acting as a proxy between them.

Unfortunately in this scenario the well-known config is h

[2021-02-16 19:54] aarongranick-okta commented on #377
@zaeja Can you provide a little more detail on the "enhancement" you are looking for? If I understand correctly you are using a proxy, so the `issuer` and `authorizeUrl` that you would like the app to use for the network request will be different from the values returned from the `.well-known` endpoint (and included in the token's claims).

Are you looking to skip or customize the validation logic

[2021-02-16 19:58] aarongranick-okta commented on #377
@djfdev The issuer returned from the `.well-known` endpoint should match the `HOST` header of the request. If you have a custom Okta domain setup and hit `my.domain.com/.well-known/openid-configuration` it should return `my.domain.com` as the issuer.

If you are seeing the issuer NOT matching the HOST header, there may be something misconfigured in your organization's settings. If this is the case

[2021-02-16 21:06] kyeotic commented on #377
This isn't an okta proxy, its a company proxy. The issuer doesnt match because the issuer is still an okta domain; it has to match the actual issuer on the token that okta returns. We can't make the issuer match the proxy because the proxy isn't minting tokens.

[2021-02-16 23:24] aarongranick-okta commented on #377
@kyeotic Makes sense. I can think of a couple ways to solve this problem. One would be to intercept at the network layer to request from the proxy instead of the "original" URL. This could use some kind of map from original URL -> proxy URL.

This could be done with the current version using the [httpRequestClient](https://github.com/okta/okta-auth-js#httprequestclient) option.

Another way would

[2021-02-16 23:35] kyeotic commented on #377
@aarongranick-okta

I'd like to avoid intercepting calls and modifying them, if possible. I'd like to see this solved by changing the validation logic so that the token issuer only had to match the issuer returned by the well-known endpoint. There shouldn't need to be a relationship between the host/domain of the well-known endpoint and its response contents.

[2021-02-16 23:45] aarongranick-okta commented on #377
@kyeotic Thanks, that makes sense. Currently the issuer from the token is compared with the *configured* issuer, but it can (should) be compared with the issuer returned from well-known. I have updated the notes on the internal issue. I'm hoping we can get a solution out to you quickly.

[2021-02-17 13:19] antoine-morvan commented on #626
4.7.1 fixes the issue :)

[2021-02-17 16:46] swiftone commented on #626
Thanks to @javierdp for the PR for this fix!

[2021-02-17 16:46] #626 closed

[2021-02-19 10:57] stevenmckinnon commented on #610
+1 on this issue, currently experiencing the same.

[code]

If I hit login again or refresh it fixes itself

[2021-02-23 22:31] ncalarco opened #635 "Signout Option 'revokeRefreshToken' not working"
The documentation (from here: https://github.com/okta/okta-auth-js#signout) states that an option called "revokeRefreshToken" can be passed in to determine if the refreshToken should be revoked.

I've attempted to use this option like so:

`await this.authClient.signOut({ revokeAccessToken: false });`

Regardless of that option being passed in, my refreshToken is revoked during everything signOut

[2021-02-23 22:41] aarongranick-okta commented on #635
@ncalarco Thank you for bringing this to our attention. This does look like a bug, we will get this fixed right away. Internal ref: OKTA-372720

[2021-02-27 00:28] swiftone commented on #624
@onnenon, @aklinker1 - We have updated the version of Base64 that we use to 1.1.x, so the Apache License is formally available without potentially offensive language. (https://github.com/okta/okta-auth-js/pull/637) - Note our CI system merges the code but not the PR, so the PR shows as "closed".

This change will roll out with the next minor version of okta-auth-js.

[2021-03-01 15:02] onnenon commented on #624
Hey thank you for the update! I'll go ahead and close this Issue, thanks for the help.

[2021-03-01 15:02] #624 closed

[2021-03-02 01:32] langfordG opened #640 "Unable to fetch openid-configuration from issuer"
Hi there,

I am trying to run the Okta-Sample app with my own configuration, but after replacing the 'issuer' and 'client ID' I get the following error:

Access to fetch at 'https ://api.<my_company>.com/v1/qa/.well-known/openid-configuration' from origin 'http ://localhost:8000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Acc

[2021-03-02 01:51] swiftone commented on #640
@langfordG - thanks for checking in.  This could be a few different issues.

First, have you configured your settings in Okta to send the CORS headers for your domain?  This guide describes the required steps https://developer.okta.com/docs/guides/enable-cors/granting-cors/

Second, are you using a configuration that is type "web" or type "spa"?  We've seen this error in the past when a "web" type

[2021-03-02 01:52] swiftone commented on #640
Note: likely similar problem to https://github.com/okta/okta-auth-js/pull/631

[2021-03-02 22:45] thekevinbrown opened #641 "Server version is used in browser when bundled with Vite"
I've just hit this issue:

https://github.com/vitejs/vite/issues/2329

Would it be possible to update the `package.json` semantics so that this is easier for consumers of the package?

[2021-03-02 22:53] swiftone commented on #641
Hi @thekevinbrown!

Your question seems related to #568, so I'll link that, but there's not a specific answer for you there.  Can you be more specific about the semantics you'd like to see?  We have both a server bundle and a browser bundle, and as the Vite team pointed out, there aren't hard standards for how to define the bundles.

[2021-03-03 01:09] thekevinbrown commented on #641
Hi @swiftone,

I'd like it so when I do this:

[code]

I get the browser version in Vite.

Increasingly we'll need ESM in both browser and server, so in the long run this approach where `module` is the server module won't hold up in my opinion. As such, I think the best way to do that would be to:

- Split the browser and server versions into two separate packages.
- Provide `module`, `browser`, a

[2021-03-03 01:48] langfordG commented on #640
Hello! Thanks for the reply.

Currently I'm running from localhost, which is listed as a trusted origin and returns a CORS header.

I do see that the application is of type 'WEB', so that could certainly be the issue. I will request a change to type 'SPA'.

I also double checked the Response headers in the DevTools, and see two requests to https ://api.<company>.com/v1/qa/api/v1/authn. The OPTIONS

[2021-03-03 17:14] swiftone commented on #641
Thanks for the response - We've definitely had discussions about how to best manage the not-quite-isomorphic nature of this package, so I'll add this issue into those discussions, but there isn't a short-term plan to change this yet.

As a workaround until then, can you make a local module that pulls in the okta code as it demands and then exports that in a way that Vite is happy with?

[2021-03-03 17:19] swiftone commented on #641
Internal ref: OKTA-375389

[2021-03-03 21:59] thekevinbrown commented on #641
@swiftone, no, unfortunately that's not a good workaround as whenever I import the module I get the server version. If I import the UMD directly, then Typescript doesn't get the types for the module.

The only workaround I've found is to alias `okta-auth-js` to the browser UMD, like this:

`vite.config.ts`
[code]

Which is pretty gross, but does work.

[2021-03-04 00:00] rschristian commented on #641
@swiftone

While yes, there are no standards for fields like `"browser"` and `"module"` in a package, there are much better standards for the `"exports"` field, especially as tools are adopting [`resolve.exports`](https://github.com/lukeed/resolve.exports).

Vite already uses this and we're adopting it into [WMR](https://github.com/preactjs/wmr/pull/389) right now as is [Yarn](https://github.com/y

[2021-03-04 00:09] swiftone commented on #641
@rschristian - thanks for the detailed writeup, I'll definitely include this in our discussion.

[2021-03-05 09:32] mallikarjun1006 opened #645 "Session inactivity not honored for spa type application when tokenManager: { autoRenew: false, }"
We are using authjs and react sdk for generating the id and access token
We have set okta session inactivity to 2hour and access token expiry to 5mins,
We are facing an issue when the user has accessed the application and is inactive for more than 2hours the session is not timed out
we have set the authjs config tokenManager: {
autoRenew: true,
}
the above config silently gets the token every 5 mi

[2021-03-05 13:27] denysoblohin-okta commented on #645
Thanks for submitting this issue.

[2021-03-07 08:50] artfuldev commented on #575
Hey @lfurzewaddock we are facing a similar issue - were you able to get to a resolution? cc @swiftone

[2021-03-07 13:04] electricstrm opened #647 "Okta-auth-js 3.2.6 using revokeAcccessToken() the token is not revoked"
Hi, we noticed when we call signOut() with no params. The access token can still be used in Postman requests. So i'm now calling revokeAccessToken(). I've tried it with and without the token.  I can see in the developer tools, the network call to Okta /revoke is 200, but the token still works. Even minutes after.

    async logout() {
        this.oktaAuth.revokeAccessToken().then(() => {

[2021-03-07 13:38] electricstrm commented on #647
![revoke200](https://user-images.githubusercontent.com/28827405/110241768-74463e00-7f4a-11eb-8e92-545a5f75daa5.png)

[2021-03-08 12:02] denysoblohin-okta commented on #647
Thanks for reporting this issue.
Sadly I can't reproduce your problem with 3.2.6 or latest version.
What API methods have you successfully called with a revoked token?

[2021-03-08 13:15] electricstrm commented on #647
The norma use case is we have a UI that logins the user, get a token. The token is then used to make call to a java backend. If the token is valid, they can make a request.  That backend is using the jwt verifier to validate the tokens.
com.okta.jwt:okta-jwt-verifier:0.2.0

[2021-03-08 13:46] denysoblohin-okta commented on #647
jwt-verifier is not responsible for checking that token is not revoked.
You can use [Token Introspection endpoint](https://developer.okta.com/docs/reference/api/oidc/#introspect) for this.

[2021-03-08 14:09] electricstrm commented on #647
I'll give it a try

[2021-03-08 16:46] aarongranick-okta commented on #647
@electricstrm All tokens can be revoked during the `signOut` method. There was a bug involving the refresh token, but this was fixed in version 4.7.2.

https://github.com/okta/okta-auth-js#signout

[2021-03-08 16:47] aarongranick-okta commented on #645
@mallikarjun1006 are you using a refresh token ("offline_access" scope)? These types of tokens are not bound to the session and have their own lifetime.  Otherwise, token renew should fail as soon as session is expired, since it will depend on the SSO cookie.

[2021-03-08 16:54] aarongranick-okta commented on #640
@langfordG where did this URL come from?  'https ://api.<my_company>.com/v1/qa/.well-known/openid-configuration' This does not match the format of an Okta URL, which would be `https://<your okta org url>/oauth2/<auth server id>/.well-known/openid-configuration`.  Your issuer should follow the format either `https://<your okta org` (for apps which only need to use Okta API). or `https://<your okta

[2021-03-08 16:55] aarongranick-okta commented on #635
@ncalarco The fix for this issue has been released. If you update to version 4.7.2 (or newer), the issue should be resolved.

[2021-03-08 16:56] aarongranick-okta commented on #598
@thetif are you still experiencing this issue, or were you able to find a resolution?

[2021-03-09 06:23] langfordG commented on #640
@aarongranick-okta @swiftone When I replace this url with https://<org_url>/oauth2/<server_id>, in addition to changing the application from 'web' to 'browser', authentication works fine using PKCE flow with no CORS error. Thanks very much for your support! I will go ahead and close this issue.

[2021-03-09 06:24] #640 closed

[2021-03-09 08:21] nuusk opened #650 "PKCE Verification Failed while requesting token"
## Issue Subject
I'm having issue with generating access tokens for users during the login process. While trying to login, request to `https://<my-domain>/oauth2/<okta-auth-server>/token` is sent. Sometimes it results in `400 Bad Request`.

## Packages versions
[code]

## Expected Result
Status `200 OK` with actual access token in response body.

## Actual Result
Status `400 Bad Request` with body

[2021-03-09 08:54] erlioniel commented on #488
Hi @swiftone,
We are experiencing the same problem with some users and have an assumption that the problem is related to a setup when Okta connected to LDAP, but a user doesn't have access to the IDP itself. In this case for us the redirect URL is smth like `/implicit/callback/?state=...&error=access_denied&error_description=User` and causes the error.
Due to the complexity of our infrastructure,

[2021-03-09 21:24] garrettmac opened #654 "Spike in get well known endpoints in v4"
When updating from "^3.1.4" to "^4.7.1" we noticed 2x jump in calls to our "^3.1.4". I may have to downgrade to your early version :(

Can you provide insight in why/when this is getting called for me to better understand?

For me this is the order im making calls if it helps
1. authClient.signIn
2. authClient.token.getWithoutPrompt
3. authClient.tokenManager.add("accessToken"
4. authClient.tokenM

[2021-03-09 21:34] shuowu commented on #654
@garrettmac It might be related to the `active auto renew` behavior that has been introduced since [v4.0](https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#breaking-changes). It calls the token endpoint automatically when they are about to expire.

You can disable the autoRenew feature with the [authRenew config](https://github.com/okta/okta-auth-js#autorenew) if you prefer to manage t

[2021-03-09 21:54] garrettmac commented on #654
@shuowu thanks for the speedy reply

ah would that also be related to why i see this fire twice?

<img width="618" alt="Screen Shot 2021-03-09 at 1 46 10 PM" src="https://user-images.githubusercontent.com/5916111/110542454-e8fdb180-80dd-11eb-8ace-3f6532caf83d.png">

I dont have any subscription on my end so assume so for auto renew.

So what if i want auto renew? why would you be calling for that

[2021-03-09 21:59] salocinhawk opened #655 "tokenManager.setTokens triggers updateAuthState async warning in the console"
Okta package versions:

- okta/okta-auth-js: 4.7.1
- okta/okta-react: 4.1.0

Hello, I have a single-page-application and am using the okta-react and okta-auth-js packages with an Okta-hosted widget; utilizing the redirect protocol. I have a custom `/callback` component which follows the [token.parseFromUrl()](https://github.com/okta/okta-auth-js/tree/eb7d70d902e1cccf767325dcbe3710d9f2da4be6#tokenp

[2021-03-09 22:20] shuowu commented on #655
@salocinhawk The warning message basically is to suggest you to listen on the `authStateChange` event, so you can react to the latest authState accordingly when token/authState changes in your app.

Looks like you are using the okta-react SDK, which has implemented the listener internally, you can follow the sample [here](https://github.com/okta/samples-js-react/tree/master/okta-hosted-login) fro

[2021-03-09 22:25] shuowu commented on #654
Per the warning message, you can check it in #655.

Do you mean the sdk called some endpoint 2x times during the login process? Can you share the network log, then I can take a deeper look into it.

[2021-03-09 22:55] salocinhawk commented on #655
Thank you for the quick reply. By listener, are you referring to the useEffect in `Home.jsx`  that is dependent on `authState` and `oktaAuth` which are derived from the `useOktaAuth()` hook call?

[2021-03-09 23:03] shuowu commented on #655
The listener is added in okta-react's Security component. https://github.com/okta/okta-react/blob/master/src/Security.tsx#L59

[2021-03-10 01:23] garrettmac commented on #654
Yeah @shuowu  I noticed x2 the amount of calls to the well-known endpoint in system logs but repo'ing I dont see this being the case in the network tab. So maybe some more investigation on my end.
Can you elaborate on when the well-known endpoint gets called? is it only when `okta-cache-storage` is missing (so gets fired on initiation)? or when it makes updates to the renew token or other places t

[2021-03-10 06:06] mallikarjun1006 commented on #645
@aarongranick-okta  we were looking for kind of solution mentioned in [https://support.okta.com/help/s/article/How-does-the-Auto-Renewal-of-tokens-work-in-Auth-JS?language=en_US#:~:text=Auto%20renewal%20is%20done%20only,refresh%20of%20tokens%20functionality%20earlier.]

[2021-03-10 14:37] nuus7 commented on #650
Thanks @oleksandrpravosudko-okta for your quick reply.

- When I first encountered the error, I've noticed I've been using outdated version of the widget: `2.23`. I just recently updated it to the newest version: `5.4`. Unfortunately it didn't help.

- currently using `LoginCallback` provided by `okta-vue` package. But I also tested doing this on my custom component and that didn't help.

- Yes

-

[2021-03-10 15:09] shuowu commented on #654
@garrettmac With some digging:
1) The get well-known call is cached with `okta-cache-storage` https://github.com/okta/okta-auth-js/blob/6d16f8f98665d9d1034afe3aa14dbf2af24c3978/lib/oidc/endpoints/well-known.ts#L20-L22
2) The expire time has been set as 86400s (24h) as default. https://github.com/okta/okta-auth-js/blob/236a4a4e54e634a36e004be93a4cda2580198dd2/lib/http.ts#L76-L81

Looks like the log

[2021-03-10 16:19] shuowu commented on #645
@mallikarjun1006 auth-js version 3.5 still behaves as passive autoRenew (as what described in the link, call tokenManager.get to trigger the auto renew process). Please use version 4.x for [active auto renew](https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#400).

[2021-03-10 16:26] shuowu commented on #655
The LoginCallback component basically is calling `handleLoginRedirect` method from auth-js: https://github.com/okta/okta-auth-js/blob/07b9e89227e8efedfbee2251ef211a680fbef3a3/lib/browser/browser.ts#L520-L553

You probably can customize the logic from there.

[2021-03-10 22:46] salocinhawk commented on #655
Thank you for directing me to that piece of code. I was able to customize the logic to my needs and I am no longer seeing the warnings because I have set up the listener correctly. Closing the issue.

[2021-03-10 22:46] #655 closed

[2021-03-11 20:10] garrettmac commented on #654
@shuowu
That I observed as well. If:
#### step 1.
  user does login => (**Network Call to .well-known/openid-configuration** fires because `okta-cache-storage` is missing, now it has it, its cached)
#### step 2.
user does logout  => `okta-cache-storage` remains, no impact
#### step 3.
 user logs in again => (**NO Network Call to .well-known/openid-configuration**, reads from `okta-cache-storage` i

[2021-03-11 20:16] garrettmac commented on #654
1. https://github.com/okta/okta-auth-js/tree/okta-auth-js-3.1.4#configuration-options

I think 1, is clear, just would like confirmation from you @shuowu

[2021-03-11 22:37] shuowu commented on #654
@garrettmac

Sorry to confuse you about the active auto renew change in v4, I miss read the issue at the first glance (missed the well known endpoint, I thought you were asking about token requests..,). The behaviour should be consistent across versions.

Also, if you see two `openid-configuration` requests in your network log, the first one is a [preflight request](https://developer.mozilla.org/e

[2021-03-12 00:40] garrettmac commented on #654
yeah preflight is normal for all calls, was able to get a snapshot. Its odd that when it calls openid-configuration before the authn call we get this, not when authn fires first (and it normally looks like it does) so im thinking a race condition?
<img width="564" alt="Screen Shot 2021-03-11 at 4 38 48 PM" src="https://user-images.githubusercontent.com/5916111/110874360-741aab00-8288-11eb-9ca2-d24

[2021-03-12 13:11] palaniichukdmytro opened #658 "signInWithCredentials doest not handle AuthSdkError with try catch"
During implementation sign in using `signInWithCredentials` I do not see in catch error_code .

Code example:

[code]

In catch error I see

AuthApiError: Authentication failed at ...file path

but in network response on  `POST https://truverisexternal.okta.com/api/v1/authn` there is
`{"errorCode":"E0000004","errorSummary":"Authentication failed","errorLink":"E0000004","errorId":"oaeKyzu0cpcS6OCmv

[2021-03-12 14:09] oleksandrpravosudko-okta commented on #658
Thanks for reaching out @palaniichukdmytro.

I can see `errorCode` [available](https://codesandbox.io/s/infallible-robinson-tf42l) on error instance - does accessing it return unexpected value in your setup?

[2021-03-12 14:28] palaniichukdmytro commented on #658
@oleksandrpravosudko-okta looks good for me now , we can close the ticket, I've expected as error_code, cuz on one place we did via axios and expeted result error?.response?.data.

Thanks

[2021-03-12 14:28] #658 closed

[2021-03-15 13:46] shuowu commented on #654
@garrettmac
authClient.signIn basically calls `signInWithCredentials`, which should not trigger request the well know endpoint.
https://github.com/okta/okta-auth-js/blob/5e9af2fdc6d3b4925e2981b3e34529c86aa2fa3e/lib/browser/browser.ts#L274-L291

Normally, the well-known endpoint should be requested in your second step (authClient.token.getWithoutPrompt). As you mentioned, it looks like a race condi

[2021-03-15 15:38] darkowic commented on #507
Still doesn't work in 4.7.2. I'm testing auth after upgrade from v4 and when using cookie storage the returned state is:
![Screenshot 2021-03-15 at 16 00 01](https://user-images.githubusercontent.com/11510581/111174175-83129d80-85a7-11eb-9a05-ede83bad6b77.png)

It's a bit problematic. As a workaround, I need to write `transformAuthState` logic to support this:
[code]

[2021-03-15 16:50] aarongranick-okta commented on #507
@darkowic Do you know why the idToken is so large? Does it include a lot of custom scopes / data?  Also I'm curious why you need to use cookie storage. Are you trying to share the tokens with a backend app?

[2021-03-16 10:08] darkowic commented on #507
We are developing a platform for other teams which allows using different storages and in our test env we are using `cookie` storage because of probably legacy requirements (I need to investigate it).

About the IDToken: we have a custom (I believe it is custom) claim `groups` which for my token is a list of 43 10-20 characters strings. And there are different data too. This may be the reason why

[2021-03-17 13:54] darkowic opened #663 "handleLoginRedirect should not throw"
In our application, we are displaying a nice error screen when a user has no access to the application. Unfortunately, after upgrade okta to v4 instead of the nice error screen, we had a white screen of death.

In the console:
[code]

After debugging and checking the okta-react reference I found that this is a not handled error from [`handleLoginRedirect`](https://github.com/okta/okta-auth-js#hand

[2021-03-17 15:11] jeffrey-vang opened #664 "How do you mock the parseFromUrl method?"
With the new typings in 4.x, `parseFromUrl` is now a property on `OktaAuth`. Please provide some guidance on how to actually mock, using jest, the function on the `parseFromUrlInterface` type.

https://github.com/okta/okta-auth-js/blob/3599bb103318eb6752bd4197b8e3f468cf31cc34/lib/types/api.ts#L145

[2021-03-17 15:33] arvindkrishnakumar-okta commented on #663
@shuowu-okta Can you help with this?

[2021-03-17 15:46] shuowu commented on #663
@darkowic
Thanks for reporting the issue! As you found in the `okta-react` repo, we are currently working on a fix to handle the thrown error in okta-react SDK. For this particular method in auth-js, we do still want to throw the error to make it can work even without the authStateManager. We will definitely improve the README to provide better information on the thrown error.

Internal Ref: OKTA-

[2021-03-17 16:04] arvindkrishnakumar-okta commented on #664
@shuowu-okta / @aarongranick-okta Can you help with this?

[2021-03-17 16:13] aarongranick-okta commented on #664
@jeffrey-vang The method exists under the `token` object: `authClient.token.parseFromUrl`

The method returns a Promise that resolves to a `TokenResponse`. This response will contain tokens (for implicit flow) or a code (for PKCE / authorization code flow)

[code]

Hope this helps!

[2021-03-17 16:25] jeffrey-vang commented on #664
@andriizhegurov-okta This worked. Thank you for the quick response.

[2021-03-17 16:25] #664 closed

[2021-03-17 21:19] kyeotic commented on #377
@aarongranick-okta I might be reading GitHub incorrectly, but it looks like that linked PR was approved and then closed without being merged. Are you still planning to handle this issue?

[2021-03-17 21:47] swiftone commented on #377
@kyeotic - you aren't reading github wrong, but our bot interacts with github oddly.  The code from the PR was merged:
- you can see it on the list here: https://github.com/okta/okta-auth-js/commits/master
- and as this item in the master commit history: https://github.com/okta/okta-auth-js/commit/756a46079921130a256ac141ccbd7ac2a5716927

But the PR itself is just marked as "Closed".  Our bot comm

[2021-03-17 21:55] kyeotic commented on #377
Awesome! I'm going to test this right now

[2021-03-18 11:16] darkowic commented on #663
how about parameterizing it? ;)

[2021-03-18 14:17] darkowic opened #667 "transformAuthState option has incorrect TS interface"
Hi!

In the example https://github.com/okta/okta-auth-js#transformauthstate you are accessing `oktaAuth.token.getUserInfo()` (or `oktaAuth.getUser()`) but the type in the argument refers to `OktaAuth` in `node_modules/@okta/okta-auth-js/lib/types/api.d.ts` which is missing the methods and TS complains.

[2021-03-18 14:33] arvindkrishnakumar-okta commented on #667
@aarongranick-okta can you help with this one?

[2021-03-18 14:52] aarongranick-okta commented on #667
@darkowic Thanks for bringing this to our attention, we will get this fixed up. internal ref: OKTA-379786

[2021-03-18 14:55] darkowic commented on #667
Another thing: `transformAuthState` can return custom, transformed auth state but the OktaAuth types are not generic at all to be able to correctly apply this state in different places e.g return type of `getAuthState`.

[2021-03-18 15:04] aarongranick-okta commented on #667
@darkowic Another great point. We'll get this updated as well to allow arbitrary custom keys on the auth state.

[2021-03-18 15:26] shuowu commented on #663
@darkowic Thanks for the suggestions! We will analyze the potential options and make the method more intuitive in the recent releases.

[2021-03-18 17:20] kyeotic commented on #377
@swiftone I can't figure out how to configure this correctly. There isn't a documented path to just provide the `.well-known` endpoint directly, it appears to generate it based on the `issuer`.

Lets say I have our well-known proxy at `https://oauth-proxy.com/v1/qa/.well-known/openid-configuration`. It returns the following

[code]

The `authorization_endpoint` and `token_endpoint` perform redirec

[2021-03-18 19:36] garrettmac commented on #654
ok I reached out... (why email though? why not here?)
they said they couldnt repo ugg. Hoping 4.8.0 resolves the issue
<img width="921" alt="Screen Shot 2021-03-18 at 9 41 27 AM" src="https://user-images.githubusercontent.com/5916111/111686531-69ab6480-87e6-11eb-9b29-73b8dced1fdf.png">

[2021-03-19 18:15] garrettmac commented on #654
nope, but seems the extra open id calls are not not being made before the user click action, instead in the background, in what i can only guess is the 24hr session expiry, (its reads from okta-cache-storage in caches and it decides to update here as you provided in the breaking changes:
<img width="500" alt="Screen Shot 2021-03-19 at 10 24 43 AM" src="https://user-images.githubusercontent.com/591

[2021-03-19 18:57] shuowu commented on #654
Right, it's about the active renew scenario. But I don't think it will cause the well-known endpoint request spike.

[2021-03-19 23:30] garrettmac commented on #654
so found a way to repo.
edit  "okta-cache-storage" and "okta-token-storage" to have expired expiresAt then look at your network. it fires the well known a ton of times

[2021-03-20 01:54] aarongranick-okta commented on #654
@garrettmac Thanks for providing a snippet. We will take a look and hopefully this will help us reproduce and identify the issue that you are seeing. internal ref: OKTA-380363

[2021-03-22 02:00] milesje commented on #568
I'm also attempting to use this library in a LitElement (PolymerJS) based SPA and have been unsuccessful in getting the library to work. I've tried to import both `import { OktaAuth } from '@okta/okta-auth-js'` and `import { OktaAuth } from '@okta/okta-auth-ja/dist/okta-auth-js.umd.js'` both of which error out.
The first results in `Uncaught SyntaxError: import not found: default`
The second resul

[2021-03-22 23:05] garrettmac commented on #654
no impact on if ` autoRenew: false,` is there, doesnt seem i can opt out, there is a listener i dont want.
the token and cache (openid) calls fire 3x each (6 if you count the preflight)

[2021-03-22 23:23] garrettmac commented on #654
Lines fired from the lib causing this is https://github.com/okta/okta-auth-js/blob/master/lib/TokenManager.ts#L485L497. autoRemove: false seems to make reverse compatible

[2021-03-22 23:28] garrettmac commented on #654
i see when it was introduced in 4.1.0 was set to true by default https://github.com/okta/okta-auth-js/pull/484/files#diff-f18cf5684cf053b7ffbc2723f4983f1a26432ef9eade50cbfa00a74a7793dedbR33

[2021-03-23 01:26] intmainvoid opened #668 "Unable to retrieve groups via getWithPopup"
I'm attempting to get information on the Okta groups my user is a member of. I've set up the sample application in Okta following [this guide](https://developer.okta.com/docs/guides/customize-tokens-groups-claim/add-groups-claim-org-as/).

I've made sure that the user is a member of two groups in my Okta (Single Page App) application.

My config:

[code]

My code:

[code]

The login is successful

[2021-03-23 01:41] mraible commented on #668
You need to [Add a `groups` claim to your authorization server](https://developer.okta.com/docs/guides/customize-tokens-groups-claim/add-groups-claim-org-as/). For most developer accounts, this is the "default" server.

[2021-03-23 03:12] intmainvoid commented on #668
Thanks @mraible - I have actually already configured this.
![Screen Shot 2021-03-23 at 2 10 58 pm](https://user-images.githubusercontent.com/719151/112087256-b9709e00-8be1-11eb-909f-5955f70e6a78.png)

[2021-03-23 16:23] kyeotic commented on #377
@aarongranick-okta #646 does not appear to be functioning as intended

[2021-03-23 17:17] garrettmac commented on #654
@aarongranick-okta could yall repo? (i see 3x as many calls for 3 endpoints. keys, openid and token)

[2021-03-24 06:08] intmainvoid commented on #668
Interestingly, I DO get groups returned in my id token when I do a direct REST request:
[code]

Result:
[code]

What is this library doing differently?

[2021-03-24 08:58] intmainvoid commented on #668
Ok, managed to get groups. Here's how:

1. I noticed that the configuration on the authorization server is different to the configuration on the SPA "Open Connect ID Token". Setting the issuer correctly defines whether it will use the group claim settings from the application or the auth server.
1. Once the application or auth server is configured correctly, adding the following code will retrieve

[2021-03-24 08:58] #668 closed

[2021-03-25 11:51] muthurajan2021 opened #670 "In Okta login API flow, getting "Auth API Error when we connect with iOS device"
I have followed the below tutorial to login okta. it works fine in browser with localhost. When we connect with iOS device, its doesn't allow to login and getting the error "AuthAPIError".

Run Command : ionic serve
iOS Command: ionic cordova build ios
Refereed link: https://developer.okta.com/blog/2017/08/22/build-an-ionic-app-with-user-authentication

Source Code.
this.oauthService.createAndSave

[2021-03-25 13:45] oleksandrpravosudko-okta commented on #670
Thanks for reaching out @muthurajan2021.

Linked blogpost looks a bit dated - it is likely that it is not compatible with latest(i.e. `npm install @okta/okta-auth-js`) auth-js SDK.

Did you have a chance to go through the its [updated](https://developer.okta.com/blog/2020/09/21/ionic-apple-google-signin#run-your-ionic-app-in-ios-simulator) version? It seems to be running w/o errors on the iOS sim.

[2021-03-25 13:58] muthurajan2021 commented on #670
Thanks for your prompt replied. I have already tried this which you have shared. Our mobile application is ionic angular cordova. I have integrated okta login with okta schematics. It works fine on ionic 4.0 and above.

Referred Link : https://developer.okta.com/blog/2019/06/20/ionic-4-tutorial-user-authentication-and-registration

We have an existing ionic mobile application with ionic version 3.

[2021-03-25 15:18] mraible commented on #670
The first release of OktaDev Schematics that supported Ionic only supported Ionic 4.

https://github.com/oktadeveloper/schematics/releases/tag/v0.7.0

You could try integrating Ionic AppAuth yourself. OktaDev Schematics just automates the process.

https://github.com/wi3land/ionic-appauth

[2021-03-25 15:40] muthurajan2021 commented on #670
Thanks Matt. I will try the Ionic AppAuth github link and let you know if i have any doubts.

[2021-03-29 10:53] muthurajan2021 commented on #670
Hi Matt - I have tried below Github link which you have shared. This is also not working because of it also developed ionic angular version 5.4.3. when we tried to implement Okta files manually, we are getting more kind of build errors due to ionic-angular version.

https://github.com/wi3land/ionic-appauth

Could you please provide any documents / Github ulr to implement okta login without upgrade

[2021-03-29 12:05] RafaelMiquelino opened #672 "Warnings when login redirect"
Hi,

I'm getting the following warnings when being redirected from the login page:

[code]
[code]

This is the piece of code that is throwing the warning:
[code]

The warning is created when I call the function `getIdToken(callback)` and the flow is in a redirect from the login. The version I§m using is the following:
[code]

Although the flow is working I'd like to know if there is any means of g

[2021-03-29 13:38] shuowu commented on #672
@RafaelMiquelino okta-auth-js implemented `authStateManager` since version 4.1. It basically maintains a synchronous authState in the SDK for the app to get easy access.

You can check [here](https://github.com/okta/okta-auth-js#authstatemanager) for detailed information.

[2021-03-29 15:49] mraible commented on #670
@muthurajan2021 The original blog post you linked to seems to use Ionic Angular 3.9.2. If you use the same version numbers for dependencies in your app, it might work. https://github.com/oktadeveloper/okta-ionic-auth-example

[2021-03-29 17:12] RafaelMiquelino commented on #672
Thanks @shuowu.

I managed to get rid of the first one by replacing the line `authClient.tokenManager.add('idToken', idToken)` with `authClient.tokenManager.setTokens(data.tokens)`

However I just manage to get rid of the second one when I subscribe to `authStateManager` but I don't really need that for my use case. Is there any way to just silent this warning?

[2021-03-29 17:18] shuowu commented on #672
@RafaelMiquelino You can just subscribe to the authStateManager with a no-op function. It should be able to remove the warning from the console. But we do recommend to track the latest authState (isAuthenticated, tokens) with the AuthStateManager to get sync access to the latest state.

[code]

[2021-03-29 17:19] #672 closed

[2021-03-29 19:44] bretterer opened #673 "Implement way to close SIW from Sample App"
The inclusion of an `X` or an `esc` listener after popping up the SIW would be helpful in the sample app.

[2021-03-30 11:19] muthurajan2021 commented on #670
Thanks Matt. I have tried with same ionic angular version 3.9.2 in OKTA API flow. it logged in successfully but it throws below error to get access token when we connect with iOS device.

Error {name: "AuthSdkError", message: "OAuth flow timed out", errorCode: "INTERNAL", errorSummary: "OAuth flow timed out", errorLink: "INTERNAL", …}.

Note : I have added custom url scheme in pacakage.json file.

[2021-03-30 12:12] mraible commented on #670
Do you have Implicit Flow enabled in your Okta OIDC app?

[2021-03-30 16:39] kyeotic commented on #377
@swiftone @aarongranick-okta `<friendly reminder that this is broken>`

[2021-03-31 19:56] garrettmac opened #676 "Add support for cookie value conversion"
My system is having issues with default encoder for cookies, can you add support for a options value in the config to do the following https://www.npmjs.com/package/js-cookie#converters, i noticed that was a package you use. Or can i open a PR for it?

[2021-04-01 02:20] bryanapellanes-okta commented on #676
@garrettmac,
Thanks for reaching out!  Feel free to submit a PR for your proposed change(s).  Our JavaScript developers will review and comment.

Thanks for using Okta!

[2021-04-01 13:26] bryanapellanes-okta commented on #676
@garrettmac @shuowu-okta @aarongranick-okta I've opened an issue internally for tracking (OKTA-383725); this will go into the backlog for prioritization.

[2021-04-01 17:14] aarongranick-okta commented on #676
@garrettmac We do provide the option for a custom storageProvider, which can implement any custom logic: https://github.com/okta/okta-auth-js#storageprovider

[2021-04-01 21:10] mh-ckantzer opened #679 "Openid-configuration request blocked by CORS policy"
Hello,
We recently starting seeing an issue in the console with our Okta integration on Chrome browsers. Newer version of Edge do not have this issue.  The issue still occurs even if we clear the cache/cookies from the browser session.

'Access to XMLHttpRequest at ‘https://mycompany.okta.com/.well-known/openid-configuration’ from origin ‘mycompany.com’ has been blocked by CORS policy: No ‘Access-

[2021-04-01 23:53] garrettmac commented on #676
I saw that but was the scope kept getting bigger as i way trying to copy your getCookieStorage with this tweak i then had to start using your storageUtil.storage.get, that you dont export so i had to copy that too in your lib/browser/browserStorage.ts

[2021-04-01 23:58] garrettmac commented on #676
I dont need this cookie conversion anymore tho, turns out it the issue wasnt the conversion, its https://github.com/okta/okta-auth-js/blob/236a4a4e54e634a36e004be93a4cda2580198dd2/lib/browser/browserStorage.ts#L161 the cookie size limitations because you're storing the values as objects and that makes cookie sizes too big for the browser. We need the accessToken only as a cookie so im using your e

[2021-04-01 23:59] bryanapellanes-okta commented on #679
@mh-ckantzer,
Thanks for reaching out!   I've gone ahead and added an item to the backlog for further review and prioritization.  Our JavaScript developers will follow up after reviewing more closely.

Thanks for using Okta!

[2021-04-02 00:00] garrettmac commented on #676
in that discovery i came across some of the docs needed updating as i dug in your code https://github.com/okta/okta-auth-js/pull/674

[2021-04-02 18:36] luckyluckytina commented on #609
@MultiPlanJSEval  Can you please check the below things? 1) Does the chrome incognito window work? 2) In the normal chrome window, check if you have Okta Browser plugin installed. If that case, try to test with plugin disabled and see if it will work.

[2021-04-02 18:41] luckyluckytina commented on #679
@mh-ckantzer  As discussed in the meeting today, the chrome incognito window works. We doubt the issue is caused by Okta browser plugin. I've added test steps for you via ticket. Please send me a test result once you done. That will be very helpful to confirm the root cause.
@bryanapellanes-okta

[2021-04-03 01:13] Karkunow commented on #679
@luckyluckytina @bryanapellanes-okta I have the same trouble on my project. Incognito tab indeed works fine. But removing cookies doesn't solve the issue for Chrome. Please advice something to mitigate the problem.

[2021-04-05 15:55] OliverLeighC commented on #679
We are having this same issue but with the /oauth/v1/keys endpoint, it was working fine on Friday and we haven't changed any configurations. It works in incognito, but in regular chrome it throws a CORS error

[2021-04-05 18:41] garrettmac opened #683 "When i logout do I log out of all other device sessions?"
I think thats done here `/api/v1/users/me/lifecycle/delete_sessions` huh? any efforts to support?

[2021-04-05 22:23] laura-rodriguez commented on #683
Hi @garrettmac ,

Thanks for your question! I'm going to assign this to someone on our team who can help with this library.

[2021-04-05 22:29] laura-rodriguez commented on #683
Internal ref: OKTA-384874

[2021-04-06 00:03] cracell commented on #679
I have 3 users hitting this issue and incognito works from them as well.

I found I'm able to reproduce it by misconfiguring my issuer and attempting to login.
Then fixing it but find that I still get the CORS error.
![Screen Shot 2021-04-05 at 1 30 19 PM](https://user-images.githubusercontent.com/8106/113640482-5f83c580-9630-11eb-8130-2e825bc031fc.png)

Once in this state Chrome has cached the fa

[2021-04-06 00:17] luckyluckytina commented on #679
@Karkunow @OliverLeighC @cracell We already had an internal JIRA for this issue. ENG team is working on it.
Meanwhile, you can check if the below workaround works for you.

If incognito window works, please try to clear cache and cookies in your browser and see if it works.
If the above step does not work, check if you have Okta Browser plugin installed. Try to disable that plugin and clear cookie

[2021-04-06 13:07] OliverLeighC commented on #679
@luckyluckytina clearing cookies worked for me (I don't have the okta browser plugin installed).

[2021-04-07 15:59] aarongranick-okta commented on #610
@atud @andyrichardson @stevenmckinnon We have released a fix for this issue. After upgrading to `@okta/okta-react` [version 5.1.1](https://github.com/okta/okta-react/releases/tag/okta-react-5.1.1) you should see OAuth callback errors caught and displayed in the `LoginCallback` component. Please let us know if this has resolved your issue, or if you are still seeing a problem.

[2021-04-07 17:49] felipethome commented on #679
Clearing cookies does not work for all of our users, but incognito does. @luckyluckytina any updates on this?

[2021-04-07 19:34] luckyluckytina commented on #679
@felipethome What is your browser? Did you check if you have browser plugin installed?

[2021-04-07 19:40] bmax329 commented on #679
Clearing cached images and files (not cookies) works for us (which is why incognito also works). @felipethome you may want to give that a go.

I just confirmed @cracell's solution. Except it appears the request to `oauth2/v1/keys` also fails in our case due to the same cached CORS error. This is our full solution to get around having to clear the cache/incognito:

[code]

[2021-04-07 19:49] photchkiss commented on #418
Any feedback here? I'm running into the same issue.

[2021-04-08 03:29] markgillnz commented on #679
@bmax329 does this need to be applied to each users' console or does it fix the issue server-side?

[2021-04-08 08:54] markgillnz commented on #679
UPDATE: As per https://devforum.okta.com/t/openid-configuration-request-blocked-by-cors-policy/13607/7 this issue appears to have a fix by Okta

[2021-04-08 09:32] arvin-yao commented on #679
Hello,
I have same question:

[2021-04-08 11:26] SebMarson opened #687 "Unable to use "Don't repeat MFA for X time" workflow"
We have configured our Okta tenant to only ask users to verify with MFA once a day. Now when you go to log in on the tenant there is a checkbox that a user must tick to say "Do not ask me for MFA again within X time". There doesn't appear to be any way to handle this work flow if you're using this library though. This means users logging in with the library cannot ask for no MFA prompt next time t

[2021-04-08 12:50] oleksandrpravosudko-okta commented on #687
Thanks for reaching out @SebMarson.

You might be able to use [`rememberDevice`](https://github.com/okta/okta-signin-widget/blob/master/src/models/Factor.js#L263) property when handling sign-in transaction.

[2021-04-08 13:13] SebMarson commented on #687
Ah, I spoke to some other Okta engineers and they said it wasn't available. How do I fit in using the rememberDevice property with the .signInWithCredentials work flow?

[2021-04-08 14:08] oleksandrpravosudko-okta commented on #687
You could add MFA policy rule at the org level (hxxps://dev-org-admin.okta.com/admin/access/policies#sign-on), but that doesn't seem to have options for requiring MFA within X time - it only allows to remembering per device which is not what you asked about. Apologies for leading you astray.

[2021-04-08 16:03] mh-ckantzer commented on #679
Are you able to post the fix here?

[2021-04-08 16:24] cdnrg-rt commented on #679
Still having the issue as of this morning. Chrome version 89.0.4389.114 Windows 10 Pro version 2004, OS build 19041.867. Cleared all caches. Most users are fine.

[2021-04-08 16:50] aarongranick-okta commented on #679
@mh-ckantzer @cdnrg-rt @markgillnz @bmax329 @felipethome @luckyluckytina @cracell @Karkunow

We have been able to reproduce this issue and we have found the source of the bug. A fix is pending now and should be pushed to production soon.

The issue occurs when a "1st party" application (such as your Okta user home page) is using OIDC *and* you have an OIDC app (3rd party, running on a different do

[2021-04-08 17:01] mh-ckantzer commented on #679
Thanks for the update.

For those of us using the OktaAuth SDK how would we apply the 2nd workaround?  Would we update the issuer from https://yourorg.okta.com with https://yourorg.okta.com/oauth2/default?

[2021-04-08 17:26] aarongranick-okta commented on #679
@mh-ckantzer

Yes, exactly right. "default" is the name of the default "custom authorization server". You can create additional servers which can enforce specific policies or provide additional access for your app.

The "org" authorization server, which cannot be customized directly, is used primarily by applications which need access to certain lower level Okta user apis (such as the enduser home