[2021-04-08 17:35] brvaland opened #688 "Okta Auth in PWA with offline access"
Hi,

I am building progressive web app with okta authentication, we do have a requirement that user should be able to continue accessing application once authenticated and have access token even if the token is expired.

As per okta-auth-js default storage is browser local storage and token is persisted even user close browser and come back but once token is expired it auto-renewed but if user is

[2021-04-08 17:39] aarongranick-okta commented on #688
@brvaland I would recommend setting `tokenManager.autoRenew` and `tokenManager.autoRemove` to `false` in [the tokenManager options](https://github.com/okta/okta-auth-js#autorenew) and then subscribing to the `expired` [event from the TokenManager](https://github.com/okta/okta-auth-js#tokenmanageronevent-callback-context). Your event handler can choose whether to renew the token immediately or defe

[2021-04-09 15:25] brvaland commented on #688
@aarongranick-okta - thanks for your quick reply.

I did configure as per your suggestion and token renewal stopped and allows me to differ it later and able to renew token once user is back online. I have noticed an issue when user is offline,  token is expired and then user click on browser refresh or F5 app is redirected to okta and browser throws network error.

Here is link reference to what

[2021-04-09 20:32] felipethome commented on #679
We are seeing a CORs error with `{{company}}.okta.com/oauth2/v1/keys` request for some of our users. Any chance this endpoint may also be suffering from the same issue?

[2021-04-12 15:41] cdnrg-rt commented on #679
Any updates on when the fix will be pushed to production? Still having more reports this morning of the CORS issues popping up on Firefox and Chrome.

[2021-04-12 20:32] aarongranick-okta commented on #679
@cdnrg-rt the fix was pushed to "preview" last week and my understanding is that it is being pushed out to production today and tomorrow. The client cache time is 24 hours, so I expect the issue to be completely resolved before the end of the week.

[2021-04-13 11:20] ankurmungekar opened #690 "IdToken not getting clear from local storage on session timeout"
Hello,
When the browser is idle for more than the expiration time and I make an API call, it clears the accessToken from local storage but does not clear the idToken, and if I make an API call again then it clears idToken from local storage.
I'm using React and Axios.

[2021-04-13 14:52] denysoblohin-okta commented on #690
Thanks for submitting this issue.
What API calls trigger tokens removal in your case? Token removal/renewal process should be done on timer if auth client is  configurated with `autoRemove: true` or `autoRenew: true` (be default).
What config values of `autoRemove` and `autoRenew` are you using?
Do you use latest version of okta-auth-js?

[2021-04-15 07:21] sumit-rajput-sr commented on #584
I'm trying to mock the login in cypress. But token.getWithoutPrompt is throwing error. Does anyone have any idea about this?

[2021-04-15 19:24] cjoelrun commented on #679
Our users started experiencing this around the same time. Uninstalling the okta chrome extension fixed the problem. Still seeing it occur in our testing environment with the okta extension installed today.

[2021-04-16 13:07] Karkunow commented on #679
@aarongranick-okta I am still experiencing it right now.

[2021-04-16 13:11] mh-ckantzer commented on #679
The issue seems to be fixed for our users in Chrome after clearing the cache.

@aarongranick-okta Should I keep this ticket open for a while longer?

[2021-04-16 13:26] Karkunow commented on #679
@mh-ckantzer I've cleared cache and cookies, restarted a browser and yet - no luck.

[2021-04-16 19:13] sscho commented on #679
Not sure if this is the same issue, but I just started trying to integrate okta with my React app. After setting things up on my frontend (using Authorization code + PKCE) I've been getting the error message:

`Access to fetch at '{my_okta_domain}/oauth2/default/.well-known/openid-configuration' from origin '{my_website_url}' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header

[2021-04-17 00:19] askouras commented on #679
@sscho Can you confirm that you can find the Authorization Server called "Default" if in the Okta Admin Console you go to API -> Security -> Authorization Servers?

If you do not see the "Authorization Servers" tab, you are likely missing the required SKU/feature (API Access Management) that creates this "Default" custom authorization server, in which case you will want to set the Issuer in your a

[2021-04-17 00:24] sscho commented on #679
@askouras Hi, thank you for your prompt response. I fixed the issue! I had to change my config from

issuer: {my okta org url}default/oauth2

to

issuer: {my okta org url}

Thanks and have a great weekend!

[2021-04-19 17:04] aarongranick-okta commented on #679
@Karkunow were you able to resolve your issue, or are you still experiencing problems?

[2021-04-19 21:16] sdtacoma commented on #342
Were you ever able to figure out what the issue is/was?

[2021-04-19 22:40] Karkunow commented on #679
@aarongranick-okta I had it today. But after I've cleared my cache in Chrome - it disappeared. Not sure if it won't be back in a few days. Because cleaning the cache haven't helped last Friday.

[2021-04-20 01:35] mwx1993 commented on #342
Hi @sdtacoma , unfortunately I didn't dig deeper on this solution because our team decide to move to another tool right after I raised this issue. Hope you will find the answer from their reply or maybe open another new issue for further support. Good luck!

[2021-04-20 06:47] dusan-dragon commented on #679
@aaronbrodersen-okta we are also still seeing that error. Can you please confirm that it is deployed to production and we should not be having this issue?

[2021-04-20 08:23] brvaland commented on #688
@aarongranick-okta any update reference to the code example (link posted above).?

[2021-04-20 12:26] ankurmungekar commented on #690
oktaAuth.tokenManager.clear();
Triggers tokens removal.

[2021-04-21 09:20] g-viet commented on #610
@aarongranick-okta I got the same issue with using only `"@okta/okta-auth-js": "^4.5.1"` (not use React)
It happened when my `token.parseFromUrl()` function is called.

[2021-04-21 16:02] langfordG opened #701 "Error logging in with PKCE in automated test environment"
Hello,

I'm trying to login with the PKCE flow to my application using an automated test script (via TestCafe). As this test is running in a simulated browser, it shows the following error:
![image](https://user-images.githubusercontent.com/11727106/115584084-57a66100-a27f-11eb-8c7f-bcdba6f65d39.png)

I was hoping to see if OktaJS supports signing in with PKCE within a simulated browser, or if the

[2021-04-21 17:44] bretterer commented on #701
Hi @langfordG!  Could you please let us know what the simulated browser environment is so we can help guide this?

[2021-04-21 17:50] bretterer commented on #701
A little more detail here.  The way we determine if a browser supports PKCE, we check for `webcrypto` and `TextEncoder`.  Can you confirm both of these are available in your browser?

[2021-04-21 17:57] OliverLeighC commented on #679
I am also still having this issue, it goes away when I clear my cache and disable the okta browser plugin, but only for a few days. I tried updating chrome as well with no luck.

[2021-04-21 18:20] langfordG commented on #701
Hi there! This test was run on Chrome: 'testcafe chrome:headless src/e2e'. I just tried on Safari and there it actually is working. Interesting!

[2021-04-22 05:36] ankurmungekar commented on #690
I'm using 3.1.0 version

[2021-04-23 06:02] langfordG commented on #701
It looks like this also occurs in Firefox. I believe Chrome and Firefox support webcryto and TextEncoder, as PKCE login works in a regular (non-simulated) window. Is there a way of enabling PKCE in these browsers, for simulated browsers as well?

[2021-04-23 07:57] oleksandrpravosudko-okta commented on #701
Hi @langfordG - is there a chance tests are run against a site served in a non-secure context? (i.e. invalid or expired cert)
In such case [Crypto.subtle](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/subtle) module won't be available for PKCE.

[2021-04-23 17:19] langfordG commented on #701
It looks like the site we are testing has a valid https certificate. We are using okta-auth-js version 4.7.1 and okta-react version 4.1.0. Is logging with PKCE inside of an automated test environment is supported by these versions?

![image](https://user-images.githubusercontent.com/11727106/115905144-899ffa80-a41a-11eb-8046-f872e5b89b4b.png)

[2021-04-26 07:05] oleksandrpravosudko-okta commented on #701
There seem to have been no issues discovered on PKCE + automated test environment setup (e.g. there is a PKCE [test](https://github.com/okta/okta-auth-js/blob/master/test/karma/spec/pkce.js#L7) that runs in a ChromeHeadless).

Would you be able to output the results of PKCE availability checks[[1]](https://github.com/okta/okta-auth-js/blob/9831eb1362dc4674071bc0aa8fe058b9339a18f3/lib/features.ts#L

[2021-04-26 08:32] mathieu-valade commented on #612
Hi,

I was wondering if there was any update on the fix for this issue. We weren't able to detect errors by subscribing to the `error` event either, and had to do a workaround for this behaviour.

[2021-04-27 01:48] g-viet commented on #610
@aarongranick-okta @oleksandrpravosudko-okta Any update here ? or should I create another issue for the problem ?

[2021-04-27 07:28] oleksandrpravosudko-okta commented on #610
@g-viet no updates available yet, unfortunately.

I created a new internal ticket to indicate this still requires attention:
Internal Ref: OKTA-390413

Are you able to provide repro steps or describe a scenario which leads to stalled `/login/callback` handler in your setup?

[2021-04-27 14:11] g-viet commented on #610
@oleksandrpravosudko-okta Thank you so much for your reply.
I could't access the internal ref above unfortunately.

Here is the steps how we repro the issue in our project:

In package.json: `"@okta/okta-auth-js": "^4.9.0"`

And in callback controller, just simple like this:
[code]
When the application got the okta callback like these, it redirects to `/okta/callback` without parameter.
Normal cas

[2021-04-27 16:10] aarongranick-okta commented on #610
@g-viet `parseFromUrl` does remove the `code`, `state` and other OAuth parameters from the URL after processing. Generally, the next step after this method is complete is to redirect, either to your app's authenticated home page or to whichever protected route began the login flow. The method [handleLoginRedirect](https://github.com/okta/okta-auth-js#handleloginredirecttokens) can handle this logi

[2021-04-27 19:34] garrettmac opened #711 "Support for default httpRequest to use URL defined in the config for transaction functions"
so the sdk creates an instance with a config but we use our own domain that then points to the `https://{yourOktaDomain}`

So for example

[code]
this authClient has almost all of the functions for us, pointing to "https://{mycustomdomain}.com"
`authClient.login()`
`authClient.logout()`
`authClient.verifyRecoveryToken()`
ect.

however resetPassword does not sit on the authClient instance. so their

[2021-04-27 19:40] shuowu commented on #711
@garrettmac The `resetPassword` action depends on the `recoveryToken`, it needs to be called after retrieving the token first. Please refer to the [transaction status](https://github.com/okta/okta-auth-js#transactionstatus) for details.

[2021-04-27 20:12] garrettmac commented on #711
@shuowu yep so im starting the transaction via verifyRecoveryToken. that aside when calling transaction.resetPassword() its going to https://{yourOktaDomain} and not "https://{mycustomdomain}.com"

[2021-04-27 21:34] shuowu commented on #711
@garrettmac Sorry missed that part in your description. Right, it looks like a valid case.
Internal Ref: OKTA-390664

[2021-04-28 04:52] g-viet commented on #610
Thanks @aarongranick-okta , I will try with handleLoginRedirect

[2021-04-28 23:35] langfordG commented on #701
Sure thing! Here is the error we're seeing when trying to login with Chrome in TestCafe. Is this the correct output?
<img width="642" alt="Screen Shot 2021-04-28 at 4 30 05 PM" src="https://user-images.githubusercontent.com/11727106/116485163-62dd2c00-a83f-11eb-94cb-11b29a76e97d.png">

[2021-04-29 00:00] garrettmac commented on #711
i dont think this code fixes it, and kinda hard to see where the fix needs to be, im having a hard time seeing where youre transactions functions are....

[2021-04-29 00:01] garrettmac commented on #711
i need this pretty urgently. can you point me where the change needs to be and i can install via a forked branch for now?

[2021-04-29 17:48] oleksandrpravosudko-okta commented on #701
Thanks - I was hoping to pinpoint the exact missing module by invoking them in the automated browser console when test execution is paused.
From the latest screenshot it looks like tests are running against an app hosted at/proxied to `http://192.168.0.6` - please note that it is not considered a secure context and Crypto module is not available in such case.

[2021-04-30 16:47] aarongranick-okta commented on #679
The fix for this issue has been deployed and confirmed.

[2021-04-30 16:47] #679 closed

[2021-05-03 11:16] priyath opened #717 "SPA token refresh with multiple tabs using Authorization flow with PKCE"
I am using okta hosted login for my react SPA. Token is obtained via the authorization code with PKCE. I have also enabled the early access refresh rotation feature for SPA (ref: https://developer.okta.com/docs/guides/refresh-tokens/refresh-token-rotation/)

The problem with this is I can't seem to implement a solid refresh strategy when my application is opened on multiple tabs. Both tabs, would

[2021-05-03 12:17] amcdnl opened #718 "💥 Stop making breaking changes"
Dear Okta Developers and PMs:

This library along with the @okta/okta-signin-widget and @okta/okta-react have been version revving and introducing breaking changes ( for little to no reason ). As a developer, I expect libraries coming from a commercial product to be fairly stable and work together with their other libraries very nicely. At this point, I can't trust this library or the other librar

[2021-05-03 16:02] aarongranick-okta commented on #717
@priyath Can you provide more details on the renew failure? What is the error you are seeing from the backend? (Both tabs should be able to succeed using the same refresh token)

Also, if you'd like your apps to be more isolated, you can choose `sessionStorage` for your token storage. https://github.com/okta/okta-auth-js#storagemanager

[2021-05-03 16:10] aarongranick-okta commented on #718
@amcdnl We always try to avoid breaking changes except on major version releases. However fixes for bugs may be considered "breaking" if developers have come to depend on broken behaviors. These we also try to push to major version changes. Can you share any details on specific changes which have caused issues?

[2021-05-03 18:49] amcdnl commented on #718
Related: https://github.com/okta/okta-react/issues/118 and https://github.com/okta/okta-signin-widget/issues/1888

[2021-05-04 11:11] kellengreen commented on #718
Agree 💯, in fact I was about to make the exact same ticket.

`authState.isPending` was suddenly removed last week without providing any rational or documentation on how best to move forward. While over in `okta-react` land, `restoreOriginalUri` was suddenly throw into the mix a few month ago, just for kicks.

It must be said that working with these library is incredibly frustrating.

[2021-05-04 18:06] garrettmac commented on #711
Can I have someone look at my PR @shuowu. We'd like to have this patch ASAP https://github.com/okta/okta-auth-js/pull/710#discussion_r625885941

[2021-05-04 23:35] kriszheng-cashwerkz commented on #718
I have a similar complain about the breaking changes since 5.0.0 released. The project I am working on, based on Vue 3, has a custom router guard to handle auth redirect from Okta. I am not using `okta-vue` library as at the time I started the project, it did not support Vue 3.

In the router guard function, the `authState.isAuthenticated` used to work and suddenly I got `function does not exist`

[2021-05-05 16:32] jalvaydev commented on #718
I have also just gone through the same issue with the breaking changes. As a dev new to using Okta, it is disappointing to see the changes be introduced without the official docs being updated to reflect these changes especially since I am learning how to set everything up.

[2021-05-05 16:37] shuowu commented on #718
@kriszheng-cashwerkz FYI, okta-vue starts to support Vue 3 since version 4.0. Also, please stay with okta-auth-js version 4.x before it officially supports okta-auth-js version 5 (https://github.com/okta/okta-vue/blob/master/package.json#L109).

[2021-05-06 10:46] makbol commented on #718
Today I updated to 5.0.0 and now I'm not getting `removed` and `expired` events in callbacks `authClient.tokenManager.on('removed', () => { ... })`

[2021-05-06 12:28] makbol opened #723 "Token is autorenewed for Chrome 90 stable but no for Chrome 91 beta"
Hello!

I run into issue and after a lot of debugging i come to conclusion that for some reason, token is automatically renewed for Chrome 90.0.4430.93 stable channel but it's not auto renewed for Chrome 91.0.4472.27 beta channel and 92.0.4496.0 canary channel.

I set token lifetime to 5 minutes in access policies rules, executing on localhost. Having code:

[code]

For Chrome beta and Chrome cana

[2021-05-06 13:16] enseitankad0 commented on #417
@eatplaysleep where can I find `iss` value?

[2021-05-06 14:14] jchabotamica commented on #718
+1
I am even trying to use this new "start()" method.  Getting this error and i don't even call isPending anywhere:
![image](https://user-images.githubusercontent.com/52013619/117313253-b8bf5e80-ae53-11eb-975c-4bb898949a54.png)

Also getting a similar isAuthenticated issue

[2021-05-06 15:31] oleksandrpravosudko-okta commented on #723
Hi @makbol,

Token auto-renewal seems to be working as expected under `Chrome 91.0.4472.27 (Official Build) beta (x86_64)`. I used our [sample app](https://github.com/okta/okta-auth-js/tree/master/test/app) to verify it. Please note that in v5 it is required to invoke [`start`](https://github.com/okta/okta-auth-js#running-as-a-service) method on the SDK instance to enable tokens autorenew.

[2021-05-06 20:07] kyeotic commented on #377
@swiftone @aarongranick-okta bump

[2021-05-07 17:40] jakehockey10 opened #727 "Self-Service Registration without Sign-in widget"
I'm having trouble determining if allowing a user to sign up (not sign in) is possible through this library.  The API reference doesn't seem to have a method for this.  But if I use the Sign-in Widget, I'm able to add a signup link to that UI.  I would like to customize my UI and use my own Angular form for this.  Is this possible?  If so, how?

[2021-05-07 21:20] aarongranick-okta commented on #727
@jakehockey10 `okta-auth-js` does not currently support self service registration, although this will be supported in an upcoming version. The signin widget is hitting the api directly, hopefully these links can help:

https://developer.okta.com/docs/reference/api/users/#create-user
https://github.com/okta/okta-signin-widget/blob/master/src/RegistrationController.js#L70
https://developer.okta.com/

[2021-05-08 14:49] priyath commented on #717
@aarongranick-okta  apologies for the delay. I had a better look into the problem and also played around with the [okta-hosted-login sample](https://github.com/okta/samples-js-react/tree/master/okta-hosted-login). I observed the following issues for my scenario with the sample code:

Setup:
- okta-hosted-login sample with early access feature Refresh Token Rotation enabled on okta
- Requested scop

[2021-05-09 08:19] priyath commented on #717
It seems like each time the application re-renders, an additional `token` request will be made during the next refresh. Possibly because a `setTimeout` is not getting cleared? I have raised a separate issue in the react okta github repository with my observations: https://github.com/okta/okta-react/issues/121

[2021-05-10 16:01] polklabs opened #729 "OnAuthRequired triggered during token AutoRenew"
## Behavior

When an IdToken expires the auto renew process is started. During this process OnAuthRequired is triggered causing the user to be redirect to the login page. Since they still have an active Okta session they are immediatly redirected back to where they were but may lose their current state.

OnAuthRequired function being used:
[code]

Example route implementation:
[code]

Same issue a

[2021-05-10 17:47] bryanapellanes-okta commented on #729
Internal Reference: OKTA-394440

[2021-05-10 19:06] polklabs commented on #729
Downgraded to version 4.9.0 and no longer experiencing the issue. Thanks

[2021-05-11 17:02] polklabs commented on #729
I didn't get the refresh behavior after reverting to 4.9.0 so I thought I was fixed. Tested it again twice this morning and both times it was the same behavior as my original issue. It refreshed the page when it should have just refreshed the tokens.

I even tried removing the onAuthRequired method, allowing it to use the built-in and it had the same behavior.

When the token renew is triggered I

[2021-05-11 20:50] polklabs commented on #729
@aarongranick-okta I changed `expireEarlySeconds` to 3300 for testing and that appeared to mostly fix the problem but after running for a couple hours it's now back to triggering onAuthRequired and refreshing the page every time

[2021-05-12 02:57] jakehockey10 commented on #405
They are still broken

[2021-05-12 17:24] polklabs opened #732 "Token Expiration/Renew causing race condition with okta-angular"
Not sure if this should be posted here or in okta-angular.

The auto renew of tokens is causing a race condition in conjunction with okta-angular's **OktaAuthGuard**

When the `idToken` or `accessToken` expire the **TokenManager** fires an **EVENT_EXPIRED** for each of them. The **TokenService/TokenManager** then attempt to renew them, all good so far. During this renew process the token is remove

[2021-05-12 18:08] bryanapellanes-okta commented on #732
@polklabs,
Thanks for reaching out! I'll bring this to the attention of our Javascript developers.  Someone will follow up here with more.

Thanks for using Okta!

[2021-05-12 18:10] bryanapellanes-okta commented on #732
Internal Ref: OKTA-395165

[2021-05-12 19:22] aarongranick-okta commented on #732
@polklabs Thank you for bringing this to our attention! I believe this is a bug, likely happening here: https://github.com/okta/okta-auth-js/blob/4.9/lib/AuthStateManager.ts#L155

I think this issue has been fixed in 5.0, unfortunately okta-angular has not been updated yet to support the changes. (but this is coming very soon)

We will make a fix for auth-js 4.9

[2021-05-12 19:48] staffordp opened #734 "token.getWithoutPrompt does not work in Chrome incognito mode"
In our app, we have a periodic call to refresh the okta tokens if the user is still active. It is currently set on an interval.

The functionality works fine under Chrome in a normal tab (Version 90.0.4430.212). However, if I try running the same Angular app in an incognito tab, the token comes back as undefined.

Here is a snippet of the code calling the refresh of the session:
[code]
[code]

and

[2021-05-12 20:46] polklabs commented on #732
@aarongranick-okta That does look like the source of the bug and matches the behavior that I'm seeing.

[2021-05-12 20:54] aarongranick-okta commented on #729
@polklabs Is the issue you are seeing here captured by this new issue: https://github.com/okta/okta-auth-js/issues/732

[2021-05-12 21:01] aarongranick-okta commented on #734
@staffordp `getWithoutTokens` depends on 3rd party cookies (assuming your app is running on a different domain than your okta org). Is it possible these are being blocked in your incognito window? Also try opening another tab in the incognito window and navigating to your okta org, to confirm that there is a valid Okta session.

[2021-05-12 21:05] polklabs commented on #729
@aarongranick-okta It is the same behavior but It may not be the same cause since v5.0.0 doesn't set the token to **null** in `updateAuthState()`.
I'll have to test it again with the event watchers I added. But maybe it's something that will already be fixed in the next okta-angular version.

That last 2 comments I added here are captured by issue #732

[2021-05-12 21:21] polklabs commented on #729
@aarongranick-okta Just tested it againts okta-auth-js 5.0.0 and it is the same exact issue as #732 only in this case the token is being set to null in `isAuthenticated()`
https://github.com/okta/okta-auth-js/blob/5.0/lib/OktaAuth.ts#L497

[2021-05-13 11:39] staffordp commented on #734
@aarongranick-okta

1) No we are not blocking third party cookies.
2) Yes, if I open a new tab it works.

[2021-05-13 11:47] #734 closed

[2021-05-13 16:19] aarongranick-okta commented on #732
@polklabs A fix has been pushed as `@okta/okta-auth-js` version 4.9.1

[2021-05-13 17:05] esodell opened #737 "okta-cache-storage saves failed call to .well-known, causing login failures until manually cleared."
Users will enter credentials into an application hosted login page (using Okta sign-in widget) and the followup code after the login is never called, the application just stops in the browser. This is intermittent, not readily reproducible (as far as I can tell), and does not affect all users. It can, however, affect both users with an MFA step and users without one. From what I can tell, the issu

[2021-05-13 18:31] bryanapellanes-okta commented on #737
@esodell,
Thanks for reaching out!  I'll bring this to the attention of our JavaScript developers and someone will comment here with more.

Thanks for using Okta!

[2021-05-13 18:34] bryanapellanes-okta commented on #737
Internal Ref: OKTA-395479

[2021-05-16 15:10] priyath opened #738 "[PKCE SPA] Expired refresh token in local storage results in an inconsistent application state"
The issue can be recreated on the [okta-hosted-login sample](https://github.com/okta/samples-js-react/tree/master/okta-hosted-login) as follows:

Setup:

- okta-hosted-login sample with early access feature Refresh Token Rotation enabled on okta authorization server
- Requested scopes: ['openid', 'profile', 'email', 'offline_access']
- @okta/okta-auth-js version 4.9.0 and @okta/okta-react version

[2021-05-17 09:14] oleksandrpravosudko-okta commented on #738
Thanks for report and detailed repro steps, @priyath.

It looks like expired refresh token error is not handled by renew code - I have created a [PR](https://github.com/okta/okta-auth-js/pull/739) to address that.

[2021-05-19 19:48] aarongranick-okta commented on #732
@polklabs Is it working as expected using auth-js version 4.9.1 ?

[2021-05-19 20:14] polklabs commented on #732
@aarongranick-okta Yes it's working, I have not encountered the issue again since updating to 4.9.1

[2021-05-20 16:53] garrettmac opened #743 "Do you have plans to support Account Creation? (via a non-privileged source)"
From my understanding currently if I want to create an account I have two options:
1. go with the privileged server (e.g. https://github.com/okta/okta-sdk-nodejs)
2. Create Account via [Okta Hosted Page](https://developer.okta.com/docs/concepts/okta-hosted-flows/)

Is account creation via a non-privileged source on the roadmap?

[2021-05-20 19:27] Tennyx opened #747 "Post 4.9.0 update, refresh token not being rotated in local storage on tokenManager.renew()"
It looks like with this fix: https://github.com/okta/okta-auth-js/pull/656

It may have broken the refresh token being replaced in local storage at authClient.tokenManager.renew(token).

New refresh tokens are coming back on /token response, but not being saved in local storage. I tried the following:

[code]

Reverting to 4.8.0, it seems refresh token is updating in local storage with:

`authClie

[2021-05-20 20:08] staffordp opened #748 "Token not revoked when used via the Widget following built in Reset Password feature"
Okta version: 5.0.1

The revoke is not working when using the okta widget when a user uses the built-in reset password feature from the Okta widget provided by Okta.   Once the password is reset, it takes the user to a dashboard where they can launch the application (again dashboard provided by Okta) and the user authenticates in with this token.  I see the token is stored in the cookie storage an

[2021-05-20 21:02] laura-rodriguez commented on #748
Hi @staffordp,

This seems to be related to #747. Can you use an older version for now until our JS devs submit a fix?

[2021-05-21 11:48] staffordp commented on #748
@laura-rodriguez Which version do you suggest?  We had been using 4.6.1 and that didn't work either.

[2021-05-21 12:21] staffordp commented on #748
Tried 4.9.0. Does not work either.  The only difference I see in the introspect of these users is the scope field.

For these users, introspect comes back with:

    "scope": "email openid",

whereas other users that do not use this flow (where the revoke works) have a scope of the following when an introspect is done on their active token:

    "scope": "profile openid email",

[2021-05-21 14:47] shuowu commented on #748
@staffordp Can you share any detail about how the tokens is stored? Issue may happen if multiple OktaAuth instances has been created, but one use custom storage (cookie) for storage, but the other one use the default storage ('sessionStorage') for revoke.

[2021-05-21 14:57] staffordp commented on #748
We use the .sessionStorage option when setting the okta config.

[2021-05-21 15:15] shuowu commented on #748
Then why the tokens end up in the cookies? Can you share your storage related widget config and the oktaAuth config (if you create another authClient instance)?

[2021-05-21 15:43] shuowu commented on #748
@staffordp also, what browser are you using? token storage may fallback to cookies if neither sessionstroage nor localStorage is available. Just want to check if it's the case.

[2021-05-21 17:05] staffordp commented on #748
@shuowu Using Chrome
Version 90.0.4430.212 (Official Build) (64-bit)

[2021-05-24 12:32] staffordp commented on #748
Is there any update or workaround for this issue?

[2021-05-24 12:57] richie5um opened #757 "Unable to pass a custom query parameter to IdP authorize endpoint"
I'm using Okta for local users, and AzureAdB2C for my custom IdP integrations.

I've configured Okta to have my own Okta app, and also a AzureAdB2C IdP app - which connects to my AzureAdB2C account. In the Okta SignIn widget, the user can either enter their credentials directly (to use Okta local users) or click the 'SSO' button to then use AzureB2C to federate the auth to their specific IdP conne

[2021-05-24 14:14] denysoblohin-okta commented on #757
Thanks for submitting this issue.
Internal ref: OKTA-398264

[2021-05-24 18:52] staffordp commented on #748
Discovered why the revoke was failing. During the getWithoutPrompt which is used for the tile Login, the tokens received were not being grabbed by the tokenManager.  Adding this bit of code fixed the issue:
``
          this.authSvc.authClient.tokenManager.setTokens(
            {accessToken: tokenOrTokens.tokens.idToken,
              idToken: tokenOrTokens.tokens.accessToken}
          );
``

[2021-05-24 18:52] #748 closed

[2021-05-24 23:02] rudovjan opened #759 "Enabled MFA (on app or tenant level) force reload page"
Hi everyone,

maybe you are experiencing same, or maybe you experienced same, but I would love to share with you our current experience with MFA

[code]

Steps to reproduce
1. Enable MFA on tenant or application level
2. Used code

[code]

[code]

[2021-05-25 01:29] arvindkrishnakumar-okta commented on #759
Thanks for raising this!

I will let our SDK engineers review this and comment.

cc: @aarongranick-okta @shuowu

[2021-05-25 01:55] rudovjan commented on #759
@arvindkrishnakumar-okta Thank you, for full transparency, we have open ticket with Okta Support, the ticket is #01110259

[2021-05-27 02:47] Clee681 opened #768 "Cannot find module 'atob'"
Hello,

When importing `OktaAuth` from `5.0.2` using node `v14.15.0`, I get the following module error.

[code]

Edit: Confirmed that this is not an issue in `4.9.2`

[2021-05-27 05:14] arvindkrishnakumar-okta commented on #768
@Clee681 Thanks for posting!

I will ask our SDK engineers to take a look and comment.

cc: @aarongranick-okta @shuowu-okta

[2021-05-27 14:45] jchabotamica opened #769 "getIdToken not a function in jest test"
We have jest tests that the dependent code does pull in the OktaAuth.  When instantiating 'new OktaAuth(oktaConfig)', the object returned does not include any of the getters such as getIdToken().
Is there specific logic to not set these when the NODE_ENV is not "development" or "production"?

[2021-05-27 15:31] bryanapellanes-okta commented on #769
@jchabotamica,
Thanks for reaching out!  I'll notify our Javascript developers and someone will respond here.

Thanks for using Okta!

[2021-05-27 15:38] bryanapellanes-okta commented on #769
Internal Ref: OKTA-399609

[2021-05-27 15:38] shuowu-okta commented on #769
@jchabotamica Which version of okta-auth-js are you testing in your app? Before 5.x, the server side oktaAuth instance (picked by jest by default) does not include `getIdToken`. We have made the OktaAuth class isomorphic since version 5.

If you need to stay with other versions, you can add the following config in your jest.config file.
[code]

[2021-05-28 20:46] Clee681 opened #779 "Recommended approach for Server-Side Rendered Apps using authorization_code"
Hello,

Given the growth in popularity of Server-Side Rendered apps (e.g. Next.js, Nuxt.js, Svelte-Kit), what's the recommended approach for SSR apps using the `authorization_code` flow? In the final step, a server-side callback endpoint uses the `code` attained from in a prior step for access tokens via the `v1/token` endpoint. Should SSR apps store the access token as a cookie? That seems vulner

[2021-06-02 12:15] MaximumCrash opened #784 "refreshToken expiration causing 400 error on secure routes instead of redirecting"
Hi I was guided here by Andrea Skouras on the Support Engineering side.

### Expected Behavior

- When using scopes with `offline_access` and a defined refreshToken on our React app (using the okta-react 5.1.1) I expect the app to redirect the user to the okta sign in widget on secure routes when the user's token expires.

### What's Happening

- When the refreshToken expires and the user lands on

[2021-06-02 13:45] oleksandrpravosudko-okta commented on #784
Thanks for the report @MaximumCrash.

Internal ref: [OKTA-400565](https://oktainc.atlassian.net/browse/OKTA-400565)

[2021-06-02 15:39] jchabotamica commented on #769
@shuowu we are using okta-auth-js 4.9.0.  We hope to be upgrading to 5.x soon but right now our jest tests are blocked.
When trying your suggestion, we get a different error:
    TypeError: _oktaAuthJs.OktaAuth is not a constructor

[2021-06-02 15:49] shuowu commented on #769
@jchabotamica Does the jest config in the previous comment help?

[2021-06-02 16:17] jchabotamica commented on #769
@shuowu I get this error when trying that suggestion in jest config:

TypeError: _oktaAuthJs.OktaAuth is not a constructor

It's on this line of code:
new OktaAuth(oktaConfig));

Not sure why that wouldn't work however - since this functionality works outside the context of jest tests.

[2021-06-02 16:36] shuowu commented on #769
Wondering how did you imported the module in test?

[2021-06-02 16:43] jchabotamica commented on #769
in the file its failing:
![image](https://user-images.githubusercontent.com/52013619/120518927-16d25980-c3a0-11eb-96ea-5819d77e0d97.png)

[2021-06-02 16:50] shuowu commented on #769
looks like you are using commonjs module, probably try `var oktaAuth = require('@okta/okta-auth-js').OktaAuth`;

[2021-06-02 17:37] jchabotamica commented on #769
hmmm not sure I follow.  We use ES6/TypeScript.  And this functionality works in our app itself.  Just not when executed from a jest test.  The jest test doesn't include the new OktaAuth(oktaConfig).  The jest tests cover components which rely on the okta client being instantiated.

[2021-06-02 17:44] jchabotamica commented on #769
@shuowu switching it from the .min.js file to the .umd.js in the moduleNameMapper seems to have helped us make progress.  I'll keep you updated if we run into more issues.  Thanks for your help!

[2021-06-02 17:45] jchabotamica commented on #769
For reference, I got this idea from: https://github.com/okta/samples-js-react/pull/149

[2021-06-03 07:40] hirako2000 commented on #768
I confirm the issue when importing 5.0.2.

Here is a PR to fix this: #786

@Clee681 , quick work-around pending patch release:
[code]

[2021-06-03 15:27] salimakhtar92 opened #787 "AuthSdkError: Passed in oktaAuth is not compatible with the SDK, okta-auth-js version 4.x is the current supported version."
Using following version

Okta version
"@okta/okta-auth-js": "^5.0.2",
    "@okta/okta-react": "^5.1.2",
    "@okta/okta-signin-widget": "^5.7.0",

React Version
"react": "^16.12.0",

and node version
node:10.13.0

AuthSdkError: Passed in oktaAuth is not compatible with the SDK, okta-auth-js version 4.x is the current supported version.

[2021-06-05 00:05] jmehetre opened #794 "When there is no active session,autoremove process removes the token from storage"
Autorenew of tokenmanager works fine when thr is session but if there is no session active,tokenmanager try to renew a token and same time it removes the old token from storage.but as no session active it can't renew token.so token in storage is blank which causes other errors.
So how to restrict tokenmanager from remove token from storage if there is no session active??

[2021-06-07 15:14] jridge opened #797 "JWT signing key stuck in browser cache when rotated via Okta API"
Got a request to file a **GH issue against the Auth JS SKE** when I posted this issue to the Okta Developers forum regarding a "stuck JWT signing key".   The posted issue is at URL:  https://devforum.okta.com/t/jwt-signing-key-stuck-in-browser-cache-bug/14295

I copy/pasted the entire post here since it provides the needed details to reproduce the issue:
We are experiencing an interesting challeng

[2021-06-07 16:08] bryanapellanes-okta commented on #797
@jridge,
Thanks for reaching out!  I'll bring this to the attention of our Javscript developers and someone will respond here.

Thanks for using Okta!

[2021-06-07 16:10] bryanapellanes-okta commented on #797
Internal Ref: OKTA-402180

[2021-06-07 19:30] mraible commented on #787
Can you please try using "@okta/okta-auth-js": "^4.9.2"?

[2021-06-08 05:46] ifeltsweet opened #803 "Can't compile with snowpack because this lib is mixing commonjs with esm"
This library is mixing esm imports and commonjs require statements. This breaks compilation with snowpack.

Please see related discussion: https://github.com/snowpackjs/snowpack/discussions/1321

[2021-06-08 07:57] denysoblohin-okta commented on #803
Thanks for submitting this issue.
Internal ref: https://oktainc.atlassian.net/browse/OKTA-402500

[2021-06-08 13:51] shuowu-okta commented on #768
@Clee681 Thanks for reporting the issue, we will release a patch for it and get you updated  in this thread.

@hirako2000 Thanks for your contribution! As there still are some other missing modules in `dependencies`, I'll take this issue over and do more test on it.

Internal Ref: OKTA-402553

[2021-06-08 14:35] #769 closed

[2021-06-08 14:37] jchabotamica commented on #768
@shuowu-okta we are getting a similar issue:
    Cannot find module '@peculiar/webcrypto' from 'node_modules/@okta/okta-auth-js/cjs/crypto/node.js'

Will this be included in the patch?

[2021-06-08 14:47] shuowu-okta commented on #768
@jchabotamica Yep, you can check #805 for details.

[2021-06-08 14:52] shuowu-okta commented on #768
One workaround before the patch release is to manually add modules `atob`, `btoa` and `@peculiar/webcrypto` to your app.

[2021-06-08 16:18] Clee681 commented on #768
Thanks @shuowu-okta!!

[2021-06-08 19:30] shuowu commented on #768
Patches released. You can find 5.1.1 and 5.0.3 on npm.

[2021-06-08 19:38] Clee681 commented on #768
@shuowu-okta I'm seeing the below error on fresh install

[code]

[2021-06-08 20:52] shuowu commented on #768
@Clee681 Which version of okta-auth-js are you using? Also, looks like you are using the CommonJS bundle(cjs), are you working on a server side app?

[2021-06-08 20:56] Clee681 commented on #768
@shuowu-okta I'm using `v5.1.1` in SvelteKit (which does do Server Side Rendering). I think I identified the bug being a Vite issue based on this https://github.com/sveltejs/kit/issues/1570.

[2021-06-09 00:15] Clee681 commented on #768
@shuowu-okta Any ideas if this is an esm vs. cjs issue in `okta-auth-js`?

[2021-06-09 21:14] Clee681 commented on #768
@shuowu-okta I was able to track my issue down to the `@peculiar/webcrypto` dependency. I filed an issue with their project, but it seems like the library does not work in the browser (i.e. it depends on node objects `crypto` and `process`). Hopefully, I get a response from the team. I think this will be an issue for anyone attempting to use `okta-auth-js` in SSR setups w/ Vite.

https://github.co

[2021-06-09 21:21] shuowu commented on #768
@Clee681 This module is used as a fallback for node env, browser side depends on the [Web_Crypto_API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API).

So your app is doing server side rendering, and the bundler picked the cjs bundle of okta-auth-js, then in which step you see the error above?

[2021-06-09 21:30] Clee681 commented on #768
@shuowu-okta Gotcha. I created a quick bare bones reproduction here https://github.com/Clee681/okta-esm-module-repro.

Steps to view the error:

[code]

I only added one line to the base template which was the below:

https://github.com/Clee681/okta-esm-module-repro/blob/0db73163d82248c9e6b2a77c2ae569fac11b7859/src/App.svelte#L4

I appreciate you responding so quickly!

[2021-06-09 21:56] shuowu commented on #768
@Clee681 I think this issue happens when `vite` starts doing deps optimization. You probably can add some custom config there to bypass the `@peculiar/webcrypto`. If you app is just a SPA and runs in modern browsers, then this module won't be needed. https://vitejs.dev/config/#dep-optimization-options

Also another work can be using the okta-auth-js artifact from [Okta global CDN](https://github.c

[2021-06-09 22:02] Clee681 commented on #768
Thanks for looking into it. I'll try bypassing any optimization via the Vite config options to see if that fixes the issue in the repro project.

On first thought, I'm wondering if that solution will work for my SvelteKit app though. Based on my current implementation, I use `OktaAuth` both on the client and server side. For example, the backend uses `OktaAuth.signIn` and the frontend uses `OktaAu

[2021-06-10 11:19] micheleangioni opened #819 "tsd package problematic in serverless projects"
Dear team,
I've noticed that fairly recently this application included `tsd` into the dependencies of the project.

This has terrible consequences for our projects, because we use it in some AWS lambdas. As you probably know, the lambdas [have size limits](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html) of the code they can contain. This includes the `node_modules` folder

[2021-06-10 12:03] denysoblohin-okta commented on #819
Thanks for submitting this issue.
Internal ref: https://oktainc.atlassian.net/browse/OKTA-403207

[2021-06-10 12:24] shuowu commented on #819
@micheleangioni Thanks for reporting the issue! The `tsd` module is used only for type testing, and it should belong to the `devDependencies`. Just wondering which version of okta-auth-js are you using, then we can release a patch for it.

[2021-06-10 12:38] micheleangioni commented on #819
Hi @shuowu ,
thanks for the very fast answer :)

We include in our package.json the version 2.1.0 of `@okta/jwt-verifier`

![image](https://user-images.githubusercontent.com/7933034/121526123-64cb0b00-c9f9-11eb-8e1c-96465c36080c.png)

It then brings this chain of dependencies:

<img width="605" alt="image" src="https://user-images.githubusercontent.com/7933034/121526186-70b6cd00-c9f9-11eb-8d04-8fc

[2021-06-10 14:19] Clee681 commented on #768
@shuowu-okta I _think_ I finally identified the issue. Vite doesn't seem to like how `okta-auth-js` switches between the node and browser dependencies (i.e. using webpack to switch between `node` and `browser` files).

I have a thread in their repository so will report back what they say. I suspect this will be a bigger issue as Vite is gaining a lot of traction in the React, Vue, and Svelte world

[2021-06-10 14:24] shuowu commented on #768
@Clee681 Instead of fighting against `vite`, maybe you can try use the commonJS bundle on the server side, then use the CDN artifact (add <script> tag in your html) for browser side usage. See details [here](https://github.com/okta/okta-auth-js#using-the-npm-module). You can also include the sourcemap for debugging if needed.

[2021-06-10 14:49] Clee681 commented on #768
Interesting, thank you. I'll try that to at least unblock my current work. Will still keep up with the `vite` thread since I think other people will eventually hit the same error.

[2021-06-10 22:48] flabbyThoroughbred opened #822 "How to redirect from backend authentication"
Hi,

I'm using Django to authenticate on the backend as I use a client secret.
I've written a custom callback that calls to Django to authenticate and then posts back something like:
`          <Security oktaAuth={this.oktaAuth} restoreOriginalUri={this.restoreOriginalUri}>`
`            <Switch>`
`              <Route exact path="/" component={NewLogin} />`
`              <Route exact path="/oidc

[2021-06-10 23:14] aarongranick-okta commented on #738
@priyath we have prioritized this bug and will work to release a new version with a fix next week. Thanks again for bringing this issue to our attention.

[2021-06-11 13:08] cmacdonnacha commented on #747
Hey there, any idea when this might be fixed? I am currently reliant on version 4.9 so can't downgrade.

[2021-06-11 14:23] peter-chan-hkmci commented on #439
Is there any updates?

[2021-06-11 14:52] shuowu commented on #439
@peter-chan-hkmci No update for now. I have created an internal ticket and our team will investigate on it.

Internal Ref: OKTA-403546

[2021-06-14 07:50] #593 closed

[2021-06-14 12:20] #768 closed

[2021-06-14 12:21] shuowu commented on #768
@Clee681 Close this issue as it appears to be an issue in vite. Feel free to reopen it if you have any further questions.

[2021-06-14 14:58] shuowu commented on #822
@flabbyThoroughbred Looks like you have a React (SPA) app as frontend and a Django server as backend resource server. Then the SPA app acquires tokens via the oidc flow, then POST with access token to get access to protected resources on your backend.

If my understanding is correct, you can follow the [express resource server sample](https://github.com/okta/samples-nodejs-express-4/tree/master/re

[2021-06-14 15:16] shuowu commented on #803
@ifeltsweet Thanks for reporting the issue! We'll look into solutions like `dynamic import` and `import * as ...` to see if we can replace the require statements in the SDK. Meanwhile, can you try the workarounds in the snowpack thread to unblock your progress?

[2021-06-15 04:48] hirako2000 commented on #768
Please reopen.

It is not an issue with vite. I reproduced the issue with zero frameworks. Just importing okta-auth-js causes the problem.

Also to not, this issue is specifically for the atob dependency being missing. While I understand other there are problems with dependencies as well, those are of different nature and would better be patched separately.

A PR was created to patch this issue sp

[2021-06-15 04:55] hirako2000 commented on #768
@Clee681, while @shuowu's suggestion may work around your problen, vite is designed to handle dependencies to provide many of its benefit. If vite has an issue with building certain assets, file an issue with vite and mention it in this thread so that others who are affected can make sense of that's going on. The vite team is very active and will promptly provide feedback if indeed vite is at faul

[2021-06-15 06:34] hirako2000 commented on #768
I've tested 5.1.1 and the atom dependencies is imported fine. Thanks for fixing it.

The other issues are another problem impacting certain configuration of Vite or the way the deps are imported.

My comment about the release and merging process still applies though. I do hope it is taken in consideration for future handling so that users who track issues don't have to second guess and jump on oth

[2021-06-15 12:23] ifeltsweet commented on #803
None of the workarounds in that thread worked for us. Currently we are resorting to importing via script tag.

[2021-06-16 15:17] shuowu commented on #768
@hirako2000 Thanks for all the suggestion about how to improve the CI! We are actually also exploring approachs to protect against issues like this and it's tracked with an internal Jira.

To be more specific, we currently do run a test harness app which loads the latest okta-auth-js package in CI, but due to the nature of `yarn workspace`, the dependencies from the root level leak to the test har

[2021-06-16 16:43] aarongranick-okta commented on #690
@ankurmungekar Are you able to upgrade to a newer version of `okta-auth-js`?

[2021-06-17 08:42] said-saifi opened #827 "Is there a way to skip OIDC"
### Question

Is there a way to skip `OIDC` by not sending `openid` scope? Or is there any reason why `OIDC` can't be ignored if we wish to.

For some reason (long story) I'm trying to not send any scopes and have the Okta Authorization server return the default custom scopes that I've predefined in Okta for the user using access policy rules. Okta does not allow us to set any of the base scopes i

[2021-06-17 11:57] oleksandrpravosudko-okta commented on #827
Thanks for the question @said-saifi.

You could try using [`transformAuthState`](https://github.com/okta/okta-auth-js#transformauthstate) to define `isAuthenticated` value using accessToken only:

[code]

[2021-06-17 20:01] said-saifi commented on #827
@oleksandrpravosudko-okta Perfect, thank you.

[2021-06-17 20:01] #827 closed

[2021-06-17 21:13] fantapop opened #828 "include one copyright message per bundle"
I've been trying to figure out how I can reduce my bundle size when included okta-auth-js on my frontend.  I noticed that bundles include large copyright notices for each file.  The `dist/okta-auth-js.umd.js` file includes 40KB of these notices.  I don't know if this is possible from a legal perspective but it would be great to strip the Copyright notices during the build and then add a single not

[2021-06-17 21:23] shuowu commented on #828
@fantapop Thanks for catching the issue! We definitely should optimize the bundle size to keep one copyright banner per bundle.

Internal Ref: OKTA-405342

[2021-06-18 14:41] hboylan opened #830 "Bundle size increase from v4 to v5"
We noticed a massive increase in bundle size when upgrading from v4 to v5. This module is already a massive portion of our overall app, but not it's more than 2x than before.

You can see the difference here using [RelativeCI](https://app.relative-ci.com/).
![Screen Shot 2021-06-18 at 9 40 44 AM](https://user-images.githubusercontent.com/2158740/122578196-42e51000-d019-11eb-8aa5-4b3a235b3151.png)

[2021-06-18 14:47] shuowu commented on #830
@hboylan Thanks for reporting the issue! We actually noticed the issue and are working on a fix for it.

Internal Ref: OKTA-396841

[2021-06-18 15:50] hboylan commented on #830
Oh, awesome! Thanks for the update.

Maybe just some dependencies getting bundled by accident.

[2021-06-18 18:07] shuowu commented on #723
@makbol Can you try the suggestion @oleksandrpravosudko-okta provided above? Feel free to reopen the issue if the suggestion does not work for you.

[2021-06-18 18:07] #723 closed

[2021-06-18 18:10] #556 closed

[2021-06-18 18:11] #227 closed

[2021-06-23 15:25] mtruong09 opened #834 "npm i doesn't install all required packages and fails Jest testing"
On version 5.1.1, after running `npm i`, the required modules are not included in the okta-idx-js folder. Our jest tests fail because it cannot find the module 'core-js/modules/es.string.replace.js'. We are using Jest 26.2.2

![image](https://user-images.githubusercontent.com/3227839/123123766-195f2680-d415-11eb-9515-dcfb1e0fa556.png)

Our current workaround is to run `npm i` in the node_modules\@

[2021-06-23 22:27] raspy8766 opened #836 "Refresh tokens are not being set properly in session storage"
## Problem
Okta Auth JS is not properly setting the refresh token to session storage. This seems to only be a problem when refresh token rotation is turned on.

## Details
During the initial authorization code flow the refresh token gets set properly for example:

[code]

During the first token renew call however, the api call successfully returns tokens, but `okta-auth-js` is improperly setting t

[2021-06-23 23:27] shuowu commented on #834
@mtruong09 Thanks for reporting the issue!

Internal Ref: OKTA-406794

[2021-06-23 23:29] shuowu commented on #836
@raspy8766 Thanks for reporting the issue! There is actually a PR (#832) in progress to resolve this issue.

[2021-06-24 21:17] shuowu commented on #819
@micheleangioni @okta/jwt-verifier v2.2.0 which removed the dependency of `@okta/configuration-valiadation` has been released on npm. It should also resolves the `tsd` issue for your case.

Meanwhile, we are also working on move tsd to devDependencies in okta-auth-js. PR can be tracked #839

[2021-06-26 18:07] micheleangioni commented on #819
Thank you very much @shuowu :)

[2021-06-26 18:07] #819 closed

[2021-06-28 08:26] meh-uk opened #841 "Min version of the library uses the 'class' keyword which cannot be polyfilled"
The 5.1.1 version of the library uses the class keyword in the minified version which cannot be polyfilled for IE, can we remove this so IE can be supported?

[2021-06-28 08:27] meh-uk commented on #841
The 5.1.1 version of the library uses the class keyword in the minified version which cannot be polyfilled for IE, can we remove this so IE can be supported?

[2021-06-28 14:39] jeffg-hpe opened #842 "auto renew fails"
Using an oidc app with refresh tokens and refresh token rotation enabled, and using the `master` branch, I am getting this error on autorenew:

[code]

I am looking into it to see if I can provide more details.

EDIT: I can confirm the values passed during token autorenew at this function https://github.com/okta/okta-auth-js/blob/e39e66db2e24df1e1ca31bf082e49095292da043/lib/oidc/endpoints/token.ts

[2021-06-28 16:10] DanielJoyce commented on #718
If they are using SemVer, breaking changes are allowed on major version bumps. If its not being documented it should be.

[2021-06-28 17:34] arvindkrishnakumar-okta commented on #842
@jeffg-hpe Thanks for reporting this!

@aarongranick-okta / @shuowu-okta Can you help with this?

[2021-06-28 17:35] arvindkrishnakumar-okta commented on #841
@meh-uk Thanks for posting!

@aarongranick-okta @shuowu-okta can you assist with this?

[2021-06-28 18:44] aarongranick-okta commented on #842
@jeffg-hpe Are you using custom storage keys to put tokens in non-standard locations? If you are able to place a breakpoint on the exception it would  be very helpful to see what object is being passed to renew.

[2021-06-28 19:18] jeffg-hpe commented on #842
Token is stored in session storage under `okta-token-storage`

I logged the value for `args` in `postRefreshToken` linked above, and it generates this string:
[code]
I masked the values for client ID and refresh token. The values look correct to me.

Specifically this is the code I logged the output of:
[code]

[2021-06-28 20:12] shuowu commented on #787
@salimakhtar92 okta-react version 6.0 which works with okta-auth-js v5 has been released. See [Migrating guide](https://github.com/okta/okta-react#migrating-from-5x-to-6x) for more information.

Close this issue, please feel free to reopen it if you have further questions.

[2021-06-28 20:12] #787 closed

[2021-06-28 20:39] shuowu commented on #834
Resolved in version 5.2.0. https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#520

[2021-06-28 20:39] #834 closed

[2021-06-28 20:40] shuowu commented on #828
Resolved in version 5.2.0

https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#520

[2021-06-28 20:40] #828 closed

[2021-06-28 20:47] shuowu commented on #830
@hboylan Please try version 5.2.0, it should provide a smaller bundle size. You can find update details [here](https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md#520). In the future, we will keep investigating on other options to reduce the bundle size.

Close this issue, please feel free to reopen or create a new issue if you still experience bundle size related issue.

[2021-06-28 20:47] #830 closed

[2021-06-28 20:55] shuowu commented on #568
UPDATE: the okta-auth-js ES module bundle is isomorphic for both browser and server side since version 5.x.

Close this issue, please reopen or create a new issue if you have further questions.

[2021-06-28 20:55] #568 closed

[2021-06-28 21:38] jeffg-hpe commented on #842
Specifically, I think this is getting called but the token is a refresh token:

https://github.com/okta/okta-auth-js/blob/e39e66db2e24df1e1ca31bf082e49095292da043/lib/oidc/renewToken.ts#L36-L39

[2021-06-28 23:45] aarongranick-okta commented on #842
@jeffg-hpe thanks for the information. I believe I was able to reproduce the issue locally, and I am working on a fix now. Hopefully should be verified and released within the next few days.

[2021-06-29 00:59] aarongranick-okta commented on #841
@meh-uk thanks for the report. We have confirmed the problem and created an internal ref: OKTA-408169
We will get this fixed ASAP

[2021-06-29 01:24] InfinityBMX commented on #718
@DanielJoyce That's not the point. The point is they're making breaking changes with no benefit or clear upgrade path. I'm migrating an old neglected app from okta-react 3/okta-auth-js 4 to okta-react 6/okta-auth-js 5 and I pretty much have to rewrite the entire auth portion because half the methods and exposed variables I used have been removed or renamed (with new options and quirks). Updating t

[2021-06-29 01:45] DanielJoyce commented on #718
By semver, it's perfectly okay that major version bumps can drastically change APIs. That's what major version changes are for.

That said for a commercial project, they should have a better change document and upgrade documentation.

[2021-06-29 02:29] InfinityBMX commented on #718
SemVer is a way of tagging updates. The complaint isn’t that they didn’t tag their changes appropriately. The complaint is that they keep pumping out breaking changes for no apparent benefit faster than they can fully document them. Then they retire old versions so you’re forced to update to stay current.

[2021-06-29 05:42] kellengreen commented on #718
100% to this.

I really don't mind breaking changes, but when they're largely undocumented outside of PR notes, it's a recipe for frustration.

[2021-06-29 18:29] vishnup95 opened #847 "Getting access_token and id_token from sessionToken - Redirect Issue"
Hi,

I am using okta-angular, but mainly relying on the okta API for user creation and authentication. So I thought I would post this here.
 - I initially called the `sigInWithCredentials` method to sign users into my Angular app.
 - Since we have enabled SMS-based MFA for users. I get `MFA_REQUIRED`. I call the `factors. verify()` method to send out an SMS and show a screen to enter the token rec

[2021-06-29 18:33] vishnup95 commented on #847
I am on ` "@okta/okta-angular": "3.1.0"`

[2021-06-29 18:35] arvindkrishnakumar-okta commented on #847
@vishnup95 Thanks for posting!

@aarongranick-okta @shuowu-okta Can you assist with this please?

[2021-06-29 21:25] DanielJoyce commented on #718
Welp, I can now understand what you guys are seeing. Nothing is kept in sync. Hoboy.

[2021-06-30 08:23] meh-uk commented on #841
Thanks!

[2021-06-30 17:28] DanielJoyce commented on #718
This has been a super frustrating experience trying to consume this UI in a Typescript project. Nothing right now seems to fit together and work type-wise. I've tried different versions of okta-react and okta-auth-js and it's just not working. The types are just not consistent both between the projects and compared to what the docs day.

[2021-06-30 19:55] johnstondo opened #848 "Receiving this error upon attempting to login to our customer portal in development environment: "AuthSdkError: Unable to parse storage string: okta-token-storage""
Recently we added a few new claim values but those have been there for a week or so and showing up in the JWT tokens.  Suddenly yesterday I started getting "AuthSdkError: Unable to parse storage string: okta-token-storage" at login time.

[2021-06-30 20:48] hboylan commented on #830
v5.2.0 certainly helps, but it's still 150% larger than v4.9.0 which we currently use in production. That would nearly double the entire bundle size for our app. 😬

![Screen Shot 2021-06-30 at 3 44 06 PM](https://user-images.githubusercontent.com/2158740/124028790-04a50480-d9ba-11eb-85b5-972b7992ceca.png)

[2021-06-30 21:13] arvindkrishnakumar-okta commented on #848
@johnstondo Thanks for posting!

Can you share more background on the environment and a stack trace of the error?

[2021-06-30 23:04] aarongranick-okta commented on #738
This issue has been corrected in `okta-auth-js` version 5.2.0.

[2021-06-30 23:04] #738 closed

[2021-06-30 23:06] aarongranick-okta commented on #747
This issue has been fixed in `okta-auth-js` version 5.2.0.

[2021-06-30 23:06] #747 closed

[2021-06-30 23:27] aarongranick-okta commented on #690
@ankurmungekar We are no longer supporting the 3.x version. We recommend upgrading to the latest version which has all fixes and features. Token auto renew happens automatically in the background and by default all tokens will be cleared on failure.  If you have any problems with the latest version, please open a new issue here on Github. Thanks for using Okta!

[2021-06-30 23:27] #690 closed

[2021-07-01 15:42] priyath commented on #738
Thanks for addressing this!

[2021-07-05 05:20] GreatEarl commented on #371
Has this issue been fixed?

[2021-07-05 11:27] rorygrandin opened #850 "State not being returned when using getWithRedirect"
We've just updated from using okta-auth-js 4.0.2 to 5.1.1, and the state is no longer returned when using getWithRedirect. I've tracked it down to [this ](https://github.com/okta/okta-auth-js/pull/567) pull request. I've got a fix for this (I think) which shouldn't have any impact on anything else, which I'll make a pull request for shortly.

Note that this may be the same issue as https://github.

[2021-07-05 13:46] shuowu commented on #850
@rorygrandin Thanks for the contribution! While we are review the PR, can you sign an CLA as described at - https://developer.okta.com/cla/

[2021-07-05 13:48] shuowu commented on #850
Link PR #851

[2021-07-05 14:29] rorygrandin commented on #850
@shuowu updated the PR description to indicate that I think it's probably an obvious fix. If not, let me know.

[2021-07-05 16:07] shuowu commented on #545
@ipxat Can you try [authClient.getUserInfo](https://github.com/okta/okta-auth-js#tokengetuserinfoaccesstokenobject-idtokenobject)

[2021-07-06 13:20] shuowu commented on #842
@jeffg-hpe Can you try okta-auth-js version 5.2.1? The newly released patch should handle the refresh token issue properly.

[2021-07-07 15:21] jridge commented on #797
Curious if there has been any progress made on this issue?  We are prepping for Production relatively soon and are hoping for some useful feedback prior to then.  Otherwise we will need to proceed as if JWT Signing Key rotation is not really supported by Okta.  This is a pretty standard configuration (Angular UI, Spring resource server backend) and we really do want to use the rotating keys.  Plea

[2021-07-07 15:36] shuowu commented on #797
@jridge If I understand the issue correct, the cause looks like after the key rotation, the minted tokens (in your client side) become invalid, and stuck in the browser storage, which lead to the failure for the next login.

Our team will prioritize the issue and release a patch for it.

Meanwhile, can you try [introspect](https://developer.okta.com/docs/reference/api/oidc/#introspect) the tokens

[2021-07-07 15:55] jridge commented on #797
Clearing the sessionStorage doesn't help.  It appears that when the Angular app does its thing the old stale key is once again copied from the Browser cache.  Clearing the stale signing key from the browser is the challenge.  I'm unaware of any techniques that would allow the Angular application to clear the chrome/edge browsers specific entry in the "images and Files”.  If this was feasible (with

[2021-07-07 16:17] shuowu commented on #797
@jridge You are right, the stale keys should be the issue. As the keys are acquired from the well-know endpoints, and cached based on `cache` config of the [storageManager](https://github.com/okta/okta-auth-js#storagemanager). And with some digging, looks like currently there is no high level config to control the cache behavior of the well-know response.

One thing you probably can try is to iden

[2021-07-07 18:14] jridge commented on #797
Pretty sure the signing key stuck in the cache is NOT in a cookie.  We can manually fix the problem as follows:  manually clear out the browser cache (for Chrome use): Settings/Privacy & Security/Clear browsing data/Images and Files. - Clear All.    If this is something you guys can fix by releasing a patch that would be much appreciated.   I'm hoping you can come up with a solution that doesn't r

[2021-07-08 21:07] aarongranick-okta commented on #377
@kyeotic Many apologies for this issue falling through a crack, I have confirmed this issue still exists and was not fixed by #646

We have re-prioritized this issue and are currently working on a proper fix.
internal ref: OKTA-409981

[2021-07-09 21:44] dustin-rcg opened #856 "Okta redirects to implicit callback with blank screen after a while"
We have an app that was working before we upgraded. Our new versions are

@okta/okta-auth-js version "5.2.1"
@okta/okta-react version "6.0.0"
react version "17.0.2"

The app loads fine, but after some time (maybe 30-60 minutes) the screen appears blanks white.  We see in the javascript console that the app has automatically navigated to the implicit callback URL:
[code]
Just prior to that console

[2021-07-09 22:37] MikeMondragon-okta commented on #856
Hi @dustin-rcg I'll see if I can find some help with this.

[2021-07-09 23:31] shuowu commented on #856
@dustin-rcg I think your assumption is correct, it's caused by token auto renew, we'll prioritize the issue and investigate on the issue.

Internal Ref: OKTA-410934

[2021-07-12 13:50] dean-dot-git opened #857 "transformAuthState on OktaAuthOptions - typescript issue with OktaAuth parameter"
I'm getting the following type error when applying the OktaAuth type to the oktaAuth parameter:

![image](https://user-images.githubusercontent.com/86485757/125298340-a9dea780-e2ed-11eb-936b-337f6084a17d.png)

I'm using v5.2.0 of @okta/okta-auth-js.

This is reproducible by just specifying the type on the parameter.

[2021-07-12 15:22] laura-rodriguez commented on #857
Hi @dean-dot-git,

Thanks for reporting this issue.

Someone from our JS team will take a look soon.

[2021-07-12 15:27] shuowu commented on #857
Internal ref: OKTA-411084

[2021-07-14 14:10] duggantRC commented on #856
Following up on this, has there been any progress?

[2021-07-14 15:09] shuowu commented on #856
@dustin-rcg We have prioritized the issue, a patch release will come soon.

The cause is when idToken and accessToken expire at almost the same time, a false-positive authState.isAuthenticated status will be emitted during token auto renew process.

A workaround is to add an [transformAuthState](https://github.com/okta/okta-auth-js#transformauthstate) option to evaluate authState.isAuthenticated b

[2021-07-14 19:14] mica16 commented on #207
Nowadays you can do it easily:

https://github.com/okta/okta-auth-js#storagekey

[2021-07-15 15:24] shuowu commented on #857
@dean-dot-git okta-auth-js exposes type for `OktaAuthOptions`, you can use it directly when you declare the configs.

[code]

See details [here](https://github.com/okta/okta-auth-js/blob/5.2/lib/types/OktaAuthOptions.ts)

[2021-07-15 15:42] shuowu commented on #847
@vishnup95 Can you try `signInWithRedirect({ sessionToken })`?

See details [here](https://github.com/okta/okta-auth-js#signinwithredirectoptions)

[2021-07-15 15:49] shuowu commented on #434
@chadmg The safari issue may cause by the `Prevent cross-site tracking` was enabled in the browser.

With the current version of okta-auth-js, you can add `offline_access` to scopes to enable refresh token feature to bypass the third party cookie restrictions.

Reference: https://developer.okta.com/docs/guides/refresh-tokens/overview/

[2021-07-15 15:55] shuowu commented on #454
Close this issue as okta-auth-js exposes isomorphic APIs since version 5.x.

[2021-07-15 15:55] #454 closed

[2021-07-15 16:15] shuowu commented on #230
Internal Ref: OKTA-412511

[2021-07-15 16:18] shuowu commented on #403
Readme is updated with `async` flag now.

[2021-07-15 16:18] #403 closed

[2021-07-15 16:27] shuowu commented on #228
@jphines57 Based on the [release status](https://github.com/okta/okta-auth-js#release-status), version 2.x has been retired. Can you try the latest version (5.x)?

Closing the issue, feel free to re-open it if any further issue is found.

[2021-07-15 16:27] #228 closed

[2021-07-15 16:31] shuowu commented on #359
Issue has been fixed since v3.2.0

[2021-07-15 16:31] #359 closed

[2021-07-15 16:31] shuowu commented on #358
Issue has been fixed since v3.2.0

[2021-07-15 16:31] #358 closed

[2021-07-15 16:33] dean-dot-git commented on #857
![image](https://user-images.githubusercontent.com/86485757/125824323-5fea4dae-5748-4dae-884f-89bb5db6ee39.png)

By doing this, it solved the issue.  Please close this issue.  It was my mistake.

[2021-07-15 16:33] #857 closed

[2021-07-15 16:37] shuowu commented on #486
Tracked in https://github.com/okta/okta-oidc-js/issues/861, Close this issue.

[2021-07-15 16:37] #486 closed

[2021-07-15 16:42] shuowu commented on #185
@jordan112 Can you try encode the info in the [state](https://github.com/okta/okta-auth-js#state) option?

[2021-07-15 16:47] shuowu commented on #688
@brvaland I think the redirect to okta behavior is caused by the `SecureRoute` (from okta-react), you can provide an [onAuthRequired](https://github.com/okta/okta-react#onauthrequired) to customize the behavior.

[2021-07-15 16:48] #224 closed

[2021-07-15 17:17] jordan112 commented on #185
Yes, that is what we ended up doing.  encoded in the state.

[2021-07-15 17:17] #185 closed

[2021-07-15 17:47] shuowu commented on #847
right, only use the signInWithRedirect method after you get sessionToken.

The 404 might because you have multiple okta sessions in browser (logged in with different accounts), try use incognito mode with your browser.

[2021-07-15 18:08] shuowu commented on #459
Issue is fixed since 4.7.0

[2021-07-15 18:08] #459 closed

[2021-07-15 18:13] shuowu commented on #641
Close this issue as okta-auth-js v5 exposes isomorphic APIs.

[2021-07-15 18:13] #641 closed

[2021-07-15 18:21] shuowu commented on #592
Fixed since v5.0

[2021-07-15 18:21] #592 closed

[2021-07-15 21:03] shuowu commented on #784
Fixed in v5.2.1

[2021-07-15 21:03] #784 closed

[2021-07-15 21:23] kaburnside commented on #251
Is there currently any updates on this? We have clients who set their clocks manually that would be more than an hour time difference than the servers current time. Is there a possible workaround for the time being?

[2021-07-16 08:26] restcristian opened #867 "token.getWithoutPrompt work without cookies"
Hello,

As far as I know, the function `token.getWithoutPrompt` works by requiring the user to accept third-party cookies. Are there plans to address this soon? if so, is there a date?

The issue is that we would like to implement login to Okta without taking the user outside of our app flow.

Thank you very much.

[2021-07-16 09:22] oleksandrpravosudko-okta commented on #867
Thanks for reaching out @restcristian.

Okta Identity Engine and a client code for communicating with it - the [idx module](https://github.com/okta/okta-auth-js/blob/master/docs/idx.md) are introduced to avoid the third party cookie issues.

[2021-07-16 10:37] vishnup95 commented on #847
@shuowu `getWithRedirect` also takes me to the okta page. The issue still persists.

[2021-07-16 10:54] restcristian commented on #867
Hi @oleksandrpravosudko-okta , thanks for the quick response. Does this feature require additional payment in order to activate it on the backend and be able to use the idx functions in the frontend?

[2021-07-16 11:06] oleksandrpravosudko-okta commented on #867
@restcristian I _assume_ dev orgs might get a free OIE trial but you will be better off confirming that at oie@okta.com.

[2021-07-16 14:52] darkowic opened #868 "Token manager event constants not available in Jest"
The package exports constants for [token manager events](https://github.com/okta/okta-auth-js#tokenmanageronevent-callback-context):
[code]
The constants are not available in Jest. This is because of the different builds for es modules and for cjs.
Browser:
<img width="610" alt="Screenshot 2021-07-16 at 16 45 27" src="https://user-images.githubusercontent.com/11510581/125965933-cd2cba44-36b5-4717-

[2021-07-16 15:18] shuowu commented on #868
@darkowic Can you try the version 5.x? as it exposes isomorphic APIs for both browser and node envs, the issue should be addressed with the upgrading.

[2021-07-16 15:25] darkowic commented on #868
I was afraid of this question :D

I can not fully upgrade at the moment but I was able to run it with v5 and the events are there (and many more helpers than previously).

Thanks!

[2021-07-16 15:25] #868 closed

[2021-07-16 15:27] shuowu commented on #868
Another option would be using the jest.moduleNameMapper, you can find example [here](https://github.com/okta/samples-js-react/blob/master/okta-hosted-login/package.json#L47)

[2021-07-16 15:32] darkowic commented on #868
Great! This is what I need! Thanks 🚀

[2021-07-19 14:28] dusan-dragon opened #870 "Okta initiated login stopped working"
Until recently Okta initiated login to our SPA worked just fine (via Okta dashboard)

Recently it stopped working after recreation of app in Okta... It looks like these (okta-auth-js and okta-react) does not support it anymore.

In okta admin there are just 2 option:

Redirect to app to initiate login (OIDC Compliant)
Send ID Token directly to app (Okta Simplified)

First one redirect user from Ok

[2021-07-19 14:56] shuowu commented on #870
@dusan-dragon Thanks for the posting!

This SDK supports both [signInWithRedirect](https://github.com/okta/okta-auth-js#signinwithredirectoptions) and [signInWithCredentials](https://github.com/okta/okta-auth-js#signinwithcredentialsoptions).

The redirect sign in follows OAuth2 specification for the query params in the redirect url, and the SDK parse the url based on that specification. Can you s

[2021-07-19 15:04] shuowu commented on #841
@meh-uk The issue is fixed and released in version 5.2.2. Closing the issue, feel free to re-open it if the issue still exists.

[2021-07-19 15:04] #841 closed

[2021-07-19 15:15] dusan-dragon commented on #870
@shuowu

Because the only responsibility for server in SPA is to serve static content and not process request bodies. For example nginx even does NOT support responding with static content to POST requests... and you need to respond with static content - because it has to have that SPA in it....

Well not at all, the first linked method says `Starts the full-page redirect to Okta` however starting

[2021-07-19 17:46] dusan-dragon commented on #870
@shuowu note that I just tried it with https://github.com/okta/samples-js-react and it also does not work there. For Okta simplified flow it also says cannot accept POST .....

For OIDC Compliant it redirects to app but then do nothing and does not initiate any login.

[2021-07-19 20:30] shuowu commented on #870
I don't really follow, the SPA is served in a static server, like nginx, then browser loads the static assets, then make post requests from there.

Also, which version of okta-react and okta-auth-js are you using in your app? In the recent okta-react versions, you will need to pass in an okta-auth-js instance to the Security component.

[2021-07-19 20:36] shuowu commented on #848
@johnstondo This error is thrown when fails to parse JSON string, have you manually modified the storage values? Probably try clear your browser storage and try login again?

[2021-07-19 20:43] shuowu commented on #847
@vishnup95 Sorry, I might miss guide you with the incorrect method. Please try with [session.setCookieAndRedirect](https://github.com/okta/okta-auth-js#sessionsetcookieandredirectsessiontoken-redirecturi)

We also have a sample for it, see [here](https://github.com/okta/okta-auth-js/blob/c5ae1eb0869f10f42ad8df0591db2b45c2e27c40/samples/generated/static-spa/public/app.js#L309).

[2021-07-19 20:49] shuowu commented on #822
@flabbyThoroughbred  Closing the issue, feel free to re-open it if you still have further questions.

[2021-07-19 20:49] #822 closed

[2021-07-19 21:02] shuowu commented on #794
@jmehetre You can try to set the [autoRemove](https://github.com/okta/okta-auth-js#autoremove) option to `false` to disable auto remove when no active session.

[2021-07-19 21:37] shuowu commented on #683
@garrettmac With calling the [signOut](https://github.com/okta/okta-auth-js#signout) method, it kills the Okta SSO session. But other devices app session may depend on how you define it in your app. Like in the okta-auth-js SDK, the app will be evaluated as `authenticated` if both accessToken and idToken are not expired, but tokens can still live after session has expired.

[2021-07-20 06:39] dusan-dragon commented on #870
@shuowu please read my last comment again. I used your org sample apps and it is not working there.

Exactly static server so it is not suppose to handle POST request incoming from Okta

1.  User click on icon in Okta dashboard
2. Okta will send POST request with idToken in body to static server (url of SPA, usually spa.com/implicit/callback)
3. Static server does not know what to do with POST req

[2021-07-20 13:46] shuowu commented on #870
@dusan-dragon After trying the react sample app, I still cannot see the issue you described here..

Also, I am confused with

Do you mean user login from Okta dashboard?

Meanwhile, I suggest you can reach out to our [support team](https://support.okta.com/help/s/?language=en_US), they can help dive into details about your particular case.

[2021-07-20 13:54] #581 closed

[2021-07-20 14:00] shuowu commented on #507
@darkowic Probably you can try only add base claims to the idToken, then get the full user info from /userinfo endpoint (if using cookie as storage is mandatory).

Referenece:
https://developer.okta.com/docs/reference/api/oidc/#claims-in-the-payload-section
https://developer.okta.com/docs/reference/api/oidc/#userinfo

[2021-07-20 14:27] dusan-dragon commented on #870
Yes, that is what I am talking about whole time. Okta initiated login.
![Screenshot 2021-07-20 at 16 26 01](https://user-images.githubusercontent.com/45170274/126341659-90a4be3c-19d6-4864-be91-41460b09ce3c.png)

[2021-07-20 14:30] vishnup95 commented on #847
Thanks for that @shuowu. So I would get my `sessionToken` and call `session.setCookieAndRedirect`. Then if my understanding is correct, I need to parse from the redirect URL again right to get the tokens I need? Am I missing something?

[2021-07-20 14:32] shuowu commented on #870
I am not aware of that feature. As I suggested in last comment, please reach out to the support team, they can help better with that.

[2021-07-20 15:25] shuowu-okta commented on #847
In your flow, two things should be done, which are get tokens and set session cookie. Before I thought both are handled within `signInWithRedirect`, but looks like it's not.

So after you get the `sessionToken`, you can firstly call [getWithoutPrompt](https://github.com/okta/okta-auth-js#tokengetwithoutpromptoptions) to get tokens and storage it with TokenManager (there is code sample in the link)

[2021-07-20 16:05] shuowu commented on #405
@ryanrishi and @jakehockey10 Thanks for catching the issue!

Internal Ref: OKTA-413924

[2021-07-20 16:13] #701 closed

[2021-07-20 16:25] shuowu commented on #676
Internal Ref (only store encoded token in cookie): OKTA-413942

[2021-07-20 16:46] shuowu commented on #389
okta-auth-js starts supporting types since version 4.

[2021-07-20 16:46] #389 closed

[2021-07-20 16:48] shuowu commented on #357
@Mak2492 Have you figured out a way to unblock the IE11 issue?

[2021-07-20 16:49] shuowu commented on #550
Fixed in v4.6.0. Closing this issue, feel free to re-open it if the issue still exist.

[2021-07-20 16:49] #550 closed

[2021-07-20 16:53] shuowu commented on #687
@SebMarson Closing the issue as it turns out this is an unsupported feature from okta-auths-js SDK. Feel free to re-open it if you have any further questions.

[2021-07-20 16:53] #687 closed

[2021-07-20 17:30] shuowu commented on #371
@GreatEarl We are still working on "the longer term" solution. For now, you can follow the suggestion in https://github.com/okta/okta-auth-js/issues/371#issuecomment-643431027 to  use the `custom domain` solution as a workaround.

[2021-07-21 18:45] vishnup95 commented on #847
HI @shuowu or @shuowu-okta :slightly_smiling_face: I tried your suggestion. I went ahead and called `getWithoutPrompt` passing my sessionToken to get the authToken. After that I called the `session.setCookieAndRedirect` method. It took me to our okta page for sign in (not MFA :smile: ).
![okta_sigin](https://user-images.githubusercontent.com/50899727/126541712-67efb63e-c27e-4ef4-936c-59a29108a353.

[2021-07-22 15:15] emanor-okta commented on #870
@dusan-dragon
For SPA apps, Okta simplified has always done a POST with the id_token, and Okta compliant has always done a GET with the issuer (iss) as a query parameter. At least as far as I know this is how they behaved.

However I am not aware that any of our FE SDKs ever had any type of built in logic to handle this.
Do you know what version of okta-auth-js or okta-react you were using before

[2021-07-22 17:25] shuowu commented on #870
@dusan-dragon Some updates, after talking with the team, it seems like the `okta simplified` option has issue in the SPA app `okta-initiated login` settings. As you mentioned, it should not trigger a form_post for SPA. Thanks for helping catch the bug!

For the `OIDC Compliant` options, you can follow the instruction [here](https://help.okta.com/en/prod/Content/Topics/Apps/Apps_App_Integration_Wiz

[2021-07-22 19:33] shuowu commented on #867
@restcristian While we are still working on the OIE features, you can set [enable the custom domain](https://developer.okta.com/docs/guides/custom-url-domain/enable-the-custom-domain/) to make cookies as "first-party".

[2021-07-22 19:33] dusan-dragon commented on #870
@shuowu thank you for update. Does it mean that okta simplified flow is going to be "fixed" for spa? Is there a way how we can track that bug and its resolution? Do you have any ETA for fixing that?

Thank you

[2021-07-22 19:41] shuowu commented on #870
No ETA right now. For now, can you try `OIDC Compliant` option as a workaround?

[2021-07-22 20:04] shuowu-okta commented on #856
This issue is fixed in [5.2.3](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.2.3) patch. Closing this issue, feel free to re-open if the issue still exist.

[2021-07-22 20:04] #856 closed

[2021-07-22 20:06] shuowu-okta commented on #836
@raspy8766 This issue is handled in recent patches, can you verify with the latest version of okta-auth-js (5.2.3)? Closing this issue, feel free to re-open it if the issue still exist.

[2021-07-22 20:06] #836 closed

[2021-07-22 20:07] shuowu-okta commented on #729
This issue is fixed in [5.2.3](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.2.3) patch. Closing this issue, feel free to re-open if the issue still exist.

[2021-07-22 20:07] #729 closed

[2021-07-23 16:39] DanielJoyce commented on #718
Putting `"strict": true` in tsconfig.json causes a lot of warnings/errors, not just type related ones, but ones such as "X is possibly undefined" and "X is possibly null"

switching to

`
    "strict": true,
    "noImplicitAny": false,
`

This removes a bunch of the implicit any errors, leaving other possibly more concerning errors behind.

Running yarn build results in approximately 300 errors wi

[2021-07-23 21:36] DanielJoyce commented on #718
in `http.ts`

[code]

The problem is sdk.options.RequestClient can be undefined according to the `RequestOptions` defintion.

I assume perhaps something in the framework sets it up somehere most of the time, but this isn't obvious

[2021-07-25 13:22] GreatEarl commented on #371
@shuowu Thanks for the advise but apparently, this issue does not exist in latest Safari v.14. At least, what didn't work for me in v.13 - signing up a new user, works fine now.

[2021-07-27 12:27] TreyBastian commented on #870
The flow in the sample from @emanor-okta seemed to highlight the app is being authenticated with the dashboard of it's own okta instance (where it's configured), but what about in the situation of a 3rd party idP initiated flow.

Essentially we protect our app with okta, we have another okta instance being used as an identity provider. Our react app is just fine with using idPDiscovery from the se

[2021-07-27 12:34] dusan-dragon commented on #870
@TreyBastian can you describe in more details what does it mean that things go wrong?

From my understanding that if you choose OIDC Complaint options then things should work. Meaning that your 3rd party idP is not configured properly to execute OIDC Complaint flow.

Imho with OIDC Complaint it should looks like:
- 3rd party server initialize login with iss in url (redirect to your app with iss pa

[2021-07-27 12:37] TreyBastian commented on #870
@dusan-dragon thanks for the reply. My assumptions were this should work by default so if my configuration is wrong do you have an example of a good configuration?

our 3rd party idp app setup right now is oidc web -- signin redirect url is our oauth2 authorize callback for our okta tennant and initiate login URI is currently our app base url but we've also attempted to point it right at the okta/

[2021-07-27 13:31] dusan-dragon commented on #870
@TreyBastian Well it is hard to tell if it is correct or wrong because we do not know your configuration. Also if you are mentioning `Web` then it is expecting that authentication is happening on your servers kind of... but you have also mentioned react which could be pointing out that you have SPA (single page application)... so something looks fishy there 😄

![Screenshot 2021-07-27 at 15 27 02](

[2021-07-27 14:40] shuowu commented on #797
@jridge Have you seen any specific error message when the keys are stale in cache?

[2021-07-27 14:43] x87 opened #877 "signInWithCredentials should send the request with { withCredentials: true }"
Hi,

After a breaking change #677 in v5.0 `withCredentials` option has become `false` by default, so the browser does not attach the cookies to http requests.

Most of the API methods were updated except one for `signInWithCredentials` that makes a call to `api/v1/authn` without cookies attached. This prevents OKTA from getting the `DT` cookie and thus skipping mandatory MFA flow if the device had

[2021-07-27 14:52] shuowu commented on #877
@x87 Thanks for reporting the issue! We'll prioritize and release a patch for it soon.

Internal Ref: OKTA-415464

[2021-07-27 23:58] jpspringall opened #879 "Disable JWT Lifetime Check"
Hi,

We are facing an issue where some our users have the local times set massively wrong (Some are years out)

This means that they face a JWT lifetime validity error.

We could use a massive clock skew,
but as the JWT lifetime validation doesn't really add anything from a security perspective,
as you can get round it by changing the local time,
I wondered what the appetite was introducing an opt

[2021-07-28 00:50] aarongranick-okta commented on #879
@jpspringall Thanks for the suggestion. I do think this would be a good option, to skip the time-based check (which as you point out can be easily gamed) but continue with the signature check which is much harder to fake. I have created a new id for tracking/prioritizing this work: OKTA-415796

The relevant code seems to be here on the issue, so there is no need to open a PR yourself unless you'd

[2021-07-28 02:24] jpspringall commented on #879
Hi @aarongranick-okta

More than happy to do the work as means it might into a release sooner :-)

Cheers

J

[2021-07-28 20:06] #842 closed

[2021-07-28 20:09] shuowu-okta commented on #717
@priyath okta-auth-js v5.2.3 should have this issue fixed. Closing this issue, feel free to re-open the if the issue still exist.

[2021-07-28 20:09] #717 closed

[2021-07-28 20:16] shuowu-okta commented on #743
@garrettmac Please see https://github.com/okta/okta-auth-js/issues/727#issuecomment-834787914

Before the official support is available from this SDK, can you use okta-signin-widget to achieve self service registration?

[2021-07-28 20:25] shuowu commented on #847
@vishnup95 This issue (https://github.com/okta/okta-auth-js/issues/877) might be related to your case.

[2021-07-28 20:28] shuowu commented on #847
@vishnup95 We have identified an issue that sessionCookieRedirect is not setting "sid" cookie. I think it might related to your scenario. I'll post update here when the issue is addressed.

[2021-07-28 20:31] emanor-okta commented on #870
This definitely can be setup if your Org2Org IdP is SAML, if it is OIDC I would need to test it.

[2021-07-28 22:08] TreyBastian commented on #870
@emanor-okta

Thanks so the suggestion is to use SAML flows for org2org idP instead of oidc?

[2021-07-28 23:20] jpspringall commented on #879
Hi @aarongranick-okta, I do have a question:

I did a search for 'ignoreSignature', and got results in the following files:

lib\options.ts:
lib\TransactionManager.ts:
lib\idx\run.ts:
lib\idx\transactionMeta.ts:
lib\oidc\exchangeCodeForTokens.ts:
lib\oidc\getWithRedirect.ts:
lib\oidc\handleOAuthResponse.ts:
lib\oidc\verifyToken.ts:
lib\oidc\util\defaultTokenParams.ts:
lib\types\api.ts:
lib\types\O

[2021-07-29 10:17] emanor-okta commented on #870
It can be done with the SAML Org2Org see [here](https://saml-doc.okta.com/SAML_Docs/Configure-SAML-2.0-for-Org2Org.html).
This involves creating a SAML IdP in the Org with the OIDC App. In the other Org create a SAML App and a bookmark app that points to the SAML App. The bookmark app passes your OIDC application initiate login URL as the RelayState for the SAML app.

There are other options to us

[2021-07-29 11:35] TreyBastian commented on #870
Thanks so much this solved my issue! Just a heads up idp is not a valid option for signInWithRedirect according to the typings

[2021-07-29 11:43] emanor-okta commented on #870
Should be [signWithRedirect](https://github.com/okta/okta-auth-js#signinwithredirectoptions), takes [optional request parameters](https://github.com/okta/okta-auth-js#authorize-options)

[2021-07-29 14:32] jchabotamica opened #880 "maxClockSkew seems ignored"
maxClockSkew seems to be ignored.  I set my maxClockSkew to 900 and if I change my system time to more than 5 minutes but less than 15 minutes EARLIER than real time, then I get the error:
{name: "OAUTH_ERROR", message: "The JWT was issued in the future"}

However, I get set my system time to anywhere with an hour of AFTER real time, and am able to authenticate and login.

I am using the okta-sign

[2021-07-29 16:49] aarongranick-okta commented on #880
@jchabotamica Thanks for the report. We will investigate and get back to you. Internal ref: OKTA-416291

[2021-07-29 19:07] zachauten opened #882 "How can I retrieve the randomly generated state parameter after calling token.getWithRedirect?"
For context, I'm implementing the OIDC authorization code flow + PKCE. My understanding is that using the nonce isn't necessary for this case, but validating with the state param is still best practice.

The README states: `A client-provided string that will be passed to the server endpoint and returned in the OAuth response. The value can be used to validate the OAuth response and prevent cross-s

[2021-07-29 19:15] shuowu commented on #882
Relates to #850

[2021-07-29 19:25] zachauten commented on #882
@shuowu I guess i overlooked that issue, it looks like it's the same as this one. I'll close this!

[2021-07-29 19:38] zachauten commented on #882
Actually I'm not 100% sure this is the same as #850, I'll reopen and let you guys decide.

[2021-07-29 22:56] jpspringall commented on #880
Hi  @jchabotamica,

How long is your JWT valid for? The logic is for the error: 'The JWT expired and is no longer valid' Is if your system is after time of expiry

So in your scenario 'set my system time to anywhere with an hour of AFTER real time' if your JWT is valid for an hour then it is a valid scenario

Cheers

James

[2021-07-30 17:54] OwenVey commented on #856
Still seeing this issue in 5.2.3. After approx 30 min when the token expires when trying to go to a route i'll see the ```[okta-auth-sdk] WARN: Use setTokens() instead if you want to add a set of tokens at same time.``` warning in my console and have to refresh the page to fix the issue.

[2021-07-30 18:19] x87 commented on #877
Also related to that, `{ withCredentials: true }` should be included to `postToTransaction` call:
https://github.com/okta/okta-auth-js/blob/31d894324d5461351ae9c5319322377b7b60326d/lib/tx/AuthTransaction.ts#L188

without that, cookies are not attached to the `verify` call. Next time you log in, you will get `MFA_REQUIRED` again from `/authn`.

Note that `{ withCredentials: true }` has been added t

[2021-07-30 18:31] shuowu-okta commented on #856
@OwenVey v5.2.3 fixes issue for active tokens auto renew flow, I saw you mentioned `when trying to go to a route` in your comment, have you set `autoRenew: false` (https://github.com/okta/okta-auth-js#autorenew) in your config, and calls `authClient.isAuthenticated` in your route? Your issue looks slightly different from this one (passive autoRenew vs active autoRenew), do you mind to start a new

[2021-07-31 02:31] jpspringall commented on #879
@aarongranick-okta PR is here: [https://github.com/okta/okta-auth-js/pull/885](url)

[2021-08-02 12:18] Karkunow opened #886 "No global OktaAuth object after importing polyfill with <script>"
Hey!

I am trying to bump the version from 4.x to 5.x and can not do that by using the usual <script> statement.
After I import the: https://global.oktacdn.com/okta-auth-js/5.2.3/okta-auth-js.polyfill.js
I don't have any kind of global OktaAuth object.

Could you help me with this?
Thanks!

[2021-08-02 13:55] oleksandrpravosudko-okta commented on #886
Thanks for reaching out @Karkunow.

It appears that polyfill CDN asset only contains polyfilling [libraries](https://github.com/okta/okta-auth-js/blob/master/webpack.polyfill.config.js#L11) - you would also need to include SDK [asset](https://global.oktacdn.com/okta-auth-js/5.2.3/okta-auth-js.min.js) into html.

[2021-08-02 14:26] jridge commented on #797
Yes.  Attempt a login via the Angular Application screen & receive something like the following error:

AuthSdkError: The key id, paPifw94MwpwDx3Wcs-Xz6mbULZSLAW3AQKrXQjPxYk, was not found in the server's keys

NOTE: the key mentioned in the error is the OLD JWT Signing key.   This is cached somewhere in the browsers cache and I have yet to come up with a way to remove it.  We've currently pinned

[2021-08-03 17:14] jchabotamica commented on #880
@jpspringall that does make sense.  However, our tokens are set to be valid for 20 minutes.  I believe these are access tokens.  Not sure if there is another setting for id tokens?

[2021-08-04 14:11] Anna-Cantrell opened #890 "tokenManager: { storage: 'sessionStorage' } returns error"
I've updated to version 5.2.3 and found that I get an error when I try to set the storage option in tokenManager in the oktaAuth config object.

[code]
This, as well as `cookie` and `localStorage` give me this error. \<...edited for privacy\>
[code]

Note sure if this is a bug in the code or an error in the documentation

[2021-08-04 14:16] shuowu commented on #890
@Anna-Cantrell

Looks like you are using the CommonJS (cjs) bundle which should only work for node env. Can you share your app's setup? Then we can suggest the proper storage option for your use case.

[2021-08-04 14:53] Anna-Cantrell commented on #890
Current doing testing on a static generated next.js app.
This is the config file:
[code]

[2021-08-04 14:58] Anna-Cantrell commented on #890
I'll note that storageType within storageManager also threw an error
[code]

[2021-08-05 03:09] pbollaram opened #892 "Auto token renew is not working."
first, I thought it would be an easy setup. but for some reason, auto-renewal of tokens is not happening.

I have followed the below example
https://github.com/okta/samples-js-react/tree/master/custom-login

here is my setup.
[code]
  then
  const oktaAuth = new OktaAuth(config.oidc);
  and also included Security tag

  <Security
        oktaAuth={oktaAuth}
        onAuthRequired={customAuthHandle

[2021-08-05 04:02] pbollaram commented on #892
i see following message and network call when the token gets expired>

<oktadomain>/**oauth2/v1/authorize**?client_id=<id>&code_challenge=ED6SjJD575ravPD29TI-wANMIgOpRFfuUonPMmb2GQU&code_challenge_method=S256&nonce=IKBRk9dDnqO5XItQR0sa7SQjJEJ4lTF3IK2wZa3s0gVUyoo0SQcq2bfes4slUTws&prompt=none&redirect_uri=https%3A%2F%2Fqm-dev.gcs.paloaltonetworks.local%2Fimplicit%2Fcallback&response_mode=okta_post_m

[2021-08-05 11:41] oleksandrpravosudko-okta commented on #892
Thanks for reaching out @pbollaram.

Please note that refresh token grant requires [`offline_access`](https://developer.okta.com/docs/guides/refresh-tokens/get-refresh-token/#get-a-refresh-token-with-the-code-flow) scope to be specified.

As for `The client specified not to prompt, but the user is not logged in.` error - it is likely to happen when 3p cookies are blocked or token lifetime exceeds

[2021-08-05 15:20] pbollaram commented on #892
thanks for the quick reply @oleksandrpravosudko-okta
adding offline_access to scope leading to 400 error on **/oauth2/v1/token** endpoint when signing in.|

The added scope in config js
 scopes: ['openid', 'profile', 'email','offline_access'],

{error: "invalid_scope"
error_description: "Browser requests to the token endpoint may not include the offline_access scope."}

[2021-08-05 17:41] pbollaram commented on #892
I understand that about the error - The client specified not to prompt, but the user is not logged in because as per settings, okta is waiting for 30sec (the previous token is valid for 30sec). my only concern is why it is not even trying to refresh my token.

[2021-08-05 18:55] aarongranick-okta commented on #892
@pbollaram

- The error "The client specified not to prompt" which is coming from a call to `/authorize` (in an iframe) is expected when trying to renew tokens (without offline_access) and the session is either closed/expired or 3rd party cookies are being blocked.  It basically means the session cookie is invalid.

- The error "Browser requests to the token endpoint.." from the call to `/token` i

[2021-08-05 20:53] pbollaram commented on #892
I have updated my ISSUER from https://<your okta org> to https://<your okta org>//oauth2/default. but now I am unable to log in at all.

Access to fetch at 'https://<your okta org>/oauth2/default/.well-known/openid-configuration' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response s

[2021-08-05 23:55] vijetmahabaleshwar-okta commented on #892
@pbollaram
Can you check if http://localhost:3000 is added to your list of trusted origins?
In your okta org go to Security -> API -> Trusted Origins
If not, add it as shown in the screenshot below

<img width="1188" alt="Screen Shot 2021-08-05 at 4 54 46 PM" src="https://user-images.githubusercontent.com/27521424/128435856-80e834b7-0e4f-4215-8555-fd50587f27d2.png">

[2021-08-06 00:04] pbollaram commented on #892
@vijetmahabaleshwar-okta
yes it is. that is why I am able to login if I configure my ISSUER as https://{org}

the above CORS error was shown when I make changes to ISSUER as suggested by @aarongranick-okta.
the change suggested was to use /oauth2/default

my company rep suggested me using ISSUER as https://{org} so not sure how this authorization default server was set up.

[2021-08-06 08:15] oleksandrpravosudko-okta commented on #892
@pbollaram can you please confirm 'default' authorization server URI exists(has the `/default` section in the Issuer URI column) in your org?
<img width="587" alt="Screenshot 2021-08-02 at 16 20 18" src="https://user-images.githubusercontent.com/71440851/128478507-46147b01-3118-49bc-923b-cf61e9cad29e.png">

It might not in 'preview' orgs - in such case you will need to specify 'default' authorizat

[2021-08-06 12:47] jpspringall commented on #880
Hi @jchabotamica,

I will confess that i use the okta-auth-js library directly, not via the widget, but the okta-auth-js library only validates the ID Token not the access tokens

[2021-08-06 16:36] pbollaram commented on #892
okay here is my finding.
I did copy the below URL to the browser and updated my client to get a code from the authorization server( includes offline_access scope).

![image](https://user-images.githubusercontent.com/65185492/128542481-8e8059a2-27cc-4312-a673-5281a080aa71.png)

Then I copied the code from response and did a curl to see the response

![image](https://user-images.githubusercontent.co

[2021-08-06 21:37] OzzieOrca commented on #727
Is there a way to redirect to an Okta hosted self service registration page for now? If not, are there any docs on creating a url for them to land on an Okta hosted page, finish account creation, and come back to initiate sign in separately?

[2021-08-09 18:41] x87 opened #895 "NullPointerException in parseFromUrl"
there is a call `TransactionManager.load` method in `parseFromUrl` method.
https://github.com/okta/okta-auth-js/blob/5c304f86be9bb3169edfb7620f6650ba6aaba45c/lib/oidc/parseFromUrl.ts#L68

This method returns `null` under some conditions, e.g. if `legacyWidgetSupport` set to `false`.

Then the app fails on:
https://github.com/okta/okta-auth-js/blob/5c304f86be9bb3169edfb7620f6650ba6aaba45c/lib/oidc/

[2021-08-09 20:40] shuowu commented on #895
@x87 Thanks for reporting the issue!

Internal Ref: OKTA-418956

[2021-08-09 22:44] pbollaram commented on #892
I have unselected the Refresh token from settings and token refresh started working for me.

[2021-08-11 04:34] msherman opened #897 "5.3.0 causes oktaAuthError version warning with okta-react 6.1"
I am receiving the following error message when trying to run the okta authentication flow within react with version 5.3.0 of the okta-auth-js lib.

[code]

package.json contents

[code]

minimum viable reproduction of the issue. don't forget to update config.js with your urls and clientIds

https://github.com/msherman/okta-auth-example

[2021-08-11 07:27] oleksandrpravosudko-okta commented on #897
Thanks for reporting this @msherman.

It looks like `userAgent` property is no longer present in the Auth SDK instance - downstream SDKs(react) will need to have their userAgent checks adjusted.

For now, please use `okta-auth-js@5.2.3`. Apologies for inconvenience.

Internal ref:  OKTA-419359

[2021-08-11 14:05] rsotolongo opened #899 "Missing Identity Provider parameter?"
I was using library “okta-angular” v3.1.0 that depends on library “okta-auth-js” v4.8.0. Specifically calling the method “OktaAuthService.signInWithRedirect” passing an object of type “SigninWithRedirectOptions” which have a property “idp” accepting the Okta Identity Provider Identifier, so Okta redirects to that IdP at the time to authenticate.

OktaAuthService.signInWithRedirect({ idp: “12345678

[2021-08-11 14:25] shuowu commented on #899
@rsotolongo OktaAuthService extends OktaAuth, and the signature of the `oktaAuth.signInWithRedirect` should not been changed. It should still work with all the [token params](https://github.com/okta/okta-auth-js#authorize-options).

I think the issue you are facing right now is because of a type bug that was introduced in okta-auth-js 5.x. Can you disable the type checking for `signInWithRedirect`

[2021-08-11 21:15] shuowu commented on #882
@zachauten The issue is resolved in [v5.3.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.3.0).

[2021-08-11 21:15] #882 closed

[2021-08-11 21:16] shuowu commented on #850
@rorygrandin The fix has been released in [v5.3.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.3.0)

[2021-08-11 21:16] #850 closed

[2021-08-11 21:17] shuowu commented on #598
Issue is addressed in [v5.3.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.3.0).

[2021-08-11 21:17] #598 closed

[2021-08-12 00:33] shuowu commented on #897
Issue resolved within version 5.3.1.

[2021-08-12 00:33] #897 closed

[2021-08-12 00:34] shuowu commented on #877
Resolved in version 5.3.1

[2021-08-12 00:34] #877 closed

[2021-08-12 00:36] shuowu commented on #737
@esodell Please try v5.3.1, it should only cache successful response.

[2021-08-12 00:36] #737 closed

[2021-08-12 00:38] shuowu commented on #847
@vishnup95 We have identified the issue and released a new version. Please try with version 5.3.1, closing this issue, feel free to re-open it if the issue still exist.

[2021-08-12 00:38] #847 closed

[2021-08-12 13:44] rsotolongo commented on #899
Thank you for the response. I disabled the type checking as a temporary solution. There is a public ticket (bug number, etc.) to follow-up and know once this issue is resolved?

[2021-08-12 14:12] x87 opened #900 "On OktaAuthOptions all fields in transactionManager should be optional"
When you create a new instance of `OktaAuth` class you can supply a configuration via the `OktaAuthOptions` object like this:

[code]
One of the available options is the configuration for `TransactionManager`, that is declared here

https://github.com/okta/okta-auth-js/blob/729ae9f11963cac28f91cb65311d3f84721ee342/lib/types/OktaAuthOptions.ts#L64

`TransactionManagerOptions` has a required field `

[2021-08-12 14:45] shuowu commented on #900
@x87 Thanks for catching the issue! Also, feel free to contribute a pull request if you have identified the issue in code.

Internal Ref: OKTA-419693

[2021-08-12 14:45] shuowu commented on #899
@rsotolongo We will update in this Github thread.

[2021-08-12 15:42] rsotolongo commented on #899
Thank you...

[2021-08-13 14:48] cafesanu opened #902 "Better typing for UserClamis"
https://github.com/okta/okta-auth-js/blob/e39e66db2e24df1e1ca31bf082e49095292da043/lib/types/UserClaims.ts#L21

`interface UserClaims` right now has as its last property `[propName: string]: any;` in here https://github.com/okta/okta-auth-js/blob/e39e66db2e24df1e1ca31bf082e49095292da043/lib/types/UserClaims.ts#L40

This allows me to add anything I want without Typescript helping me if there are wr

[2021-08-13 15:01] shuowu commented on #902
@cafesanu Thanks for the suggestion!

Internal Ref: OKTA-419985

[2021-08-13 15:10] cafesanu commented on #902
@shuowu  Happy to open a PR if the Okta team thinks it makes sense

[2021-08-13 15:14] shuowu commented on #902
@cafesanu That would be great! Can you also follow the [Contributing guide](https://github.com/okta/okta-auth-js/blob/master/CONTRIBUTING.md) to sign the CLA when the PR is ready? Then our team will review and get it in.

[2021-08-23 09:33] danielprice-cds opened #910 "Intermittent signOut failure on safari"
I am experiencing intermittent signOut failure on safari with the @okta/okta-angular sdk.

I have recreated this in https://github.com/danielprice-cds/OktaSample.

My own debugging seemed to reveal that it the failure coincided with a call to host/code/callback with no code query parameter then a follow up call with a code parameter on the network tab.

![Screenshot 2021-08-23 at 10 23 30](https:/

[2021-08-23 13:23] oleksandrpravosudko-okta commented on #910
Thanks for report @danielprice-cds.

No-params `/callback` call usually indicate there is more than one OIDC flow in progress. This might be the case in an example app you shared. Would you be able to introduce a new, unprotected route which the app could redirect to after signing out?

[2021-08-24 11:15] Shrirang97 commented on #847
@vishnup95 Can you tell me how you are verifying OTP/ MFA_challnge?

My scenario: Front End App calls backend service which uses `okta-auth-js` library for sending and verifying OTP.

1. On the front end app, the user click on send OTP.
2. Front end call `sendOTP` endpoint of backend service
3. Backend service calls verify method to send OTP to user's  mobile and return `stateToken` & `factorId` t

[2021-08-24 14:29] Shrirang97 commented on #847
@vishnup95 But I need authTransaction object to call verify method How do I get that?

[2021-08-24 14:45] shuowu commented on #847
@Shrirang97 If you are using okta-auth-js in your backend service for MFA purpose, then you will need to preserve the intermediate authTransaction, and use it to call the `verify` function.

[2021-08-24 14:49] vishnup95 commented on #847
@Shrirang97 Like @shuowu said. You will need to persist the response of the signin call. I handled all this in the FE so that I could use some sort of state management to achieve this.

[2021-08-24 14:53] Shrirang97 commented on #847
@shuowu Ok. I think that is not possible in my API to keep authTransaction state as my API has two different independent endpoint one for send-otp & one for verify-otp. I was able to do that using http call previously. This library is for front end application mostly not for backend service.

Okta team should add methods for each independent endpoint in okat-auth-js library. I can call verify OTP

[2021-08-25 14:27] #405 closed

[2021-08-25 14:52] jchabotamica opened #912 "Large bundle size"
Is this expected?  Any tips on how to obtain a smaller bundle?
![image](https://user-images.githubusercontent.com/52013619/130813495-455ec962-5197-455b-b013-63e30655c24d.png)

Obviously our webpack already does minimizing and optimization.  However, okta-auth-js really seems to stand out as a large file in the bundle

[2021-08-25 16:19] arvindkrishnakumar-okta commented on #912
@jchabotamica Thanks for posting!

@aarongranick-okta can you help with this?

[2021-08-25 22:11] rwev opened #913 "Default restoreOriginalUri to redirect securely"
The current defaults around `restoreOriginalUri` make applications vulnerable to insecure redirects. An attacker has the ability to send the user to an arbitrary page if a `originalUri` is being set dynamically.

If no `restoreOriginalUri` callback is provided in configuration, [`handleLoginRedirect`](https://github.com/okta/okta-auth-js/blob/51e9faa56d8727865e7541f3cd3b8217f6cbc880/lib/OktaAuth.t

[2021-08-26 23:59] OzzieOrca opened #914 "Safari blocks popup and throws error redirecting back from the popup"
When calling `authClient.token.getWithPopup()`, Safari blocks the popup:

<img width="1311" alt="Screen Shot 2021-08-26 at 4 09 33 PM" src="https://user-images.githubusercontent.com/756501/131047827-bc0c4745-c4bd-4efb-b0a6-db06f0c82afd.png">

If you manually show the popup and proceed to sign in, redirecting back to the original page throws an error because `window.opener` is `null`.

The HTML doc

[2021-09-01 17:25] rwev opened #921 "Asset, entrypoint sizes exceed recommended limit"
[code]

[2021-09-01 17:31] shuowu commented on #921
@rwev Thanks for reporting the bundle size issue! We also noticed the issue and are re-design a tree shaking friendly architecture for this SDK.

[2021-09-01 17:33] rwev commented on #913
This also applies to usages of `window.location.assign` in [`OktaAuth.signOut`](https://github.com/okta/okta-auth-js/blob/master/lib/OktaAuth.ts#L466)
[code]

[2021-09-01 18:21] OzzieOrca commented on #914
I discovered Firefox 91.0.2 (64-bit) has the same issue. The popup works fine in Chrome 93.0.4577.63 (Official Build) (x86_64).

[2021-09-02 05:59] theseyi opened #924 "Broken `OktaAuth.isAuthenticated` not aware of `tokenManager` config in options because they are not passed in correctly"
In the latest version of OktaAuth, isAuthenticated has the following comment
[code]
The implementation correctly looks up the values for `autoRenew` and `autoRemove`
https://github.com/okta/okta-auth-js/blob/859798bf565a8c1a7d4459c8fb57f691bd3c6b91/lib/OktaAuth.ts#L503-L512

However, these values are always going to be `undefined` because the `tokenManager` configuration is not correctly passed in

[2021-09-02 07:07] denysoblohin-okta commented on #924
Thanks for submitting this issue and find the cause in the code!
Internal ref: OKTA-425705

[2021-09-02 18:39] sumitdeyonline opened #928 "Open ID Connect issue with Microsoft Teams Client App"
We have an issue with the **Microsoft Teams desktop client app** while accessing using open ID connect, it is working with the Teams web app though.  Here is the Okta SDK we have used to access web/client Teams App

import * as OktaAuth from "@okta/okta-auth-js";
            authClient.token.getWithoutPrompt(options).catch((ex:any) => {
                // console.log(ex);
                if(counte

[2021-09-02 19:51] shuowu commented on #928
@sumitdeyonline  Thanks for reporting the issue. Unfortunately, I am not very familiar with how MS Team (Electron app) works. For this issue, my guess is `token.getWithPopup` needs a browser environment, can you try `token.getWithRedirect` and set the app callback uri in the Okta developer  console?

[2021-09-02 21:43] sumitdeyonline commented on #928
We can't able to use getWithRedirect in our scenario, because we don't have a specific callback URL and we are looking for an access token to call other APIs to fetch data inside the application. Somehow we need to find out the way to get back access token in the Teams client app.

[2021-09-06 05:19] jpspringall opened #929 "5.4.0 Causes Angular 8 Compilation Errors"
Hi,
For a couple reasons we are tied to Angular 8.x
This ties us to TypeScript 3.5.3

As part of the 5.4.0 release
in the file: lib\index.ts the crypto util is exported:

However it is exported using the shorthand:
export * as crypto from './crypto';

This syntax was introduced as part Typescript 3.8

So is causing us a compilation issue with one of our libraries:
ERROR: ../../node_modules/@okta/o

[2021-09-06 08:54] oleksandrpravosudko-okta commented on #929
Thanks for reporting this @jpspringall.

We might want to generate(e.g. `downlevel-dts`) types for older TS version for this SDK.
I will bring this up in a team meeting to see if it is feasible to implement.

Internal Ref: OKTA-426046

[2021-09-07 14:09] #439 closed

[2021-09-08 05:42] jpspringall commented on #929
Thanks @oleksandrpravosudko-okta,

Once it's been discussed could you let me know the outcome?

Cheers

James

[2021-09-08 09:18] oleksandrpravosudko-okta commented on #929
@jpspringall it was decided to postpone implementing support of type definitions for older TS versions for now.

@shuowu went ahead and created a PR to replace the offending syntax: https://github.com/okta/okta-auth-js/pull/931

Thanks for catching this.

[2021-09-08 09:49] jpspringall commented on #929
Thank you sir

[2021-09-08 18:05] shuowu commented on #929
@jpspringall The fix has been released in [5.4.3](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.4.3). Closing this issue.

[2021-09-08 18:05] #929 closed

[2021-09-08 18:06] shuowu commented on #924
Fixed in [5.4.3](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.4.3)

[2021-09-08 18:06] #924 closed

[2021-09-09 04:42] ayush-lal opened #935 "AuthSdkError: PLCE requires secure HTTPS protocol"
Hi guys, I am just running into the following error on my React SPA thats hosted on an internal IIS server and served via HTTP:

I understand that the web app needs to be served over HTTPS however its always worked previously without any issues.

Are there any solutions to use Okta on my SPA via http?

[2021-09-09 08:40] oleksandrpravosudko-okta commented on #935
Hi @ayush-lal, you could use [implicit](https://github.com/okta/okta-auth-js#implicit-oauth-20-flow) auth flow if it works for you.
PKCE flow is not expected to run outside HTTPS (except of `localhost`)

[2021-09-14 23:11] OzzieOrca commented on #727
Any info on the "upcoming version"? We're having to write instructions in our app telling the user to click sign in and then once on the Okta page, click sign up.... We'd like to replace that bad UX as soon as possible. Thanks :)

[2021-09-15 20:05] Anna-Cantrell opened #937 "Token Cookie on redirect exceeds maximum cookie size in most browsers and fails silently"
## Background:
Using cookies for token storage management.
Using `signInWithRedirect()` to handle external IdP authentication ->
using `handleLoginRedirect()` to handle redirect authentication.
[code]

**Note:** I've only experienced this issue on token cookies generated from a redirect, not username/password authentication.

## Issue:
The user successfully authenticates, but the token cookie is n

[2021-09-15 21:01] shuowu commented on #937
@Anna-Cantrell Thanks for the suggestion!  We'll add better intuitive messages when cookie storage fails due to size limitation. For now, please use the `useMultipleCookies  = true` option.

Internal Ref: OKTA-428431

[2021-09-16 13:25] Anna-Cantrell commented on #937
Thanks so much Shuo!
I'm finding that using `useMultipleCookies` works on smaller apps, but in production apps the cookie values are still so large we're getting 431 errors. I know that's not an sdk issue, but is there anyway to get a shortened cookie token value? It seems like there may be some unnecessary data in the cookie values.

[2021-09-16 13:53] shuowu commented on #937
@Anna-Cantrell You can provide a custom storage implementation by using the [storageProvider](https://github.com/okta/okta-auth-js#storageprovider) option. In the custom storage, you can still use cookie as the storage, but instead of storing the fully stringified token object, you can just put the encoded token in the storage, then recover the token object from the encoded token string within the

[2021-09-16 15:49] Anna-Cantrell commented on #937
That's perfect, thank you so much :)

[2021-09-16 19:55] Anna-Cantrell commented on #937
@shuowu Is there a function in the sdk to decode the encoded token string back into a token object?

[2021-09-16 22:44] shuowu commented on #937
Try [oktaAuth.token.decode](https://github.com/okta/okta-auth-js#tokendecodeidtokenstring) method.

[2021-09-18 03:27] vamsiavtx opened #938 "Unable to login/finish enroll process due to javascript error: e.skip is not a function"
I have enabled SMS verification along with okta verify in multifactor authentication. From then on, I am not able to login to my okta dashboard as the webpage takes me to finish enroll page (https://<my company>.okta.com/signin/enroll) where clicking on finish is not taking me anywhere as there is an error in the javascript. Here is the error I have observed in the webconsole

Uncaught TypeError:

[2021-09-19 01:50] jpspringall opened #939 "Read Only Cookie Support in Server Side Rendering"
Hi,

I think this also relates to #890

I previously created an issue #592 explaining the use of cookies within in server side rendering, though the actual issue raised was in relation to session cookies.

Basically cookie storage is used in server side rendering in 'readonly' mode, by reading the http headers.

As a workaround for cookie session support in 4.x we created a custom provider.

As my

[2021-09-19 02:31] jpspringall opened #940 "Storage configuration"
There looks to be 2 ways of configuring token storage:

Using the storageManager:
[code]

Using token manager storage property:
[code]

I can see that token manager storage property is used to set the storage manager token property
So it looks like the the storagemanager option is the preferred methodand gives more flexibility.

If this is the case are there any complaints if I update the example

[2021-09-19 21:49] denysoblohin-okta commented on #939
Thanks for submitting this issue.
Internal ref: OKTA-429397

[2021-09-19 22:02] denysoblohin-okta commented on #940
`tokenManager.storage` can be used to override `storageManager.token.storageType/storageProvider`.
@aarongranick-okta @shuowu Can we get rid of multiple ways to configure tokens storage?

[2021-09-19 22:16] denysoblohin-okta commented on #938
Thanks for reporting this issue.
Internal ref: OKTA-429399

[2021-09-20 10:17] jpspringall opened #942 "Unintentional change in tokenManager:renew"
Hi,

Not sure if this was intentional but as the part commit #906 the renew function in tokenManager.ts has been changed about line 412 from

[code]
to
[code]

The difference between the two renew functions is:

In the previous version, the call to `this.sdk.token.renew(token)` would use the scopes from the token being renewed in the renewal request.

In the current version, the call to `this.sdk.

[2021-09-20 11:38] oleksandrpravosudko-okta commented on #942
Thanks for pointing this out. Internal Ref: OKTA-429429

[2021-09-22 00:55] shanehenning opened #945 "RefreshToken incorrectly inherits accessToken's expiration"
Hello!

We've set an expiration duration in our okta admin dashboard for the refreshToken that is different from our accessToken's duration. But we're seeing the refreshToken having the same expiration as the accessToken. It looks as though this is a [known issue](https://github.com/okta/okta-auth-js/blob/master/lib/oidc/handleOAuthResponse.ts#L102)?
Here's a quick screenshot of our tokens:
<img w

[2021-09-22 04:36] guptaji21 opened #946 "Compilation failed angular."
hi, the compilation for the okta app is failing. https://developer.okta.com/code/angular/okta_angular_sign-in_widget/#add-an-openid-connect-client document referred. error while compiling :- error in node_modules/@okta/okta-auth-js/lib/idx/cancel.d.ts(14,87): error ts1005: '>' expected. node_modules/@okta/okta-auth-js/lib/idx/cancel.d.ts(14,120): error ts1109: expression expected. node_modules/@ok

[2021-09-22 08:40] oleksandrpravosudko-okta commented on #946
Thanks for report @guptaji21.

Could you please specify which okta-auth-js, okta-angular and Angular versions you are using?

[2021-09-22 09:46] oleksandrpravosudko-okta commented on #945
Thanks for reaching out @shanehenning.

You could try [`introspecting`](https://developer.okta.com/docs/reference/api/oidc/#introspect) the refresh token after it is obtained to get its dashboard-configured expiration, parse the response and set it into token storage.

[2021-09-22 13:23] guptaji21 commented on #946
![Uploading IMG_20210922_185221.jpg…]()

[2021-09-22 13:23] guptaji21 commented on #946
![IMG_20210922_185157](https://user-images.githubusercontent.com/29679195/134351666-802076ee-81b5-484d-93a1-546af3d8eb2f.jpg)

[2021-09-22 13:25] guptaji21 commented on #946
![Uploading IMG_20210922_185221.jpg…]()

[2021-09-22 13:26] guptaji21 commented on #946
Angular version is 5.2.5
Ts is 2.5.3

[2021-09-22 14:58] oleksandrpravosudko-okta commented on #946
Is there an upgrade option available for you?
`okta-angular` is not confirmed to be working with Angular <7:

[code]

[2021-09-23 01:22] shanehenning commented on #945
Thanks for the quick response, @oleksandrpravosudko-okta!
That looks like it will work out great, thanks for the tip!

[2021-09-23 01:52] shanehenning commented on #945
Before closing, I should've asked--@oleksandrpravosudko-okta, if there's a method in this SDK to introspect, or if I'll need to hit the endpoint you linked in your suggestion? I don't see anything in this package's readme about introspecting.

[2021-09-23 04:29] guptaji21 commented on #946
The entire application uogradation is not possible at the moment.
By any chance we can integrate Okta in angular 5?

[2021-09-23 07:29] oleksandrpravosudko-okta commented on #946
Angular 5/TS2.x support is unlikely to be prioritized.

You could try picking older okta-angular version (e.g. 1.3.0) for dev testing purposes - it is not recommended to use it in production app.

[2021-09-23 07:29] #946 closed

[2021-09-23 08:25] oleksandrpravosudko-okta commented on #945
Currently there is no SDK method for introspecting OIDC tokens - you will need to hit the endpoint using non-SDK code.

I have created a ticket for team to consider adding such method:
Internal Ref: OKTA-430783

[2021-09-23 09:54] gemmie opened #951 "Cypress tests with Okta Authentication issues"
While running Cypress tests with Okta Authentication, after successfully mocking logging in or implementing Okta Authentication according to Cypress documentation, the token in localStorage gets overwritten to `{}` - which causes logging out and tests failing.

In addition this behaviour is very inconsistent, as once in a dozen of tries the test pass.

[2021-09-23 11:51] oleksandrpravosudko-okta commented on #951
Hi @gemmie - there isn't much we can diagnose with the provided description.
Can you share a minimal repro setup for this issue?

[2021-09-23 16:43] bpedersen opened #952 "Uncaught exception thrown when cookies disabled"
This library throws an uncaught exception when the browser has cookies disabled. It appears that setOriginialUri tries to use sessionStorage without checking if it is available first. This is affecting the okta-react library and won't let you gracefully handle the exception.

`Uncaught (in promise) DOMException: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this

[2021-09-23 17:05] arvindkrishnakumar-okta commented on #952
Thanks for reporting this!

Our team will review this issue and get back with an answer.

[2021-09-23 17:43] shanehenning commented on #945
Terrific, thank you for closing the loop on that, @oleksandrpravosudko-okta! We'll look into the endpoint then.

[2021-09-23 17:43] #945 closed

[2021-09-27 17:31] harrydema opened #958 "Add custom logic to redirect"
Is there a way to modify the tokens.getWithRedirect? I need to add logic to the way it is redirecting as I am not working on a browser.

I am working on another environment that is not browser-based. You can think of an electron app (not using electron, but it is a good example). I need to redirect the user to the browser in order to login.

It would be helpful a function that retrieves the URL to

[2021-09-27 17:50] shuowu commented on #958
@harrydema `tokens.getWithRedirect` is a browser only method, and no custom hooks is available to extend the implementation right now.

For non browser-based js app, you may try the [idx module](https://github.com/okta/okta-auth-js/blob/master/docs/idx.md) (still in early access stage), it can communicate with Okta Identity Engine via xhr requests, which should be platform agnostic.

[2021-09-27 17:55] shuowu commented on #952
Internal Ref: OKTA-431793

[2021-09-27 18:40] harrydema commented on #958
@shuowu Thanks for the help!

It looks idx module is not compatible with idpDiscovery. It only provides a method to signin with email/password.

is there a way to do a sso signin?

[2021-09-30 11:51] ojathelonius opened #962 "Wrong typing for AuthState"
Hi,

In latest v5.x, according to the docs, `getAuthState` can now return `null` while authentication flow is still pending. The default value for internal `_state` is `null` as well.

This seems wrong considering the signatures for `getAuthState` and `updateAuthState` which should always return `AuthState` and not `AuthState | null`. Similarly, internal `_state` type is `AuthState`.

This is curr

[2021-09-30 12:39] shuowu commented on #962
@ojathelonius Thanks for the suggestion!

Internal Ref: OKTA-433337

[2021-09-30 12:54] shuowu commented on #958
@harrydema the `idx` module does support idpDiscovery. You can have access to the available idps from `idx.startTransaction` method. See [sample code](https://github.com/okta/okta-auth-js/blob/master/samples/generated/express-embedded-auth-with-sdk/web-server/routes/login.js#L43).

For the `token.getWithRedirect` method, you probably can hack it by overriding the `_setLocation` function of it. See

[2021-09-30 14:48] harrydema commented on #958
Thanks! I ended up doing that. I override the _setLocation and that worked!

[2021-09-30 14:48] #958 closed

[2021-09-30 20:08] chinanderm opened #964 "Custom Login Page: Okta Auth JS with React with latest versions"
I'm currently using `@okta/okta-auth-js` v4 and `@okta/okta-react` v5. In an effort to stay current and avoid using retired versions, I'm trying to upgrade to v6 of `@okta/okta-react` but it requires an upgrade to v5 of `@okta/okta-auth-js`. I'm running into some troubles with the upgrade to v5 of `@okta/okta-auth-js`, specifically in the context of supporting my own custom sign in page.

The exam

[2021-09-30 20:33] shuowu commented on #964
@chinanderm You code looks correct, I believe it's most probably caused by a known type issue. And there is a PR for it: https://github.com/okta/okta-auth-js/pull/960

Also, you can find an update to date sample here: https://github.com/okta/okta-react/blob/master/generated/samples/doc-direct-auth/src/LoginForm.jsx

[2021-09-30 20:51] chinanderm commented on #964
Thank you @shuowu! I didn't think to just try it, despite the types issue and sure enough, works as expected. I've added a `@ts-expect-error` comment and noted the PR. I really appreciate your quick review and comment. Going to close this.

[2021-09-30 20:51] #964 closed

[2021-10-04 08:25] oleksandrpravosudko-okta commented on #663
Note added in https://github.com/okta/okta-auth-js/commit/a1818656e81b0100f0b089ecdc6471b832762e72

[2021-10-04 08:25] #663 closed

[2021-10-05 19:55] Frozenlock opened #966 "parseFromUrl doesn't exchange code for token(s)"
From the docs:

https://github.com/okta/okta-auth-js#tokenparsefromurloptions

However this isn't the case.
The promise returns `code`, `state`, but the `tokens` field is empty:

[code]

Looking at the network activity, `Okta-auth-js` doesn't try to reach the `tokenUrl` endpoint.

[2021-10-05 20:29] shuowu commented on #966
@Frozenlock Have you set `pkce: true` when calling the method?

[2021-10-05 20:50] Frozenlock commented on #966
No, `pkce` is set to false when initializing `OktaAuth` and then the method is called without additional options.

[2021-10-06 18:10] ahmednkhan24 commented on #962
Is there any documentation explaining why `isPending` was removed from the `authState` object, and why `authState` potentially being `null` is an improvement to the overall SDK?

[2021-10-06 19:31] Frozenlock commented on #966
I must be using the wrong method then. The doc mentions that by setting `pkce` to false one can use the [autorization code flow](https://github.com/okta/okta-auth-js#authorization-code-flow-for-web-and-native-client-types).

What method should be used once the redirection is done and the code is in the query parameters?

[2021-10-06 19:38] Frozenlock commented on #966
Also, I realize I was using the wrong method, but shouldn't it throw an exception in that case?

[2021-10-06 23:14] MinuElsa commented on #759
Hi, are there any updates for this issue?

[2021-10-09 10:09] vamsiavtx commented on #938
any resolution on this one?

[2021-10-13 15:52] cmacdonnacha commented on #641
Ok thanks @shuowu

[2021-10-14 18:37] #962 closed

[2021-10-18 08:30] L0v3l4c3 opened #975 "Support asynchronous callbacks in TokenManager emitted events"
Hello.

Would it be possible to introduce handling of asynchronous callbacks in the TokenManager emitted events ?
I am in my case trying to retrieve an application-internal token with the newly okta provided one, but it does not work. From looking at code, it seems like this has not been implemented yet.

[code]

Thank you for your time.

[2021-10-18 10:55] #975 closed, assigned to nobody

[2021-10-19 14:23] florin05 opened #976 "Redirect to redirect_uri not happening after @okta/okta-signin-widget upgrade from 4 to 5"
Hello

We have an Angular app using     "@okta/okta-signin-widget": "version": "5.12.0", with this configuration
[code]
After upgrade from Angular 9 to 11 (and the widget from 5.4 to 5.12) the redirect to call back client url is not happening anymore
I see two new parameters (10 and 11 below) in this request https://<okta-server>/oauth2/default/v1/authorize
Not sure why they are there now, but I a

[2021-10-19 16:08] indignant commented on #718
+1

Moving from 5.5.0 to 5.6.0 started throwing. Seems like an intentional change that's not backwards compatible.

[2021-10-19 18:56] koswedo opened #977 "Uncaught (in promise): OAuthError: The client specified not to prompt, but the user is not logged in."
Steps to reproduce:
1. login to the web app
2. close the browser (no logout)
3. wait for the token and the refresh token to expire
4. open the browser and go to the web app where it needs to be authenticated

whenever you call OktaAuth method, you get an `OAuthError` error with the error code `login_required` and the message `The client specified not to prompt, but the user is not logged in.`. So

[2021-10-19 21:39] mraible opened #978 "signInWithRedirect(options) is not marked async"
According to the docs, [`signInWithRedirect()`](https://github.com/okta/okta-auth-js#signinwithredirectoptions) is synchronous when it returns a promise.

<img width="852" alt="Screen Shot 2021-10-19 at 3 36 45 PM" src="https://user-images.githubusercontent.com/17892/137994311-978f618d-5bae-4902-b013-286f3a005ef4.png">

I discovered this when QAing a tutorial and saw the following warning in Intel

[2021-10-19 23:06] aarongranick-okta commented on #976
@florin05 Thank you for using Okta. Those two parameters you are seeing, "prompt" and "response_mode" are are used by the widget when silently receiving tokens.  I am assuming since you are using Angular, this is a SPA application. (Please confirm). In many cases it is not necessary for SPA applications to redirect and the tokens are returned directly by the widget.

For example:

[code]

This wil

[2021-10-19 23:20] aarongranick-okta commented on #978
Hi @mraible This method, if successful, will redirect to Okta and the promise will not resolve. However, it can throw an error which can occur asynchronously. We recommend adding a "catch" block to handle this case.

[code]

I will add the "async hourglass" notation in the README

[2021-10-20 19:09] monasterx3 opened #980 "Uncaught In Promise Error in Console log but Redirect is working correctly"
I am seeing the following error in console log after I log into Application. The redirect and implementation is working correctly but I would like to find a way to remove this error. I followed the Angular docs to implement Okta Login.

Okta Route Login:
`  {
    path: 'login/callback',
    component: OktaCallbackComponent,
  },`

Implementation in App Component

`  ngOnInit() {
    this.oktaAuthS

[2021-10-20 22:21] aarongranick-okta commented on #980
@monasterx3 Could you please point me to the docs that you followed? We recently updated the angular library and they may be out of date or missing detail.

[2021-10-21 01:24] monasterx3 commented on #980
@aarongranick-okta I was following this https://developer.okta.com/code/angular/okta_angular_sign-in_widget/#connect-the-routes for the standard okta redirect uri. I ended up removing the /login and just using /callback for my redirect uri and the error is gone from the console. So we can close this issue. This issue wasn’t originally appearing but started appearing in the last month.

[2021-10-22 13:42] CambianRwalker opened #984 "Support for SMART on FHIR launch"
There is no way to add additional parameters that would support [SMART on FHIR launch](http://www.hl7.org/fhir/smart-app-launch/#ehr-launch-sequence).  Simplistically all this requires is to allow an additional parameter (in this case "launch") that can be passed to the /authorize endpoint.  The endpoint can ignore that parameter, but since the entire URL with parameters are provided when the [Okt

[2021-10-26 07:46] krzempekk opened #987 "AuthApiError silently ignored if caused by network failure with autoRenew enabled"
Version: 5.6.0

Steps to reproduce:
1. Login to the app (assuming that autoRenew option is enabled)
2. Wait for token to expire, but change "Throttling state" to "Offline" (if using Chrome, alternatively just turn off internet connection) few seconds before expiry time
3. Renewing request will fail with "AuthApiError" ("Failed to fetch" message), but error will not be emitted
4. Switch "Throttling

[2021-11-02 18:01] ccarse commented on #718
It would be nice to at least get some acknowledgement from Okta that they think this is an issue.

[2021-11-02 21:51] shuowu commented on #952
@bpedersen The fix actually happens in okta-react, we added `errorComponent` props to the `SecureRoute`, so any error from the internal process can be caught and handled gracefully from UI.

The fix is available in [okta-react v6.3](https://github.com/okta/okta-react/releases/tag/okta-react-6.3.0)

[2021-11-02 21:51] #952 closed

[2021-11-03 19:09] shuowu commented on #914
@OzzieOrca The issue is fixed in [v5.7](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.7.0)
Closing the issue, feel free to reopen the issue if the problem still exists.

[2021-11-03 19:09] #914 closed

[2021-11-03 23:43] aarongranick-okta commented on #942
@jpspringall We have pushed a fix for this issue in `@okta/okta-auth-js` version `5.7.0`. If you are able, please confirm if updating to this version resolves your issue.

[2021-11-04 00:02] BenPiggot commented on #610
Is there any further information about how to solve this issue? I've encountered this same problem and I'm at a loss about how to solve it.

I'm currently using okta-react v5.1.2 and okta-auth-js v4.9.2. I have tried using okta-react 5.x.x and okta-auth-js 6.x.x, but for some reason the minified bundle I need for production causes an error that crashes the app (I've also opened an issue about this

[2021-11-04 11:49] vvsvv commented on #488
Still encouter the error:
okta-auth-js version 5.6.0
angular: 7.0.2
use implicit flow
only chrome error, ms edge is OK.

Details:
vendor.js:formatted:66339 ERROR Error: Uncaught (in promise): AuthSdkError: Unable to retrieve OAuth redirect params from storage
AuthSdkError: Unable to retrieve OAuth redirect params from storage
    at t.value (vendor.js:93564)
    at t.value (vendor.js:93564)
    at

[2021-11-04 22:51] kyeotic commented on #377
@aarongranick-okta Has there been any progress on this?

[2021-11-05 00:21] aarongranick-okta commented on #377
@kyeotic It looks like this issue should have been fixed with https://github.com/okta/okta-auth-js/pull/858

You should be able to use your frontend proxy URL as the "issuer"

[2021-11-05 04:56] jpspringall commented on #942
Thanks for this @aarongranick-okta. Unfortunately I'm not in a position to test at the moment,  However looking at the code it looks like it will work, I'll reopen the ticket if if i find it doesnt work as part of next upgrade cycle.

Thanks

James

[2021-11-05 22:14] aarongranick-okta commented on #610
@BenPiggot The latest version of `okta-auth-js` should be compatible with the latest version of `okta-react`. We also have a react sample that may help: https://github.com/okta/samples-js-react

[2021-11-08 16:01] darkowic opened #1001 "429 Too many requests: How autoRenew and syncStorage works together?"
Hi!
I am debugging an issue with a 429 (Too many requests) error from Okta APIs. When there are multiple tabs opened, we sometimes hit the limit.

We use localStorage for sessions storage which means [syncStorage](https://github.com/okta/okta-auth-js#syncstorage) is enabled. We have [autoRenew](https://github.com/okta/okta-auth-js#autorenew) enabled as well. I made sure the service start is called

[2021-11-08 20:04] monde commented on #1001
@darkowic can you check out Okta's rate limit overview and let me know if you think your app is running up to a rate limit on your org? The API 429's signal the request has hit a rate limits. See:
https://developer.okta.com/docs/reference/rate-limits/

Additionally, all of the categories of endpoints are granular on specific endpoints, see:
* https://developer.okta.com/docs/reference/rl-global-mgm

[2021-11-09 09:45] darkowic commented on #1001
I believe we hit this limit:

And I'm sure it is 429 - I receive the exact network error with this code and description. I can reproduce it by opening around 15 tabs and simulating token renew in all of them at the same time (By setting expireEarlySeconds).

We can not prevent users to open that many tabs ;) For sure we have to handle it differently in the case when auto-renew is disabled (proper

[2021-11-09 13:43] shuowu commented on #1001
@darkowic Thanks for reporting the issue! It does sound like a bug, probably some request cancelling mechanism should be implemented from the SDK end. We'll investigate on it. Meanwhile, please turn off the `syncStorage` option if it keeps causing rate limit issue.

Internal Ref: OKTA-445148

[2021-11-09 14:02] darkowic commented on #1001
It will not change anything as it works right now like there is no sync between tabs at all ;) If this case is not handled then looks like syncStorage is not doing anything at all. This scenario is the main use-case I can imagine for syncing between tabs :/

[2021-11-09 21:05] jluncford commented on #612
We are running into this issue (9 months later). Is it going to be fixed soon?

[2021-11-23 15:51] chillitom commented on #641
This issue saved my bacon, thanks all!  It was a long journey to find this answer though, I'm adding the full text of the error in the hope that others will find it more easily.

[code]

[2021-11-23 16:14] koswedo commented on #1001
This problem will become a blocker as mentioned in https://developer.okta.com/docs/reference/rl-clientbased/#what-to-monitor-and-the-action-to-take:

Do you have any timeline for solving this issue?

[2021-12-03 05:10] ashwini-desai commented on #377
@aarongranick-okta - [#858](https://github.com/okta/okta-auth-js/pull/858) Doesn't seem to have fixed this. In fact there is a [test](https://github.com/okta/okta-auth-js/pull/858/files#diff-31248b8e227f0abc87cac139456eeafdfbbf0969406df60e9773b7c55e866843) which says "will always use issuer from well-known openid-configuration" in this PR.

We are also not able to use the proxy by setting authUrl

[2021-12-03 18:33] kpeters-cbsi opened #1017 "Module parse failed: 'import' and 'export' may appear only with 'sourceType: module'"
When I updated a project that had previously been using `@okta/okta-angular@3.2.2` to use `@okta/okta-angular@4.1.0` and `@okta/okta-auth-js@5.9.0` and tried to run `ng serve`, I got the below. However, the behavior did not occur with `@okta/okta-auth-js@5.6.0`.  Using Angular 13 and `@angular-devkit/build-angular@13.0.4` (which installed `webpack@5.64.1`)

[code]

[2021-12-03 18:56] shuowu commented on #1017
@kpeters-cbsi Thanks for reporting the issue! We actually also noticed this issue after 5.9.0 release, and we are working on a patch now.

Internal Ref: OKTA-451360

[2021-12-05 08:03] arahate commented on #1017
Facing same issue.

[2021-12-06 03:54] jpampellona opened #1018 "token.getWithoutPrompt() does not catch error if widget is configured with incorrect clientId"
Hi, in an edge case where the `clientId` used to set up the OktaSignIn widget is incorrect, `token.getWithoutPrompt()` is not being resolved nor rejected.

For example,
[code]
In the code above, the `then` and `catch` blocks are never executed.

[2021-12-06 10:01] oleksandrpravosudko-okta commented on #1018
Thanks for report @jpampellona.
It does reject although [not immediately](https://github.com/okta/okta-auth-js/blob/f75d0eb0a1f0be31785c5f6607996cb3abe555d3/lib/oidc/util/browser.ts#L73) - it looks like there might no good way of telling whether `/authorize` returned an error right away.

[2021-12-06 13:30] jchabotamica commented on #977
We also use third party tools that track how many errors our application logs to determine the "health" of the application.  It identifies this as the most occurring error in our application.  Thank you for taking this on!

[2021-12-06 16:26] kpeters-cbsi commented on #1017
I got around it by downgrading to 5.8.0

[2021-12-06 16:27] kpeters-cbsi commented on #1017
But it looks like there's a fix pending code review

[2021-12-06 19:37] shuowu commented on #1017
Patch for this issue is released in okta-auth-js v5.9.1. Closing this issue, feel free to re-open if the problem still exists.

[2021-12-06 19:37] #1017 closed

[2021-12-08 12:47] Jayachandran369 commented on #345
Did you find any fix

[2021-12-09 16:57] jchabotamica commented on #912
@aarongranick-okta do we have an idea of when to expect these changes you mentioned above?

[2021-12-10 17:05] photchkiss opened #1029 "signInWithCredentials on 403 response from okta missing AuthApiError data"
We are using `"@okta/okta-auth-js": "^5.4.3"` of okta-auth-js.

signInWithCredentials calls api/v1/authn. If we use a bad username and password, the AuthApiError is fully inflated with data. However, if an IP is in the global block list, and api/v1/auth returns a 403 Forbidden, the ApiAuthError contains no data. All properties are empty. We are looking to redirect the user to some sort of oops pag

[2021-12-10 18:19] aarongranick-okta commented on #1029
@photchkiss Thank you for this submission. Hopefully we can provide better error information in this case. I've created an internal issue for tracking: OKTA-453297. Our engineers will investigate and see what options we can provide.

[2021-12-13 18:31] graphicnapkin opened #1031 "User with "too many" groups unable to login to SPA using pkce"
We have a user who just went over 100 (ldap) groups in Okta and they are unable to login.

Dev console shows a 400 error:
browser-ponyfill.js:516 POST https://twitter.okta.com/oauth2/default/v1/token 400

This seems related from okta dev forum: https://devforum.okta.com/t/trouble-retrieving-active-directory-groups-in-openid-connect-claims/13928/3

It's only happening with this user and they are th

[2021-12-13 19:26] jaredperreault-okta commented on #1031
@graphicnapkin do you mind posting a code snippet that produces this error?

[2021-12-13 19:45] jaredperreault-okta commented on #1031
However it does seem like this is a configuration issue, not a code issue. Do you mind editing your groups claim, so <100 groups are returned?

For reference: https://support.okta.com/help/s/article/Limitations-of-Group-functions-Dynamic-Whitelists?language=en_US

[2021-12-22 17:03] mjackson6 opened #1041 "Okta signout only works on the home page for okta-auth-js 5.9.1"
Hi,

   I have been working with okta authentication using angular and I have been seeing inconsistencies with the signout() method. When I call `await this.oktaAuth.signOut();` from the home page, http://localhost:4200/, the signout is successfully. However, when I call that same method from another page, i.e http://localhost:4200/about, its fails to signout the user out of okta, but does revoke

[2021-12-22 18:18] shuowu commented on #1041
@mjackson6 The signOut method should not be affected by routes. From your network logs, it looks like the token revocation requests was cancelled by some reason. Maybe try call the method with following options as a workaround:
[code]
to skip the token revocation logic?

You can also try [Okta's Angular sample apps](https://github.com/okta/samples-js-angular) (I failed to reproduce the issue there

[2021-12-22 18:52] mjackson6 commented on #1041
Hi @shuowu,

   Thank you for your response. I tried your suggestion and I ran into a similar issue, except this time, the /logout url is cancelled

![network screen shot2](https://user-images.githubusercontent.com/96541175/147140363-714d766a-73f1-4d1e-a5e7-73e90ff7925a.png)

Here is what is looks like on admin console

![admin shot](https://user-images.githubusercontent.com/96541175/147140760-1ee

[2021-12-22 19:03] shuowu-okta commented on #1041
@mjackson6 I found [this thread](https://stackoverflow.com/a/24062160), might be relevant.

[2021-12-27 10:44] fseee opened #1042 "changePassword an resetPassword methods not available in AuthTransaction object"
Hi All
I'm implementing change/reset password workflows in our application, which uses the [okta-auth-js](https://github.com/okta/okta-auth-js) 5.9.1 version.
According to [this](https://github.com/okta/okta-auth-js/blob/master/docs/authn.md#changepasswordoptions), I need an instance of an AuthTransaction object which should be the result of e.g. the [signInWithCredentials](https://github.com/okta

[2021-12-27 14:48] mjackson6 commented on #1041
Thanks for your help @shuowu I found out what was causing the issue for this. We were using the following link to called the signout function

    <a href="#" (click)="clickLink($event, 'signout')">

The href="#" redirects to the top of the current page. This would work on the home page since the redirectUrl was the same. However, on a different page, this would cause the fetch to be cancelled. To

[2021-12-27 14:48] #1041 closed

[2021-12-28 09:11] oleksandrpravosudko-okta commented on #1042
Thanks for the report @fseee.

`changePassword` method is available on AuthTransaction instance during sign in in case administrator resets password for the user.

`resetPassword` is created on AuthTransaction instance when user initiates [`forgotPassword`](https://github.com/okta/okta-auth-js#forgotpasswordoptions) flow.

Hope this helps.

[2021-12-28 09:15] fseee commented on #1042
Thanks for your replies.
So if a user would change its own password from self this method is not available?
How can this could be achieved?
Thanks

[2021-12-28 10:01] oleksandrpravosudko-okta commented on #1042
Right, password change (other than forgot password flow) can not be initiated by user.
In case your setup includes back-end, you could try utilizing Okta Management API method: [changePassword](https://github.com/okta/okta-sdk-nodejs/blob/master/src/types/generated-client.d.ts#L552).

[2021-12-30 09:12] fseee commented on #1042
Many thanks, this has been solved as above explained

[2021-12-30 09:12] #1042 closed

[2022-01-03 11:32] fseee opened #1044 "resetPassword method not triggering any error if user does not exist"
As mentioned in the subject, calling the [forgotPassword](https://github.com/okta/okta-auth-js#forgotpasswordoptions) passing a non existing username, will not throw any error as the response will be always below:

[code]

whether username exists or whether not.
Is this the expected behaviour or a "non existing user" error should be thrown?

Thanks

[2022-01-04 07:28] WeipingGan opened #1046 "OktaAuth generate a wrong access token sometimes"
my okta-auth version is
[code]

and my code is
[code]
Sometimes it generate a outdated token and carried a wrong kid. For example, on January 3, 2022, it generated a token for November 2021 with an unverifiable kid, I checked the okta keys interface and did not find this kid. what is the problem? Could anyone help me?

[2022-01-04 22:57] aarongranick-okta commented on #1044
@fseee Thanks for the question. I believe this behavior is expected when "User Enumeration Prevention" feature is turned on: https://help.okta.com/oie/en-us/Content/Topics/Security/Security_General.htm?cshid=csh_security_general

This feature prevents "fishing" for valid user accounts by malicious actors.

You can view/modify this setting under `Security > General` in the Okta Admin UI

[2022-01-05 01:04] aarongranick-okta commented on #1046
@WeipingGan That is certainly a strange issue! One thought I have is that it may be another application in another tab which is served on the same domain and is using the same storage key.

[2022-01-05 01:07] aarongranick-okta commented on #1046
By default, token values are synchronized between tabs when the storageType is "localStorage". You could set the storageType to "sessionStorage" to disable synchronizing between tabs
https://github.com/okta/okta-auth-js#storagetype

If the problem is two apps sharing a storage key, one or both apps can set their storage key value so as to not conflict:
https://github.com/okta/okta-auth-js#storagek

[2022-01-05 01:58] WeipingGan commented on #1046
Thanks @aarongranick-okta, yeah, I guess so. Maybe some other application modified the local storage. But the very strange point is why the kid is different and the expiration time is still two months ago. You know that for the same issuer, the keys return the same response, and maybe at the past moment, the kid is not the same. Then this user can't have not refreshed the browser for two months, s

[2022-01-05 14:50] singh-param-veer opened #1047 "AuthState.isAuthenticated is not getting updated on token expiry."
Version: 5.9.0

Steps to reproduce:

- Login to the app (assuming that autoRenew option is enabled)
- Wait for token to expire, but change "Throttling state" to "Offline" (if using Chrome, alternatively just turn off internet connection) few seconds before expiry time
- Renewing request will fail with "AuthApiError" ("Failed to fetch" message), but error will not be emitted.
- Switch "Throttling s

[2022-01-05 22:31] aarongranick-okta commented on #1047
@singh-param-veer It does sounds like your issue is very similar to the one linked. I see that a fix for that issue has been merged to the main branch but has not been released on NPM/CDN yet. The fix will be part of the `5.10.0` release which should occur this week. Hopefully that should resolve this issue!

[2022-01-06 11:58] singh-param-veer commented on #1047
Hi @aarongranick-okta , we tried cloning and linking the master code (commit hash: 6a38bb2e49600cd81e93a14e6080b1b0d2da24e9) of okta-auth-js and we are still facing same issue.

[2022-01-07 06:22] ChuckJonas commented on #641
also ran into this issue.  Quite painful and hard to track down.  Should maybe leave this open or highlight it in the docs

[2022-01-09 00:14] Lonli-Lokli commented on #977
I think it should be handled on Okta API side.

I have same error when trying to make a call to authorize endpoint as per Okta Dev documentation. I do not see any specific documentation regarding OIDC for non-authenticated users, ie what should be reported.

Can we assume that this error will be always the same?

[2022-01-10 10:51] darkowic commented on #1001
Any update? March 2022 is close and this will become a problem for many

[2022-01-10 12:59] TobyLi96 commented on #575
Hello @lfurzewaddock @swiftone, we are facing a similar issue, wondering if you managed to find a fix?

[2022-01-11 13:42] koswedo opened #1055 "Property 'getValuesAfterProceed' in type 'EnrollPoll' is not assignable to the same property in base type 'Remediator'."
I have upgraded my dependency to v5.10.0 and when I build my application I get:

[code]

This is a blocking issue, I cannot upgrade to this package till this is fixed.

[2022-01-11 13:59] oleksandrpravosudko-okta commented on #1055
Thanks for the report @koswedo.
This is expected to be fixed by https://github.com/okta/okta-auth-js/pull/1054

[2022-01-12 12:33] denysoblohin-okta commented on #1047
Thanks for submitting this issue.
Internal ref:  OKTA-460081

[2022-01-12 12:34] karmjeets opened #1058 "in signInWithRedirect okta is not setting any sid to cookies"
i am trying to login using signInWithRedirect on my app with the below configuration but after successfull login app is not setting sid in cookies
[code]
if any one can help with the issue or anything needs to validate

[2022-01-12 13:52] oleksandrpravosudko-okta commented on #1058
Thanks for report @karmjeets.

It looks like cookie might not be set because of 3rd party cookie blocking (see [KB post](https://support.okta.com/help/s/article/FAQ-How-Blocking-Third-Party-Cookies-Can-Potentially-Impact-Your-Okta-Environment?language=en_US)).
 It is recommended to use customized Okta domain to avoid having 3p cookies issue.

[2022-01-13 06:34] karmjeets commented on #1058
Thanks for the your reply @oleksandrpravosudko-okta

 I read  (KB post) and according to that i am setting the url correct.

 I am getting access token and id token but not sid when i try to login with Auth-SDK  (providing idp)
 but when i try to login using signing-widget and provide the credentials then i get all access token id token and sid

 I think url is proper added thats why i am getting

[2022-01-15 12:07] artfuldev commented on #575
The error occurred for us because we were trying to use 2 different sessions in 2 different apps but using the same auth server in a multi-tenant scenario. Every time the OKTA auth server authorizes a user, the auth server sets a session id cookie in its domain. When a user logs in with a new set of credentials then tries to log out of the old set of credentials, the client code picks up the ident

[2022-01-17 10:25] TobyLi96 commented on #575
Hmm, thank you for the reply. From what you said, it seems that having another auth server for the second app would solve the issue? Or do you mean changing something in your own code when you said "changing our implementation"?

[2022-01-17 14:35] artfuldev commented on #575
@TobyLi96 We changed our implementation in a different way - but yes, having different auth servers for the different apps would solve the issue.

[2022-01-18 23:35] nikme commented on #717
`
"@okta/okta-auth-js": "^5.9.1",
"@okta/okta-react": "^6.3.0",
"@okta/okta-signin-widget": "^5.14.1",
"react": "^17.0.2",
`

On multiple tabs I'm getting token refresh as well, in really unexplained manners.
Depends how many tabs are open, that many /token calls are reqested in each tab.
Which results in a mess at _authState_ because it triggers change on useEffect for each /token that was called

[2022-01-19 15:18] #1044 closed

[2022-01-22 01:28] joshuajiangdev opened #1073 "ESM build contains keyword `require` crash web app"
Hi, I'm getting `ReferenceError: require is not defined` from my web at the line `ul=require("js-cookie")`. My vite build is using build targets `modules`, which according to this libs' `package.json`:
[code]

is going to load package from `"esm/index.js"`, so I checked that file and could find the code `var Cookies = require('js-cookie');` there. Curious if this is intended or a mistake to includ

[2022-01-24 09:29] oleksandrpravosudko-okta commented on #1073
Thanks for report @joshuajiangdev.

This issue is likely to be addressed in the the next major releases. Until then, you could either `resolve` umd bundle or use helper [plugin](https://github.com/vitejs/vite/issues/3409#issuecomment-860017996).

[2022-01-24 23:21] tejasdharamshi commented on #1073
When would the next release?

[2022-01-25 12:59] r-kotagudem opened #1076 "Does okta-auth-js Support angular.js (1.x) ?"
any sample reference implementations or example?

[2022-01-25 13:51] krzempekk opened #1077 "How to signOut properly when revoke failed?"
Used @okta/okta-auth-js version: 5.10.0

Scenario:
1. OktaAuth.signOut is called, but revoke request failed (due to, for instance, issues with internet connection).
2. signOut method throws an error and does not clear tokens or redirects.

What is recommended solution in that situation? The idea I came up with is to add clearing tokens and redirect in `catch` block, but maybe this should be handle

[2022-01-25 14:42] oleksandrpravosudko-okta commented on #1076
Hi @r-kotagudem, there are no Okta-maintained AngularJS samples I am aware of.
According to this [post](https://www.phpflow.com/misc/angular/okta-authentication-using-angularjs-or-javascript/), okta-auth-js@5.2.3 can be used in AngularJS app.

[2022-01-25 14:42] #1076 closed

[2022-01-25 15:20] oleksandrpravosudko-okta commented on #1077
Thanks for report @krzempekk.

For the solution you described it is worth keeping in mind that tokens cleared locally are still considered valid by backend and Okta session won't be closed (unless you follow [sign out steps](https://github.com/okta/okta-auth-js/blob/c1c9d64a64ca43bb2faac3dd3de307e971deb6f3/lib/OktaAuth.ts#L477) in your catch block).

As an alternative, an error message asking user

[2022-01-25 16:30] shuowu commented on #1029
Hi @photchkiss, the 403 error fails at the `preflight` stage, and the `status code` is hidden from the fetch client for security reason. You can find more information in [this thread](https://github.com/whatwg/fetch/issues/443).

You still are able to find information like `TypeError: failed to parse ...` from `error.xhr` field, but it's pretty vague information which can only tell you the preflig

[2022-01-25 16:30] #1029 closed

[2022-01-25 17:46] dgabriele commented on #912
@aarongranick-okta +1 on this. Nearly half our bundle size is Okta. Would really appreciate an update on this or any ideas you guys have had since the issue was opened.

[2022-01-26 16:57] sandyboon opened #1080 "Auth JS signout does not sign out user when using the third party IDP"
Using @okta/okta-auth-js version 5.10.0.
Auth flow - Auth Code with PKCE for SPA.

1.  Add a third party Identity provider(Facebook) on your Okta Server following the below-linked instructions  -https://developer.okta.com/docs/guides/add-an-external-idp/facebook/main/#about-the-connection-to-the-idp-for-your-application
2.  In your client App use the following code to log your user in -
`authClien

[2022-01-26 18:29] jaredperreault-okta commented on #1080
@sandyboon Do you experience the same behavior if you call `.signOut()` before `.stop()`?

Like so:
[code]

[2022-01-26 19:11] jaredperreault-okta commented on #1080
Also, do you mind providing your `OktaAuth` config? (Please scrub sensitive fields)

[2022-01-26 19:19] sandyboon commented on #1080
@jaredperreault-okta Thanks for responding.
I just tested it. I do experience the same behavior even if I call signout() before the stop(). The browser I am using is Chrome 97.0.4692.99.

Here is my OAuthConfig -

OAuthConfig = {
  OAuthType: "Okta",
  // Org URL
  issuer: "<issuer URL>",
  // OpenID Connect APP Client ID
  clientId: "<ClientID>",
  // Trusted Origin Redirect URI
  redirectUri: "h

[2022-01-26 21:01] jaredperreault-okta commented on #1080
It's unclear from the repro steps provided, was the user redirected to Facebook during the initial login? In Step 3, the user is logged out, but it's unclear how they had a session in the first place.

[2022-01-31 19:22] sandyboon commented on #1080
@jaredperreault-okta The user does get redirected to Facebook login page where they put in their credentials.
I have updated the repro steps.

[2022-02-03 15:18] jaredperreault-okta commented on #1080
I notice your `authClient.token.getWithRedirect` call doesn't pass the `idp` option [(docs)](https://github.com/okta/okta-auth-js#authorize-options). Mind retrying this that option set?

[2022-02-04 22:13] sandyboon commented on #1080
@jaredperreault-okta I am seeing the same behaviour even when I pass the `idp` option like so -
`authClient.token.getWithRedirect({
          idp: "idp-identifier"
        });`

[2022-02-06 10:26] olecom opened #1098 "Samples link in docs/idx.md"
https://github.com/okta/okta-auth-js/blob/master/docs/idx.md?plain=1#L3

There is no `express-direct-auth` any more, which one is successor of it in https://github.com/okta/okta-auth-js/tree/master/samples/generated ?

express-embedded-auth-with-sdk
express-embedded-sign-in-widget
express-web-no-oidc
express-web-with-oidc
static-spa
webpack-spa

[2022-02-07 06:11] Sachin-chaurasiya opened #1099 "Question : Can we use other SSO like google and github with this library."
In our project we support multiple SSO, So just wanted to know will this library support the Google and Github SSO.

[2022-02-07 08:42] oleksandrpravosudko-okta commented on #1098
Thanks for pointing this out @olecom.
It should be updated to `express-embedded-auth-with-sdk`.

[2022-02-07 09:48] oleksandrpravosudko-okta commented on #1099
Hi @Sachin-chaurasiya. This SDK is intended to work with Okta as SSO provider.
Just in case you are referring to Google and GitHub as IdP providers, than yes, they can be used through `idp` [parameter](https://github.com/okta/okta-auth-js#authorize-options) passed to `signIn*` method.

[2022-02-07 09:48] #1099 closed

[2022-02-07 09:54] Sachin-chaurasiya commented on #1099
Thank you @oleksandrpravosudko-okta, for your quick response.

[2022-02-07 15:32] #1098 closed

[2022-02-08 05:17] zeskysee opened #1101 "cross-fetch 3.0.6 is vulnerable to CVE-2022-0235 Exposure of Sensitive Information to an Unauthorized Actor"
cross-fetch 3.0.6 is using node-fetch 2.6.1 which is vulnerable to [CVE-2022-0235 Exposure of Sensitive Information to an Unauthorized Actor](https://nvd.nist.gov/vuln/detail/CVE-2022-0235).

cross-fetch had release [3.1.5](https://github.com/lquixada/cross-fetch/releases/tag/v3.1.5) which update the version of node-fetch to 2.6.7 which no longer vulnerable.

- https://github.com/lquixada/cross-fe

[2022-02-08 10:44] oleksandrpravosudko-okta commented on #1101
Thanks for bumping this @zeskysee.
Internal ref: OKTA-468472

[2022-02-10 18:22] jonrimmer commented on #1073
@oleksandrpravosudko-okta 1) Resolving to a umd bundle is not possible as the location on disk may differ between environments when npm workspaces. 2) The plugin you linked only operates in `dev` mode, meaning production bundles are still broken.

Do you have any other suggestions? This is blocking our integration of Okta.

[2022-02-10 21:36] shuowu commented on #1101
Upgraded in version [6.1.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.1.0)

[2022-02-10 21:36] #1101 closed

[2022-02-11 00:09] eddy-murj commented on #912
@aarongranick-okta I am using 6.1.0 and am still seeing a very large bundle size of 200+ KB:

<img width="288" alt="Screen Shot 2022-02-10 at 18 05 45" src="https://user-images.githubusercontent.com/86328788/153517880-b61c225d-5e7a-46ca-b030-101fc5a4c359.png">

The only thing I import from the module is `OktaAuth`.

[2022-02-11 10:52] singh-param-veer commented on #1047
Hi @denysoblohin-okta,
Is the above issue fixed in [6.1.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.1.0) ?
Could you please provide us an update here?

[2022-02-11 10:55] nkalinov commented on #327
We were having the same issue and @cricketts's answer made me bump the version of our polyfill - `whatwg-fetch`. That fixed it, thanks!

[2022-02-11 14:33] nickjm6 commented on #977
I am still seeing this issue, with the implicit flow. It happens after my code manually refreshes the accessToken after expiration, using the function:

`oktaAuth.tokenManager.renew('accessToken');`

My oktaConfiguration has autoRenew and autoRemove set to false.

My configuration also specifies to not retrieve the idToken because I don't use it in my code. If I do specify to retrieve idToken, it

[2022-02-14 10:15] cmacdonnacha opened #1111 "High severity vulnerability found with node-fetch"
There is a High severity vulnerability with the current node-fetch package being used, which is throwing dependabot alerts.

See [github advisory here](https://github.com/advisories/GHSA-r683-j2x4-v87g)

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
Vulnerability exists

## Expected behavior
Vulnerability is patched. Upgrading to ver

[2022-02-14 11:04] denysoblohin-okta commented on #1111
okta-auth-js version 6.1.0 depends on [`cross-fetch@3.1.5`](https://github.com/okta/okta-auth-js/pull/1103) which uses vuln-free `node-fetch 2.6.7`

[2022-02-14 11:30] denysoblohin-okta commented on #1111
However old version of node-fetch left in yarn.lock, will be fixed in next version of okta-auth-js
Internal ref: OKTA-470146

[2022-02-16 22:01] shuowu commented on #984
Released in [5.9.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.9.0)

[2022-02-16 22:01] #984 closed

[2022-02-16 22:02] shuowu commented on #902
Released in [6.0.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.0.0)

[2022-02-16 22:02] #902 closed

[2022-02-16 22:04] shuowu commented on #899
Released in [5.7.0](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.7.0)

[2022-02-16 22:04] #899 closed

[2022-02-17 10:55] Dallas62 commented on #1046
Hi,
I encounter the same kind of issue as describe above.
I'm able to generate the `access_token` from the okta dashboard with the right `kid`, but when I generate through a react native application, the `kid` used to generate the `access_token` doesn't exist in any "well-know" endpoint of the okta domain.
I double checked the configuration used to configure the okta client, everything looks good

[2022-02-17 11:38] shripadgodse opened #1116 "Cannot find name 'PublicKeyCredential'"
### Describe the bug?

Hi there, I have to integrate okta for Single Sign On with client side library (Angular 7).
I followed all the steps from this [post](https://developer.okta.com/code/angular/okta_angular_auth_js/#create-an-authentication-service), but getting exception while running application. I have attached screen shot when i start the application.

![image](https://user-images.githubuse

[2022-02-17 12:27] denysoblohin-okta commented on #1116
Thanks for submitting this issue.
Could you please try to install `@types/webappsec-credential-management` dev dependency  and add it to `compilerOptions.types` in `tsconfig.json`:
[code]

[2022-02-17 16:59] shripadgodse commented on #1116
@denysoblohin-okta Thanks for the response, i have updated dev dependency and tsconfig as suggested now i am getting different exception.

![image](https://user-images.githubusercontent.com/36620801/154531649-ac7fd4a9-fd30-4a51-9ad5-161926b8018a.png)

[2022-02-17 18:07] denysoblohin-okta commented on #1116
What `typescript` version do you use?

[2022-02-18 09:24] singh-param-veer commented on #1047
Hi @denysoblohin-okta , have added 1 comment on the token removal.

https://github.com/okta/okta-auth-js/pull/1087
Please look at it when you get a chance.

[2022-02-18 11:10] shripadgodse commented on #1116
@denysoblohin-okta  It seems that Angular 7 supports typescript 3.1 though i have 3.2.2 under dev dependencies

![image](https://user-images.githubusercontent.com/36620801/154671680-dd883861-d5dc-4a2e-8b3e-b7679ccf0e9d.png)

[2022-02-21 10:27] timiles opened #1119 "Non-JWT access_token throws error in okta-auth-js"
### Describe the bug?

My Identity Provider issues an `access_token` which isn't in JWT format, but okta-auth-js tries to [decode it as JWT](https://github.com/okta/okta-auth-js/blob/1478c1930c4034d0033f5af740dc996cbe58ceb5/lib/oidc/handleOAuthResponse.ts#L90), and [throws an error when it fails to decode](https://github.com/okta/okta-auth-js/blob/9831eb1362dc4674071bc0aa8fe058b9339a18f3/lib/oidc/

[2022-02-21 14:13] oleksandrpravosudko-okta commented on #1119
Thanks for the report @timiles.

This SDK works with Okta-issued tokens. Does your setup allow to [register](https://developer.okta.com/docs/guides/add-an-external-idp/openidconnect/main/) external Identity Provider in Okta org?

[2022-02-21 14:43] timiles commented on #1119
Hi @oleksandrpravosudko-okta, ok that explains the difference, I was hoping Okta was a spec-compliant library for generic use. I believe another part of the business is using the external IdP with Okta so maybe something can be done, but otherwise I'll find a different library to use. Thanks!

[2022-02-21 14:43] #1119 closed

[2022-02-25 13:56] mkitawat commented on #1116
@shripadgodse - I have exactly the same issue with our setup on angular 7. Even after installing @types/webappsec-credential-management, I still see same issue.

As mentioned above, I installed @types/webappsec-credential-management as dev dependency, modified tsconfig.json with both `compilerOptions` and `angularCompilerOptions`

Is there anything else that I am missing?

[code]

[2022-02-25 14:37] shuowu commented on #1116
@shripadgodse @mkitawat I can reproduce this issue with [angular v7 test app](https://github.com/okta/okta-angular/tree/b49c42a862b94fb03c3dd5646da8e25b8855a884/test/apps/angular-v7).

okta-auth-js v5.x is tested with Angular v7, please stay with the latest v5.x version for now.

Internal Ref: OKTA-473798

[2022-02-28 14:58] mb21 commented on #557
Am I correct in assuming this is still current behaviour? We're in the process of evaluating different OAuth js sdks...

If I read the [`setExpireEventTimeout` code](https://github.com/okta/okta-auth-js/blob/1478c1930c4034d0033f5af740dc996cbe58ceb5/lib/TokenManager.ts#L203) correctly, it doesn't take into account that the device could have been asleep, during which time the `setTimeout` clock is j

[2022-02-28 21:59] hokiepokedad2 opened #1128 "unsafe-eval csp violation"
### Describe the bug?

While attempting to harden our security policies on the client via CSP headers, we noticed the okta-uath-js.umd.js library is using unsafe-eval calls such as Function(). Here is a sample definition of our policy:

<meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline'; img-src https://* 'self' data:;">

Notice that we are not using 'un

[2022-02-28 22:10] jaredperreault-okta commented on #1128
@hokiepokedad2 what `meta` tag are you using?

[2022-02-28 22:18] hokiepokedad2 commented on #1128
Sorry about that. I forgot to enclose the tag in a codeblock. I've updated the description but here it is also:

[code]

[2022-02-28 22:34] jaredperreault-okta commented on #1128
I was able to repro the bug in our sample Angular app, however when I attempted to repro in a non-Angular (React) app I did not get the error or any other CSP violations.

Seems like this might be a problem is Angular itself:
*  https://angular.io/guide/security
*  https://github.com/angular/angular/issues/6361

[2022-02-28 23:04] hokiepokedad2 commented on #1128
Yes, we actually have 'unsafe-inline' set for style-src also. The meta tag I added above was just a quick and dirty rule. Even specifying 'unsafe-inline' for style-src, I get the 'unsafe-eval' violation:

[code]

If I remove all references of Okta Auth JS from our app, the violation is no longer reported.

[2022-02-28 23:24] jaredperreault-okta commented on #1128
Internal Reference: OKTA-475241

[2022-03-03 11:11] harmeet2harry opened #1132 "text-encoding has been deprecated"
### Describe the bug?

The dependency text-encoding has been deprecated

### What is expected to happen?

Not able to install the plugin

### What is the actual behavior?

Should be able to install the plugin

### Reproduction Steps?

npm i @okta/okta-auth-js

### SDK Versions

6.1.0

### Execution Environment

Node 14.0.X
Angular 11.0.X

### Additional Information?

_No response_

[2022-03-03 11:11] harmeet2harry opened #1133 "text-encoding has been deprecated"
### Describe the bug?

The dependency text-encoding has been deprecated

### What is expected to happen?

Not able to install the plugin

### What is the actual behavior?

Should be able to install the plugin

### Reproduction Steps?

npm i @okta/okta-auth-js

### SDK Versions

6.1.0

### Execution Environment

Node 14.0.X
Angular 11.0.X

### Additional Information?

_No response_

[2022-03-03 11:37] #1133 closed

[2022-03-03 11:37] harmeet2harry commented on #1133
Raised by mistake

[2022-03-03 11:37] #1132 closed

[2022-03-03 11:37] harmeet2harry commented on #1132
raised by mistake

[2022-03-04 14:05] shuowu commented on #1073
Fixed in [v6.2](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.2.0).

[2022-03-04 14:05] #1073 closed

[2022-03-04 14:08] shuowu commented on #1055
Patched in 5.10.1 and included in v6.x.

[2022-03-04 14:29] shuowu commented on #1001
Fix released in [v6.2](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.2.0).

[2022-03-04 14:29] #1001 closed

[2022-03-07 11:03] denysoblohin-okta commented on #1116
@mkitawat @shripadgodse
I was able to reproduce this issue with Angular 7.
And fixed with:
1. updating typescript to 3.6.3+ manually (and saving in `package.json`)
2. adding
[code]
in `tsconfig.json`

No need to install `@types/webappsec-credential-management`

[2022-03-07 11:09] shripadgodse commented on #1116
@denysoblohin-okta  thank you very much it worked for me too, though i might face some problems because of updated typescript version which is not suggested for angular 7. So i have decided to use .Net okta library instead of updating typescript/angular version as my application is huge and deployed to production.

[2022-03-08 18:50] rwev commented on #559
Hi all, I believe we ran into a similar issue @jelhan is experiencing. We ended up having to fork [`renewTokensWithRefresh`](https://github.com/okta/okta-auth-js/blob/7f8b4f19bc8dc218b6bd1d281526a3a0f10217a3/lib/oidc/renewTokensWithRefresh.ts) to support renewing multiple application-scoped tokens issued to different clients, (in our case, various angular SPAs running on the same origin at differe

[2022-03-09 13:23] hokiepokedad2 commented on #1128
Hi @jaredperreault-okta - have there been any thoughts intenlrnally on this? Fortunately we have a Middleware component in our dotnet app to block any type of script injections but this still prevents us from using our csp rules to instruct client browsers to block unsafe-eval scripts. For now, we have allowed unsafe-eval but would like to see if theres been any movements on this or if anyone else

[2022-03-09 15:10] jaredperreault-okta commented on #1128
We do not have a fix for this quite yet, but we believe the issue involves bundle selection. It seems your app is pulling in the `umd` bundle of `auth-js`, which includes the syntax your CSP rule doesn't like. Assuming you're using the standard angular build tools, the build is resolving `exports.default` which points to the `umd` bundle. In the meantime, if you can find a way to override which bu

[2022-03-11 09:22] kamontat commented on #1132
@harmeet2harry  Why this is mistake?

[2022-03-17 15:40] sdiltsDNRC commented on #912
When looking at the project dependencies, I see that pollyfills are included via `@babel/runtime-corejs3` package. I'll admit to not knowing much about pollyfilling in general, but it seems like the library should set a minimum browser / node target and let the application itself worry  about polyfililng. Documentation can always be provided on which polyfills are needed and how to apply them.

I'

[2022-03-23 16:52] tarakeshp opened #1150 "Widget aka iFrame based login redirect to default Okta login page in Safari"
### Describe the bug?

While the widget based (SPA) login flow works OK in google chrome and firefox, the issue persist in Safari.
1. Widget renders
2. Enter username and password
3. Click on login
and it redirects to default Okta login page instead of callback url.

We are experiencing this issue after we upgraded from
![image](https://user-images.githubusercontent.com/2813155/159751096-3e51ed9a-

[2022-03-23 18:11] shuowu commented on #1150
@tarakeshp Thanks for reporting the issue! Can you please share some code snippet about how the widget is rendered and which render method has been called?

[2022-03-24 01:48] tarakeshp commented on #1150
[code]

[2022-03-25 05:02] Martin404 opened #1154 "Npm install failure, when I execute the command "npm install --save @okta/okta-auth-js", it fails and error is "No matching version found for Base64@1.1.0.""
### Describe the bug?

npm install --save @okta/okta-auth-js

npm WARN deprecated text-encoding@0.7.0: no longer maintained
npm ERR! code ETARGET
npm ERR! notarget No matching version found for Base64@1.1.0.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a

[2022-03-25 10:00] denysoblohin-okta commented on #1154
- Do you have a default npm registry? (`npm config get registry` returns `https://registry.npmjs.org/`)
- What result do you see when running `npm view Base64`?
- Try to remove `package-lock.json` and reinstall

[2022-03-28 16:14] #1047 closed

[2022-03-30 19:37] jeremyrcox commented on #938
I'm still seeing this same error in Chrome Canary 102.0.4962.3 in Incognito mode.

[2022-04-01 16:25] sku154 opened #1162 "AuthSdk PKCE Error"
### Describe the bug?

While I am trying to navigate through the below URL using Automation with TestCafe i am getting the below issue, Please find the attached screenshot.

URL: https://workspaces-uat.veteransunited.com/submit-to-uw/ba83b27f-6f7d-4230-93f9-0cd35977b7b7

![image](https://user-images.githubusercontent.com/86633070/161301983-8751ab25-e95d-45d1-8695-ceefcd2db893.png)

### What is exp

[2022-04-01 17:56] jameslessen opened #1164 "Token manager auto renew not working"
### Describe the bug?

The access token expires without renewal despite having refresh token lifetime set to unlimited. The refresh token and access token expire and the user is redirected to login again. This happens even when refresh token rotation is disabled

### What is expected to happen?

The access token should be periodically refreshed until the expiration of the refresh token

### What i

[2022-04-04 15:42] arvindkrishnakumar-okta commented on #1164
Thanks for the post!

Someone from our team will review this soon.

[2022-04-04 17:11] aarongranick-okta commented on #1162
@sku154 As the error says, PKCE requires encryption support (the webcryto library, aka crypto.subtle). Most browsers only provide this interface when running on HTTPS or on http://localhost.  Options here are:

- do not use PKCE when running testcafe (set pkce: false in AuthJS config)
- run testcafe on https
- use a polyfill to provide webcrypto on http connection. AuthJS provides a polyfill which

[2022-04-04 17:14] aarongranick-okta commented on #1164
@jameslessen Please update to the latest version of AuthJS. From the network response you posted, it is clear that the client is falling back to using an iframe/cookie method to refresh tokens (getWithoutPrompt) rather than using the refresh tokens. This was a known issue which was fixed in [version 5.2.1](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.2.1). We recommend updating

[2022-04-06 13:27] trevorbenyack commented on #977
Hi, we guard the root of our Angular project, and this error prevents the initial redirect to our company's Okta Sign In page. Sometime it seems like it will refresh, but other times it just sits there until the page is reloaded and then it will do the normal redirect flow.

[2022-04-06 21:26] bnorrell commented on #586
Did you ever find a solution to this?  I am wanting to implement scenario 2.

[2022-04-11 20:33] mraible opened #1174 "Auth JS 6.4.0 causes issues in Angular apps when testing"
### Describe the bug?

Today I discovered that if you upgrade an Angular app from using Auth JS 6.2.0 from 6.4.0, there are stack traces when you run `npm test`:

[code]

If I revert to Auth JS 6.2.0, the problem goes away.

### What is expected to happen?

<img width="1442" alt="Screen Shot 2022-04-11 at 14 29 38" src="https://user-images.githubusercontent.com/17892/162826559-6366215c-25e4-4345-a

[2022-04-11 21:23] mraible commented on #1174
This seems to happen on the Vue sample as well. However, it’s in the browser console for Vue, and downgrading to Auth JS 6.2.0 doesn’t make it go away.

<img width="1146" alt="Screen Shot 2022-04-11 at 15 19 10" src="https://user-images.githubusercontent.com/17892/162835666-3f661be9-54d0-4b8b-b2a3-52d054c97c20.png">

Steps to reproduce:

1. Install the [Okta CLI](https://cli.okta.com) and configur

[2022-04-11 21:28] mraible commented on #1174
This doesn't just happen in Chrome. It happens in Firefox and Safari too.

<img width="1102" alt="Screen Shot 2022-04-11 at 15 27 10" src="https://user-images.githubusercontent.com/17892/162836389-b5d25c7f-9b29-4a38-994f-0ab2a9e79e5b.png">
<img width="1092" alt="Screen Shot 2022-04-11 at 15 27 13" src="https://user-images.githubusercontent.com/17892/162836399-2d59d434-09c3-4901-a167-d62872f13e0f.p

[2022-04-11 21:51] jaredperreault-okta commented on #1174
@mraible Do you know what version of `broadcast-channel` is being used in your builds?

`yarn why broadcast-channel` should do the trick

[2022-04-11 21:53] mraible commented on #1174
@jaredperreault-okta I'm not using yarn, I'm using npm. I'm not sure if `npm list` is the same, but I tried `npm list broadcast-channel` in the Angular sample:

[code]

If I try it in the Vue sample, it's a similar result:

[code]

[2022-04-12 11:23] Albert-Gao opened #1175 "forgotPassword with pass code"
### Describe the bug?

The [documentation](https://developer.okta.com/docs/reference/api/authn/#forgot-password) says:

Starts a new password recovery transaction for a given user and issues a [recovery token](https://developer.okta.com/docs/reference/api/authn/#recovery-token) that can be used to reset a user's password

But if I follow it and send the following request
<img width="623" alt="imag

[2022-04-12 14:56] PinkaminaDianePie opened #1176 "Segmentation fault in recent Okta versions"
### Describe the bug?

Application with Okta 6.4, tested through Jest fails with segmentation fault error (SIGSEGV).

### What is expected to happen?

It should work.

### What is the actual behavior?

Process crashed with SIGSEGV code

### Reproduction Steps?

Run Jest tests with latest Okta. 1 out of 10 runs approximately process hangs indefinitely. If Jest run in a single thread (`--detectOpenH

[2022-04-12 15:14] jaredperreault-okta commented on #1176
@PinkaminaDianePie Can you provide more information about your application and testing environment? Is this a node app or web app? What version of jest are you using? Perhaps paste your jest config?

[2022-04-12 15:37] PinkaminaDianePie commented on #1176
web app, jest 27.5.1. jest config is created by a script, so I can't paste it.
I tested 6.2/6.3/6.4, issue is everywhere, and only later I realized that it's related to the usage of `import` function, so it's present in all versions where `crypto` is imported via `import` instead of `require`

[2022-04-12 15:40] shuowu commented on #1176
@PinkaminaDianePie he APIs Jest uses to implement ESM support is still [considered experimental by Node](https://nodejs.org/api/vm.html#vm_class_vm_module), you probably will need the `--experimental-vm-modules` flag when use ESM syntax.

Or you can try to point to the cjs version of auth-js with the moduleMapper jest config.

[2022-04-13 07:16] PinkaminaDianePie commented on #1176
Okta V5:

And the only thing I can do is switch to the new version, which relies on the experimental node feature? Sounds weird. And still not sure how is it related to my problem. Modules just work, but they are bugged, why an additional flag would help me?

I can't point to the cjs version of auth-js just because it's already used by default, and it still has `import` instead of `require`. Check

[2022-04-13 07:30] PinkaminaDianePie commented on #1176
Btw, you probably confusing normal ESM imports with dynamic imports, the dynamic one is not anyhow related to the Jest, and is supported by Node natively: https://nodejs.org/api/esm.html#import-expressions

That kind of import is used by okta even in cjs files, so that's the reason of segmentation fault

[2022-04-13 12:42] shuowu commented on #1176
@PinkaminaDianePie Thanks for the explanation! I think I understand the issue now, it's because the ESM syntax (dynamic import) is leaked to the CJS bundle during transpiling stage. We will work on a patch release soon.

Internal Ref: OKTA-488924

[2022-04-13 13:22] PinkaminaDianePie commented on #1176
I think it should not go to the ESM bundle as well, because of the node issues mentioned above. Dynamic imports are available in CJS context as well, so CJS environment could still use it in the same way as ESM. The issue is in how Node handle modules, so ESM environment would still have this segmentation fault. You would have it even in REPL! You can read more here https://github.com/nodejs/node/

[2022-04-14 07:39] PinkaminaDianePie commented on #1176
I'd appreciate it if you merge this one https://github.com/okta/okta-auth-js/pull/1179, it's critical for us. We can't upgrade to the okta 6 because of it and so we postpone the planned major release of our software

[2022-04-14 17:15] saosebastiao commented on #1174
This is happening in Okta-React as well. Is there a workaround?

[2022-04-14 19:54] shuowu commented on #1176
@PinkaminaDianePie I have released a [patch](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-6.4.2) that fixes the cjs transpiling issue, which I think should unblock you from the reported Jest error. Can you try that version out see if it resolves your issue?

Meanwhile we'll keep investigating if we should replacing `dynamic import` with `require`. This change may affect node vers

[2022-04-15 02:41] jaredperreault-okta commented on #1174
@saosebastiao are you able to reproduce this with the [Okta React Sample](https://github.com/okta/samples-js-react)?

What version of `@okta/okta-auth-js` and `@okta/okta-react` are you using?

[2022-04-15 12:59] PinkaminaDianePie commented on #1176
I can confirm, that solved my issue, thank you!

[2022-04-18 15:43] #1176 closed

[2022-04-18 15:48] shuowu commented on #1174
Fixed in [6.4.1](https://github.com/okta/okta-auth-js/issues/1174)

[2022-04-18 15:53] #1111 closed

[2022-04-18 16:02] mraible commented on #1174
I just tried validating everything is fixed using the [okta-angular-sample](https://github.com/okta-samples/okta-angular-sample). If I upgrade it to use Auth JS 6.4.2, the problem does go away.

<img width="1442" alt="Screen Shot 2022-04-18 at 10 00 12" src="https://user-images.githubusercontent.com/17892/163836372-47bff338-6657-4c70-9e3c-3bcce5d9e7ad.png">

However, if I upgrade the [okta-vue-sam

[2022-04-18 20:22] mraible commented on #1174
I see something similar in the [Okta CLI's React sample](https://github.com/okta-samples/okta-react-sample/pull/113):

[code]

By "similar", I mean `broadcast-channel` is in the stack trace. I tried upgrading to Auth JS 6.4.3, but it does not solve this issue.

[2022-04-18 20:44] StephenAtCFA commented on #1174
We're also seeing this in 6.4.3 when using react.

[2022-04-18 21:04] jaredperreault-okta commented on #1174
@StephenAtCFA can you provide more details?

You're seeing this error in your application itself, or in testing (jest or otherwise)?

What versions of the other relevant modules are you using, ie React, okta-react?

Do you see this same behavior in different versions of okta-auth-js?

[2022-04-19 01:17] mrcotter commented on #1174
Seeing the same error messages in the latest `6.4.3` version with my Vue 3 application using `okta-auth-js` and `okta-signin-widget`.

Downgrade `okta-auth-js` and lock its version to `6.2.0` works but any other new versions have similar problem.

[2022-04-19 16:22] jaredperreault-okta commented on #1174
@mrcotter What browser/OS are you testing this on? I am currently unable to repro this issue (using okta-auth-js 6.4.3)

[2022-04-19 20:23] asanabria-hc opened #1188 "ES modules not working with Next.js"
### Describe the bug?

Using ES Module like stated in documentation:

[code]
Results in the following error:
[code]

### What is expected to happen?

The application runs properly.

### What is the actual behavior?

The application breaks.

### Reproduction Steps?

1. Clone  https://github.com/asanabria-hc/nextjs-okta-auth-api
2. Install packages and run application on dev mode.
3. Go to http://lo

[2022-04-19 21:24] StephenAtCFA commented on #1174
On brave v 1.36.122 / mac os 12.3 / node 16.14.0 / react 17.0.2 / webpack 5.70.0 / @babel/core 7.17.8 / okta-react 6.4.3 / okta-auth-js 6.4.3

[2022-04-19 21:24] StephenAtCFA commented on #1174
Using redirect not okta widget

[2022-04-20 00:04] mrcotter commented on #1174
On latest versions of Chrome (100.0.4896.88) and Firefox (99.0.1) on macOS (12.3.1)

An example from the browser console:

![Screen Shot 2022-04-20 at 10 00 13](https://user-images.githubusercontent.com/5259084/164120620-87ec89a8-a2b1-47f2-b91c-46152d94b75e.png)

[2022-04-20 17:27] shuowu commented on #1188
Internal Ref: OKTA-491223

[2022-04-21 15:52] shuowu commented on #757
@vellala2000 It's supported since [v5.9](https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-5.9.0), you can use the latest version and add custom param in `extraParams` field. See test example [here](https://github.com/okta/okta-auth-js/pull/1004/files#diff-53fd7b93850671c87da2f49dfe42226c9e8229c5fb280eeddab5e0ca2575ddffR66).

[2022-04-21 15:52] #757 closed

[2022-04-21 15:54] gmoitra opened #1194 "Uncaught exception thrown when redirect happens after okta sign in"
### Describe the bug?

This library throws an uncaught exception when the browser is redirected after successful log in in okta. This is affecting the okta-vuejs library and won't allow you gracefully handle the exception.

native.js?b7d0:26 Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'BroadcastChannel': Channel is closed
    at Object.postMessage (webpack-internal:///./

[2022-04-21 17:52] arvindkrishnakumar-okta commented on #1194
Thanks for posting!

@shuowu-okta can you help take a look please?

[2022-04-21 17:58] shuowu commented on #1194
Similar issue: https://github.com/okta/okta-auth-js/issues/1174

[2022-04-21 18:10] gmoitra commented on #1194
@shuowu Thanks a ton!! Downgrading okta-auth-js version to 6.2.0 did the trick.

[2022-04-21 18:10] #1194 closed

[2022-04-22 00:45] ajp8164 commented on #586
No. We changed direction and stopped using Okta.

[2022-04-22 10:30] vellala2000 commented on #757
Thank you @shuowu !!

[2022-04-27 00:23] steven-ferguson opened #1198 "Can't add typings for custom claims with `getUser` method"
### Describe the bug?

It is not currently possible to add custom claims to the return value for `getUser`. The following code will produce a typescript error
![Screen Shot 2022-04-26 at 4 58 14 PM](https://user-images.githubusercontent.com/5340925/165411352-f98e5809-2d7a-4a29-907b-feea93a2e71d.png)

[code]

### What is expected to happen?

You should be able to add custom claims to the return typ

[2022-04-27 14:21] jaredperreault-okta commented on #1198
Thanks for the bug report! We will review this internally

Internal Ref: OKTA-493385

[2022-05-02 18:15] mraible commented on #1174
I tried upgrading the Okta CLI's Vue sample to [okta-auth-js@6.5.0](https://github.com/okta-samples/okta-vue-sample/pull/251) today and there are still errors in my console.

<img width="1309" alt="Screen Shot 2022-05-02 at 12 15 10" src="https://user-images.githubusercontent.com/17892/166302320-9fe77221-74fc-4a1f-a4e5-908ed9b25696.png">
.

[2022-05-04 05:26] thaiphan commented on #1188
@HugoP27 Yeah, you can import using `require`...

[code]

[2022-05-04 06:48] pzi commented on #1174
After login and when navigating a next.js app with v6.5.0 and okta-react v6.4.3

<img width="957" alt="image" src="https://user-images.githubusercontent.com/2037851/166634113-bb13bd74-357d-4a02-ba44-4c4916720509.png">

[2022-05-07 00:06] udayshetty opened #1206 "Auth JS 6.5.0 upgrade cause warnings"
### Describe the bug?

Upgrade of  auth js from 6.1.0 to 6.5.0  cause warnings in Angular

### What is expected to happen?

ng serve should compile without warnings

### What is the actual behavior?

C:\Temp\angulartest\webapp\node_modules\@babel\runtime-corejs3\core-js-stable\array\from.js depends on 'core-js-pure/stable/array/from'. CommonJS or AMD dependencies can cause optimization bailouts.
F

[2022-05-09 15:54] denysoblohin-okta commented on #1206
Have you tried adding `core-js-stable` to `allowedCommonJsDependencies` in `angular.json`?
[code]

[2022-05-09 16:34] udayshetty commented on #1206
Did that ,still getting same warnings.

[2022-05-10 20:57] denysoblohin-okta commented on #1206
@udayshetty Sorry, please use `core-js-pure` instead of `core-js-stable` in `angular.json`:
[code]
Just tried on your sample app, should build without warnings.

As for errors you mentioned in https://github.com/okta/okta-signin-widget/issues/2505
as a workaround, you can add
[code]
to `dependencies` in `package.json`

[2022-05-11 06:45] anjalichawlaa opened #1210 "Browser cache clear not handled by oauthjs"
### Describe the feature request?

I’m using okta in React application. It is configured with authorisation code flow with refresh token. Once the user is logged in, using refresh token, new refresh token and access token are received after the expiration. But when the browser cache is cleared intentionally, local storage is removed and the application does not logout. This scenario is not handled

[2022-05-11 09:51] oleksandrpravosudko-okta commented on #1210
@anjalichawlaa would you mind sharing a sample code of your SDK usage?
Are you [subscribing](https://github.com/okta/okta-react/blob/master/src/Security.tsx#L69) for auth state changes in you app?

[2022-05-11 10:54] anjalichawlaa commented on #1210
@oleksandrpravosudko-okta

Pls see the use of security component. As i'm using the security component, do I need to subscribe the authstate changes? If yes, how can I do that?
[code]

  I'm using react-router-dom version 6.2.1

[code]

[2022-05-11 15:59] denysoblohin-okta commented on #1210
Can reproduce your issue.
Internal ref: OKTA-497664

[2022-05-11 22:55] udayshetty commented on #1206
Issue resolved

[2022-05-11 22:55] #1206 closed

[2022-05-12 05:10] Sailokeshg commented on #488
Make value of pkce:true in your okta app config and if you are using any Idp's make sure that respone_mode is set to fragment in its authorize_url

[2022-05-12 10:54] cmacdonnacha commented on #641
The fix for me was to add `resolve` in my `vite.config.ts` file:

[code]

[2022-05-12 23:36] denysoblohin-okta commented on #1188
Reason for error: `broadcast-channel` is an ESM package that's not Node.js compatible.
It should have `"type": "module"` in `package.json` + have a `.js` extension in all imports to be Node.js compatible.
See https://github.com/vercel/next.js/issues/31518
Next.js tries to load `broadcast-channel/dist/esnode/index.js` (ESM version of module, see [`package.json`](https://github.com/pubkey/broadcast-